<!DOCTYPE html>
{% load extras %}
{% load extras localeurl_tags i18n %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
    <title>{% block title %}{% endblock %} | Community PlanIT</title>

    <meta name="viewport" content="width=240, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{MEDIA_URL}}img/favicon.png">
    <link rel="apple-touch-icon" href="{{MEDIA_URL}}img/apple-touch-icon.png">

    {% block css %}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}3pty/css/ui-lightness/jquery-ui-1.8.9.custom.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}3pty/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
    <link rel="stylesheet" href="{{MEDIA_URL}}3pty/css/community-planit/jquery-ui-.custom.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}3pty/css/jquery.ui.notification.css">
	
    <script src="{{MEDIA_URL}}3pty/js/jquery-1.4.4.min.js"></script>
    <script src="{{MEDIA_URL}}3pty/js/jquery.flot.js"></script>
    <script src="{{MEDIA_URL}}3pty/js/jquery.flot.pie.js"></script>
    <script src="{{MEDIA_URL}}js/ba-debug.min.js"></script>
    
    <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src="../excanvas.min.js"></script>
    <![endif]-->
    
    
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% endblock %}
    {% block head %}{% endblock %}
</head>

{% with request.user as user %}
{% with request.user.get_profile.instance as current_instance %}

<body class="page {% block section %}default{% endblock %}{% if user.is_authenticated %} loggedin{% endif %} {% block extra_body_class %}{% endblock %}">
    <div class="wrapper">
        <div id="header">
            <div class="logo"><a href="{% url home %}"><img src="{{MEDIA_URL}}img/logo-3.png" alt="Home"/></a></div>
            <nav>
                <ul>
                {% block nav %}
                    {% if user.is_authenticated and current_instance.is_started %}
                    <li><div class="home"><a href="{% url accounts:dashboard %}"><span>{% trans "Home" %}</span></a></div></li>
                    <li><div class="missions"><a href="{% url missions:index %}"><span>{% trans "Missions" %}</span></a></div></li>
                    <li><div class="challenges"><a href="{% url challenges:index %}"><span>{% trans "Challenges" %}</span></a></div></li>
                    <li><div class="values"><a href="{% url values:index %}"><span>{% trans "Token Depot" %}</span></a></div></li>
                    {% else %}
                    <li><div class="home"><a href="{% url home %}"><span>{% trans "Home" %}</span></a></div></li>
                    <li><div class="communities"><a href="{% url instances:instances %}"><span>{% trans "Communities" %}</span></a></div></li>
                    <li><div class="about"><a href="{% url about %}"><span>{% trans "About" %}</span></a></div></li>
                    <li><div class="contact"><a href="{% url contact %}"><span>{% trans "Contact" %}</span></a></div></li>
                    {% endif %}

                    {% for lang in LANGUAGES %}
                        {% ifequal lang.0 LANGUAGE_CODE %}
                            <a class="flag" href="#"><img src="{{MEDIA_URL}}img/flags/{{lang.0}}.png" border="0" title="{{ lang.1 }}"/></a>
                        {% else %}
                            <a class="flag" href="{{ request.path|chlocale:lang.0 }}"><img src="{{MEDIA_URL}}img/flags/{{lang.0}}.png" border="0" title="{{lang.1}}"/></a>
                        {% endifequal %}
                    {% endfor %}

                    {% if user.is_superuser or user.is_staff %}
                    <li><div class="admin"><a href="{% url admin:admin-base %}"><span>{% trans "Admin" %}</span></a></div></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="final"><div class="logout"><a href="{% url accounts:logout %}"><span>{% trans "Logout" %}</span></a></div></li>
                    {% endif %}
                {% endblock %}
                </ul>
            </nav>
            <div class="clear"></div>
        </div>

        <div id="main">
            <div class="column2">
                <div class="column1">
                    {% block asideholder %}
                    <aside id="sidebar">
                        <div class="profile">
                        {% if user.is_authenticated %}
                            <div class="pic">
                                <a href="{% url accounts_profile request.user.id %}">
                                    {% if user.get_profile.avatar %}
                                    <img class="avatar-large" src="{{MEDIA_URL}}/{{user.get_profile.avatar}}" alt="">
                                    {% else %}
                                    <img class="avatar-large" src="{{MEDIA_URL}}/img/avatar-blank.jpg" alt="">
                                    {% endif %}
                                </a>
                                <a href="{% url accounts_profile request.user.id %}">
                                    Full Profile
                                </a>
                            </div>
                            <div class="details">
                                <h2 class="profile-name">{{user.get_profile.screen_name}}</h2>
                                <div>{{user.get_profile.totalPoints|default:"0"}} pts</div>
                            </div>
                            <hr class="space"/>

                            {% if current_instance.is_started %}
                            {% block aside_progress %}
                            <div class="score">
                                <span>{{ user.get_profile.points_to_coin }} pts to your next token!</span>
                                <div class="fill" style="width:{{user.get_profile.points_to_coin_for_fill}}%;"></div>
                            </div>
                            <a href="{% url values:index %}" class="tokens{% if user.get_profile.coins %} has-tokens{% endif %}">
                                <span class="label">Tokens to spend:</span> <span class="value">{{user.get_profile.currentCoins}}</span>
                                <span class="visit">Visit your Token Depot</span>
                            </a>
                            {% endblock %}
                            {% endif %}
                        {% else %}
                        {% if instance_mgr.active.count %}
                        <h3>New Player? <a href="{% url accounts:register %}" class="button">Sign Up</a></h3>
                        {% endif %}
                        {% endif %}
                        </div>

                        {% if user.is_authenticated %}
                        <div class="notifications">
                            <a href="{% url accounts:notifications %}">
                                <span class="count">{{user.notifications.unread.count|default:"no"}}</span>
                                new notification{{user.notifications.unread.count|pluralize}}
                            </a>
                        </div>
                        {% endif %}

                        {% block aside %}
                        {% endblock %}
                    </aside>
                    {% endblock %}
                    <div class="content">
                        {% if messages %}
                        <ul id="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        {% block page_title %}
                            <h2 id="page_title">Community PlanIT</h2>
                        {% endblock %}
                        <div class="maincontent">
                        {% block main %}{% endblock %}
                        </div>
                        <div class="rightsidebar">
                            {% block rightsidebar %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="logo">
                <img src="{{MEDIA_URL}}img/logo-3.png" alt="Community PlanIT logo">
            </div>
            <div class="content">
                <nav>
                    <ul>
                        <li><a href="{% url about %}">About</a></li>
                        <li><a href="{% url contact %}">Contact</a></li>
                        <li><a href="{% url privacy %}">Privacy Policy</a></li>
                        <li class="final"><a href="{% url terms %}">Terms of Use</a></li>
                    </ul>
                </nav>
                <div class="right">
                    <div>&copy; 2011 Community PlanIT &#8212; All Rights Reserved</div>
                    <div>Powered By <a href="http://engagementgamelab.org/" target="blank">The Engagement Lab</a> at <a href="http://emerson.edu">Emerson College</a> with support from the <a href="http://knightfdn.org/">Knight Foundation</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    {% block scripts %}
    <script src="{{MEDIA_URL}}3pty/js/jquery-ui.min.js"></script>
    <script src="{{MEDIA_URL}}3pty/js/jquery-ui-timepicker-addon.js"></script>
    <script src="{{MEDIA_URL}}3pty/js/jquery.ui.notification.js"></script>
    <script src="{{MEDIA_URL}}3pty/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="{{MEDIA_URL}}js/base.js"></script>
    <script>
        $(function(){
            jQuery.each(jQuery.browser, function(i, val) {if(i=="msie" && (jQuery.browser.version.substr(0,3) == "6.0" || jQuery.browser.version.substr(0,3) == "5.0")){$('body').html('<center><div style="width: 800px; text-align: left"><h1>We noticed you&#8217re using an old version of Microsoft Internet Explorer.</h1><h2>To play Community PlanIT, please install <a href="http://www.google.com/chrome/">Google Chrome</a>, <a href="http://www.mozilla.com/firefox/">Firefox 4</a>  or <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">IE 8+</a></h2></div></center>');}});
        });
    </script>
    {% endblock %}
    {% block body %}{% endblock %}
</body>
{% endwith %}
{% endwith %}
</html>
