{%extends "layouts/base.html"%}
{%load i18n%}

{%block title%}{{title}} | Community Planit{%endblock%}

{%block head%}
    {%block extrastyle%}{%endblock%}
    {%block extrahead%}{%endblock%}
    {%block blockbots%}{%endblock%}
{%endblock%}

{%block header%}
        {%block content_title%}{%if title%}<h1>{{title}}</h1>{%endif%}{%endblock%}
{%endblock%}

{%block main%}
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {%block pretitle%}{%endblock%}
        {%block content%}
        {%block object-tools%}{%endblock%}
        {{content}}
        {%endblock%}
        {%block sidebar%}{%endblock%}
        <br class="clear" />
    </div>
{%endblock%}

{%block branding%}
    <img src="{{MEDIA_URL}}img/logo-admin.gif" alt="Community Planit" />
{%endblock%}

{%block nav-global%}{%endblock%}
