{% extends 'attachments/base.html' %}
{% load game_extras i18n %}

{% block game_content %}

{% regroup attachments by instance as game_list %}
<div>
{% for game in game_list %}
    <div class="column-container clearfix">
        <h1> {{ game.grouper }} </h1>
        <!--h1>Become an Expert</h1-->
    </div> 

    {% for item in game.list %}
    <div class="resource resource-type-{{ item.resource_type }}">
        <p class="resource-title"><a href="">{{ item.title }}</a></p>
        <div class="resource-thumbnail">{% if item.thumbnail %}<img src="{{ MEDIA_URL }}{{ item.thumbnail }}" width="164" height="100" />{% endif %}</div>
        <div class="resource-extras">
            <div class="resource-icon"></div>
            <a href="" class="resource-download"></a>
        </div>
    </div>
    {% endfor %}
{% endfor %}

</div>
{% endblock %}



