{% extends 'missions/base.html' %}
{% load i18n %}

{% block mission_tab_nav %}
<div class="column-container">
    <h1 id="btn-challenges" class="btn-tab"><a href="{% url missions:mission mission.slug %}">{% trans "Challenges" %}</a></h1>
    <h1 id="btn-player-challenges" class="btn-tab"><a class="active">You Pose the Challenges</a></h1>
</div>
{% endblock %}

{% block mission_intro %}
    <p class="instructions">{% trans "Response to questions that your community has posed, or ask one of your own. Adding to the dialogue will help make sure that everyones voice is heard." %}</p>

    <div class="tabbutton">
        <a href="{% url player_activities:new mission.slug %}">+ Ask a Question</a>
    </div>
{% endblock %}