{% extends "base_game.html" %}
{% load attachment_tags gmap i18n game_extras cpi_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}missions/css/styles.css">
{% endblock %}

{% block title %}{% trans "Mission" %}{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <h1>{{ mission.title }}</h1>
    </div>
    
    <div class="column-twothird">
        <div class="column-container">
            <p>{{ mission.description }}</p>
        </div>
    </div>
    <div class="column-third">
        <div class="column-container">
            <div id="mission-video-container">{% embed_video mission.video %}</div>
        </div>
    </div>
    
    <div class="column-container">
        <div id="btn-challenges" class="clearfix"><a>Challenges</a></div>
        <div id="btn-player-challenges"><a href="{% url activities:new mission.slug %}">You Pose the Challenges</a></div>
        <hr class="thick clearfix" />
    </div>
    
    <div class="column-container">
        <p class="instructions">{% trans "By answering challenge questions you are helping plan your community, and you are earning points that move you towards accomplishing the mission." %}</p>
    
        {% if activities and mission.is_active %}
            {% trans "You have completed" %} {{ completed|length }}/{{ activities|length }} {% trans "activities" %}:
        {% else %}
            {% trans "Activities" %}:
        {% endif %}
        
        {% for activity in activities %}

            {% if mission.is_expired %}
                <div class="activity {{activity.type.type}}">
                    <a href="{{ activity.get_overview_url }}">
                        {{ activity|trans_fallback:"name" }}
                        {{ activity.getPoints }}
                    </a>
                </div>
            {% else %}
                {% if mission.is_future %}
                        <td colspan="3" class="{{activity.type.type}}_activity">{{ activity|trans_fallback:"name" }}</td>
                {% else %}
                    {% if activity in completed %}
                        <td class="{{activity.type.type}}_activity">
                            <a href="{{ activity.get_activity_url }}">{{ activity|trans_fallback:"name" }}</a>
                        </td>
                        <td>{{ activity.getPoints }} {% trans "pts" %}</td> 
                        <td class="final">
                            <a href="{{ activity.get_activity_url }}"><img src="{{MEDIA_URL}}img/check.png" alt="completed"></a>
                        </td>
                    {% else %}
                        <td class="{{activity.type.type}}_activity">
                            <a href="{{ activity.get_activity_url }}">{{activity|trans_fallback:"name"}}</a>
                        </td>
                        <td>{{ activity.getPoints }} pts</td> 
                        <td class="final">
                            <a href="{{ activity.get_activity_url }}"><img src="{{MEDIA_URL}}img/go.png" alt="try it!"></a>
                        </td>
                    {% endif %}
                {% endif %}
            {% endif %}


        {% empty %}
            {% trans "There are currently no activities for this mission. Check back later." %}
        {% endfor %}
    </div>

</div>
{% endblock %}
