{% extends 'missions/base.html' %}
{% load attachment_tags gmap i18n game_extras cpi_tags avatar %}

{% block activities_list %}
    <div class="column-container">
        <h1 id="btn-challenges" class="btn-tab"><a href="{% url missions:mission mission.slug %}">{% trans "Challenges" %}</a></h1>
        <h1 id="btn-player-challenges" class="btn-tab"><a class="active">You Pose the Challenges</a></h1>
    </div>

    <div class="column-container">
        <div id="mission-activities-intro">
            <p class="instructions">{% trans "Response to questions that your community has posed, or ask one of your own. Adding to the dialogue will help make sure that everyone's voice is heard." %}</p>
        </div>
        
        {% if mission.is_active %}
            {% block forms %}
            <div class="tabbutton">
                <a href="{% url player_activities:new mission.slug %}">+ Create A Challenge</a>
            </div>
            {% endblock %}
        {% endif %}
        
        {% for activity in activities %}
            {% with activity.get_points as points and activity.completed_count as completed_count and activity.activity_type_readable as activity_type %}
                {% if mission.is_expired %}
                    <div class="activity playercreated activity-inactive {% if activity.is_trivia %}trivia{% else %}{{ activity_type }}{% endif %}">
                        <a href="{{ activity.get_overview_url }}">
                            <div class="mission-activity-creator">{% avatar activity.creationUser %}</div>
                            {{ activity|trans_fallback:"name" }}
                            ({{ completed_count }} response{{ completed_count|pluralize }})
                        </a>
                    </div>
                {% else %}
                    {% if mission.is_future %}
                        {# Non-started Mission #}
                        <div class="activity playercreated activity-inactive {% if activity.is_trivia %}trivia{% else %}{{ activity_type }}{% endif %}">
                            <div class="mission-activity-creator">{% avatar activity.creationUser %}</div>
                            <a>{{ activity|trans_fallback:"name" }}</a>
                        </div>
                    {% else %}
                        {# Active Mission #}
                        {% if activity in my_completed %}
                        {#  completed activity #}
                        <div class="activity playercreated activity-completed {% if activity.is_trivia %}trivia{% else %}{{ activity_type }}{% endif %}">
                            <a href="{{ activity.get_activity_url }}">
                                <div class="mission-activity-creator">{% avatar activity.creationUser %}</div>
                                {{ activity|trans_fallback:"name" }} ({{ completed_count }} response{{ completed_count|pluralize }})
                                <div class="mission-activity-completed"></div>
                            </a>
                        </div>
                        {% else %}
                        {# fresh activity #}
                        <div class="activity playercreated {% if activity.is_trivia %}trivia{% else %}{{ activity_type }}{% endif %}">
                            <a href="{{ activity.get_activity_url }}">
                                <div class="mission-activity-creator">{% avatar activity.creationUser %}</div>
                                {{ activity|trans_fallback:"name" }}
                                <div class="mission-activity-points">{{ points }}</div>
                            </a>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endwith %}
        {% empty %}
            {% block no_activities %}
                {% if mission.is_active %}
                    <div class="no-activities">{% trans "There are currently no player created activities for this mission. Be the first to" %} <a href="{% url player_activities:new mission.slug %}">{% trans "Create a Challenge" %}</a>!</div>
                {% elif mission.is_future %}
                    <div class="no-activities">{% trans "This mission has not started yet. You will be able to pose challenges to the community once it does." %}</div>
                {% else %}
                    <div class="no-activities">{% trans "This mission is currently not active." %}</div>
                {% endif %}
            {% endblock %}
        {% endfor %}
    
    </div>
{% endblock %}