<!-- requires:
    unfinished_activities: a list of activites which the user has not completed yet
    activities: a list of all activites
-->    

{% for activity in activities %}
{% with activity.type.type as type %}
    <!-- type is defined in player_activities.models
        They are: open_ended, single_response, map, empathy, multi_response 
    -->
    <!-- TODO: This use to have a {{type}} assoicated with the li elements, this cuased very strange
        behivoirs and was removed -->
    {% if activity in unfinished_activities %}
        <li class="listitem game">
        <a href="/activity/{{activity.id}}">{{activity.name}}</a>
        <span class="fine highlight green">{{ activity.getPoints }}</span> 
    {% else %}
        <li class="listitem game played">
        <a href="/activity/{{activity.id}}">{{activity.name}}</a>
        <span class="fine highlight">Complete!</span>
        <a class="button" href="/activity/{{activity.id}}/overview/">Replay</a>
    {% endif %}
        </li>
{% endwith %}
{% endfor %}