{% load cpi_tags i18n %}
{% if activities_page.object_list %}
<table class="activities">
    <thead>
        <tr><th>{% trans "Activities" %}</th><th colspan="2">{% trans "Points" %}</th></tr>
    </thead>
    <tbody>
    {% for activity in activities_page.object_list %}
    {% if activity in completed %}
    <tr>
        <td class="{{activity.type.type}}_activity"><a href="{{ activity.get_overview_url }}">{{activity.name}}</a></td>
        <td>{{ activity.getPoints }}</td> 
        <td class="final"><a href="{{ activity.get_overview_url }}"><img src="{{MEDIA_URL}}img/check.png" alt="completed"></a></td>
    </tr>
    {% else %}
    <tr>
        <td class="{{activity.type.type}}_activity"><a href="{{ activity.get_activity_url }}">{{activity.name}}</a></td>
        <td>{{ activity.getPoints }}</td> 
        <td class="final"><a href="{{ activity.get_activity_url }}"><img src="{{MEDIA_URL}}img/go.png" alt="try it!"></a></td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% ifnotequal paginator.num_pages 1%}
    {% pagenavigator activities_page request.get_full_path %}
{% endifnotequal %}
{% endif %}
