{% load gmap attachment_tags %}

<div class="attachments">
{% for attachment in activity.attachment.all %}
    {% if attachment.is_valid %}
        <div>
            {% if attachment.type == 'video' %}
                {% youtube_video attachment.url %}
            {% else %}
            <a class="thumbnail" href="{{attachment.file.url}}"><img src="{{attachment.file.url}}"/></a>
            {% endif %}
        </div>
        {% else %}
        <div class="notice">This content is currently unavailable.</div>
        {% endif %}
{% endfor %}
</div>