{% extends "layouts/base.html" %}
{% load game_extras i18n %}

{%block section%}missions{%endblock%}

{% block title %}{% trans "Activity" %}{% endblock %}

{% block page_title %}{% endblock %}

{% block main %}
    {% block activity %}
        <div id="content" style="text-color: red;"> 
            {% if errors %} 
                {% for k,v in errors.items %}
                {{ k }}: {{ v }} 
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}

    {% comment %}
    {% if other_responses|length %}
        <h3>{% trans "Last 5 Responses" %}</h3>
        view_action = 'replay',
        <ul class="listless fine">
            {% for response in other_responses %}
            <li><a href="/mission/{{mission.slug}}/game/{{game.game_type}}/{{game.id}}/{{response.user.id}}/">{% trans "View" %} {{response.user.get_profile.first_name}}'s {% trans "response" %} &rarr;</a></li>
            {% endfor %}
        </ul>
        <div class="rest">
            <a class="fine right" href="/mission/{{mission.slug}}/game/{{game.game_type}}/{{game.id}}/overview">{% trans "All responses" %} &rarr;</a>
        </div>
    {% else %}
        {% trans "No responses yet." %}
    {% endif %}
    {% endcomment %}

{% endblock %}

{% block aside %}{% endblock %}

{% block body %}   
    <script>
        jQuery(function($) {
            $("#id_activity-btn-submit").live("click", function(event){
                event.preventDefault();
                $.ajax({
                        type: "POST",
                        url: "{% if view_action == 'replay' %} {{ activity.get_replay_url }} {% else %} {{ activity.get_activity_url }} {% endif %}",
                        data: $('#id_activity-form').serialize(),
                        success: function(data, textStatus) {
                            var $data = $(data);
                            var has_errors = $(data).find(".errorlist");

                            if (has_errors.length > 0){
                                $('#content').html($data.find('#content'));
                            }
                            else {
                                window.location='{{ activity.get_overview_url }}';
                            }
                        },
                        error: function(data){                                        
                            $('#content').html(data.responseText);
                        }
                });
            });

        });
    </script>
{% endblock %}
