<!--This is the base for the games --> 
{%extends "layouts/base.html"%}
{% load game_extras i18n %}

{%block title%}{% trans "Test Title" %}{%endblock%}
{%block page_title%}{%endblock%}


{% block main %}
    {% block activity %}{% endblock %}
{% endblock %}

<!-- TODO: Fix the block aside with whatever this was suppose to be -->
{%block aside%}
    <hr class="space">
    <h3>{% trans "Last 5 Responses" %}</h3>
    {%if other_responses|length%}
        <ul class="listless fine">
            {%for response in other_responses%}
            <li><a href="/mission/{{mission.slug}}/game/{{game.game_type}}/{{game.id}}/{{response.user.id}}/">{% trans "View" %} {{response.user.get_profile.first_name}}'s {% trans "response" %} &rarr;</a></li>
            {%endfor%}
        </ul>
    {%else%}
        {% trans "No responses yet." %}
    {%endif%}
    <div class="rest">
        <a class="fine right" href="/mission/{{mission.slug}}/game/{{game.game_type}}/{{game.id}}/overview">}{% trans "All responses" %} &rarr;</a>
    </div>
    <hr class="space">
{%endblock%}
