{%extends "layouts/base.html"%}
{%load gmap%}

{%block section%}instances{%endblock%}
{%block title%}Neighborhood overview{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    {% if not instance %}
        <label>You are currently not part of any instance.</label>
    {% else %}
        {% if mission|length %}
            <label>There are no missions for {{instance.name}}.</label>
        {% else %}
            <!-- requires:
                unfinished_activities: a list of activites which the user has not completed yet
                activities: a list of all activites
            -->
            {% include "player_activities/all_activities.html" %}
        {% endif %} 
    {% endif %}
    
{%endblock%}

{%block body%}
    {%gmap_includes%}
{%endblock%}