{%extends "player_activities/base.html"%}
{% load gmap attachment_tags %}
{%block title%}Open Response Overview{%endblock%}

{%block main%}
    <h1>Empathy Response Overview</h1>
    <h2>{{activity.question}}</h2>
    
    <a style="float: right" id="my_comment" href="#">Your Comment</a>
    
    {%if activity.avatar%}
        <img class="avatar" src="{{MEDIA_URL}}/{{activity.avatar}}">
    {%else%}               
        <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
    {%endif%}
     
    {% if activity.bio %}
        <h3>{{activity.bio}}</h3>
    {% endif %}
    
    {% include "player_activities/attachments.html" %}
    
    <div id="comments">
        {%include "comments/post.html"%}
        <div style="clear: both;"></div>
    </div>
{%endblock%}
{%block body%}
    <script>
    $(document).ready(function() {
        try {
            aElem = document.getElementById("my_comment");
            {% if myComment %}
                aElem.href = "#comment-{{myComment.id}}"
            {% endif %}
        } catch(err) {
            alert(err);
        }
    });
    </script>
{% endblock %}


