{% extends "player_activities/base.html" %}
{% load i18n %}
{% block title %}Empathy Response{% endblock %}

{% block activity %}
    {{ block.super }}
    <form id="id_activity-form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        <input type="hidden" name="form" value="empathy">

        <h1>{{activity.name}}</h1>

        <p class="bio">
            {% if activity.avatar %}
                <img class="left avatar" src="{{MEDIA_URL}}/{{activity.avatar}}">
            {% endif %}
            {{activity.bio}}
        </p>
        
        <h2 class="clear">{{activity.question|safe}}</h2>

        {% include "player_activities/attachments.html" %}
         
        <h3>{% trans "Enter your response" %}</h3>
        {{ form.response }}
        
        {% block comment %}{% endblock %}
        <div class="controls">
            <input type="submit" id="id_activity-btn-submit" class="button submit" value="Submit" />
        </div>
    </form>
{% endblock %}

