{%extends "player_activities/base.html"%}

{%block title%}Open Response Overview{%endblock%}

{%block main%}
    <h1>Empathy Response Overview</h1>
    <h2>{{activity.question}}</h2>
    
    {%if activity.avatar%}
        <img class="avatar" src="{{MEDIA_URL}}/{{activity.avatar}}">
    {%else%}               
        <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
    {%endif%}
     
    {% if activity.bio %}
        <h3>{{activity.bio}}</h3>
    {% endif %}
    
    <div class="attachments">
        {% for attachment in activity.attachments.all %}
            <label>attachment files: {{attachment.file}}</label>
        
        
            {% if attachment.is_valid %}
            <div>
                {% if attachment.type == 'video' %}
                {% youtube_video attachment.url %}
                {% else %}
                <a class="thumbnail" href="{{attachment.file.url}}"><img src="{{attachment.file.url}}"/></a>
                {% endif %}
            </div>
            {% else %}
            <div class="notice">This content is currently unavailable.</div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div id="comments">
        {%include "comments/post.html"%}
        <div style="clear: both;"></div>
    </div>
{%endblock%}
