{%extends "player_activities/base.html"%}
{% load i18n %}
{%block title%}Empathy Response{%endblock%}

{%block activity%}
    {{ block.super }}
    <form id="id_activity-form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        <input type="hidden" name="form" value="empathy">

        <h2>{{activity.question|safe}}</h2>
        
        {%if activity.avatar%}
            <img class="avatar" src="{{MEDIA_URL}}/{{activity.avatar}}">
        {%else%}               
            <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
        {%endif%}
         
        {% if activity.bio %}
            <h3>{{activity.bio}}</h3>
        {% endif %}
        
        <h3>{% trans "Enter your response" %}</h3>
        {{ form.response }}
        
        {% include "player_activities/attachments.html" %}
        
        {% block comment %}{% endblock %}
        <input type="submit" id="id_activity-btn-submit" class="button submit" value="Submit" />
    </form>
{%endblock%}

