{%extends "player_activities/base.html"%}

{%block title%}Empathy Response{%endblock%}

{%block activity%}
    <form action="" method="post">
        <input type="hidden" name="form" value="empathy">
        {% csrf_token %}
        <h2>{{activity.question|urlize}}</h2>
        
        {%if activity.avatar%}
            <img class="avatar" src="{{MEDIA_URL}}/{{activity.avatar}}">
        {%else%}               
            <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
        {%endif%}
         
        {% if activity.bio %}
            <h3>{{activity.bio}}</h3>
        {% endif %}

        {% if activity.question %}
            <h4>{{activity.question}}</h4>
        {% endif %}
        <div class="fieldWrapper">
            {{ form.answerBox.errors }}
            <label for="id_answerbox">Your Response:</label>
            {{ form.answerBox }}
        </div>
        <input type="submit" class="button submit" value="Submit" />
    </form>
{%endblock%}
