{%extends "player_activities/base.html"%}
{%load gmap%}

{%block title%}Map Response{%endblock%}

{%block activity%}
    <h2>{{activity.question|urlize}}</h2>
        
    <button class="button add">Add Point</button>
    <button class="button rm">Clear All Points</button>
    <label>Maximum number of points: {{activity.maxNumMarkers}}</label>
    <div>
        <label>Search for a copmany or address:</label>
        <input type="text" name="google_search" id="google_search" />
    </div>
    
    
    <form action="" method="post" class="narrow">
        {% csrf_token %}
        <input type="hidden" name="form" value="map">
        <input type="hidden" id="max_points_input" name="max_points_input" value="{{activity.maxNumMarkers}}">
        
        <div class="fieldWrapper">
            {% for x, lat, lon in init_coords %}
                    <input type="hidden" id="init_coords{{x}}" 
                        name="init_coords{{x}}" lat="{{lat}}" lon="{{lon}}"/>
            {% endfor %}
            {{form.map.errors}}
            <div id="map" class="google-map" data-type="Point"></div>
        </div>
        
        <div id="comments">
            <h3>Why did you choose these points?</h3>
            {% include "comments/duplicate.html" %}
        </div>
        
        <div class="markers">
            <button class="button submit">Submit response</button>
        </div>
    </form>
    
    
    
    
{%endblock%}


{%block body%}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
    <!-- script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript" charset="utf-8"></script -->
    <script src="{{MEDIA_URL}}js/games/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $(".google-map").mapit({{map|safe|escape}});
            $(".remove-map").remove();
        });
    </script>
{%endblock%}