{%extends "player_activities/base.html"%}
{%load gmap%}

{%block title%}Map Response{%endblock%}

{%block activity%}
    <form action="" method="post" class="narrow">
        <input type="hidden" name="form" value="map">
        <input type="hidden" id="max_points_input" name="max_points_input" value="{{activity.maxNumMarkers}}">
        {% csrf_token %}
        <h2>{{activity.question|urlize}}</h2>
        <button class="button add">Add Point</button>
        <button class="button rm">Clear All Points</button>

        <div class="fieldWrapper">
            {{form.map.errors}}
            <div class="google-map" data-type="Point"/>
        </div>
        <div class="fieldWrapper">
            {{form.answerBox.errors}}
            <label for="id_answerBox">Your Response:</label>
            {{ form.answerBox }}
        </div>
        <div class="markers">
            <button class="button submit">Submit response</button>
        </div>
    </form>
    
{%endblock%}


{%block body%}
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}js/games/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $(".google-map").mapit({{map|safe|escape}});
            $(".remove-map").remove();
        });
    </script>
{%endblock%}