{%extends "player_activities/base.html"%}

{%block title%}Multi Response{%endblock%}

{%block main%}
<p> Complete the activity to see everyone's responses.  </p>
    <form id="id_activity-form" action="" method="post">{% csrf_token %}
        <input type="hidden" name="form" value="multi_response">
        <h2>{{activity.question|safe}}</h2>
        <div class="fieldWrapper">
            {{ form.response.errors }}
            <label for="id_answerbox">Your Choices:</label>
            <ul style="list-style-type: none;">
            {% for choice in form.response.field.choices %}
              <li><label for="response_{{choice.0}}"><input type="checkbox" name="response_{{choice.0}}" value="{{choice.0}}">{{choice.1}}</label></li>
            {% endfor %}
            </ul>
        </div>
        
        {% block comment %}{% endblock %}
        <input type="submit" id="id_activity-btn-submit" class="button submit" value="Submit" />
    </form>
{%endblock%}
