{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}}: Response Overview{% endblock %}

{% block main %}
<h1>{{activity.name}}</h1>
<h3>{{activity.question}}</h3>
    
    <div>
        <h3>{% trans "Your answer:" %}</h3>
        {{my_answers}}
        <input class="button" type="button" value="Replay" onClick="window.location='{% url activities:replay activity.id %}' ">
        <input class="button" type="button" value="{% trans "See Your Answer" %}" onClick="window.location='#comment-{{my_comment.id}}' ">
    </div>
    
    {% include "player_activities/attachments.html" %}
    
    <h2>{% trans "Response Summary" %}</h2>
    <div id="choicePie" class="graph" style="width:350px;height:300px; margin-right:auto; 
        margin-top: 25px; margin-bottom: 25px; "></div>

    <h2>{% trans "Responses" %}</h2>
    <div class="comments embedded">
        {% for user, answers, comments in all_answers %}
        {% with instance=activity.mission.instance %}
        {% if user == request.user %}
            {% with comment_heading="Your Answer" %}
            <h3>
                {% blocktrans %}{{comment_heading}}{% endblocktrans %}
                <div class="controls right">
                    Sort by: <a class="button comment_sort_time" href="#">timestamp</a> <a class="button comment_sort_activity" href="#">popularity</a>
                </div>
            </h3>
            {% if comments %}
            <ul class="comment_list">
                {% with extra_message=answers %}
                {% for comment in comments %}
                {% include "comments/comment.html" %}
                {% endfor %}
                {% endwith %}
            </ul>
            {% endif %}
            {% endwith %}
        {% else %}
        {% with comment_heading=user.get_profile.screen_name %}
            <h3>
                {% blocktrans %}{{comment_heading}}{% endblocktrans %}
                <div class="controls right">
                    Sort by: <a class="button comment_sort_time" href="#">timestamp</a> <a class="button comment_sort_activity" href="#">popularity</a>
                </div>
            </h3>
            {% if comments %}
            <ul class="comment_list">
                {% with extra_message=answers %}
                {% for comment in comments %}
                {% include "comments/comment.html" %}
                {% endfor %}
                {% endwith %}
            </ul>
            {% endif %}
        {% endwith %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>

{% endblock %}

{%block body%}   
<script type="text/javascript">
    $(function () {
        try {
        
        var answerData = new Array(0);
        {% for choice in choices %}
            answerData.push({label: "{{choice.value}}", data: {{choice.multiresponse_answers.count}} });
        {% empty %}
            answerData.push({label: "No answers yet.", data: 1});
        {% endfor %}
        
        $.plot($("#choicePie"), answerData, {
            series: { 
                pie: { 
                    show: true,
                    radius: 1,
                    stroke: {
                        color: '#FFECD8',
                        width: 2
                    },
                    label: {
                        show: true,
                        radius: .55,
                        formatter: function(label, series) {
                            var output = '<div class="pielabel">' + label;
                            if (series.percent < 100) {
                                output += '<br/><strong>'+Math.round(series.percent)+'%</strong></div>';
                            }
                            return output;
                        },
                        threshold: 0.1
                    }
                }
            },
            legend: { 
                show: false
            }
        });
        
        } catch (err) {
            alert(err);
        }
    });
    
</script>    
{%endblock body%}   

