{%extends "player_activities/base.html"%}

{%block title%}{{ block.super }} Multi Response.{%endblock%}

{%block main%}
<p>Step {{ step }} of {{ step_coSubmitunt }}</p>
<p>Input possible answers to your multi response question<p/>

<form action="." method="post">{% csrf_token %}

    {{ form.errors }}

    <div class="fieldWrapper">
        <label for="id_types">{{ form.answ1.label}}</label>
            {{ form.answ1 }}
    </div>

    <div class="fieldWrapper">
        <label for="id_types">{{ form.answ2.label}}</label>
            {{ form.answ2 }}
    </div>

    <div class="fieldWrapper">
        <label for="id_types">{{ form.answ3.label}}</label>
            {{ form.answ3 }}
    </div>

    <div class="fieldWrapper">
        <label for="id_types">{{ form.answ4.label}}</label>
            {{ form.answ4 }}
    </div>

    <div class="fieldWrapper">
        <label for="id_types">{{ form.answ5.label}}</label>
            {{ form.answ5}}
    </div>

    <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
    {{ previous_fields|safe }}
    <input type="submit" name="Submit">
</form>
{%endblock%}
