{% load i18n %}
{% if official_response %}
<h2> {{ activity.mission.instance.title }}'s {% trans "Response" %} </h2>

{% with instance=activity.mission.instance comments=official_response.comments %}
    <div class="comments embedded">
        <ul class="comment_list">

            {% for comment in comments.all %}
                {% with extra_message=activity.title %}
                {% include "comments/comment.html" %}
                {% endwith %}
            {% empty %}
            <li class="comment">No comments found.</li>
            {% endfor %}
        </ul>
    </div>
{% endwith %}
{% endif %}


