{%extends "player_activities/base.html"%}
{% load gmap attachment_tags %}
{%block title%}Open Response Overview{%endblock%}

{%block main%}
    <h1>Open Response Overview</h1>
    <h2>{{activity.question}}</h2>
    
    <div>
        <input class="button" type="button" value="Your Comment" onClick="window.location='#comment-{{myComment.id}}' ">
    </div>
    
    {% include "player_activities/attachments.html" %}
    
    <div id="comments">
        {% with comments as english_comments %}
            {% include "comments/post.html" %}
        {% endwith %}
        <div style="clear: both;"></div>
    </div>
{%endblock%}
