{%extends "player_activities/base.html"%}
{% load i18n %}
{%block title%}Open Response{%endblock%}

{%block activity%}
    <h2>{{activity.question|safe}}</h2>
    {% include "player_activities/attachments.html" %}
    
    {{ block.super }}
    <form id="id_activity-form" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        <input type="hidden" name="form" value="open_ended">
        <h3>{% trans "Enter your response" %}</h3>
        {{ form.response }}
        {% block comment %}{% endblock %}
        <input type="submit" id="id_activity-btn-submit" class="button submit" value="Submit" />
    </form>

    
{%endblock%}
