{%extends "player_activities/base.html"%}

{%block title%}Open Response{%endblock%}

{%block main%}
    <!--<form action="" method="post"> -->
    <h2>{{activity.question|urlize}}</h2>
    <form enctype="multipart/form-data" action="" method="POST">
        <input type="hidden" name="form" value="open_ended">
        <div id="comments">
            <h3>Your Response:</h3>
            {% include "comments/duplicate.html" %}
        </div>
        <input type="submit" class="button submit" value="Submit" />
    </form>

    
{%endblock%}
