{%extends "player_activities/base.html"%}
{% load i18n %}
{%block title%}Open Response{%endblock%}

{%block activity%}
<p> Complete the activity to see everyone's responses.  </p>
<h1>{{activity.name}}</h1>
<h3>{{activity.question|safe}}</h3>

    {% include "player_activities/attachments.html" %}
    
    {{ block.super }}
    <form id="id_activity-form" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        <input type="hidden" name="form" value="open_ended">
        <h3>{% trans "Enter your response (required)" %}</h3>
        {{ form.response }}
        <h4>You have <span id="charsLeft">1000</span> chars left.</h4>
        {% block comment %}{% endblock %}
        <div class="controls">
            <input type="submit" id="id_activity-btn-submit" class="button submit" value="Submit" />
        </div>
    </form>

    
{%endblock%}
