{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n avatar %}
{% block title %}{{activity.name}} | Open-Ended Response Overview{% endblock %}

{% block game_content %}
<div class="column-container">

    {# HEADERS #}
    <a class="btn-back" href="{% url missions:mission activity.mission.slug %}">{% trans "Return to mission" %}</a>
    {% comment %}<a class="btn-forward" href="{# TODO #}">Next Challenge</a>{% endcomment %}

    {% include "player_activities/official_responses.html" %}
    <h1>{{activity.name}}<span class="points">{{ activity.get_points }}</span></h1>
    {% if activity.is_player_submitted %}<div id="created-by"><a href="{% url accounts:player_profile activity.creationUser.id %}">{% avatar activity.creationUser %}</a> created by <a href="{% url accounts:player_profile activity.creationUser.id %}">{{ activity.creationUser.get_profile.screen_name }}</a></div>{% endif %}
    
    {# QUESTION AND YOUR RESPONSE #}
    <div class="column-threequarter">
        <div class="activity-question">
            {% include "player_activities/attachments.html" %}
            <div>{{ activity.question|safe }}</div>
            <br class="clearfix" />
        </div>

        

        {% if not activity.mission.is_expired and myComment %}
            <div class="activity-response">
                {{ myComment.message }}
            </div>
            {# Replay #}
            <div class="activity-response-submit">
                <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
            </div>
        {% endif %}
        
        
    </div>
    <br class="clearfix">
    {# RESPONSES #}
    {% if is_completed or activity.is_past %}
        {% if answers.count %}
            <h2>{% trans "Responses" %}</h2>
            <div class="comments embedded">
                {% include 'player_activities/_corner_stamp.html' %}
                {% for answer in answers %}
                    {% with instance=activity.mission.instance comments=answer.comments %}
                        {% for comment in comments.all %}
                            {% with extra_message=answer.selected.value %}
                                {% include "comments/comment.html" %}
                            {% endwith %}
                        {% empty %}
                            <div id="no-comments-yet">There are no comments yet.</div>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% else %}
            <p>{% trans "No responses submitted" %}</p>
        {% endif %}        
    {% else %}
        <br />
        <h3>{% trans "Complete the activity to see everyone's responses" %}</h3>
        <a href="{{ activity.get_activity_url }}" class="btn-blue">Play this Challenge</a>
    {% endif %}
</div>

{% endblock %}
