{%extends "player_activities/base.html"%}
{% load gmap attachment_tags %}
{%block title%}Open Response Overview{%endblock%}

{%block main%}
    <h1>Response Overview</h1>
    <h2>{{activity.question}}</h2>
    
    <div>
        <input class="button" type="button" value="Your Comment" onClick="window.location='#comment-{{myComment.id}}' ">
        <input class="button" type="button" value="Replay" onClick="window.location='{% url activities:replay activity.id %}' ">
    </div>
    
    {% include "player_activities/attachments.html" %}
    
    <ul>
        {% for key, val in answers %}
            <li>{{key}}: {{val}}</li>
        {% endfor %}
    </ul>
    <h3>Answer Selections</h3>
    <div id="choicePie" class="graph" style="width:350px;height:300px; margin-right:auto; 
        margin-top: 25px; margin-bottom: 25px; "></div>

    <div id="comments">
        {% with comments as english_comments %}
            {% include "comments/post.html" %}
        {% endwith %}
        <div style="clear: both;"></div>
    </div>

<script type="text/javascript">
    $(function () {
        try {
        
        var answerData = new Array(0);
        var i = 0;
        {% for key, val in answers %}
            answerData[i] = {label: "{{key}}", data: {{val}} };
            i++;
        {% endfor %}
        
        $.plot($("#choicePie"), answerData, {
            series: { 
                pie: { 
                    show: true,
                    radius: 1,
                    stroke: {
                        color: '#FFECD8',
                        width: 2
                    },
                    label: {
                        show: true,
                        radius: 1/2,
                        formatter: function(label, series) {
                            var output = '<div style="font-size:.8em;text-align:center;color:black;">' + label;
                            {% if player_spent > 0 %}
                            output += '<br/>'+Math.round(series.percent)+'%</div>';
                            {% endif %}
                            return output;
                        },
                        threshold: 0.1
                    }
                }
            },
            legend: { 
                show: false
            }
        });
        
        } catch (err) {
            alert(err);
        }
    });
    
</script>    
{%endblock%}

