{%extends "player_activities/base.html"%}
{% load gmap attachment_tags %}
{%block title%}Single Response{%endblock%}

{%block main%}
    <form action="" method="post">
        <input type="hidden" name="form" value="single_response">
        {% csrf_token %}
        <h2>{{activity.question|urlize}}</h2>
        <div class="attachments">
        {% for attachment in activity.attachment.all %}
            {% if attachment.is_valid %}
                <div>
                    {% if attachment.type == 'video' %}
                        {% youtube_video attachment.url %}
                    {% else %}
                    <a class="thumbnail" href="{{attachment.file.url}}"><img src="{{attachment.file.url}}"/></a>
                    {% endif %}
                </div>
                {% else %}
                <div class="notice">This content is currently unavailable.</div>
                {% endif %}
        {% endfor %}
        </div>
        
        <div class="fieldWrapper">
            <!-- div style="list-style-type: none;" -->
            {{ form.response.errors }}
            <label for="id_answerbox">Your Choices:</label>
            <ul style="list-style-type: none">
            {% for choice in form.response.field.choices %}
              <li><label for="id_response_{{choice.0}}"><input type="radio" name="response" value="{{choice.0}}">{{choice.1}}</label></li>
            {% endfor %}
            </ul>
        </div>
        
        <div id="comments">
            <label>Why did you choose this reponse?</label>
            {% include "comments/duplicate.html" %}
        </div>

        <input type="submit" class="button submit" value="Submit" />
    </form>
    
{%endblock%}
