{% load static thumbnail %}

{% comment %}
Avatars require this styling to adjust size
.avatar {
    display: block;
    width: 164px;
    height: 164px;
    text-align: center;
    margin: 0px;
    font-size: 0px; /* fixes spaces for inline-blocks */
    background: #e5f0ea;
}

    .avatar .avatar-content {
        line-height: 164px;
    }
    
    .avatar .img {
        vertical-align: middle;
        max-width: 164px;
        max-height: 164px;
    }

{% endcomment %}

<div class="avatar">
    <div class="avatar-content">
        {% thumbnail user.get_profile.avatar "164x164" crop="center" as im %}
        <img src="{{ im.url }}">
        {% empty %}
        <img src="{% get_static_prefix %}img/avatar-blank.png"/>
        {% endthumbnail %}
    </div>
</div>
