{%extends "layouts/base.html"%}
{% load attachment_tags cpi_tags game_extras i18n %}

{% block section %}accounts{% endblock %}
{% block extra_body_class %}rightsidebar{% endblock %}

{%block title%}{% trans "Dashboard" %}{%endblock%}

{%block page_title%}
<h2 id="page_title">
    {{ instance.title }}
    <span class="dates">
        {{ instance.start_date|date:"m/d/Y" }} &#8211; {{ instance.end_date|date:"m/d/Y" }}
    </span>
</h2>
{% endblock %}

{% block rightsidebar %}
{% if instance.is_started %}
    <div class="section">
        {%if instance.missions.active.count%}
            {% for mission in instance.missions.active %}
            <h2>{% trans "Current Mission" %} <span class="fine">{{mission.start_date|date:"n/j"}}&#8211;{{mission.end_date|date:"n/j"}}</span></h2>
            {% if mission.video %}
            <div class="video">
                {% embed_video mission.video %}
            </div>
            {% endif %}
            <h3>{{mission.name}}</h3>
            <p class="separate">
            {{mission.description|teaser:100}}
            <a href="{% url missions:mission mission.slug %}" title="{{mission.name}}">{% trans "Read More" %}</a>
            </p>
            {% include "player_activities/all_activities_paginated.html" %}
            <div class="buttons">
                <a class="button" href="{% url missions:mission mission.slug %}" title="{{mission.name}}">{% trans "View Current Mission" %}</a>
            </div>
            {% endfor %}
        {% else %}
            {% if instance.missions.past.all|length %}
            <label>
            {% trans "Your missions have ended for now. Great work!  Your community is better because of your efforts.  You'll be notified when a new mission starts." %}
            </label>
            {% else %}
                {% if instance.missions.future.all|length %}
                    <label>
                    {% trans " The mission has not yet started. You will be notified when the mission starts." %}
                    </label>
                {%else%}
                {% trans "No missions created." %}
                {%endif%}
            {%endif%}
        {%endif%}
    </div>

    {% if not instance.missions.past.all|length %}
    <div class="section">
        <h2 class="missions">{% trans "Available Challenges" %}</h2>
        <div class="challenges">
            <table>
                <tbody>
                {% for challenge in challenges %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td><a href="{% url challenges:challenge challenge.pk %}">{{challenge.name}}</a></td>
                    </tr>
                {% empty %}
                    <tr class="odd">
                        <td>{% trans "No active challenges found." %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <a class="button left" href="{% url challenges:add %}">{% trans "Create Challenge" %}</a>
            <a class="button right" href="{% url challenges:index %}">{% trans "All Challenges" %}</a>
        </div>
    </div>
    {% endif %}
{% endif %}
{% endblock rightsidebar %}

{% block main %}
{% if instance %}
    {% if instance.is_started %}
        {% if not instance.is_expired %}                    
            <div class="welcome">
                <p>{{ instance.description }} </p>
            </div>
            
        {% else %}
            <div class="welcome">
                <p>{{ instance }} {% trans "ended on" %} {{instance.end_date|date:"F j, Y"}}, {% trans "with" %}:</p>
            <ul>
                <li><strong>{{instance.user_profiles.count}}</strong> {% trans "participant" %}{{instance.user_profiles.count|pluralize}}
                <li><strong>{{instance.coin_count}}</strong> token{{instance.coin_count|pluralize}} spent on issues
                <li><strong>{{instance.comments.count}}</strong> comments
            </ul>

            <p>Check out the results of the
            {% if last_mission %}
                <a class="red" href="{% url missions:mission last_mission.slug %}" title="{{last_mission.name}}">activities</a>
            {% else %}
            <a class="red" href="{% url missions:index %}" title="mission">activities</a>
            {% endif %}
            results &#8212; and don't forget to see how the community spent its 
            <a class="red" href="{% url values:index %}">tokens</a>!
            </p>
            <p>{% trans "Thanks for playing!" %}</p>
            </div>
        {% endif %}
        
        <div class="feed">
            <h3>{% trans "Latest Events" %}</h3>
            <table>
                <tbody>
                    {% for activity in log %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>{{activity.date|date:"m/d/Y h:i a"}}</td>
                        <td>
                            <a href="{% url accounts_profile activity.user.id %}">{{activity.user.get_profile.screen_name}}</a>
                            {{activity.data}} 
                            {% if activity.get_url %}
                                <a href="{{activity.get_url}}">{{activity.action}}</a>
                            {% else %}
                                {{activity.action}}
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td class="odd">{% trans "No news found" %}.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <p>
            <a href="{% url instances:instance user.get_profile.instance.slug %}" class="right button">View more community news</a>
            </p>
        </div>
    {% else %}
    <div>{% trans "The community has not started yet. We will notify you once it has begun" %}.  </div>
        <br>
        <a href="{% url accounts:logout %}">Logout</a>
    {% endif %}
{% endif %}

<div style="clear:both;"></div>
{% endblock %}

{% block aside %}
{% if leaderboard.count %}
<div class="leaderboard">
    <table>
        <thead>
            <tr><th>{% trans "Leader" %}</th><th>{% trans "Board" %}</th></tr>
        </thead>
        <tbody>
        {% for profile in leaderboard %}
            <tr>
                <td><a href="{% url accounts_profile profile.user.id %}">{{profile.screen_name}}</a></td>
                <td>{{profile.totalPoints}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% if affiliations_leaderboard %}
<div class="leaderboard">
    <table>
        <thead>
            <tr><th>{% trans "Affiliation" %}</th></tr>
                        
        </thead>
    </table>
    <table>
        <thead><tr><th>{% trans "Leader" %}</th><th>{% trans "Board" %}</th></tr></thead>
        <tbody>
        {% for points, aff in affiliations_leaderboard %}            
            <tr>
                <td><a href="{% url instances:affiliation instance.slug aff.slug%}">{{ aff.name }}:</a></td><td>{{ points }}</td>
            </tr>            
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
