{%extends "layouts/base.html"%}
{% load attachment_tags cpi_tags game_extras i18n %}

{% block section %}accounts{% endblock %}
{% block extra_body_class %}rightsidebar{% endblock %}

{%block title%}{% trans "Dashboard" %}{%endblock%}
{%block page_title%}<h2 id="page_title">{{ instance.title }}</h2>{% endblock %}

{% block rightsidebar %}
{% if instance.is_started %}
    <div class="section">
        {%if instance.missions.active.count%}
            {% for mission in instance.missions.active %}
            <h2>{% trans "Current Mission" %} <span class="fine">{{mission.start_date|date:"n/j"}}&#8211;{{mission.end_date|date:"n/j"}}</span></h2>
            {% if mission.video %}
            <div class="video">
                {% youtube_video mission.video %}
            </div>
            {% endif %}
            <h3>{{mission.name}}</h3>
            <p class="separate">
            {{mission.description|teaser:100}}
            <a href="{% url missions:mission mission.slug %}" title="{{mission.name}}">{% trans "Read More" %}</a>
            </p>
            {% include "player_activities/all_activities_paginated.html" %}
            <div class="buttons">
                <a class="button" href="{% url missions:mission mission.slug %}" title="{{mission.name}}">{% trans "View Current Mission" %}</a>
            </div>
            {% endfor %}
        {% else %}
            {% if instance.missions.past.all|length %}
            <label>
            {% trans "Your missions have ended for now. Great work!  Your community is better because of your efforts.  You'll be notified when a new mission starts." %}
            </label>
            {% else %}
                {% if instance.missions.future.all|length %}
                    <label>
                    {% trans " The mission has not yet started. You will be notified when the mission starts." %}
                    </label>
                {%else%}
                {% trans "No missions created." %}
                {%endif%}
            {%endif%}
        {%endif%}
    </div>

    <div class="section">
        <h2 class="missions">{% trans "Available Challenges" %}</h2>
        <div class="challenges">
            <table>
                <tbody>
                {% for challenge in challenges %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td><a href="{% url challenges:challenge challenge.pk %}">{{challenge.name}}</a></td>
                    </tr>
                {% empty %}
                    <tr class="odd">
                        <td>{% trans "No active challenges found." %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <a class="button left" href="{% url challenges:add %}">{% trans "Create Challenge" %}</a>
            <a class="button right" href="{% url challenges:index %}">{% trans "All Challenges" %}</a>
        </div>
    </div>
{% endif %}
{% endblock rightsidebar %}

{% block main %}
{% if instance %}
    {% if instance.is_started %}
        {% if not user.is_active %}
            <form method="POST" action="">
                <h4>{% trans "One last step: Please verify that you have read our Terms of Use and Privacy Policy.  It is our commitment to provide a safe, friendly environment for community members to discuss important values." %}</h4>
                {%csrf_token%}
                <div class="fieldWrapper">
                    {{ activation_form.accepted_term.errors }}
                    <label for="id_accepted_term">{% trans "I have have read the " %}<a href="{% url terms %}" target="_blank">{% trans "Terms of Use." %}</a></label>
                    {{ activation_form.accepted_term }}
                </div>
                <div class="fieldWrapper">
                    {{ activation_form.accepted_research.errors }}
                    <label for="id_accepted_research">I have read the <a href="{% url privacy %}" target="_blank">Privacy Policy.</a></label>
                    {{ activation_form.accepted_research }}
                </div>
                <button class="button">{% trans "Activate my account!" %}</button>
            </form>
        {% else %}
            {% if not instance.is_expired %}                    
                <div class="welcome">
                    <p>{{ instance.description }} </p>
                </div>
                
            {% else %}
                <div class="welcome">
                    <p>{{ instance }} {% trans "ended on" %} {{instance.end_date|date:"F j, Y"}}, {% trans "with" %}:</p>
                <ul>
                    <li><strong>{{instance.user_profiles.count}}</strong> participant{{instance.user_profiles.count|pluralize}}
                    <li><strong>{{instance.coin_count}}</strong> token{{instance.coin_count|pluralize}} spent on issues
                    <li><strong>{{instance.comments.count}}</strong> comments
                </ul>

                <p>Check out the results of the
                {% if last_mission %}
                    <a class="red" href="{% url missions:mission last_mission.slug %}" title="{{last_mission.name}}">activities</a>
                {% else %}
                <a class="red" href="{% url missions:index %}" title="mission">activities</a>
                {% endif %}
                results &#8212; and don't forget to see how the community spent its 
                <a class="red" href="{% url values:index %}">tokens</a>!
                </p>
                <p>{% trans "Thanks for playing!" %}</p>
                </div>
            {% endif %}
            
            <div class="feed">
                <h3>{% trans "Latest Events" %}</h3>
                <table>
                    <tbody>
                        {% for activity in log %}
                        <tr class="{% cycle "odd" "even" %}">
                            <td>{{activity.date|date:"m/d/Y"}}</td>
                            <td>
                                <a href="{% url accounts_profile activity.user.id %}">{{activity.user.get_profile.screen_name}}</a>
                                {{activity.data}} 
                                {% if activity.url %}
                                    <a href="{{activity.url}}">{{activity.action}}</a>
                                {% else %}
                                    {{activity.action}}
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr><td class="odd">No news found.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <p>
                <a href="{% url instances:instance user.get_profile.instance.slug %}" class="right button">View more community news</a>
                </p>
            </div>
        {% endif %}
    {% else %}
        <div>The community has not started yet. We will notify you once it has begun.  </div>
        <br>
        <a href="{% url accounts:logout %}">Logout</a>
    {% endif %}
{% endif %}

    <div style="clear:both;"></div>
{% endblock %}

{% block aside %}
{% if leaderboard.count %}
<div class="leaderboard">
    <table>
        <thead>
            <tr><th>Leader</th><th>Board</th></tr>
        </thead>
        <tbody>
        {% for profile in leaderboard %}
            <tr>
                <td><a href="{% url accounts_profile profile.user.id %}">{{profile.screen_name}}</a></td>
                <td>{{profile.totalPoints}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
