{% extends "accounts/base.html" %}
{% load i18n facebook %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block game_login %}
    <a href="" class="btn btn-large btn-primary">{% trans "Sign In" %}</a>
{% endblock %}

{% block content %}
<div class="wrapper">
    <h1>Log In</h1>

    <div class="row">
        <div class="span6">
            <form action="." method="post" id="game-login-form"> 
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                <div class="alert alert-error">{{ form.non_field_errors }}</div>
                {% endif %}
                
                <div>
                {{ form.username }}
                {{ form.username.errors }}
                </div>
                
                <div>
                {{ form.password }}
                {{ form.password.errors }}
                </div>

                {{ form.game_slug }}
                <a href="{% url accounts:password_reset %}">Forgot password?</a>
                
                <div>
                    <input class="btn btn-primary" type="submit" value="Get back to playing!"> New to Community PlanIt? <a href="{# url accounts:register #}">Sign up now</a>!
                </div>
            </form>
        </div>
        <div class="span6">
            {# <a href="" class="btn btn-primary"><i class="glyphicon-facebook glyphicon-white"></i> Login with Facebook</a> #}
            {% facebook_button %}
        </div>
    </div>
</div>
{% endblock %}
