{%extends "layouts/base.html" %}
{% load i18n %}

{%block section%}accounts{%endblock%}

{%block title%}{% trans "Player Login" %}{%endblock%}
{%block page_title%}<h2 id="page_title">{% trans "Player Login" %}</h2>{%endblock%}

{%block aside%}
    <h2>Forgot Password</h2>
    <a href="{% url accounts:forgot %}">{% trans "Reset password" %}</a>
{%endblock%}

{%block main%}
    <div class="pad">
        <form action="" method="post">
            {%if form.errors%}
            <p class="error">{% trans "Sorry, that's not a valid email address or password." %}</p>

                <p>{% trans "Not a member? " %}<a href="{% url instances:instances %}">{% trans "Find your community and sign up now!" %}</a></p>
            {%endif%}
            {%csrf_token%}
            <label for="email">{% trans "Email address:" %}</label>
            {{form.username}}
            <br>
            <label for="password">{% trans "Password:" %}</label>
            {{form.password}}

            <br><br>
            <input type="submit" class="button submit" value="Login">
            <input type="hidden" name="next" value="{% url accounts:dashboard %}" />
        </form>
    </div>
{%endblock%}
