{%extends "layouts/base.html"%}

{%block section%}accounts{%endblock%}

{%block title%}Dashboard{%endblock%}
{%block page_title%} {{player.get_profile.first_name}} {{player.get_profile.last_name}} {%endblock%}

{%block main%}
    <h2>
        {%if request.user and not player == request.user and not request.user.username = ''%}
            {%if player not in request.user.get_profile.following.all%}
                <a class="button" href="/player/follow/{{player.id}}">Follow</a>
            {%else%}
                <a class="button" href="/player/unfollow/{{player.id}}">Unfollow</a>
            {%endif%}
            <a href="/flag/account/{{player.id}}" class="button">Flag User</a>
        {%endif%}

    </h2>
    <p class="highlighted">
        {%if player.get_profile.avatar%}
            <img class="left avatar-large" src="{{MEDIA_URL}}/{{player.get_profile.avatar}}">
        {%else%}
            <img class="left avatar-large" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
        {%endif%} 
        <!--Lives in East Boston, works in Fort Point and Plays in Fort Point.-->
        {{player.first_name}} has <span class="highlight">{{player.get_profile.points}}</span> points, is following <a class="highlight" href="/list/following/{{player.id}}">{{player.get_profile.following.all|length}}</a></span> players is followed by <a class="highlight" href="/list/followers/{{player.id}}">{{followingme|length}}</a> players{%if user.get_profile.affiliations_csv|length%}
         , and is affiliated with
         {%for a in player.get_profile.affiliations_csv %} 
                {% if forloop.counter == user.get_profile.affiliations_csv|length %}
                and 
                {%endif%}
                <a href="/affiliation/{{a}}" class="highlight">{{a}}</a>{% if forloop.counter < user.get_profile.affiliations_csv|length %}, {%endif%}{%endfor%}.
        {%else%}.{%endif%}
    </p>    
    <hr class="clear">
    <div class="twothird">
        <h3>{{player.get_profile.first_name}} {{player.get_profile.last_name}}'s Activity Log</h3>
        {%if log|length%}
        <ul class="listless listview feed">
            {%for activity in log%}
            <li class="listitem {{activity.type}}">
                {%if activity.user.get_profile.avatar%}
                    <img class="avatar" src="{{MEDIA_URL}}/{{activity.user.get_profile.avatar}}">
                {%else%}               
                    <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
                {%endif%} 
                <a href="/player/{{activity.user.id}}">{{activity.user.get_profile.first_name}} {{activity.user.get_profile.last_name|slice:":1"}}</a>
                {{activity.data}} 
                {%if activity.url%}
                    <a href="{{activity.url}}">{{activity.action}}</a>
                {%else%}
                    {{activity.action}}
                {%endif%}
                <div class="timestamp fine">{{activity.date|date:"F j, Y, g:i a"}}</div>
            </li>
            {%endfor%}
        </ul>
        {%else%}
            No activities created.   
        {%endif%}
    </div>
    
    <div class="third last">        
        <div class="modules">
            <h3><a class="highlight" href="/list/following/{{player.id}}">Following <span class="fine">({{player.get_profile.following.all|length}})</span></a></h3>
            <div class="dashboardmodule">
                <div class="dashboardmoduleinner profile">
                    <div class="profile-content">
                        <hr class="space">
                        {%if player.get_profile.following.all %}
                          {% for player in player.get_profile.following.all %}
                              {%if player.get_profile.avatar %}
                                  <a href="/player/{{player.id}}"><img alt="player.get_profile.first_name player.get_profile.last_name" class="avatar" src="{{MEDIA_URL}}/{{player.get_profile.avatar}}"></a>
                              {%else%}               
                                  <a href="/player/{{player.id}}"><img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg"></a>
                              {%endif%} 
                          {%endfor%}
                        {%else%}
                           {{player.get_profile.first_name}} is not following anyone.
                        {%endif%} 
                    </div>
    
                    <div style="clear:both;"></div>
                </div>
            </div>
            
            <hr class="space">

            <h3><a class="highlight" href="/list/followers/{{player.id}}">Followers <span class="fine">({{followingme|length}})</span></a></h3>
            <div class="dashboardmodule">
                <div class="dashboardmoduleinner profile">
                    <div class="profile-content">
                        <hr class="space">
                        {%if followingme %}
                          {% for player in followingme %}
                              {%if player.get_profile.avatar %}
                                  <a href="/player/{{player.id}}"><img alt="player.get_profile.first_name player.get_profile.last_name" class="avatar" src="{{MEDIA_URL}}/{{player.get_profile.avatar}}"></a>
                              {%else%}               
                                  <a href="/player/{{player.id}}"><img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg"></a>
                              {%endif%} 
                          {%endfor%}
                        {%else%}
                           {{player.get_profile.first_name}} is not following anyone.
                        {%endif%} 
                    </div>
    
                    <div style="clear:both;"></div>
                </div>
            </div>
            
            <hr class="space">
            
        </div>
    </div>
    
    
    <div style="clear:both;"></div>
{%endblock%}

{%block footer%} {%endblock%}
