{% extends "layouts/base.html" %}
{% load i18n %}

{%block section%}accounts{%endblock%}
{%block title%}{% trans "Update Your Profile" %}{%endblock%}
{%block page_title%}
{%endblock%}
{%block main%}
    <div class="profile-wrapper">
    {%if profile_form.errors %}
    <p class="error">{% trans "Please correct the errors below" %}</p>
    {%endif%}
        <div class="left half">
            <h2>{% trans "Update Your Profile" %}</h2>
                <div>
                    <label style="font-size: .75em; font-style:italic;">* denotes a required field</label>
                </div>
            <form enctype="multipart/form-data" action="" method="post">
                <input type="hidden" name="form" value="updated_profile">
                {%csrf_token%}
                <div class="fieldWrapper">
                    {{ profile_form.first_name.label_tag }}
                    {{ profile_form.first_name }}
                    {{ profile_form.first_name.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ profile_form.last_name.label_tag }}
                    {{ profile_form.last_name }}
                    {{ profile_form.last_name.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ profile_form.email.label_tag}}
                    {{ profile_form.email }}
                    {{ profile_form.email.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ profile_form.receive_email.label_tag}}
                    {{ profile_form.receive_email }}
                    {{ profile_form.receive_email.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ profile_form.preferred_language.label_tag }}
                    {{ profile_form.preferred_language }}
                    {{ profile_form.preferred_language.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ profile_form.stake.label_tag }}
                    {{ profile_form.stake }}
                    {{ profile_form.stake.errors }}
                </div>
                <div class="fieldWrapper">
                    {{ profile_form.affiliations.label_tag }}
                    {{ profile_form.affiliations.help_text }}
                    {{ profile_form.affiliations }}
                    {{ profile_form.affiliations.errors }}
                </div>
                <div class="fieldWrapper">
                    <label>{% trans "Your current avatar" %}</label>
                    {%if user.get_profile.avatar%}
                        <img class="avatar-edit" src="{{MEDIA_URL}}{{user.get_profile.avatar}}">
                    {%else%}
                        <img class="avatar-edit" src="{{MEDIA_URL}}img/avatar-blank.jpg">
                    {%endif%}
                    
                    <label class="clear" for="id_stake">{% trans "New Avatar (leave empty to keep)" %}</label>
                    {{ profile_form.avatar }}
                    {{ profile_form.avatar.errors }}
                </div>
                
                <input type="submit" class="button submit" value="Update Profile" />
            </form>
        </div>
        <div class="right third">
            <h2>{% trans "Change Your Password" %}</h2>
            <form action="" method="post">
                <input type="hidden" name="form" value="change_password">
                {%csrf_token%}
                {%if change_password_form.errors%}
                {{change_password_form.errors}}
                {%endif%}
                <div><label>{% trans "Password" %}</label></div>
                {{change_password_form.password}}
                <div><label>{% trans "Password again to confirm" %}<label></label></div>
                {{change_password_form.confirm}}
                <br>
                <input type="submit" class="button submit" value="Change Password" />
                <hr class="space">
            </form>

        </div>
        
        <div style="clear:both;"></div>
    </div>
{%endblock%}
