{% extends "accounts/register_base.html" %}
{% load i18n %}

{% block section %}accounts{% endblock %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block page_title %}
<h2 id="page_title">{% blocktrans %}Registration: Step {{step}} of {{step_count}}{% endblocktrans %}</h2>
{% endblock %}

{% block main %}
    {% if form.errors or form.non_field_errors or wizard_error %}
    <div id="form_errors" class="error">
        {% trans "Please correct the errors below." %}
        {{form.non_field_errors.as_ul}}
        {{wizard_error}}
    </div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="{{step_field}}" value="{{step0}}"/>
        {{previous_fields|safe}}

        <div class="left half">
            {{form.first_name.label_tag}}
            {{form.first_name}}
            {{form.first_name.errors}}

            {{form.last_name.label_tag}}
            {{form.last_name}}
            {{form.last_name.errors}}

            {{form.email.label_tag}}
            {{form.email}}
            {{form.email.errors}}

            {{form.password.label_tag}}
            {{form.password}}
            {{form.password.errors}}

            {{form.password_again.label_tag}}
            {{form.password_again}}
            {{form.password_again.errors}}

        </div>
        <div class="left half">
            {{form.instance_id.label_tag}}
            {{form.instance_id}}
            {{form.instance_id.errors}}

            {{form.preferred_language.label_tag}}
            {{form.preferred_language}}
            {{form.preferred_language.errors}}

            {{form.city.label_tag}}
            {{form.city}}
            {{form.city.errors}}

            {{form.zip_code.label_tag}}
            {{form.zip_code}}
            {{form.zip_code.errors}}

            {{form.birth_year.label_tag}}
            {{form.birth_year}}
            {{form.birth_year.errors}}
        </div>
        <div class="clear">
            {{form.accepted_terms.label_tag}}
            {{form.accepted_terms}}
            {{form.accepted_terms.errors}}
        </div>
        <div class="clear">
            {% if step == step_count %}
            <input class="button submit" type="submit" value="Register">
            {% else %}
            <input class="button submit" type="submit" value="Continue">
            {% endif %}
        </div>
    </form>
{% endblock %}
