{% extends "accounts/register_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Register</h1>{% csrf_token %}
    <div>
        
        {% if form.errors %}
        <div id="id_reg-form-errors" style="color:red;">{{ form.errors }}</div>
        {% endif %}
        <form action="." method="post"> {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
    </div>
{% endblock %}
