{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<form action="" method="post"> {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_p }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_p }}
    {% endif %}


    {% if step == step_count %}
        <input class="btn btn-primary" type="submit" value="Register">
    {% else %}
        <input class="btn btn-primary" type="submit" value="Start Playing!">
    {% endif %}
</form>
{% endblock %}
