{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<h1>Sign Up</h1>

<form action="" method="post"> {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_p }}
        {% endfor %}
    {% else %}
        {{ wizard.form.as_p }}
    {% endif %}

    <div>
        <div class="column-half">
            <div class="column-container-40">
                <h2>Sign In</h2>
                <div id="id_login-form-errors" style="color:red;"></div>
                <form class="accounts-form" id="id_login-form" action="{% url accounts:login %}" method="post"> {% csrf_token %}
                    {{ form.as_p}}
                    <div class="clear">
                        <input class="btn-blue submit" id="id_login-form-submit" type="submit" value="Get back to playing!">
                    </div>
                </form>
                
                <br />
                <p>
                    <a href="{% url accounts:password_reset %}">Forgot your password?</a>
                    Please email <a href="mailto:info@communityplanit.org">info@communityplanit.org</a>
                </p>
            </div>
        </div>
        <div class="column-half">
            <div class="column-container-40">
                <h2>Sign Up</h2>
                <form class="accounts-form" action="" method="post"> {% csrf_token %}
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form.as_p }}
                        {% endfor %}
                    {% else %}
                        {{ wizard.form.as_p }}
                    {% endif %}

    {% if step == step_count %}
        <input class="btn btn-primary" type="submit" value="Register">
    {% else %}
        <input class="btn btn-primary" type="submit" value="Start Playing!">
    {% endif %}
</form>
{% endblock %}
