{% extends "layouts/base.html" %}

{% load game_extras %}

{% block section %}missions rightsidebar{% endblock %}

{% block title %}Missions{% endblock %}
{% block page_title %}
<h2 id="page_title">
{% if instance.is_expired %}
    {{instance}} is not active at this time.
{% else %}
    Current Mission{{missions.active.count|pluralize}}
{% endif %}
</h2>
{% endblock %}

{% block main %}
<ul class="listless">
{% for mission in missions.active %}
    <li>
        <a href="{% url missions_mission mission.slug %}">{{mission.name}}</a>
        <span class="dates">
            {{mission.start_date|date:"m/d/Y"}} &#8211; {{mission.end_date|date:"m/d/Y"}}
        </span>
        <div class="description">{{mission.description|linebreaksbr}}</div>
    </li>
{% empty %}
    <li>There are no active missions at this time.</li>
{% endfor %}
</ul>

<h2>Upcoming Missions</h2>
<ul class="listless">
{% for mission in missions.future %}
    <li>
        <a href="{% url missions_mission mission.slug %}">{{mission.name}}</a>
        <span class="dates">
            {{mission.start_date|date:"m/d/Y"}} &#8211; {{mission.end_date|date:"m/d/Y"}}
        </span>
    </li>
{% empty %}
    <li>There are no upcoming missions at this time.</li>
{% endfor %}
</ul>
{% endblock %}
