{% extends "base_city.html" %}
{% load gmap i18n game_extras cpi_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}missions/css/styles.css">
{% endblock %}

{% block title %}{% trans "Mission" %}{% endblock %}

{% block body_class %}{{ block.super }} section-missions{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <h1>{{ mission.title }}</h1>
    </div>
    <div id="mission-intro">
        <div class="column-missionintro">
            <div class="column-container">
                <p>{{ mission.description }}</p>
            </div>
        </div>
        <div class="column-missionvideo">
            <div class="column-container">
                <div id="mission-video-container">{# embed_video mission.video #}</div>
            </div>
        </div>
    </div>
    
    {% block activities_list %}

    {% endblock %}
</div>
{% endblock %}
