{% extends "layouts/base.html" %}
{% load attachment_tags gmap i18n game_extras cpi_tags %}
{% block section %}missions{% endblock %}

{% block title %}{{ mission.name }} {% trans "Mission" %}{% endblock %}
{% block page_title %}{% endblock %}

{% block main %}
<h2>{{ mission.name }}</h2>

{% if mission.is_future %}
<p class="notice">This mission has not yet started.  Check back on {{ mission.start_date|date:"m/d/Y" }} to join the conversation.</p>
{% endif %}

{% if mission.is_expired %}
<p class="notice">{% blocktrans with end_date=mission.end_date|date:"F j, Y" %}This mission ended on {{ end_date }}.{% endblocktrans %}</p>
{% endif %}

{% if not mission.is_future %}
	{% if mission.video %}
	<div class="left video">{% embed_video mission.video %}</div>
	<div class="description" style="margin-left: 340px;">
	    {{mission.description|linebreaksbr}}
	</div>
	{% else %}
	<div class="description">
	    {{mission.description|linebreaksbr}}
	</div>
	{% endif %}
{% endif %}


{% if not mission.is_future %}
	{% if mission_completed %}
	<br/>
	{% trans "You completed all the activities in this mission." %}  
	{% trans "Congratulations!" %}
	{% trans "Now, you can look at the activities again to see what others have said, reply to and like comments, and create challenges." %}
	{% if next_mission %}  
	    {% trans "Be sure to come back again on" %} <b>{{ next_mission.start_date|date:"m/d/Y" }}</b> {% trans "when the new mission starts." %}
	{% else %}
	    {% trans "This is the last mission." %}  
	    {% trans "Hope to see you at the town hall meeting to discuss what happened and plan for next steps." %}
	{% endif %}
	{% endif %}
{% endif %}

<h3 class="clear">
{% if activities and mission.is_active %}
    {% trans "You've completed" %} {{ completed|length }}/{{ activities|length }} {% trans "activities" %}:
{% else %}
    {% trans "Activities" %}:
{% endif %}</h3>
<div><a href="{% url activities:new mission.slug %}">create a new activity</a></div>
<table class="activities">
    <tbody>
    {% for activity in activities %}
        <tr class="{% cycle 'odd' 'even' %}">

            {% if mission.is_expired %}
                <td colspan="3" class="{{activity.type.type}}_activity">
                    <a href="{{ activity.get_overview_url }}">{{ activity|trans_fallback:"name" }}</a>
                </td>
            {% else %}
                {% if mission.is_future %}
                        <td colspan="3" class="{{activity.type.type}}_activity">{{ activity|trans_fallback:"name" }}</td>
                {% else %}
                    {% if activity in completed %}
                        <td class="{{activity.type.type}}_activity">
                            <a href="{{ activity.get_activity_url }}">{{ activity|trans_fallback:"name" }}</a>
                        </td>
                        <td>{{ activity.getPoints }} {% trans "pts" %}</td> 
                        <td class="final">
                            <a href="{{ activity.get_activity_url }}"><img src="{{MEDIA_URL}}img/check.png" alt="completed"></a>
                        </td>
                    {% else %}
                        <td class="{{activity.type.type}}_activity">
                            <a href="{{ activity.get_activity_url }}">{{activity|trans_fallback:"name"}}</a>
                        </td>
                        <td>{{ activity.getPoints }} pts</td> 
                        <td class="final">
                            <a href="{{ activity.get_activity_url }}"><img src="{{MEDIA_URL}}img/go.png" alt="try it!"></a>
                        </td>
                    {% endif %}
                {% endif %}
            {% endif %}

        </tr>
            {% empty %}
        <tr>
            <td colspan="2">{% trans "No activities found" %}.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
