{% extends 'missions/base.html' %}
{% load gmap i18n game_extras cpi_tags thumbnail %}
{% load static from staticfiles %}

{% block js %}
{{ block.super }}
    <script src="{% static '/static/js/bootstrap-modal.js' %}" type="text/javascript"></script>
{% endblock js %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .modal-body{ max-height: 700px; }
    </style>
{% endblock css %}


{% block extra_head %}
    {% if show_demog_form %}
    <script>
        $(function(){
            $('#myModal').modal('toggle');
        });
    </script>
    {% endif %}
{% endblock extra_head %}

{% block body_id %}page-mission-details{% endblock %}

{% block content %}
<div class="wrapper faux-modal">
    <div class="close close-faux-modal"><a href="{% url missions:challenges:challenges mission.pk %}">×</a></div>
    <div class="row">
        <div class="span1">
            <a id="mission-details-prev"></a>
        </div>
        <div class="span7">
            <h1>{{ mission.title }}</h1>
            <p>
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/610x343" alt="">
                </a>
                {# {% embed_video mission.video %} #}
            </p>
            <p>{{ mission.description }}</p>

            <p class="align-center"><a href="{% url missions:challenges:challenges mission.pk %}" class="btn btn-primary btn-large">Resume Mission</a></p>

        </div>
        <div class="span3">
            <a href="" class="btn btn-primary btn-large">Bank</a><br><br>
            <a href="" class="btn btn-primary">Community</a>
            <a href="" class="btn btn-primary">Resources</a><br><br>
            
            <div class="well">
                <h1>Recent Activity</h1>
                <ul>
                    <li>Activity</li>
                    <li>Activity</li>
                    <li>Activity</li>
                    
                </ul>
            </div>
        </div>
        <div class="span1"><a id="mission-details-next"></a></div>
    </div>
</div>

{% if show_demog_form %}
<div class="modal hide" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h1>Welcome to Community PlanIt</h1>
    </div>
    <div class="modal-body">
        <p>You're almost there! Community PlanIt is a planning platform used to help the community plan... Why don't you tell us a little bit about yourself?</p>
        <form class="accounts-form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}            
            <img src="{{ STATIC_URL }}img/avatar-blank.png" width="220" height="220">
            <p>
                <label>Upload an image to use as your avatar</label>
                {{ form.avatar }}
                {{ form.avatar.errors }}
            </p>
            <p> 
                <label>What's your stake in the community?</label>
                {{ form.stakes }}
                {{ form.stakes.errors }}
            </p>
            <p>
                {{ form.affiliations.label_tag }} 
                <label>What groups are you affiliated with?</label>
                {{ form.affiliations }}
                {{ form.affiliations.errors }}
            </p>
            <p>
                {{ form.affiliations_other.label_tag }} 
                {{ form.affiliations_other }} 
                {{ form.affiliations_other.errors }}
            </p>
            <p>
                {{form.tagline.label_tag}}
                {{form.tagline}}
                {{form.tagline.errors}}
                <span class="reply-comment-counter counter">(<span class="count">140</span> {% trans "chars left" %})</span>
            </p>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</div>
{% endif %}
{% endblock %}
