{%extends "layouts/base.html"%}

{%block section%}challenges{%endblock%}

{%block title%}Add | Challenges{%endblock%}
{%block page_title%}{%endblock%}

{%block content-title%}
    {%if instance%}
        {{instance}}
    {%else%}
        {%if session%}
            {{session}} has not started yet
        {%else%}
            Not associated with a session.
        {%endif%}
    {%endif%}
{%endblock%}
{%block main%}
    <div class="narrow game-wrapper">
        <h2>Create new Challenge</h2>
        <form action="" method="POST">
            {%csrf_token%}
            <input type="hidden" class="defaults" value='{"zoom": 14, "coordinates": {{location}} }'>
            {{form.as_p}}
            <input type="submit" class="button submit" value="Create Challenge">
        </form>
    </div>
{%endblock%}
    
{%block body%}
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/admin/gmapsfield/admin/admin.js"></script>
    <script src="{{MEDIA_URL}}3pty/js/date.js" type="text/javascript" charset="utf-8"></script>
    <script>
        jQuery(function($) {
            $(".add-map, .remove-map").remove();

            $("#id_end_date").datetimepicker({
                    hourGrid: 6,
                    minuteGrid: 10,
                	ampm: false
                });
            
            $("#id_start_date").datetimepicker({
                hourGrid: 6,
                minuteGrid: 10,
            	ampm: false
            });
        });
    </script>
{%endblock%}
