{% extends "base_game.html" %}
{% load i18n cpi_tags %}

{% block title %}Challenges{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(function(){
            $('.carousel-controls-previous').click(function(){
                $this = $(this);
                var $slide = $this.parent().find('.carousel-slide');
                $slide.animate({
                    'margin-left': '+=320',
                });
            });
            $('.carousel-controls-next').click(function(){
                $this = $(this);
                var $slide = $this.parent().find('.carousel-slide');
                $slide.animate({
                    'margin-left': '-=320',
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="wrapper">
    
    <h1>{{mission}}</h1>
    <div>
        <p>{% trans "By answering challenge questions you are helping plan your community, and you are earning points that move you towards accomplishing the mission." %}</p>
    </div>
    
    <div class="minimap">
        {% for challenge in challenges %}
            <div class="challenge {% if forloop.last %}challenge-final challenge-locked{% elif forloop.counter|divisibleby:4 %}challenge-barrier challenge-locked{% elif forloop.counter > 4 %}challenge-locked{% endif %}">
                {# Examples #}
                {% if forloop.last %}
                    <i class="icon-flag"></i>
                {% elif forloop.counter|divisibleby:4 %}
                    <i class="icon-exclamation-sign"></i>
                {% elif forloop.counter > 4 %}
                    <i class="icon-lock"></i>
                {% endif %}
            </div>
        {% endfor %}
    </div>

</div>



<div id="challenges" class="carousel">
    <!-- Carousel Controls -->
    <div class="carousel-controls carousel-controls-previous"></div>
    <div class="carousel-controls carousel-controls-next"></div>
    <!-- Carousel Clip -->
    <div class="wrapper carousel-clip">
        <!-- Carousel Slide -->
        <div class="row box-shadow-container challenges-container carousel-slide">
        {% for challenge in challenges %}
            {% with challenge.get_points as points and challenge.completed_count as completed_count and challenge.activity_type_readable as activity_type %}

            {% if mission.is_expired %}
                <div class="challenge {% if challenge.is_trivia %}challenge-trivia{% else %}{{ activity_type }}{% endif %} span4">
                    <h2>{{ challenge|trans_fallback:"name" }}</2>
                    <div>{{ activity_type }}</div>
                    <div class="meta"><i class="icon-comment"></i> {{ completed_count }}</div>
                    <div class="action"><a href="{{ challenge.overview_url }}" class="btn btn-primary">Review</a></div>
                </div>
            {% elif mission.is_future %}
                    {# Non-started Mission #}
                    <div class="challenge challenge-inactive {% if challenge.is_trivia %}trivia{% else %}{{ activity_type }}{% endif %} span4">
                        <h3>{{ challenge|trans_fallback:"name" }}</div>
                        <div>{{ activity_type }}</div>
                        <div><a>{{ activity|trans_fallback:"name" }}</a></div>
                    </div>
            {% else %}
                    {# Active Mission #}
                    {% if challenge in my_completed %}
                    {#  completed challenge #}
                    <div class="challenge challenge-completed {% if challenge.is_trivia %}challenge-trivia{% else %}{{ activity_type }}{% endif %} span4">
                        <h3>{{ challenge|trans_fallback:"name" }}</h3>
                        <div>{{ activity_type }}</div>
                        <div class="meta"><i class="icon-comment"></i> {{ completed_count }}</div>
                        <div class="action"><a href="{{ challenge.overview_url }}" class="btn btn-primary">Review</a></div>
                    </div>
                    {% else %}
                    {# fresh activity #}
                    <div class="challenge {% if challenge.is_trivia %}challenge-trivia{% else %}{{ activity_type }}{% endif %} span4">
                        <h3>{{ challenge|trans_fallback:"name" }}</h3>
                        <div>{{ activity_type }}</div>
                        <div class="meta"><i class="icon-comment"></i> {{ completed_count }}</div>
                        <div class="action"><a href="{{ challenge.play_url }}" class="btn btn-primary">View Challenge</a></div>
                    </div>
                    {% endif %}
            {% endif %}
            {% endwith %}
        {% empty %}
            {% trans "There are currently no activities for this mission. Check back later." %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}