{% extends "layouts/base.html" %}
{% load game_extras i18n %}

{% block title %}{% trans "Challenges" %}{% endblock %}
{% block page_title %}
<h2 id="page_title">{% trans "Current Challenges" %}</h2>
{% endblock %}

{% block section %}challenges{% endblock %}
{% block extra_body_class %}rightsidebar{% endblock %}

{% block rightsidebar %}
{% if not instance.is_expired %}
    <div class="sectionbutton">
        <a href="{% url challenges:add %}" class="button">{% trans "Create a Challenge" %}</a>
    </div>

    <div class="section">
        <h2>{% trans "Completed challenges" %}</h2>
        <div class="challenges">
            <table>
                <tbody>
                {% for challenge in request.user.player_challenges.completed %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>
                            <a href="{% url challenges:challenge challenge.challenge.pk %}">{{challenge.challenge.name}}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="odd">
                        <td>{% trans "No completed challenges found" %}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h2>{% trans "Past Challenges" %}</h2>
        <div class="challenges">
            <table>
                <tbody>
                {% for challenge in instance.challenges.past %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>
                            <a href="{% url challenges:challenge challenge.pk %}">{{challenge.name}}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="odd">
                        <td>{% trans "No past challenges found" %}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block main %}
{% if not instance.is_expired %}
    <ul class="challenge_list">
    {% for challenge in new_challenges %}
    <li class="challenge">
        <a href="{% url challenges:challenge challenge.pk %}">
            {{challenge.name}}<span>{% get_points for completed challenge %} {% trans "points" %}</span>
            <br/>
            <span class="dates">{{challenge.start_date|date:"m/d/Y"}} &#8211; {{challenge.end_date|date:"m/d/Y"}}</span>
        </a>
    </li>
    {% empty %}
    <li>
    {% trans "There are no active challenges" %}. <a href="{% url challenges:add %}" class="button">{% trans "Create one!" %}</a>
    </li>
    {% endfor %}
    </ul>
{% else %}
<h2>{{instance}} {% trans "has ended" %}.</h2>
    <div class="gridview listless">
        {% trans "You may not add or accept new challenges" %}.
    </div>
{% endif %}

{% endblock %}
