{% extends "challenges/base_challenge.html" %}
{% load i18n avatar %}

{% block content_challenge %}
    <div>
        <h2>{{ challenge.question|safe }}</h2>

        {% block response %}
            <div class="response">
                <form id="id_activity-form" enctype="multipart/form-data" action="." method="post">{% csrf_token %}
                    <div><strong>coins needed to play this barrier: {{ challenge.minimum_coins_to_play }} </strong> </div>

                    <div class="answerchoices-container">{{ form.selected }}</div>

                    {% if not fifty_fifty and not challenge in mst.barriers_fifty_fifty.all %}
                    <!--button class="btn btn-primary btn-large"-->
                    <a href="{{ challenge.fifty_fifty_url }}">50/50</a>
                    <!--/button-->
                    {% endif %}
                    {% include 'comments/_add.html' %}

                </form>
            </div>
        {% endblock %}
    </div>
{% endblock %}
