{% extends "challenges/base.html" %}
{% load i18n avatar %}
{% block title %}{{ challenge.get_challenge_type_display }}{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="challenges">
        <div class="wrapper box-shadow-container">
            <div id="challenge" class="challenge">
                <a class="close" href="{% url missions:challenges:challenges challenge.mission.pk %}">×</a>

                <h1>{{ challenge.title|safe }}</h1>
                <span><i class="glyphicon-credit"></i> {{ challenge.mission.challenge_coin_value }}</span>
                
                {% block content_challenge %}
                {% endblock %}

                <div id="challenge-discussion">
                    <h2 class="header-discussion">Discussion</h2>
                    {% block comments %}
                        <p>Once you are done, you will be able to view everyone's responses. {% if request.user in challenge.mission.instance.curators.all %}But since you are a curator for this game, you can just skip ahead to the <a href="{{ challenge.overview_url }}">Overview</a>.{% endif %}</p>
                    {% endblock %}
                </div>
            </div>
            <a id="challenge-prev" class="challenge" href="{{ challenge.get_previous_challenge.play_url }}">
                <h3>{{ challenge.get_previous_challenge.title }}</h3>
            </a>
            <a id="challenge-next" class="challenge" href="{{ challenge.get_next_challenge.play_url }}">
                <h3>{{ challenge.get_next_challenge.title }}</h3>
            </a>
        </div>
    </div>
{%endblock%}
