{% extends "base_game.html" %}
{% load i18n %}


{% block js %}
    {{ block.super }}
    {% comment %}
    DO NOT DELETE, temp commented
    {# masonry is required to display comments correctly #}
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}js/sijax.js"></script>
    <script src="{{ STATIC_URL }}js/comments.js"></script>
    
    {# TODO: Move this to activities/static/activities/js/scripts.js #}
    <script>
    jQuery(function($) {
        
        {# include "js/ajax_csrf.html" #}
        /* Summary Graph */
        /* calculate total */
        var activity_response_total = 0;
        $('.activity-response-summary-choice-percentage').each(function(index){
            activity_response_total += parseInt($(this).attr('data-summary-count'));
        });
        
        /* calculate percentages and animate */
        $('.activity-response-summary-choice-percentage').each(function(index){
            var activity_response_percentage = Math.round((parseInt($(this).attr('data-summary-count'))/activity_response_total)*100);
            $(this).animate({
                width: activity_response_percentage+'%'
            }, 2000);
        });
      {{ create_comment_sijax_js|safe }}
        
    });
    </script>
    {% endcomment %}
{% endblock %}


{% block content %}
<div class="wrapper">
    <h1>{{ mission }}</h1>

    <div class="minimap">
        {% if mission.get_previous_mission %}<a href="{% url missions:challenges:challenges mission.get_previous_mission.id %}" class="badge">Previous Mission</a>{% endif %}
        {% for challenge in challenges %}
            <div class="challenge challenge-{{ challenge.challenge_type_shortcut }}">
                {# Examples #}
                {% if forloop.first %}
                    <i class="icon-user"></i>
                {% endif %}
                {% if challenge.is_locked %}
                    <i class="icon-lock"></i>
                {% endif %}
                {% ifequal challenge.challenge_type_shortcut 'final-barrier' %}
                    <i class="icon-flag"></i>
                {% endifequal %}
                {% ifequal challenge.challenge_type_shortcut 'barrier' %}
                    <i class="glyphicon-flash"></i>
                {% endifequal %}
            </div>
        {% endfor %}
        {% if mission.get_next_mission %}<a href="{% url missions:challenges:challenges mission.get_next_mission.id %}" class="badge">Next Mission</a>{% endif %}
        <div class="window"></div>
    </div>
</div>
{% endblock %}