{%extends "layouts/base.html"%}
{%load gmap%}
{%block section%}challenges{%endblock%}
{%block title%}Challenge{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <div class="fourfifth">
        <h2>
            {{challenge.name}}
            {%if completed%}<span class="fine highlight">Completed!</span>{%endif%}
        </h2>
        
        <h3 class="black">{{challenge.description}}</h3>


        {%if challenge.is_active%}
            <hr class="space">
            {%if not playerchallenge_accepted and not completed%}
                <a class="button" href="/challenge/{{challenge.id}}/accept">I'll do it</a>
                <a class="button orange" href="/challenge/{{challenge.id}}/decline">No Thanks</a>
            {%endif%}
        {%else%}
            {%if challenge.is_expired%}
                This challenge has expired.
            {%else%}
                This challenge has not yet started.
            {%endif%}
        {%endif%}

        <hr class="space">

        {{challenge.map|show}}

        <hr class="space">
        {% if playerchallenge_accepted and not completed %}
            <h4>You've accepted this challenge</h4>
            
            <h3>Provide evidence to complete this challenge:</h3>
        
            <form enctype="multipart/form-data" action="/challenge/{{challenge.id}}/complete/" method="POST">
                {%csrf_token%}

                <a id="add-video" href="#add-video" class="">Add Youtube Video</a> or <a id="add-picture" href="#add-picture" class="">Add Picture</a>
                <div class="add-video modal">
                    <label for="yt-url">Youtube Embed Code</label> <textarea id="yt-url" type="text" maxlength="255"></textarea>
                </div>
                <input type="hidden" name="yt-url">
                <div class="hidden"></div>
                <div class="add-picture modal">
                    <label for="picture">Add picture to comment</label> <input id="picture" type="file">
                </div>

                <hr class="space">
                <input class="button" type="submit" value="Complete challenge">
            </form>
            <hr class="space">
        {%endif%}
        {%if playerchallenge_all|length%}
            {%for pc in playerchallenge_all.all%}
                {% if pc.attachments.all %}
                    {%for attachment in pc.attachments.all%}
                        {%if pc.player.user.get_profile.avatar%}
                            <img class="avatar" src="{{MEDIA_URL}}/{{pc.player.get_profile.avatar}}">
                        {%else%}               
                            <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
                        {%endif%} 
                        <h4>
                            {{pc.player.get_profile.first_name}} {{pc.player.get_profile.last_name|slice:":1"}}. completed this challenge 
                            and provided the following evidence
                            <!-- on {{pc.response.posted_date|date:"F j, Y, g:i a"}}-->
                        </h4>
                        {%if attachment.type == 'video'%}
                          {{attachment.url|safe|escape}}
                        {%else%}
                          <a class="thumbnail" href="{{attachment.file.url}}">
                            <img src="{{attachment.file.url}}">
                          </a>
                        {%endif%}
                    {%endfor%}
                    <hr class="space">

                {% else %}
                    {%if pc.player.user.get_profile.avatar%}
                        <img class="avatar" src="{{MEDIA_URL}}/{{pc.player.get_profile.avatar}}">
                    {%else%}               
                        <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
                    {%endif%} 
                    <h4>
                        {{pc.player.get_profile.first_name}} {{pc.player.get_profile.last_name|slice:":1"}}. completed this challenge 
                    </h4>
                    {% endif %}
            {%endfor%}
        {%else%}
            <h4>No one has completed this challenge</h4>
        {%endif%}
    </div>
    <div class="fifth right">
        <a class="right red normal" href="/flag/challenge/{{challenge.id}}">Flag challenge</a>
        <hr class="space">
        <div class="dashboardmodule">
            <span class="datenum gray">{{challenge.start_date|date:"M"}} {{challenge.start_date|date:"j"}}</span>
            <span class="fine">{{challenge.start_date|date:"P"}}</span>
            <h3 class="black">Through</h3>
            <span class="datenum gray">{{challenge.end_date|date:"M"}} {{challenge.end_date|date:"j"}}</span>
            <span class="fine">at {{challenge.end_date|date:"P"}}</span>
        </div>
        <hr class="space">
        {% if playerchallenge_accepted|length %}
            <h3>
                <span class="highlight">{{playerchallenge_accepted|length}}</span>
                player{%if playerchallenge_accepted|length > 1%}s{%endif%} {%if playerchallenge_accepted|length > 1%}have{%else%}has{%endif%}
                accepted this challenge and not yet completed it yet
            </h3>
        {% else %}
            {%if playerchallenge_completed|length%}
                <h3>Everyone who has accepted this challenge has completed it.</h3>
            {%else%}
                <h3>No players have accepted this challenge.</h3>
            {%endif%}
        {% endif %}
        <p>
        {%for player in playerchallenge_accepted%}
            {% if not completed %}
                <a href="/player/{{player.player.id}}">
                    {%if player.player.get_profile.avatar%}
                    <img class="avatar" src="{{MEDIA_URL}}/{{player.player.get_profile.avatar}}">
                    {%else%}
                        <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
                    {%endif%} 
                </a>
            {%endif%}
        {%endfor%}
        </p>

        <hr class="space">
    </div>
    <hr class="space">
{%endblock%}

{%block body%}
    {%gmap_includes%}
    <script type="text/javascript">
        $("#complete").bind("click", function(evt) {
            evt.preventDefault();
            
            // Redirect to complete
            window.open("complete/", "_self");

            return false;
        });
    </script>
{%endblock%}
