{% extends "challenges/base.html" %}
{% load i18n cpi_tags thumbnail%}

{% block title %}Challenges{% endblock %}


{% block body_id %}page-challenge-list{% endblock %}

{% block content %}
{{ block.super }}
<div id="challenges" class="carousel">
    <!-- Carousel Controls -->
    <div class="carousel-controls carousel-controls-previous"></div>
    <div class="carousel-controls carousel-controls-next"></div>
    <!-- Carousel Clipping Area -->
    <div class="wrapper carousel-clip">
        <!-- Carousel Slide -->
        <div class="row box-shadow-container challenges-container carousel-slide">
            <div class="challenge mission span4"></div>
            {% with mst.this_mission as mission %}
            {% for challenge in challenges %}
                {% with mission.challenge_coin_value as coins and challenge.completed_count as completed_count and challenge.get_challenge_type_display as challenge_type %}
                    {% if mission.is_expired %}
                        {# mission expired, only allow review #}
                        <div class="challenge {% if challenge.is_trivia %}challenge-barrier{% else %}{{ challenge.challenge_type_shortcut }}{% endif %} span4">
                            <h3>{{ challenge.title }}</h3>
                            <div>{{ challenge_type }}</div>
                            <div class="meta"><i class="glyphicon-credit"></i> {{ coins }} &nbsp;&nbsp; <i class="icon-comment"></i> {{ completed_count }}</div>
                            <div class="action"><a href="{{ challenge.overview_url }}" class="btn btn-primary">Review</a></div>
                        </div>
                    {% elif mission.is_future %}
                        {# Non-started mission, lock everything #}
                        <div class="challenge challenge-locked {% if challenge.is_trivia %}challenge-barrier{% else %}{{ challenge.challenge_type_shortcut }}{% endif %} span4">
                            <h3>{{ challenge.title }}</h3>
                            <div>{{ challenge_type }}</div>
                            <div class="meta"><i class="glyphicon-credit"></i> {{ coins }} </div>
                        </div>
                    {% else %}
                        {# Active Mission #}
                        <div id="challenge-{{ challenge.id }}" class="challenge challenge-{{ challenge.challenge_type_shortcut }} {% if challenge.pk in mst.locked %}challenge-locked{% endif %} {% if challenge.pk in mst.completed %}completed{% else %}not-completed{% endif %} span4">
                            {% ifequal challenge.challenge_type_shortcut 'barrier' %}
                                You are not getting past me until you show me how much you care about the city… Ready for a question? [Yum, I'm ready]
                                <div class="action">
                                    {% if challenge.pk not in mst.locked %}
                                        <a href="{% if challenge.pk in mst.completed %}{{ challenge.overview_url }}{% else %}{{ challenge.play_url }}{% endif %}" class="btn btn-primary">
                                            {% if challenge.pk in mst.completed %}Challenge Overview{% else %}Play Challenge{% endif %}
                                        </a>
                                    {% else %}
                                        <button class="btn disabled">Locked</button>
                                    {% endif %}
                                </div>

                            {% else %}
                                <span class="anchor-comments anchor-comments-white">0</span>
                                <h4>Challenge :</h4>
                                <h3>{{ challenge.title }}</h3>
                                {% comment %}
                                {% thumbnail challenge.thumbnail "300x300" crop="center" as im %}
                                <img src="{{ im.url }}">
                                {% empty %}
                                <img class="challenge-image" src="http://placehold.it/300x300" width="300" height="300" alt="">
                                {% endthumbnail %}
                                {% endcomment %}
                                {# <span class="badge">{{ challenge_type }}</span> #}
                                <div class="action">
                                    {% if challenge.pk not in mst.locked %}
                                        <a href="{% if challenge.pk in mst.completed %}{{ challenge.overview_url }}{% else %}{{ challenge.play_url }}{% endif %}" class="btn btn-primary">
                                            {% if challenge.pk in mst.completed %}Challenge Overview{% else %}Play Challenge{% endif %}
                                        </a>
                                    {% else %}
                                        <button class="btn disabled">Challenge Locked</button>
                                    {% endif %}
                                </div>
                            {% endifequal %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock content %}
