{% extends "challenges/multi.html" %}
{% load gmap i18n avatar %}
{% block title %}{{ challenge.name}} | Multi Response Overview{% endblock %}

{% block response %}        
    <div id="activity-response-summary">
        <h2>Response Summary</h2>
        {% for choice in object.answer_choices.all %}
            <div class="activity-response-summary-choice {% if choice in my_answers %}my-choice{% endif %}">
                {{ choice }}
                <div class="activity-response-summary-choice-percentage" data-summary-count='{{ choice.multiresponse_answers.count }}'>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block comments %}
    {% include 'comments/comments.html' %}
{% endblock %}
