{% extends "player_activities/new_activity_base.html" %}

{% block extra_head %}
{{ block.super }}

    <script src="{{MEDIA_URL}}js/games/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $(".google-map").mapit({{map|safe|escape}});
            $(".remove-map").remove();
        });
    </script>
{% endblock extra_head %}

{% block new_activity_forms %}
<div id="challenge-newform-container">
    <p>Step {{ step }} of {{ step_coSubmitunt }}</p>
    <p>Input possible map points to your map response activity<p/>

        <button class="button add">Add Point</button>
        <button class="button rm">Clear All Points</button>
        <label>Maximum number of points: {{activity.maxNumMarkers}}</label>
        <div>
            <label>Search for a company or address:</label>
            <input type="text" name="google_search" id="google_search" />
        </div>
    
    
        <form id="id_activity-form" enctype="multipart/form-data" action="" method="post" class="narrow">{% csrf_token %}
            <input type="hidden" name="form" value="map">
            <input type="hidden" id="max_points_input" name="max_points_input" value="{{activity.maxNumMarkers}}">
        
            <div class="fieldWrapper">
                {% for x, lat, lon in init_coords %}
                        <input type="hidden" id="init_coords{{x}}" name="init_coords{{x}}" lat="{{lat}}" lon="{{lon}}"/>
                {% endfor %}
                {{form.map.errors}}
                <div id="map" class="google-map" data-type="Point"></div>
            </div>
        
            {% block comment %}{% endblock %}
        
            <div class="markers">
                <input type="submit" name="Submit">
            </div>

        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        </form>


{% endblock new_activity_forms %}
