{% extends "challenges/base_challenge.html" %}
{% load i18n avatar %}

{% block content_challenge %}
    <div>
        <div>{{ challenge.question|safe }}</div>

        {% block response %}
            <div class="response">
                <form id="id_activity-form" enctype="multipart/form-data" action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form" value="open_response">

                    {{ errors.response }}
                    {{ form.value }}
                    {% include 'comments/_add.html' %}

                </form>
            </div>
        {% endblock %}
</div>
{% endblock %}
