{% extends "challenges/open.html" %}
{% load gmap i18n avatar %}
{% block title %}{{challenge.name}} | Open-Ended Response Overview{% endblock %}


{% block response %}
    {% if is_completed or challenge.is_past %}
        {# RESPONSE SUMMARY #}
        {% if myAnswer %}
            <div class="">
                {{ myComment.message }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block comments %}
    {% if is_completed or challenge.is_past %}
        {% if answers.count %}
            {# COMMENTS #}
            <h2>{% trans "Responses" %}</h2>
            <div class="comments embedded">
                {% include 'challenges/_corner_stamp.html' %}
                {% for answer in answers %}
                    {% with comments=answer.comments %}
                        {% for comment in comments.all reversed %}
                            {% with extra_message=answer.selected.value %}
                                {% include "comments/comment.html" %}
                            {% endwith %}                        
                        {% empty %}
                            <div id="no-comments-yet">{% trans "There are no comments yet." %}</div>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% else %}
            <p>{% trans "No responses submitted" %}</p>
        {% endif %}
    {% endif %}
{% endblock %}