{% extends "challenges/open.html" %}
{% load gmap i18n avatar %}
{% block title %}{{challenge.name}} | Open-Ended Response Overview{% endblock %}

{% block response %}


{# RESPONSE SUMMARY #}
<div id="activity-response-summary" class="">
    <div class="activity-response-summary-choice">
        {{ my_answer.value }}
        <div class="activity-response-summary-choice-percentage" data-summary-count='{{ challenge.openended_answers.count }}'></div>
    </div>
</div>
    

{% endblock %}

{% block comments %}
    {# {% include 'comments/comments.html' %} #}
{% endblock %}
