{% extends "challenges/base.html" %}
{% load gmap i18n avatar %}
{% block title %}{{challenge.name}} | Single Response Overview{% endblock %}

{% block content %}
<div class="wrapper challenge challenge-single">
    
    {# HEADERS #} 
    <a class="close" href="{% url missions:challenges:challenges challenge.mission.pk %}">×</a>

    <h1>{{ challenge.name|safe }}<span class="points">{{ challenge.get_points }}</span></h1>
    {% if challenge.is_player_submitted %}<div id="created-by"><a href="{% url accounts:player_profile challenge.creationUser.id %}">{% avatar challenge.creationUser %}</a> created by <a href="{% url accounts:player_profile challenge.creationUser.id %}">{{ challenge.creationUser.get_profile.screen_name }}</a></div>{% endif %}
                        
    {# QUESTION AND YOUR RESPONSE #}
    <div class="column-threequarter">            
        <div class="activity-question">
            {# include "player_activities/attachments.html" #}
            <div>
                {{ challenge.question|safe }}
            </div>
            {% if challenge.is_trivia and is_completed %}
                <div class="activity-question-trivia-result">
                    {% ifequal myAnswer.selected challenge.get_trivia_answer %}
                        <span class="activity-question-trivia-correct">{{ challenge.get_trivia_answer }}</span> is correct! You just earned {{ challenge.get_pointed }} points!
                    {% else %}
                        Sorry! <span class="activity-question-trivia-incorrect">{{ myAnswer.selected }}</span> is incorrect. The correct answer is <span class="activity-question-trivia-correct">{{ challenge.get_trivia_answer }}</span>
                    {% endifequal %}
                </div>
            {% endif %}
            <br class="clearfix" />
        </div>
        
        
        {% if is_completed or challenge.is_past %}
            {# RESPONSE SUMMARY #}
            {% if myAnswer %}
                <div id="activity-response-summary" class="{% if challenge.is_trivia %}activity-type-trivia{% endif %}">
                {% if answers %}
                    {% for choice in choices %}
                        <div class="activity-response-summary-choice {% ifequal choice myAnswer.selected %}my-choice{% endifequal %} {% ifequal choice challenge.get_trivia_answer %}correct-answer{% else %}incorrect-answer{% endifequal %}">
                            {{ choice }}
                            <div class="activity-response-summary-choice-percentage" data-summary-count='{{ choice.singleresponse_answers.count }}'>
                        </div>

                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endif %}
        {% endif %}
        
    </div>
    
    <br class="clearfix" />

    
    {% if is_completed or challenge.is_past %}
        
        {% if answers.count %}
            {# COMMENTS #}
            <h2>{% trans "Responses" %}</h2>
            <div class="comments embedded">
                {% include 'challenges/_corner_stamp.html' %}
                {% for answer in answers %}
                    {% with comments=answer.comments %}
                        {% for comment in comments.all reversed %}
                            {% with extra_message=answer.selected.value %}
                                {% include "comments/comment.html" %}
                            {% endwith %}                        
                        {% empty %}
                            <div id="no-comments-yet">{% trans "There are no comments yet." %}</div>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% else %}
            <h2>{% trans "No responses submitted" %}</h2>
        {% endif %}
    {% else %}
        <br />
        <h3>{% trans "Complete the activity to see everyone's responses" %}</h3>
        <a href="{{ challenge.get_activity_url }}" class="btn-blue">{% trans "Play this Challenge" %}</a>
    {% endif %}
</div>
{% endblock %}

