{% extends "challenges/single.html" %}
{% load gmap i18n avatar %}

{% block response %}

{# RESPONSE SUMMARY #}
<div id="activity-response-summary" class="">
{% for choice in object.answer_choices.all %}
    <div class="activity-response-summary-choice {% ifequal choice my_answer.selected %}my-choice{% endifequal %}">
        {{ choice }}
        <div class="activity-response-summary-choice-percentage" data-summary-count='{{ choice.singleresponse_answers.count }}'></div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block comments %}
    {% include 'comments/comments.html' %}
{% endblock %}
