/* Crowds App Specific Styles */
#crowds-addform {
    padding: 20px 10px;
    background: #00e5b8;
}

    #crowds-addform label {
        display: block;
        margin: 3px 0px;
        font-size: 0.75em;
    }
    
    #crowds-addform input[type='text'], 
    #crowds-addform textarea {
        padding: 5px 8px;
        border: 0px;
        border-radius: 3px;
    }
    
        #crowds-addform #id_name {
            width: 80%;
        }
        
        #crowds-addform #id_description {
            width: 80%;
        }
        
        #crowds-addform #id_confirmation_code {
            width: 80%;
        }
        
    #crowds-addform input[type='submit'] {
        margin: 20px 0px;
        padding: 8px 10px;
        border: 0px;
        background: #007dff;
        font-size: 0.8em;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

#crowds-index {}

    .crowds-event {
        display: block;
        overflow: hidden;
        background: #e3f1ea;
        padding: 10px;
        margin: 10px 0px;
        color: #2D3542;
    }

        .crowds-event:hover {
            background: #d9ebe2;
        }

        .crowds-event-avatar-container {
            float: left;
            width: 40px;
        }
            
            .crowds-event-avatar-container img {
                border: 1px solid #ddd;
            }
        
        .crowds-event-left-container {
            float: left;
            width: 540px;
        }
        
        .crowds-event-right-container {
            float: right;
            width: 160px;
            text-align: right;
        }
    
        .crowds-event-name {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 5px;
            font-weight: bold;
        }
        
        .crowds-event-creator {
            margin: 0px 5px;
            font-style: italic;
            font-weight: normal;
            color: #999;
        }
    
        .crowds-event-attending {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 15px;
            margin: 0px 5px;    
            background: url('../img/icon-attending.png') no-repeat;
        }
    
        .crowds-event-participants {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 5px;
            font-style: italic;
            color: #999;
        }
    
        .crowds-event-time {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 5px;    
        }

#crowds-view {}
    
    #crowds-view h3 {
        margin: 0px;
    }

    #crowds-view-map-container {
        display: inline-block;
        vertical-align: bottom;
        width: 300px;
        height: 200px;
        margin: 20px 0px;
        border: 2px solid #ddd;
    }
    
        #crowds-view-map-container > div {
            width: 300px !important;
            height: 200px !important;
        }
        
    #crowds-view-address {
        display: inline-block;
        vertical-align: bottom;
        margin: 40px 20px;
    }
    
    
    #crowds-view-youareattending {
        display: inline-block;
        vertical-align: middle;
    }
    
    #crowds-view-participants {
        margin: 10px;
    }