{% extends "values/base.html" %}
{% load i18n humanize %}

{% block title %}{% trans "Map the Future" %}{% endblock %}
{% block js %}
    <script src="{{ STATIC_URL }}js/mootools-core-1.4.5.js"></script>
    <script src="{{ STATIC_URL }}js/mootools-more-1.4.0.1.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        window.addEvent('domready', function(){
            
            /* Presets for community flags */
            var initial_communityflags = [
                {% for value, value_data in values_sorted.items %}
                    {{ value_data.community_spent_total }},
                {% endfor %}
            ];
            
            /* Presets for individual flags */
            var initial_individualflags = [
                {% for value, value_data in values_sorted.items %}
                    {{ value_data.individual_spent_total }},
                {% endfor %}
            ];
            
            // Array marking spent flags to be returned to the db
            var spent_individualflags = [
                {% for i in values_sorted.keys %} 0, {% endfor %}
            ];
            
            function render_communityflags(){
                /* Calculate total flags */
                var total_communityflags = 0;
                initial_communityflags.each(function(el){
                    total_communityflags += el;
                });            

                /* Calculate percentages */
                var percentage_communityflags = [];
                initial_communityflags.each(function(el, index){
                    if(total_communityflags == 0){
                        percentage_communityflags[index] = 0
                    } else {
                        percentage_communityflags[index] = (el / total_communityflags)*100;
                    }
                });

                /* Scale community flags to the correct size and update count*/
                var communityflags = $$('.mapthefuture-flag-community');
                communityflags.each(function(el, index, array){
                    el.morph({
                        'height': 10 + percentage_communityflags[index]*1.2,
                        'width': 10 + percentage_communityflags[index]*1.2
                    });
                    el.getElement('.mapthefuture-count-community').set('html', initial_communityflags[index])
                    
                    /* Scale label font size, for community flags ONLY */
                    var label = el.getParent().getElement('.mapthefuture-label');
                    label.tween('font-size', 12 + percentage_communityflags[index]*.3);
                });
            }
            
            function render_individualflags(){
                /* Calculate total flags */
                var total_individualflags = 0;
                initial_individualflags.each(function(el){
                    total_individualflags += el;
                });            

                /* Calculate percentages */
                var percentage_individualflags = [];
                initial_individualflags.each(function(el, index){
                    if(total_individualflags == 0){
                        percentage_individualflags[index] = 0
                    } else {
                        percentage_individualflags[index] = (el / total_individualflags)*100;
                    }
                });

                /* Scale individual flags to the correct size and update count*/
                var individualflags = $$('.mapthefuture-flag-individual');
                individualflags.each(function(el, index, array){
                    el.morph({
                        'height': 10 + percentage_individualflags[index]*1.2,
                        'width': 10 + percentage_individualflags[index]*1.2
                    });
                    el.getElement('.mapthefuture-count-individual').set('html', initial_individualflags[index])
                });
            }
            
            $$('.draggable').makeDraggable({
                droppables: $$('.droppable'),
                onBeforeStart: function(draggable, droppable){
                    draggable.addClass('dragging');
                },
                onCancel: function(draggable, droppable){
                    draggable.removeClass('dragging');
                },
                onEnter: function(draggable, droppable){
                    droppable.addClass('over');
                },
                onLeave: function(draggable, droppable){
                    droppable.removeClass('over');
                },
                onDrop: function(draggable, droppable){
                    if (droppable){
                        draggable.destroy();
                        /* Unsave */
                        $('mapthefuture-controls-reset').fade('show');
                        $('mapthefuture-controls-saved').fade('hide');
                        $('mapthefuture-saved').slide('out');
                        $('btn-submit').removeClass('active');
                        
                        /* Update all the arrays to count correctly */
                        var dropped_index = $$('.droppable').indexOf(droppable);
                        initial_individualflags[dropped_index] = initial_individualflags[dropped_index]+1;
                        initial_communityflags[dropped_index] = initial_communityflags[dropped_index]+1;
                        spent_individualflags[dropped_index] = spent_individualflags[dropped_index]+1;
                        
                        /* Recalculate flags to correct size and update counts */
                        render_communityflags();
                        render_individualflags();
                        
                        droppable.removeClass('over');
                    } else {
                        draggable.removeClass('dragging');
                    }
                }
            });
            
            /* Request object to send to view */
            var spend = new Request({
                url: '{% url values:spend %}',
                method: 'post',
                headers: {
                    'X-CSRFToken': $$('[name=csrfmiddlewaretoken]')[0].get('value')
                },
                onRequest: function(){
                    // alert('sent to view');
                },
                onSuccess: function(responseText){
                    $('btn-submit').addClass('active');
                    $('mapthefuture-controls-saved').fade('show');
                    $('mapthefuture-controls-reset').fade('hide');            
                    $('mapthefuture-saved').slide('in');
                },
                onFailure: function(){
                    // alert('something went wrong');
                }
            });
            
            /* When submit button is clicked, send object to view */
            $$('#btn-submit').addEvent('click', function(e){
                e.stop();
                spend.send({
                    data: JSON.encode(Object.merge({}, spent_individualflags)) // Array to Object
                });
                
            });
                        
            /* Initialize */
            render_communityflags();
            render_individualflags();
            
            $('mapthefuture-saved').slide('hide');
            $('mapthefuture-controls-saved').fade('hide');
        });
    </script>
{% endblock %}

{% block game_content %}

{% csrf_token %}

<div class="column-container">
    <a href="{% url missions:mission mission.slug %}" class="btn-back">{% trans "Back to Mission" %}</a>
    
    <h1>Map the Future!</h1>
    <p class="instructions">The goal of Community PlanIt is to earn planning flags and use them to Map the Future of your community! The words below reflect possible priorities of the current planning process. Drop your flags on the priorities you think are the most important and watch them grow. The flag on the left reflects the total number of flags planted by all players.<p>

    <p class="instructions">You begin the game with some flags, but you have to accomplish the missions to earn more. So, when you're done here, go back to Mission Control and check out all the challenges you can do.</p>

    <p class="instructions">Click on a priority to view more information and contribute to the conversation surrounding it.</p>
</div>

<div id="mapthefuture">
    <div id="mapthefuture-flags-earned">
        <div id="mapthefuture-flags-earned-container">
            <div id="mapthefuture-crosshairs"></div>
        
            {% for f in my_flags_range %}
            <div class="draggable-container"><div class="mapthefuture-flag-individual-earned draggable"></div></div>
            {% endfor %}
        </div>
        <div id="mapthefuture-controls">
            <div>Drag your flags where you want them.</div>
            <div>Then click <a id="btn-submit" class="btn-blue">Done!</a><span id="mapthefuture-controls-reset"> or <a href="{% url values:index %}" class="btn-blue">Reset</a></span></div>
            <div id="mapthefuture-controls-saved">Your priorities have been saved!</div>
        </div>
    </div>

    <div id="mapthefuture-legend">
        <div>Community flags</div>
        <div id="mapthefuture-legend-communityflag"></div>
        <div id="mapthefuture-legend-individualflag"></div>
        <div>My flag</div>
    </div>
    
    <div id="mapthefuture-saved">
        Your flags have been saved! Click a priority and join the conversation or <a href="{% url missions:mission mission.slug %}">complete more challenges</a>!
    </div>
        
    <div id="mapthefuture-map">
        {% for value in values_sorted.keys %}
        <div class="mapthefuture-grid">
            <div id="mapthefuture-star{{ forloop.counter }}" class="mapthefuture-star droppable">
                <div class="mapthefuture-label-container">
                    <div class="mapthefuture-label"><a href="{% url values:detail value.pk %}">{{ value.message }}</a></div>
                </div>
                <div class="mapthefuture-flag-community">
                    <div class="mapthefuture-count-community"></div>
                </div>
                <div class="mapthefuture-flag-individual">
                    <div class="mapthefuture-count-individual"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
