{% extends "values/base.html" %}
{% load i18n humanize %}

{% block title %}{% trans "Map the Future" %}{% endblock %}

{% block js %}
    {{ block.super }}
    {# masonry is required to display comments correctly #}
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}js/comments.js"></script>
{% endblock %}

{% block game_content %}
<div id="priority">
    <div class="column-half">        
        <div class="column-container">
        <a href="{% url values:index %}" class="btn-back">{% trans "Back to Map the Future" %}</a>
        
            <h1>{% trans "Map the Future!" %}</h1>
            <div id="priority-star"></div>
            <h2>{{ value.message }}</h2>
            <p id="priority-community-spent">{{ total_flags_by_game }} community flag{{ total_flags_by_game|pluralize }} </p>
            <p id="priority-individual-spent"><span id="priority-individual-spent-count">{{ my_total_flags_for_value }}</span> of my flag{{ my_total_flags_for_value|pluralize }}</p>
            <p>{{ value.description }}</p>
        </div>
    </div>
    <br class="clearfix" /><br /><br /><br />
    <div class="column-twothird">
        <div class="column-container">
            <h2>{% trans "Thoughts on This Priority" %}</h2>
            <!-- Add A Comment-->
            {% with value.pk as value_pk %}
            <form id="id_comment-form-{{ value_pk }}"
                enctype="multipart/form-data" action="{{ comment_post_url|default:"."}}" method="POST">
                {% include "comments/duplicate.html" %}
                <input type="hidden" name="parent_id" value="{{ value_pk }}"/>
                <input type="hidden" name="parent_type" value="map_the_future"/>
                <div class="comment-response-submit">
                    <img src="{% if request.user.get_profile.avatar %}{{ MEDIA_URL }}{% else %}{{ STATIC_URL }}{% endif %}/{% firstof request.user.get_profile.avatar 'img/avatar-blank.png' %}" width="36" height="36" />
                    <input type="submit"  id="{{ value_pk }}"  class="btn-yellow submit" value="Submit" />
                </div>
            </form>
            {% endwith %}
        </div>
    </div>
    
    <div class="column-container clearfix">
    <!-- Comments -->
        <div class="comments embedded">
            {% if value.comments %}{% include 'player_activities/_corner_stamp.html' %}{% endif %}
            {% with comments=value.comments %}
                {% include "comments/comments.html" %}
            {% endwith %}
        </div>
    </div>
</div>    
{% endblock %}
