{% load attachment_tags i18n %}
<li class="comment" id="comment-{{comment.pk}}" data-timestamp="{{comment.posted_date|date:"U"}}">
    <div class="likes">
        <div class="count">{{comment.likes.count}}</div>
        <div>Like{{comment.likes.count|pluralize}}</div>
        {% if comment.user != request.user %}
        <a class="button" href="{% url comments:like comment.id %}" title="click to say you like this">Like</a>
        {% endif %}
    </div>
    <div class="main">
        <div class="meta">
            
            <div class="right">
                {% if not comment.hidden and comment.user != user %}
                    <a href="{% url flags:add "comment" comment.id %}" title="click to flag this comment for review"><img src="{{MEDIA_URL}}img/icons/flag.png" alt="flag"/></a>
                    
                {% else %}
                    <a href="{% url comments:edit comment.id %}" title="click to edit this comment">edit</a>
                    
                {% endif %}
            </div>
            
            {% trans "From" %}
            {% if comment.user == request.user %}
            <a href="{% url accounts_profile comment.user.id %}">you</a>,
            {% else %}
            <a href="{% url accounts_profile comment.user.id %}">{{comment.user.get_profile.screen_name}}</a>,
            {% endif %}
            {{comment.posted_date|date:"F j, Y"}}, {{comment.posted_date|date:"g:i a"}}
        </div>
        <div class="message">
            {% if comment.hidden %}
                <div class="notice">This content has been flagged by the community and hidden by the administrator.</div>
            {% else %}
                {% if extra_message %}<div class="extra">{{extra_message|linebreaksbr}}</div>{% endif %}
                {{comment.message|linebreaksbr}}
            {% endif %}
        </div>
        {% if not comment.hidden %}
        <div class="attachments">
        {% for attachment in comment.attachment.all %}
            {% if attachment.is_valid %}
            <div>
                {% if attachment.type == 'video' %}
                {% embed_video attachment.url %}
                {% else %}
                <a class="thumbnail" href="{{attachment.file.url}}"><img src="{{attachment.file.url}}"/></a>
                {% endif %}
            </div>
            {% else %}
            <div class="notice">This content is currently unavailable.</div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="controls">
            {% if comment.instance.is_active %}
            <div class="actions">
                    {% if comment.comments.count %}
                    <a class="togglereplies" href="#replies-{{comment.pk}}">
                        <img class="closed" src="{{MEDIA_URL}}img/icons/plus.png" alt=""/>
                        <img class="open" src="{{MEDIA_URL}}img/icons/minus.png" alt=""/>
                    </a>
                    <span>{{comment.comments.count}} repl{{ comment.comments.count|pluralize:"y,ies" }}</span>
                    {% endif %}
                    <a class="small button reply" href="#reply-{{comment.id}}">reply</a>
            </div>
            <div class="reply-modal">
                <form enctype="multipart/form-data" method="POST" action="{% url comments:reply comment.id %}">
                    {% csrf_token %}
                    <textarea name="message" class="comment_message" cols="40" rows="6" id="id-{{comment.id}}_message"></textarea>
                    <button type="submit" class="button small submit">save reply</button>
                    <button type="reset" class="button small cancel">cancel</button>
                    <div class="fine counter">(<span class="count">1000</span> characters left)</div>
                </form>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if comment.comments.all %}
        <div id="replies-{{comment.pk}}" class="replies">
            <ul class="nested">
                {% for comment in comment.comments.all %}
                    {% with filename="comments/comment.html" extra_message=None %}
                      {% include filename %}
                    {% endwith %}
                {% endfor %}
            </ul>
            <div style="clear:both"></div>
        </div>
        {% endif %}
    </div>
</li>
