<li class="comment" id="comment-{{comment.pk}}">
    <div>
        <span class="user"><a href="/player/{{comment.user.id}}/">{{comment.user.get_profile.screen_name}}</a></span>
        <span class="meta">
            <span>{{comment.posted_date|date:"F j, Y"}} {{comment.posted_date|date:"g:i a"}}</span>
            {% if comment.likes.count %}
            <span>{{comment.likes.count}} pe{{ comment.likes.count|pluralize:"rson,ople" }} liked this</span>
            {% endif %}
            {% if comment.comments.count %}
            <span>{{comment.comments.count}} response{{ comment.comments.count|pluralize }}</span>
            {% endif %}
        </span>
        <span class="right">
            <a href="/flag/comment/{{comment.id}}" title="click to flag this comment for review"><img src="{{MEDIA_URL}}img/icons/flag.png" alt="flag"/></a>
        </span>
    </div>
    <div class="message">{{comment.message|linebreaksbr}}</div>
    <div class="attachments">
    {%for attachment in comment.attachment.all%}
      <div>
      {%if attachment.type == 'video'%}
        <iframe width="560" height="349" src="http://www.youtube.com/embed/{{attachment.url}}" frameborder="0" allowfullscreen></iframe>
      {%else%}
        <a class="thumbnail" href="{{attachment.file.url}}">
          <img src="{{attachment.file.url}}">
        </a>
      {%endif%}
      </div>
    {%endfor%}
    </div>
    <div class="controls">
        <div class="actions">
            {% if comment.user != user %}
            <a href="{% url comments_like comment.id %}" title="click to say you like this"><img src="{{MEDIA_URL}}img/icons/up-small.png" alt="like"/></a>
            {% endif %}
            <a class="reply" href="#reply-{{comment.id}}" title="click to reply"><img src="{{MEDIA_URL}}img/icons/quote.png" alt="reply"/></a>
        </div>

        <div class="reply-modal">
            <form enctype="multipart/form-data" method="POST" action="/comment/reply/{{comment.id}}/">
                {%csrf_token%}
                <textarea name="message" class="comment_message" cols="40" rows="6" id="id-{{comment.id}}_message"></textarea>
                <button type="submit" class="button small submit">save reply</button>
                <button type="reset" class="button small cancel">cancel</button>
                {{comment_form.message.help_text|safe}}
            </form>
        </div>
    </div>

    {%if comment.comments.all%}
    <div class="replies">
        <ul class="nested">
            {%for comment in comment.comments.all%}
                {%with "comments/comment.html" as filename%}
                  {%include filename%}
                {%endwith%}
            {%endfor%}
        </ul>
        <div style="clear:both"></div>
    </div>
    {%endif%}
</li>
