<form enctype="multipart/form-data" action="{{comment_post_url|default:"."}}" method="POST">
    {%if request.REQUEST.error%}
        <span class="error">Please enter a valid comment.</span>
    {%endif%}

    {%csrf_token%}
    <div id="attachments">
        <div class="controls">
            Include <a id="add-video" href="#add-video" class="button small">Youtube Video</a> or <a id="add-picture" href="#add-picture" class="button small">Picture</a>
        </div>
        <div class="add-video form">
            <label for="yt-url">Paste the embed code of your YouTube video below. (On the YouTube video page click "Share," then "Embed" to get the code.)</label>
            <textarea name="yt-url" type="text" maxlength="255"></textarea>
            <div class="controls">
                <button class="button small add">add</button>
                <button type="reset" class="button small reset">remove</button>
            </div>
        </div>
        <div class="add-picture form">
            <label for="picture">Picture:</label> <input name="picture" type="file">
            <div class="controls">
                <button class="button small add">add</button>
                <button type="reset" class="button small reset">remove</button>
            </div>
        </div>
        <div class="notification"></div>
    </div>
    <textarea name="message" class="comment_message" cols="80" rows="6"></textarea>
    {{comment_form.message.help_text|safe}}
    <button class="button right">Add Comment</button>
    <hr class="space">
</form>
{% if not comment_form.just_one_form %}
    {%if comments.comments.all %}
        <ul class="listless comments">
        {%for comment in comments.comments.all reversed%}
            {%include "comments/comment.html"%}
        {%endfor%}
        </ul>
    {% else%}
        No comments found.
    {%endif%}
{%endif%}
