{% load i18n %}
{% with comment_heading=comment_heading|default:"Comments" %}
<div class="comments">
    {% if not comment_form.just_one_form %}
        {% include "comments/comments.html" %}
    {% else %}
    <h2>{% blocktrans %}{{comment_heading}}{% endblocktrans %}</h2>
    {% endif %}
    {% if instance.is_active %}
    <h3>{% trans "Share your thoughts:" %}</h3>
        <form enctype="multipart/form-data" action="{{comment_post_url|default:"."}}" method="POST">
            {% include "comments/duplicate.html" %}
            <button type="submit" class="button right">Add Comment</button>
        </form>
    {% else %}
    <p>This community is no longer active.</p>
    {% endif %}
</div>
{% endwith %}
