/* Attachments App Specific Styles, mainly Resource Center */

.resources {
    float: left;
    width: 164px;
    margin: 20px;
/*    background: #e3f1ea;*/
    background: #e5f0ea url('../../../../static/img/bg-pagefold.png') no-repeat right bottom;
    overflow: hidden;
}

    .resources-title {
        margin: 8px 10px;
    }
    
    .resources-thumbnail {
        width: 164px;
        height: 100px;
    }
    
        .resources-type-document .resources-thumbnail {
            background: #99ebe0;
        }

        .resources-type-link .resources-thumbnail {
            background: #058080;
        }

        .resources-type-video .resources-thumbnail {
            background: #4ebc89;
        }
        
        .resources-type-image .resources-thumbnail {
            background: #d7df23;
        }
        
    .resources-icon {
        float: left;
        width: 36px;
        height: 36px;
        margin: 12px 10px;
/*        border: 1px solid gray;*/
    }
    
        .resources-type-document .resources-icon {
            background: url('../img/icon-resources-document.png');
        }

        .resources-type-link .resources-icon {
            background: url('../img/icon-resources-link.png');
        }

        .resources-type-video .resources-icon {
            background: url('../img/icon-resources-video.png');
        }
        
        .resources-type-image .resources-icon {
            background: url('../img/icon-resources-image.png');
        }
        
    .resources-download {
        float: right;
        width: 36px;
        height: 36px;
        margin: 12px 10px;
        background: url('../img/icon-resources-download.png') 0px 0px;
    }
    
        .resources-download:hover {
            background: url('../img/icon-resources-download.png') -36px 0px;
        }
    
        .resources-type-link .resources-download,
        .resources-type-video .resources-download,
        .resources-type-image .resources-download {
            background: url('../img/icon-resources-go.png') 0px 0px;
        }
        
            .resources-type-link .resources-download:hover,
            .resources-type-video .resources-download:hover,
            .resources-type-image .resources-download:hover {
                background: url('../img/icon-resources-go.png') -36px 0px;
            }
            
/* Single Resource Styles */        
#resource {
    width: 780px;
}

    #resource > .resource-type-image {
        margin: 50px auto;
        width: 700px;
    }
    
        #resource > .resource-type-image img{
            max-width: 700px;
        }
    
    #resource > .resource-type-video {
        margin: 50px auto;
        width: 480px;
        height: 320px;
    }