/* Attachments App Specific Styles, mainly Resource Center */

.resource {
    float: left;
    width: 164px;
    margin: 20px;
/*    background: #e3f1ea;*/
    background: #e5f0ea url('../../../../static/img/bg-pagefold.png') no-repeat right bottom;
    overflow: hidden;
}

    .resource-title {
        margin: 8px 10px;
    }
    
    .resource-thumbnail {
        width: 164px;
        height: 100px;
    }
    
        .resource-type-document .resource-thumbnail {
            background: #99ebe0;
        }

        .resource-type-link .resource-thumbnail {
            background: #058080;
        }

        .resource-type-video .resource-thumbnail {
            background: #4ebc89;
        }
        
        .resource-type-image .resource-thumbnail {
            background: #d7df23;
        }
        
    .resource-icon {
        float: left;
        width: 36px;
        height: 36px;
        margin: 12px 10px;
/*        border: 1px solid gray;*/
    }
    
        .resource-type-document .resource-icon {
            background: url('../img/icon-resources-document.png');
        }

        .resource-type-link .resource-icon {
            background: url('../img/icon-resources-link.png');
        }

        .resource-type-video .resource-icon {
            background: url('../img/icon-resources-video.png');
        }
        
        .resource-type-image .resource-icon {
            background: url('../img/icon-resources-image.png');
        }
        
    .resource-download {
        float: right;
        width: 36px;
        height: 36px;
        margin: 12px 10px;
        background: url('../img/icon-resources-download.png') 0px 0px;
    }
    
        .resource-download:hover {
            background: url('../img/icon-resources-download.png') -36px 0px;
        }
    
        .resource-type-link .resource-download,
        .resource-type-video .resource-download,
        .resource-type-image .resource-download {
            background: url('../img/icon-resources-go.png') 0px 0px;
        }
        
            .resource-type-link .resource-download:hover,
            .resource-type-video .resource-download:hover,
            .resource-type-image .resource-download:hover {
                background: url('../img/icon-resources-go.png') -36px 0px;
            }