{% extends "static/base.html"%}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block content %}

<div class="column-full">
    <div class="column-container">
        <h1>About</h1>
        <p>Community PlanIt is an online engagement platform for local planning efforts. Bringing together the interactivity of social networks and the incentives of online games, Community PlanIt transforms participatory planning into a fun, engaging activity for all ages. Players participate online in six weeks of planning-themed missions to earn PlanIt Coins, which they spend on the values most important to them. The community joins together at the end of the process to discuss the results and plan for the future.</p>
        <p>For more information check out our <a href="http://communityplanit.blogspot.com/">blog</a>.</p>

        <h4>A project by</h4>
        
        <p><a href="http://engagementgamelab.org"><img src="{{ STATIC_URL }}img/logo-egl.png"></a></p>

        <h4>With support from</h4>
        
        <p><a href="http://knightfdn.org/"><img width="180px" src="{{ STATIC_URL }}img/logo-knightfoundation.png"></a></p>
    </div>
</div>
{% endblock %}