{%extends "layouts/base.html"%}

{%block section%}contact{%endblock%}

{%block title%}Dashboard{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}

<div class="twothird">
<h2>Contact</h2>
<p>
  We would love to hear from you and answer any questions you have about the project!
</p>
<p>
  For comments or questions, please contact our project coordinator Steven Schirra at steven_schirra [at] emerson.edu or at (617) 824-3828.
</p>
<p>
  If you’d like to contact the project director, e-mail Eric Gordon at eric_gordon [at] emerson.edu.
</p>
</div>
<div class="third last">
  <h2>Follow Us</h2>
  <p>
    Learn more about the Engagement Game Lab at our <a href="http://engagementgamelab.org">website</a>.
  </p>
  <p>
    You can also follow us on <a href="http://twitter.com/communityplanit">twitter</a> and <a href="http://www.facebook.com/CommunityPlanIt">facebook</a>
  </p>
</div>

{%endblock%}
