{% extends "layouts/base.html" %}
{% load i18n %}

{% block section %}contact{% endblock %}

{% block title %}{% trans "Contact Us" %}{% endblock %}

{% block page_title %}{% endblock %}

{% block main %}
<div class="half left">
    <h2>{% trans "Contact Us" %}</h2>
    <p>{% trans "We would love to hear from you and answer any questions you have about the project!" %}</p>
    <p>{% trans "For comments or questions, please contact us at" %} <a href="mailto:admin@communityplanit.org">admin@communityplanit.org</a>.</p>
</div>
<div class="half left">
    <h2>{% trans "Follow Us" %}</h2>
    <p>
    {% blocktrans %}
    Learn more about the Engagement Game Lab at our <a href="http://engagementgamelab.org">website</a>.
    {% endblocktrans %}
    </p>
    <p>
    {% blocktrans %}
    You can also follow us on <a href="http://twitter.com/communityplanit">Twitter</a> and <a href="http://www.facebook.com/CommunityPlanIt">Facebook</a>.
    {% endblocktrans %}
    </p>
</div>

{% endblock %}
