{%extends "base.html"%}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <!--link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/citypages.css"--> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/quincy.css"> 
{% endblock %}

{% block body_id %}public-index{% endblock %}

{% block top-breadcrumbs %}
<div id="top-breadcrumbs">
</div>
{% endblock %}

{% block content %}

<div class="column-full" id="quincy">
    <div class="column-container">
        <h1><span class="blue">Success!</span><br /> You're signed up to play the North Quincy &amp; Wollaston: Neighborhoods on the Move game on Community PlanIt!</h1>
        
        <p>This game will begin on <span id="quincy-date">May 5th, 2012</span>, but keep your eyes peeled for emails announcing exciting new features to get you prepared to play and to plan the future of Quincy!</p>
        
        <p>In the meantime, check out and comment on the photos of North Quincy and Wollaston taken by fellow community members:</p>
        
        <div id="quincy-flickr">
        <object width="640" height="480"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44747327%40N04%2Fsets%2F72157629680957639%2Fshow%2F&page_show_back_url=%2Fphotos%2F44747327%40N04%2Fsets%2F72157629680957639%2F&set_id=72157629680957639&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=109615"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44747327%40N04%2Fsets%2F72157629680957639%2Fshow%2F&page_show_back_url=%2Fphotos%2F44747327%40N04%2Fsets%2F72157629680957639%2F&set_id=72157629680957639&jump_to=" width="640" height="480"></embed></object>
        </div>
    </div>
</div>

{% endblock %}





