{%extends "games/index.html"%}
{% load game_extras %}

{%block page_title%}{%endblock%}
{%block game%}
    <div class="narrow game-wrapper">
        <h2 class="othershoes game">
            Someone Else's Shoes
            {%if not player_game%}
                <span class="fine highlight right green">{% get_points for completed othershoes %} points</span>
            {%endif%}
        </h2>

        <form enctype="multipart/form-data" action="." method="POST">
            {%csrf_token%}
            <div class="game-wrapper">
                <div class="fifth">
                    <img class="avatar" src="{{MEDIA_URL}}{{othershoes.prompt.avatar}}">
                </div>
                <p class="twothirds">
                {{othershoes.prompt.first_name}} {{othershoes.prompt.last_name}} is a <span class="highlight">{{othershoes.prompt.age}}</span> year old {% if othershoes.prompt.race %}<span class="highlight">{{othershoes.prompt.race}}</span>{% endif %} {% if othershoes.prompt.gender %}<span class="highlight">{{othershoes.prompt.gender}}</span>{% endif %} living in your neighborhood.
                </p>
                {%if othershoes.prompt.download%}
                    <strong>Download:</strong>
                    <br>
                    <a target="blank" href="{{othershoes.prompt.download.file.url}}">{{othershoes.prompt.download.file}}</a>
                {%endif%}

                <hr class="space">

                <h2>{{othershoes.prompt.bio}}</h2>

                <div id="comments">
                    <div class="sleeper"></div>
                    <h4>Your response:</h4>
                    {% with othershoes as comments %}
                    {% include "comments/post.html" %}
                    {% endwith %}
                </div>

                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
{%endblock%}
    
{%block body%}
{%endblock%}
