{%extends "games/index.html"%}
{% load game_extras %}

{%block page_title%}{%endblock%}
{%block game%}
    <div class="narrow game-wrapper">
        {%if player_game%}
            <p class="notice">Your original response is marked below. You may change your answer at any time during this mission</p>
        {%endif%}

        <h2 class="othershoes game">
            Someone Else's Shoes
            {%if not player_game%}
                <span class="fine highlight right green">{% get_points for completed othershoes %} points</span>
            {%endif%}
        </h2>

        <form enctype="multipart/form-data" action="." method="POST">
            {%csrf_token%}
            <div class="game-wrapper">
                <div class="fifth">
                    <img class="avatar" src="{{MEDIA_URL}}{{othershoes.prompt.avatar}}">
                </div>
                <p class="twothirds">
                {{othershoes.prompt.first_name}} {{othershoes.prompt.last_name}} is a <span class="highlight">{{othershoes.prompt.age}}</span> year old {% if othershoes.prompt.race %}<span class="highlight">{{othershoes.prompt.race}}</span>{% endif %} {% if othershoes.prompt.gender %}<span class="highlight">{{othershoes.prompt.gender}}</span>{% endif %} living in your neighborhood.
                </p>
                {%if othershoes.prompt.download%}
                    <strong>Download:</strong>
                    <br>
                    <a target="blank" href="{{othershoes.prompt.download.file.url}}">{{othershoes.prompt.download.file}}</a>
                {%endif%}

                <hr class="space">

                <h2>{{othershoes.prompt.bio}}</h2>

                <hr class="space">
                    {%if request.REQUEST.error%}
                        <span class="error">Please enter a valid comment.</span>
                    {%endif%}

                    {%csrf_token%}
                    <div id="attachments">
                        <div class="controls">
                            Include <a id="add-video" href="#add-video" class="button small">Youtube Video</a> or <a id="add-picture" href="#add-picture" class="button small">Picture</a>
                            <div class="add-video modal">
                                <label for="yt-url">YouTube<br><small>(Paste in the URL)</small></label> <textarea id="yt-url" type="text" maxlength="255"></textarea>
                            </div>
                            <input type="hidden" name="yt-url">
                            <div class="hidden"></div>
                            <div class="add-picture modal">
                                <label for="picture">Add picture to comment</label> <input id="picture" type="file">
                            </div>
                        </div>
                        <div class="notification"></div>
                    </div>
                    <textarea name="message" class="comment_message" cols="80" rows="6" id="id_message"></textarea>
                    {{comment_form.message.help_text|safe}}
                    <div style="clear: both;"></div>
                    <button class="button">Submit response</button>
                    <hr class="space">
                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
{%endblock%}
    
{%block body%}
{%endblock%}
