{%extends "games/index.html"%}
{% load game_extras %}

{%block page_title%}{%endblock%}
{%block game%}
    <div class="narrow game-wrapper">
        <h2 class="othershoes game">
            {{game.title}}
            {%if not player_game%}
                <span class="fine highlight right green">{% get_points for completed othershoes %} points</span>
            {%endif%}
        </h2>
        <form enctype="multipart/form-data" action="" method="POST">
            {%csrf_token%}
            <div class="game-wrapper">
                <div class="fifth">
                    <img class="avatar" src="{{MEDIA_URL}}{{othershoes.prompt.avatar}}">
                </div>
                
                {%if othershoes.prompt.download%}
                    <strong>Download:</strong>
                    <br>
                    <a target="blank" href="{{othershoes.prompt.download.file.url}}">{{othershoes.prompt.download.file}}</a>
                {%endif%}

                <hr class="space">

                <h2>{{othershoes.prompt.bio}}</h2>
                <br>
                <label class="instructionText">
                    Type a response below to enter the discussion. (You may attach images
                    or YouTube embed codes.) Submit your response, then vote on
                    your favorite ideas!
                </label>
                <div id="comments">
                    <div class="sleeper"></div>
                    <h4>Your response:</h4>
                    {% with othershoes as comments %}
                    {% include "comments/post.html" %}
                    {% endwith %}
                </div>

                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
{%endblock%}
    
{%block body%}
{%endblock%}
