{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{%block game%}
    <div class="game-wrapper narrow">
        {% if first_time %}
            {%if unplayed%}
                <div class="notice">
                    <h3>Great work, you just earned points!</h3>
                    <p>
                    {% if request.user.get_profile.coins %}
                        You have {{request.user.get_profile.coins}} coin{%if request.user.get_profile.coins > 1 %}s{%endif%}. 
                        You can <a href="/issue" class="button">spend {%if request.user.get_profile.coins < 2 %}it{% else %}them{%endif%}</a>
                         or <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="button">Do the next activity</a>.
                    </p>
                    {% else %}
                        <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="button">Do the next activity</a></p>
                    {% endif %}
                </div>
            {%endif%}
        {%endif%}

        <h3 class="game othershoes">Someone Else's Shoes Summary <a href="/mission/{{mission.slug}}/game/{{game.game_type|slugify}}/{{game.id}}" class="button right">Change Answer</a></h3>
        <h2>{{othershoes.prompt.bio}}</h2>
        {%if responses%}
          {%for response in responses%}
            <h3>{{response.player.first_name}} {{response.player.last_name|slice:":1"}} Answered</h3>
            <p>{{response.message}}</p>
          {%endfor%}
        {%else%}
            No submissions yet.
        {%endif%}
        <div style="clear: both;"></div>
    </div>
{%endblock%}
