{% extends "layouts/base.html" %}

{% block section %}accounts{% endblock %}

{% block title %}Notifications{% endblock %}
{% block page_title %}
<h2 id="page_title">Notifications</h2>
{% endblock %}

{% block main %}
{% load cpi_tags %}
{% if notifications_page.object_list %}
<table class="notifications">
    <tbody>
{% for notification in notifications_page.object_list %}
        <tr class="{% cycle "odd" "even" %}{% if notification.unread %} unread{% endif %}">
            <td>{{notification.timestamp}}</td>
            <td><a href="{{notification.content_object.get_absolute_url}}">{{notification.message}}</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% if notifications_page.paginator.num_pages > 1 %}
{% pagenavigator notifications_page request.get_full_path %}
{% endif %}
{% else %}
<p>You have no notifications at this time.</p>
{% endif %}
{% endblock %}
