{%extends "layouts/base.html"%}

{%block section%}activities{%endblock%}

{%block title%}{{mission.name}} - {{game.game_type}}{%endblock%}

{%block content-title%}
{%if instance%}
    {{instance}}
{%else%}
    {%if session%}
        {{session}} has not started yet
    {%else%}
        Not associated with a session.
    {%endif%}
{%endif%}
{%endblock%}

{%block main%}
    {%block game%}{%endblock%}
{%endblock%}

{%block aside%}
    <hr class="space">
    <h3>Last 5 Responses</h3>
    {%if other_responses|length%}
        <ul class="listless fine">
            {%for response in other_responses%}
            <li><a href="/mission/{{mission.slug}}/game/{{game.game_type}}/{{game.id}}/{{response.user.id}}/">View {{response.user.get_profile.first_name}}'s response &rarr;</a></li>
            {%endfor%}
        </ul>
    {%else%}
        No responses yet.
    {%endif%}
    <div class="rest">
        <a class="fine right" href="/mission/{{mission.slug}}/game/{{game.game_type}}/{{game.id}}/overview">All responses &rarr;</a>
    </div>
    <hr class="space">
{%endblock%}
