/* Missions-specific Styles */
#mission-intro {
    overflow: hidden;
    margin: 20px 0px;
}

#btn-player-challenges {

}

    #btn-player-challenges a {
        padding: 15px 20px 15px 40px;
        background: url('../img/icon-player-challenges.png') no-repeat 10px center;
    }
    
    #btn-player-challenges a:hover,
    #btn-player-challenges a.active {
        background: #2d3542 url('../img/icon-player-challenges_over.png') no-repeat 10px center;
    }


#mission-video-container {
    width: 230px;
    height: 150px;
}

.activity {
    position: relative;
}

    .activity a {
        display: block;
        margin: 5px 0px;
        padding: 12px 10px 12px 50px;
        background: #e3f1ea;
    }

    .activity.open_ended a {
        background: #e3f1ea url('../img/icon-open_ended.png') no-repeat 10px center;
    }
    
        .activity.open_ended a:hover {
            background-image: url('../img/icon-open_ended_over.png');
        }
    
    .activity.map a {
        background: #e3f1ea url('../img/icon-map.png') no-repeat 10px center;
    }
    
        .activity.map a:hover {
            background-image: url('../img/icon-map_over.png');
        }
    
    .activity.single_response a {
        background: #e3f1ea url('../img/icon-multi_response.png') no-repeat 10px center;
    }
    
        .activity.single_response a:hover {
            background-image: url('../img/icon-multi_response_over.png');
        }
        
    .activity.multi_response a {
        background: #e3f1ea url('../img/icon-multi_response.png') no-repeat 10px center;
    }
        
        .activity.multi_response a:hover {
            background-image: url('../img/icon-multi_response_over.png');
        }
    
    .activity.empathy a {
        background: #e3f1ea url('../img/icon-empathy.png') no-repeat 10px center;
    }
        
        .activity.empathy a:hover {
            background-image: url('../img/icon-empathy_over.png');
        }
        
    .activity.trivia a {
        background: #e3f1ea url('../img/icon-trivia.png') no-repeat 10px center;
    }

        .activity.trivia a:hover {
            background-image: url('../img/icon-trivia_over.png');
        }

    .activity a:hover {
        background-color: #007dff !important;
        color: #fff;
    }
    
    .mission-activity-points {
        position: absolute;
        right: 100px;
        top: 5px;
        width: 30px;
        height: 30px;
        font-size: 0.8em;
        font-weight: bold;
        line-height: 33px;
        text-align: center;
        color: #fff;
        background: url('../img/bg-mission-activities-points.png') no-repeat center center;
    }
    
        .activity a:hover .mission-activity-points {
            background: url('../img/bg-mission-activities-points_over.png') no-repeat center center;
            color: #00e7c5;
        }