/* Missions-specific Styles */
#mission-intro {
    overflow: hidden;
    margin: 20px 0px;
}

#btn-player-challenges {

}

    #btn-player-challenges a {
        padding: 15px 20px 15px 40px;
        background: url('../img/icon-player-challenges.png') no-repeat 10px center;
    }
    
    #btn-player-challenges a:hover,
    #btn-player-challenges a.active {
        background: #2d3542 url('../img/icon-player-challenges_over.png') no-repeat 10px center;
    }


#mission-video-container {
    width: 370px;
    height: 208px;
}

    #mission-video-container .notice {
        text-align: center;
        line-height: 208px; /* same as #mission-video-container height */
        color: #999
    }

#mission-activities-intro {
    overflow: hidden;
    margin: 15px 0px;
}

    #mission-activities-intro .instructions {
        float: left;
        margin: 15px 0px;
        width: 500px;
    }
    
    #mission-activities-completion {
        float: right;
        text-align: center;
        width: 150px;
        color: #aaa;
    }

        #mission-activities-completion #completion {
            font-size: 2.5em;
            color: #777;
        }

.activity {
    position: relative;
}

    .activity a {
        display: block;
        margin: 5px 0px;
        padding: 12px 10px 12px 50px;
        background-color: #e3f1ea;
        background-repeat: no-repeat;
        background-position: 10px center;
    }

    .activity.activity-completed a,
    .activity.activity-inactive a {
        background-color: #f8f8f9;
        color: #a7a9ac;
    }
    
    .activity a:hover {
        background-color: #007dff;
        color: #fff;
    }
    
    .activity.activity-inactive a:hover {
        background-color: #f8f8f9;
        color: #a7a9ac;
    }
    
    /* The different types of activities. 3 different states. Order matters here */
    .activity.open_ended a {
        background-image: url('../img/icon-open_ended.png');
    }
        
        .activity.open_ended.activity-completed a {
            background-image: url('../img/icon-open_ended_completed.png');
        }
    
        .activity.open_ended a:hover {
            background-image: url('../img/icon-open_ended_over.png');
        }
        
        .activity.open_ended.activity-inactive a {
            background-image: url('../img/icon-open_ended_completed.png');
        }
    
    .activity.map a {
        background-position: 14px center !important;
        background-image: url('../img/icon-map.png');
    }
        
        .activity.map.activity-completed a {
            background-image: url('../img/icon-map_completed.png');
        }
    
        .activity.map a:hover {
            background-image: url('../img/icon-map_over.png');
        }
    
        .activity.map.activity-inactive a {
            background-image: url('../img/icon-map_completed.png');
        }
        
    .activity.single_response a {
        background-image: url('../img/icon-single_response.png');
    }
        
        .activity.single_response.activity-completed a {
            background-image: url('../img/icon-single_response_completed.png');
        }
    
        .activity.single_response a:hover {
            background-image: url('../img/icon-single_response_over.png');
        }
        
        .activity.single_response.activity-inactive a {
            background-image: url('../img/icon-single_response_completed.png');
        }
        
    .activity.multi_response a {
        background-image: url('../img/icon-multi_response.png');
    }
        
        .activity.multi_response.activity-completed a {
            background-image: url('../img/icon-multi_response_completed.png');
        }
        
        .activity.multi_response a:hover {
            background-image: url('../img/icon-multi_response_over.png');
        }
        
        .activity.multi_response.activity-inactive a {
            background-image: url('../img/icon-multi_response_completed.png');
        }
    
    .activity.empathy a {
        background-image: url('../img/icon-empathy.png');
    }
        
        .activity.empathy.activity-completed a {
            background-image: url('../img/icon-empathy_completed.png');
        }
        
        .activity.empathy a:hover {
            background-image: url('../img/icon-empathy_over.png');
        }
        
        .activity.empathy.activity-inactive a {
            background-image: url('../img/icon-empathy_completed.png');
        }
        
    .activity.trivia a {
        background-image: url('../img/icon-trivia.png');
    }
        
        .activity.trivia.activity-completed a {
            background-image: url('../img/icon-trivia_completed.png');
        }

        .activity.trivia a:hover {
            background-image: url('../img/icon-trivia_over.png');
        }
        
        .activity.trivia.activity-inactive a {
            background-image: url('../img/icon-trivia_completed.png');
        }
        

    
    .mission-activity-points,
    .mission-activity-completed {
        position: absolute;
        right: 100px;
        top: 5px;
        width: 30px;
        height: 30px;
        font-size: 0.8em;
        font-weight: bold;
        line-height: 33px;
        text-align: center;
        color: #fff;
    }
    
    .mission-activity-points {
        background: url('../img/bg-mission-activities-points.png') no-repeat center center;
    }

        .activity a:hover .mission-activity-points {
            background: url('../img/bg-mission-activities-points_over.png') no-repeat center center;
            color: #00e7c5;
        }    

    .mission-activity-completed {
        background: url('../img/icon-mission-activities-completed.png') no-repeat center center;
    }
    
        .activity a:hover .mission-activity-completed {
            background: url('../img/icon-mission-activities-completed_over.png') no-repeat center center;
            color: #00e7c5;
        }
        
    .
