/* Badge-App Specific Styles */
/* This is currently for badge-gallery only. The actual badge styles are shared and should be in /static/css/badges.css */

.section-badges{}

.badge-container {
    width: 200px;
    margin: 20px 20px;
    float: left;
}

    .badge-container:nth-child(3n+1) {
        clear: left;
    }

    .badge {
        margin: 20px 0px;
    }

    .badge-title {
        font-weight: bold;
        margin: 5px 0px;
    }