{% load i18n avatar%}

{% for profile_per_instance in players %}
    {% with profile_per_instance as p %}
        
        <div class="profile-container">
            <a href="{% url accounts:player_profile p.user_profile.user.id %}">
            {% avatar p.user_profile.user %}
            <div class="profile-screenname">{{ p.user_profile.screen_name }}</div>
            </a>
            {# <div class="profile-stakes">{{ p.format_stakes }}</div> #}
            <div class="profile-points">{{ p.total_points }}</div>    
            <div class="profile-tagline">{{ p.user_profile.tagline|truncatechars:140 }}</div>
        </div>
    {% endwith %}
{% empty %}
    <div class="column-container">
        <p class="instructions">
            {% trans "There are no players found for the specified criteria." %}
        </p>
    </div>
{% endfor %}



