{% load i18n avatar%}

{% for profile_per_instance in players %}
    {% with profile_per_instance as p %}
        <a href="{% url accounts:player_profile p.user_profile.user.id %}">
        <div class="profile-container">
            {% avatar p.user_profile.user %}
            <div class="profile-screenname">{{ p.user_profile.screen_name }}</div>
            {# <div class="profile-screenname">{{ p.format_stakes }}</div> #}
            <div class="profile-tagline">{{ p.user_profile.tagline|truncatechars:140 }}</div>
        </div>
        </a>
    {% endwith %}
{% empty %}
    <div class="column-container">
        <p class="instructions">
            {% trans "There are no players found for the specified criteria." %}
        </p>
    </div>
{% endfor %}



