{% extends 'accounts/base_game.html' %}
{% load i18n endless cpi_tags %}

{% block title %}{% trans "Find Players" %}{% endblock %}

{% block body_class %}{{ block.super }} section-players{% endblock %}


{% block extra_head %}
    <script src="{{ STATIC_URL }}js/sijax.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        {% include "js/ajax_csrf.html" %}


        $("input[id='profile-filters-apply']").click(function(e){
            e.preventDefault();
            {{ filter_by_variants_sijax_js|safe }}
            var form_data = Sijax.getFormValues('#id_find-players-form');
            Sijax.request('search', [form_data]);
        });

        $("input[id='profile-search-apply']").click(function(e){
            e.preventDefault();
            {{ search_by_kw_sijax_js|safe }}
            var form_data = Sijax.getFormValues('#id_search-by-kw-form');
            Sijax.request('search', [form_data]);
        });
    });

    </script>
{% endblock extra_head %}

{% block game_content %}
<div>
    <div class="column-container">
        {% if city_header %}
            <a href="{% url home %}" class="btn-back">{% trans "Back to " %}{{ request.current_city.name }}</a>
        {% else %}
            <a href="{% url missions:mission request.current_game.missions.active.0.slug %}" class="btn-back">{% trans "Back to Mission" %}</a>
        {% endif %}
        
        <h1>{% trans "Find Players" %} {#<a class="nav-heading-tab" href="{% url affiliations:affiliations %}">Affiliations</a>#}</h1> 

        <div id="profile-filters">
            <form action="." method="post" id="id_find-players-form">
                <label>{% trans "Filter by:" %}</label>
                {% comment %}
                <select id="profile-filters-stake">
                    {# TODO: for stakes in stakes_for_this_instance #}
                    <option>Stake</option>
                </select>
                <select id="profile-filters-affiliation">
                    {# TODO: for affilitation in affiliations_for_this_instance #}
                    <option>Affiliation</option>
                </select>
                {% endcomment %}
                {{ filter_by_variants_form.affiliation }}
                {{ filter_by_variants_form.stakes }}
                <input id="profile-filters-apply" class="btn-blue" type="submit" value="Apply" />
                <a id="profile-reset" href="{% url accounts:all %}" class="btn-blue">Reset</a>
            </form>
            <form action="." method="post" id="id_search-by-kw-form">
                {# search_by_kw_form.q #}
                <input id="id_q" type="text" maxlength="50" name="q" placeholder="{% trans 'Search for a player' %}">
                <input id="profile-search-apply" class="btn-blue" type="submit" value="Search" />
            </form>
            
        </div>
        
    </div>
    <div id="id_players-count" class="column-container" style="text-align: right"><h3>{{ profiles_for_game.count }} total players</h3></div> 
    <br class="clearfix" />
    {% paginate paginate_players_per_page profiles_for_game as players %}

    <div id="id_players-table">
        {% include "accounts/_players_table.html" %}
    </div>
    
    <br class="clearfix" />
    
    <div id="profile-pagination" class="column-container">
        {% include "accounts/_pagination.html" %}
    </div>
    
</div>
    
{% endblock %}
