{% extends 'accounts/base_game.html' %}
{% load i18n %}
{% load i18n cpi_tags %}

{% block title %}{% trans "Find Players" %}{% endblock %}

{% block body_class %}{{ block.super }} section-players{% endblock %}
{% block game_content %}
<div>
    <div class="column-container">
        <div class="btn-tab left"><a class="active">Find Players</a></div>
        <div class="btn-tab right"><a href="#">Affiliations</a></div>
        
        <hr class="thick clearfix" />
        
        
        <div id="profile-filters">
            <label>Filter by:</label>
            <select id="profile-filters-stake">
                {# TODO: for stakes in stakes_for_this_instance #}
                <option>Stake</option>
            </select>
            <select id="profile-filters-affiliation">
                {# TODO: for affilitation in affiliations_for_this_instance #}
                <option>Affiliation</option>
            </select>
            <input id="profile-filters-apply" class="btn-blue" type="submit" value="Apply" />
         </div>
        
        <h3>Recently Joined</h3>
        
    </div>
    
    {% for account in accounts %}
        <a href="{% url accounts_profile account.id %}">
        <div class="profile-container">
            {% if account.get_profile.avatar %}
                <img src="{{ MEDIA_URL }}{{ account.get_profile.avatar }}" width="164" height="164" />
            {% else %}
                <img src="{{ STATIC_URL }}/img/avatar-blank.png" width="164" height="164" />
            {% endif %}
            <div class="profile-screenname">{{ account.get_profile.screen_name }}</div>
            <div class="profile-tagline">Lorem ipsum dolor sit amet. {# TODO: tagling #}</div>
        </div>
        </a>
    {% endfor %}
</div>
{% endblock %}
