{% extends 'accounts/base_game.html' %}
{% load i18n cpi_tags avatar %}

{% block title %}{% trans "Profile" %}{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}comments/css/styles.css">  
{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        {% if city_header %}
            <a href="{% url home %}" class="btn-back">{% trans "Back to " %}{{ request.current_city.name }}</a>
        {% else %}
            <a href="{% url missions:mission request.current_game.missions.active.0.slug %}" class="btn-back">{% trans "Back to Mission" %}</a>
        {% endif %}
        
        <h1>{{ player.get_profile.screen_name }}</h1>
        {% if request.user == player %}<a class="button" href="{% url accounts:profile_edit %}">edit my profile</a>{% endif %}
    </div>
    
    
    <div class="column-container">
        <h2></h2>
    </div>
    
    <div id="profile-player">
        <div class="column-third">
            <div class="column-container">

                {% avatar player %}

                <br /><br /><br />
                
                <!-- Your Games -->
                <h3>
                    {% if request.user == player %}
                        {% trans "Your Games" %}
                    {% else %}
                        {% trans "Player's Games" %}
                    {% endif %}
                </h3>
                <p class="profile-detail">
                {% for game in my_games %} 
                    <a class="highlight" href="{% url home %}">{{ game.title }}</a><br />
                {% endfor %}
                </p>
                
                <!-- Stake -->
                <h3>{% trans "Stake" %}</h3>
                <p class="profile-detail">
                    {{ profile_per_instance.format_stakes }}<br />
                </p>
                
                <!-- Affiliations -->
                <h3>{% trans "Affiliations" %}</h3>
                <p class="profile-detail">
                {% if affiliations %}
                    {% for aff in affiliations %} 
                        {{ aff.name }}<br />
                        {# <a class="highlight" href="{# url instances:affiliation player.get_profile.instance.slug aff.slug ">{{ aff.name }}</a> #}
                    {% endfor %}
                {% endif %}
                </p>
                
                <!-- Past Games Played??? -->
                {# <h3>{% trans "Past Games Played" %}</h3> #}
                
            </div>
        </div>
        <div class="column-third">
            <!-- Tagline -->
            <p id="profile-tagline" class="profile-detail">
                {{ profile_per_instance.user_profile.tagline }}
            </p>
            <br />
            
            <!-- Comments -->
            {% comment %}
            <h2>{% trans "Community Messages" %}</h2>
            {% with comments=player.get_profile.comments comment_heading=comment_heading|default:"Comments" %}
            {% if not comment_form.just_one_form %}
                {% include "comments/comments.html" %}
            {% else %}
                <h2>{% blocktrans %}{{comment_heading}}{% endblocktrans %}</h2>
            {% endif %}
            <div class="comment">
                {# {% if instance.is_active %} #}
                
                    <form enctype="multipart/form-data" action="{{comment_post_url|default:"."}}" method="POST">
                        {% include "comments/duplicate.html" %}
                        <button type="submit" class="button right">Add Comment</button>
                    </form>
                {# {% else %} #}
                    {# <p>This community is no longer active.</p> #}
                {# {% endif %} #}
            </div>
            {% endwith %}
            
            {% endcomment %}
            
            <!-- Notifications -->
            <p class="profile-detail">
            {# {# {% for notification in request.user.notifications.all %} #}
            {# {#          #}
            {# {# {% empty %} #}
            {#     {% if request.user == player %} #}
            {#         No one has commented on your profile yet. Check out Find Players to connect to friends or meet new ones! #}
            {#         <br /><br /> #}
            {#         <a href="{% url accounts:all %}" class="btn-forward">{% trans "Find players" %}</a> #}
            {#     {% else %} #}
            {#         There are no comments for this player's profile yet. #}
            {#     {% endif %} #}
            {# {% endfor %} #}
            </p>
            
        </div>
        <div class="column-third">
            <div class="column-container">
                <!-- Total Game Points -->
                {# <h3>Total Game Points</h3> #}
                <p id="profile-points" class="profile-detail">
                    <span class="points">{{ profile_per_instance.total_points }}</span> {% trans "total game points" %}
                </p>
                
                <!-- Badges -->
                <h2>{% trans "Badges Earned" %}</h2>
                <p class="profile-detail">
                    {# TODO: Badges #}
                    {# if empty #}
                    {% if request.user == player %}
                        {% trans "You haven't earned any badges yet!" %}
                    {% else %}
                        {% trans "This player has no badges yet." %}
                    {% endif %}
                </p>


            </div>
        </div>
    </div>
    <br class="clearfix" />
 
</div>
{% endblock %}
