{% extends 'accounts/base_game.html' %}
{% load i18n cpi_tags avatar %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block body_class %}{{ block.super }} {% ifequal request.user player %}section-profile{% else %}section-players{% endifequal %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}comments/css/styles.css">  
{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        {% ifequal request.user player %}
            {% if city_header %}
                <a href="{% url home %}" class="btn-back">{% trans "Back to " %}{{ request.current_city.name }}</a>
            {% else %}
                <a href="{% url missions:mission mission.slug %}" class="btn-back">{% trans "Back to Mission" %}</a>
            {% endif %}
        {% else %}
            <a href="{% url accounts:all %}" class="btn-back">{% trans "Back to Find Players" %}</a>
        {% endifequal %}
        <h1>{{ player.get_profile.screen_name }}</h1>
        {% ifequal request.user player %}<a class="button" href="{% url accounts:profile_edit %}">edit my profile</a>{% endifequal %}
    </div>
    
    
    <div class="column-container">
        <h2></h2>
    </div>
    
    <div id="profile-player">
        <div class="column-third">
            <div class="column-container">

                {% avatar player %}

                <br /><br /><br />
                
                <!-- Your Games -->
                <h3>
                    {% if request.user == player %}
                        {% trans "Your Games" %}
                    {% else %}
                        {% trans "Player's Games" %}
                    {% endif %}
                </h3>
                <p class="profile-detail">
                {% for game in my_games %} 
                    <a class="highlight" href="{% url home %}">{{ game.title }}</a><br />
                {% endfor %}
                </p>
                
                <!-- Stake -->
                <h3>{% trans "Stake" %}</h3>
                <p class="profile-detail">
                    {# {{ profile_per_instance.format_stakes }}<br /> #}
                </p>
                
                <!-- Affiliations -->
                <h3>{% trans "Affiliations" %}</h3>
                <p class="profile-detail">
                {% if affiliations %}
                    {% for aff in affiliations %} 
                        {{ aff.name }}<br />
                        {# <a class="highlight" href="{# url instances:affiliation player.get_profile.instance.slug aff.slug ">{{ aff.name }}</a> #}
                    {% endfor %}
                {% endif %}
                </p>
                
                <!-- Past Games Played??? -->
                {# <h3>{% trans "Past Games Played" %}</h3> #}
                
            </div>
        </div>
        <div class="column-third">
            <!-- Tagline -->
            <p id="profile-tagline" class="profile-detail">
                {{ profile_per_instance.user_profile.tagline }}
            </p>
            
            <h2>Latest Activity</h2>
            {# TODO #}
        </div>
        <div class="column-third">
            <div class="column-container">
                <!-- Total Game Points -->
                {# <h3>Total Game Points</h3> #}
                <p id="profile-points" class="profile-detail">
                    <span class="points">{{ profile_per_instance.total_points }}</span> {% trans "total game points" %}
                </p>
                
                <!-- Badges -->
                <h2>{% trans "Badges Earned" %}</h2>
                <div id="profile-badges" class="profile-detail">
                    {# TODO: Badges #}
                    
                    <div class="badge-container">
                        <div class="badge moverandshaker"></div>
                        <div class="badge-name">Mover &amp; Shaker</div>
                    </div>
                    
                    <div class="badge-container">
                        <div class="badge crowdsourcer"></div>
                        <div class="badge-name">Crowdsourcer</div>
                    </div>
                    
                    <div class="badge-container">
                        <div class="badge localsage"></div>
                        <div class="badge-name">Local Safe</div>
                    </div>
                    
                    <div class="badge-container">
                        <div class="badge visionary"></div>
                        <div class="badge-name">Visionary</div>
                    </div>
                    <br /><br />
                    <a href="{% url badges:all %}" class="btn-forward">{% trans "Go to Badge Gallery" %}</a>
                    
                    {# empty #}
                    {# {% ifequal request.user player %} #}
                    {#     {% trans "You haven't earned any badges yet!" %} #}
                    {# {% else %} #}
                    {#     {% trans "This player has no badges yet." %} #}
                    {# {% endifequal %} #}
                </div>
            </div>
        </div>
        
    </div>
    <br class="clearfix" />
    

    <div class="column-container">
        <h2>{% trans "Community Messages" %}</h2>
        <!-- Add A Comment-->
        <form enctype="multipart/form-data" action="{{ comment_post_url|default:"."}}" method="POST">
            {% include "comments/duplicate.html" %}
            <div class="comment-response-submit">
                <img src="{% if request.user.get_profile.avatar %}{{ MEDIA_URL }}{% else %}{{ STATIC_URL }}{% endif %}/{% firstof request.user.get_profile.avatar 'img/avatar-blank.png' %}" width="36" height="36" />
                <input type="submit" id="id_activity-btn-submit" class="btn-yellow submit" value="Submit" />
            </div>
        </form>
        
        <br class="clearfix"/>
        <!-- Comments -->
        {% with comments=player.get_profile.comments %}
                {% include "comments/comments.html" %}
        {% endwith %}
        
    </div>

        
</div>
{% endblock %}
