{% extends 'accounts/base_game.html' %}
{% load i18n %}
{% load i18n cpi_tags %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}comments/css/styles.css">  
{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <h1>Profile {% if request.user == player %}<a id="profile-edit-btn" class="button" href="{% url accounts:profile_edit %}">edit</a>{% endif %}</h1>
    </div>
    
    <div class="column-container">
        <h2>{{ player.first_name }} {{ player.last_name }}</h2>
    </div>
    
    <div id="profile-player">
        <div class="column-third">
            <div class="column-container">
            {% if player.get_profile.avatar %}
                <img class="" src="{{ MEDIA_URL }}/{{ player.get_profile.avatar }}" width="200" height="200">
            {% else %}
                <img class="" src="{{ STATIC_URL }}/img/avatar-blank.png" width="200" height="200">
            {% endif %} 
            </div>
        </div>
        <div class="column-twothird">
            <div class="column-half">
                <div class="column-container">
                    <!-- Your Games -->
                    <h3>Your Games</h3>
                    <p class="profile-detail">{# Games #}</p>

                    <!-- Affiliations -->
                    <h3>Affiliations<h3>
                    <p class="profile-detail">
                    {% if player.get_profile.affils.all %}
                        {% for aff in player.get_profile.affils.all %} 
                            <a class="highlight" href="{% url instances:affiliation player.get_profile.instance.slug  aff.slug %}">{{ aff.name }}</a>
                        {% endfor %}
                    {% endif %}
                    </p>

                    <!-- Tagline -->
                    <h3>Tagline</h3>
                    <p class="profile-detail">
                        {% if player.get_profile.stake %}
                        {{ player.get_profile.stake|trans_fallback:"stake"}}
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="column-half">
                <div class="column-container">
                    <!-- Total Game Points -->
                    <h3>Total Game Points</h3>
                    <p class="profile-detail">
                        {{player.get_profile.totalPoints}}
                    </p>

                    <!-- Stake -->
                    <h3>Community Stake</h3>
                    <p class="profile-detail">
                        {% if player.get_profile.stake %}
                            {{ player.get_profile.stake|trans_fallback:"stake"}}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br class="clearfix" />
    
    
    <div id="profile-notifications" class="column-third">
        <div class="column-container">
            <h3>Notifications</h3>
        
            {# Notifications Here #}

        </div>
    </div>
    <div id="profile-badges" class="column-twothird">
        <div class="column-container">
            <!-- Badges -->
            <h3>Badges Earned</h3>
            <p class="profile-detail">
                {# TODO: Badges #}
                {# if empty #}
                You do not have any badges! Earn your first badge by completing your profile here.
            </p>
        </div>
    </div>
    <br class="clearfix" />
    
    
    <div class="column-full">
        <div class="column-container">
            <h3>Community Messages</h3>
            {% with comments=player.get_profile.comments comment_heading=comment_heading|default:"Comments" %}
            <div class="comments">
                {% if not comment_form.just_one_form %}
                    {% include "comments/comments.html" %}
                {% else %}
                    <h2>{% blocktrans %}{{comment_heading}}{% endblocktrans %}</h2>
                {% endif %}
                {% if instance.is_active %}
                    <h3>{% blocktrans with player=player.get_profile.screen_name %}Share your thoughts with {{player}} &#8212; leave a comment below{% endblocktrans %}</h3>
                    <form enctype="multipart/form-data" action="{{comment_post_url|default:"."}}" method="POST">
                        {% include "comments/duplicate.html" %}
                        <button type="submit" class="button right">Add Comment</button>
                    </form>
                {% else %}
                    {# <p>This community is no longer active.</p> #}
                {% endif %}
            </div>
            {% endwith %}
        </div>
    </div>
    

 
</div>
{% endblock %}
