{% extends "accounts/base_game.html" %}
{% load i18n cpi_tags avatar %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block body_class %}{{ block.super }} section-profile{% endblock %}

{% block css %}
    {{ block.super }}
    {# <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin_widgets.css"> #}
{% endblock css %}

{% block js %}
{{ block.super }}
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/getElementsBySelector.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
    <script src="{{ STATIC_URL }}js/jsi18n.js"></script>
{% endblock js%}


{% block game_content %}
<div>
    <div class="column-container">
        <a href="{% url accounts:player_profile request.user.id %}" class="btn-back">{% trans "Back to Profile" %}</a>
        <h1>Edit Profile</h1>
    </div>
        <div id="profile-editform-container">
            <div class="column-container">
                <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                
                {%if profile_form.errors %}
                <p id="profile-editform-error">{% trans "Please correct the errors below." %}</p>
                {%endif%}
            </div>
            <form id="profile-editform" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            <div class="column-third">
                <div class="column-container">
                    {% avatar request.user %}
        
                    {{ profile_form.avatar }}
                    {{ profile_form.avatar.errors }}
                    <p id="profile-editform-disclaimer">By uploading a file you certify that you have the right to distribute this picture and that it does not violate the <a href="{% url terms %}">Terms of Service</a></a></p>
                    
                    

                    <input type="hidden" name="form" value="updated_profile">
                    {# <div> #}
                    {#     {{ profile_form.receive_email.label_tag}} #}
                    {#     {{ profile_form.receive_email }} #}
                    {#     {{ profile_form.receive_email.errors }} #}
                    {# </div> #}
                    {# {% if profile_form.preferred_language %} #}
                    {# <div> #}
                    {#     {{ profile_form.preferred_language.label_tag }} #}
                    {#     {{ profile_form.preferred_language }} #}
                    {#     {{ profile_form.preferred_language.errors }} #}
                    {# </div>                         #}
                    {# {% endif %} #}

                </div>
            </div>
            <div class="column-twothird">
                <div class="column-half">
                    <div class="column-container">
                        <p>
                            <div id="profile-editform-tagline-container">
                                {{ profile_form.tagline }}
                            </div>
                            {{ profile_form.tagline.errors }}
                        <p>
                    </div>
                </div>

                {% if profile_form.preferred_language %}

                <div class="column-half">
                    <div class="column-container">

                        <p>
                            <div>
                                {{ profile_form.preferred_language.label_tag }}
                            </div>
                            <div>
                                {{ profile_form.preferred_language }}
                            </div>
                            {{ profile_form.preferred_language.errors }}
                        <p>

                    </div>
                </div>
                {% endif %}
                <br class="clearfix" /><br /><br />
                <div class="column-container clearfix">
                    <h2>Stakes</h2>
                    <div id="profile-editform-stakes">
                        {{ profile_form.stakes }}
                        {{ profile_form.stakes.errors }}
                    </div>
                    
                    <h2>Affiliations</h2>
                    <div id="profile-editform-affiliations">
                        {{ profile_form.affiliations }}
                        {{ profile_form.affiliations.errors }}
                    </div>
                
                    <div id="profile-editform-newaffiliations">    
                        {{ profile_form.affiliation_new.label_tag }}
                        {{ profile_form.affiliation_new }}
                        {{ profile_form.affiliation_new.errors }}
                    </div>
                </div>
            </div>
            <br class="clearfix" />
            <div class="column-container" style="text-align: right;"><input type="submit" class="btn-yellow" value="Save Changes" /></div>
        </div>
        
            
        </form>       
        <div class="column-full">
            <div class="column-container">
            </div>
        </div>
</div>
{% endblock %}
