{% extends "accounts/base_game.html" %}
{% load i18n %}
{% load i18n cpi_tags %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <h1>Edit Profile</h1>
        
    </div>
        <div id="profile-editform-container">
            <div class="column-container">
                <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                
                {%if profile_form.errors %}
                <p id="profile-editform-error">{% trans "Please correct the errors below." %}</p>
                {%endif%}
            </div>
            <form id="profile-editform" enctype="multipart/form-data" action="" method="post">
            <div class="column-third">
                <div class="column-container">
                    {%if request.user.get_profile.avatar %}
                        <img class="avatar-edit" src="{{ MEDIA_URL }}{{ request.user.get_profile.avatar }}" width="200" height="200">
                    {%else%}
                        <img class="avatar-edit" src="{{ STATIC_URL }}img/avatar-blank.png" width="200" height="200">
                    {%endif%}
        
                    {{ profile_form.avatar }}
                    {{ profile_form.avatar.errors }}
                    <p id="profile-editform-disclaimer">By uploading a file you certify that you have the right to distribute this picture and that it does not violate the <a href="{% url terms %}">Terms of Service</a></a></p>
                </div>
            </div>
            <div class="column-third">
                <div class="column-container">
                    <p>
                        <div id="profile-editform-tagline-container">
                            {# TODO tagline #}
                            {# <textarea id="id_tagline"></textarea> #}
                            {{ profile_form.tagline }}
                        </div>
                        {{ profile_form.tagline.errors }}
                    <p>
                    <p>
                        {{ profile_form.first_name.label_tag }}
                        {{ profile_form.first_name }}
                        {{ profile_form.first_name.errors }}
                    </p>
                    <p>
                        {{ profile_form.last_name.label_tag }}
                        {{ profile_form.last_name }}
                        {{ profile_form.last_name.errors }}
                    </p>
                    <p>    
                        {{ profile_form.email.label_tag}}
                        {{ profile_form.email }}
                        {{ profile_form.email.errors }}
                    </p>    
                    <p>
                        {{ profile_form.receive_email.label_tag}}
                        {{ profile_form.receive_email }}
                        {{ profile_form.receive_email.errors }}
                    </p>
                    {% if profile_form.preferred_language %}
                    <p>    
                        {{ profile_form.preferred_language.label_tag }}
                        {{ profile_form.preferred_language }}
                        {{ profile_form.preferred_language.errors }}
                    </p>                        
                    {% endif %}
                    <p>    
                        {{ profile_form.birth_year.label_tag }}
                        {{ profile_form.birth_year }}
                        {{ profile_form.birth_year.errors }}
                    </p>                        
                </div>
            </div>
            <div class="column-third">
                <div class="column-container">
                    {%csrf_token%}
                    <input type="hidden" name="form" value="updated_profile">

                    <p>    
                        {{ profile_form.stakes.label_tag }}
                        {{ profile_form.stakes }}
                        {{ profile_form.stakes.errors }}
                    </p>                        
                    <p>    
                        {{ profile_form.affiliations.label_tag }}
                        {{ profile_form.affiliations }}
                        {{ profile_form.affiliations.errors }}
                    </p>                        
                    
                </div>
                     
                {# <form action="" method="post"> #}
                {# <div class="column-container"> #}
                {#     <input type="hidden" name="form" value="change_password"> #}
                {#     {%csrf_token%} #}
                {#     <p> #}
                {#         {%if change_password_form.errors%} #}
                {#             {{change_password_form.errors}} #}
                {#         {%endif%} #}
                {#         {{change_password_form.password}}<br/> #}
                {#         {{change_password_form.confirm}} #}
                {#     </p> #}
                {#     <input type="submit" class="button submit" value="Change Password" /> #}
                {# </div> #}
                {# </form> #}
            </div>
            <br class="clearfix" />
            <div class="column-container" style="text-align: right;"><input type="submit" class="btn-yellow" value="Save Changes" /></div>
        </div>
        
            
        </form>       
        <div class="column-full">
            <div class="column-container">
            </div>
        </div>
</div>
{% endblock %}
