{% extends "accounts/base_game.html" %}
{% load i18n %}
{% load i18n cpi_tags %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <h1>Profile</h1>
    </div>
        <div id="profile-editform-container">
            <div class="column-container">
                <h2>{{ request.user.first_name }} {{ request.user.last_name }}</h2>
            </div>
            <form enctype="multipart/form-data" action="" method="post">
            <div class="column-third">
                <div class="column-container">
                    {%if user.get_profile.avatar%}
                        <img src="{{ MEDIA_URL }}{{ user.get_profile.avatar }}">
                    {%else%}
                        <img class="avatar-edit" src="{{ STATIC_URL }}img/avatar-blank.png">
                    {%endif%}
        
                    {{ profile_form.avatar }}
                    {{ profile_form.avatar.errors }}
                    <p>By uploading a file you certify that you have the right to distribute this picture and that it does not violate the <a href="{% url terms %}">Terms of Service</a></a>
                </div>
            </div>
            <div class="column-twothird">
                <div class="column-container">
                    {%csrf_token%}
                    <input type="hidden" name="form" value="updated_profile">
                    {%if profile_form.errors %}
                    {% trans "Please correct the errors below" %}
                    {%endif%}
                    <p>
                        {{ profile_form.first_name.label_tag }}
                        {{ profile_form.first_name }}
                        {{ profile_form.first_name.errors }}
                    </p>
                    <p>
                        {{ profile_form.last_name.label_tag }}
                        {{ profile_form.last_name }}
                        {{ profile_form.last_name.errors }}
                    </p>
                    <p>    
                        {{ profile_form.email.label_tag}}
                        {{ profile_form.email }}
                        {{ profile_form.email.errors }}
                    </p>    
                    <p>
                        {{ profile_form.receive_email.label_tag}}
                        {{ profile_form.receive_email }}
                        {{ profile_form.receive_email.errors }}
                    </p>
                    <p>    
                        {{ profile_form.preferred_language.label_tag }}
                        {{ profile_form.preferred_language }}
                        {{ profile_form.preferred_language.errors }}
                    </p>                        
                    <input type="submit" class="button submit" value="Update Profile" />
                </div>
                </form>            
                <form action="" method="post">
                <div class="column-container">
                    <input type="hidden" name="form" value="change_password">
                    {%csrf_token%}
                    <p>
                        {%if change_password_form.errors%}
                        {{change_password_form.errors}}
                        {%endif%}
                        {{change_password_form.password}}
                        {{change_password_form.confirm}}
                    </p>
                    <input type="submit" class="button submit" value="Change Password" />
                </div>
                </form>
            </div>
            <br class="clearfix" />
        </div>
        <div class="column-full">
            <div class="column-container">
            </div>
        </div>
</div>
{% endblock %}
