{% extends "accounts/base.html" %}
{% load i18n %}

{% block content %}
<div>
    {% if form.errors or form.non_field_errors or wizard_error %}
    <div id="form_errors" class="error">
        {% trans "Please correct the errors below." %}
        {{form.non_field_errors.as_ul}}
        {{wizard_error}}
    </div>
    {% endif %}
    
    <div id="registration-container">
        <div class="column">
            <h1>Log In</h1>
            {% csrf_token %}
        </div>
        <div class="column">
            <h1>Sign Up</h1>
            <form action="" method="post">
                {% csrf_token %}
        
                {{ form.as_p}}
            
                <div class="clear">
                    {% if step == step_count %}
                    <input class="button submit" type="submit" value="Register">
                    {% else %}
                    <input class="button submit" type="submit" value="Continue">
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
