{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}


{% block extra_head %}
    <script src="{{ STATIC_URL }}js/sijax.js"></script>
    <script type="text/javascript">


    $(document).ready(function(){

        {% include "js/ajax_csrf.html" %}

        $('#id_0-city').change(function(){
            city_id = $('#id_0-city').val()
            Sijax.setRequestUri("/communities/ajax/load-games-by-city/"+city_id+"/");
            Sijax.request('load_games_by_city', [city_id,])
        });

        $("input[id='id_login-form-submit']").click(function(e){
            e.preventDefault();
            {{ login_sijax_js|safe }}
            var form_data = Sijax.getFormValues('#id_login-form');
            Sijax.request('login_process', [form_data]);
        });


    });

    </script>

{% endblock extra_head %}

{% block content %}
<div>
    {% if form.errors or form.non_field_errors or wizard_error %}
    <div id="form_errors" class="error">
        {% trans "Please correct the errors below." %}
        {{form.non_field_errors.as_ul}}
        {{wizard_error}}
    </div>
    {% endif %}
    
    <div id="registration-container">
        <div class="column-half">
            <div class="column-container">
                <h1>Sign In</h1>
                <span id="id_form-errors" style="color:red;"></span>
                <form class="accounts-form" id="id_login-form" action="{% url accounts:login %}" method="post"> {% csrf_token %}
                    {{ form.as_p}}
                    <div class="clear">
                        <input class="btn-blue submit" id="id_login-form-submit" type="submit" value="Get back to playing!">
                    </div>
                </form>
            </div>
        </div>
        <div class="column-half">
            <div class="column-container">
                <h1>Sign Up</h1>
                <form class="accounts-form" action="" method="post"> {% csrf_token %}
                    {{ wizard.management_form }}
                    {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                            {{ form.as_p }}
                        {% endfor %}
                    {% else %}
                        {{ wizard.form.as_p }}
                    {% endif %}

            
                    <div class="clear">
                        {% if step == step_count %}
                        <input class="btn-blue submit" type="submit" value="Register">
                        {% else %}
                        <input class="btn-blue submit" type="submit" value="Start Playing!">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
