{% load attachment_tags i18n heatmap %}
{% if not nested %}<div class="thread heatmap-{{comment.comments.count|heatmap}}">{% endif %}
    <div class="comment {% if nested %}nested{% endif %}" id="comment-{{comment.pk}}" data-timestamp="{{comment.posted_date|date:"U"}}">
        {# META: FLAG AND EDIT #}
        <div class="meta">
            {% if not comment.hidden and comment.user != user and comment.instance.is_active %}
                <a class="flag-comment" href="{% url flags:add 'comment' comment.id %}" title="flag comment"></a>
            {% endif %}
        </div>
        
        {# HEADER #}
        <div class="comment-header">
            <div class="comment-header-avatar"><img src="{% if comment.user.get_profile.avatar %}{{ MEDIA_URL }}{% else %}{{ STATIC_URL }}{% endif %}/{% firstof comment.user.get_profile.avatar 'img/avatar-blank.png' %}" width="48" height="48" /></div>
            <div class="comment-header-meta">
                <div class="comment-author">{% trans "From" %} <a href="{% url accounts:player_profile comment.user.id %}">{{comment.user.get_profile.screen_name}}</a></div>
                <p class="comment-postdate">{{comment.posted_date|date:"N j, Y"}}, {{comment.posted_date|date:"g:i a"}}</p>
            </div>
        </div>
        <br class="clearfix" />
        
        {# COMMENT BODY MESSAGE #}
        <div class="comment-message">
            {% if comment.hidden %}
                {# Comment is flagged #}
                <div class="notice">This content has been flagged by the community and hidden by the administrator.</div>
            {% else %}
                
                {# COMMENT #}
                {# i think this is the response to the question... #}
                {% if extra_message %}<div class="extra">{{extra_message|linebreaksbr}}</div>{% endif %}

                {# Comment #}
                {{comment.message|linebreaksbr}}
            {% endif %}
        </div>
    
        {% if not comment.hidden %}
            {# ATTACHMENTS #}
            <div class="attachments">
            {% for attachment in comment.attachment.all %}
                {% if attachment.is_valid %}
                    <div>
                        {% if attachment.type == 'video' %}
                            {% embed_video attachment.url %}
                        {% else %}
                            <a class="thumbnail" href="{{attachment.file.url}}"><img src="{{attachment.file.url}}"/></a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="notice">This content is currently unavailable.</div>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        
        <div class="actions">
            {# LIKES! #}
            <div class="likes">
                {% if comment.user != request.user and comment.instance.is_active %}
                    <div id="id_like-{{ comment.id }}" class="btn-like {% if request.user in comment.likes.all %}active{%endif %}" title="click to say you like this" data-commentid="{{ comment.id }}" data-url="{% url comments:like comment.id %}"></div>
                    <div id="id_likes-count-{{ comment.id }}" class="likes-count">{{comment.likes.count}}</div>
                {% endif %}
            </div>
        
            {# SEE MORE REPLIES #}
            {% if not nested %}
            <div class="replies">
                {# {% if comment.comments.count %} #}
                {# <a class="togglereplies" href="#replies-{{comment.pk}}"> #}
                {#     <img class="closed" src="{{MEDIA_URL}}img/icons/plus.png" alt=""/> #}
                {#     <img class="open" src="{{MEDIA_URL}}img/icons/minus.png" alt=""/> #}
                {# </a> #}
                {# <span>{{ comment.comments.count }} repl{{ comment.comments.count|pluralize:"y,ies" }}</span> #}
                {# {% endif %} #}
                <span id="replies-count-{{ comment.pk }}" class="replies-count"> {{comment.comments.count}}</span>
                <a class="btn-replies" href="#reply-{{comment.id}}"></a>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="thread-tail">


        {% comment %}
        {# NESTED comments #}
        <div class="nested replies" id="replies-{{comment.pk}}">
            {% for comment in comment.comments.all %}
                {% with filename="comments/comment.html" extra_message=None nested=1 %}
                        {% include filename %}
                {% endwith %}
            {% endfor %}
            <div style="clear:both"></div>
        </div>
        {% endcomment %}

        {% include "comments/nested_replies.html"%}

        {% if not nested %}
            {# MY RESPONSE TO THIS THREAD #}
            <div class="comment nested controls">
                {# MY RESPONSE HEADER #}
                {# HEADER #}
                <div class="comment-header">
                    <div class="comment-header-avatar">
                        <img src="{% if request.user.get_profile.avatar %}{{ MEDIA_URL }}{% else %}{{ STATIC_URL }}{% endif %}/{% firstof request.user.get_profile.avatar 'img/avatar-blank.png' %}" width="48" height="48" />
                    </div>
                    <div class="comment-header-meta">
                        <div class="comment-author">{% trans "My response..." %}</div>
                    </div>
                </div>
                <br class="clearfix" />
        
        
                {# if comment.instance.is_active #}
                    {# REPLY #}
                <div class="reply-modal">
                    <!--form enctype="multipart/form-data" method="POST" action="{# url comments:reply comment.id #}"-->
                    <form id="id_comment-form-{{ comment.pk }}"
                        enctype="multipart/form-data" method="POST" action=""> {% csrf_token %}
                        <input type="hidden" name="parent_comment_id" value="{{ comment.pk }}"/>
                        <textarea name="message" class="comment-message" cols="40" rows="6" id="message-{{comment.id}}" placeholder="{% trans 'Type your response here... ' %}"></textarea>
                        <div class="actions">
                            <span class="reply-comment-counter">(<span class="count">1000</span> {% trans "chars left" %})</span>
                            <div class="reply">
                                <button type="submit" id="{{ comment.pk }}" class="btn-blue btn-reply">{% trans "Post" %}</button> 
                                <button type="reset" class="btn-blue small btn-cancel">{% trans "cancel" %}</button>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript"> 
                        $.fn.extend({  
                            limit: function(limit,element) {
                                var interval, f;
                                var self = $(this);
                                $(this).focus(function(){
                                    interval = window.setInterval(substring,100);
                                });
                                $(this).blur(function(){
                                    clearInterval(interval);
                                    substring();
                                });
                                substringFunction = "function substring(){ var val = $(self).val(); if (val) {var length = val.length;if(length > limit){$(self).val($(self).val().substring(0,limit));}}";
                                if(typeof element != 'undefined')
                                    substringFunction += "if($(element).html() != limit-length){$(element).html((limit-length<=0)?'0':limit-length);}"
                                substringFunction += "}";
                                eval(substringFunction);
                                substring();

                            } 
                        }); 

                        var type_count = function(evt) {
                            var comment_form = $(this.form);
                            var val = this.value.replace(/\r?\n/g, 'xx');
                            var len = Math.max(0, 1000 - val.length);
                            comment_form.find('.count').text(len);
                            if (len < 1) {
                                comment_form.find('.reply-comment-counter').addClass('limited');
                                if (!(evt.ctrlKey || evt.which < 48 && evt.which !== 9 && evt.which !== 13)) {
                                    return false;
                                }
                            }
                            comment_form.find('.reply-comment-counter').removeClass('limited');
                        }
                        $('textarea#message-{{ comment.pk }}').live('change keyup keydown blur', type_count).attr('maxlength', '1000').change();
                        $('textarea#message-{{ comment.pk }}').limit('1000','#charsLeft');
                    </script>
                </div>
                {# endif #}
            </div>
        {% endif %}
    </div>
{% if not nested %}</div>{% endif %}


