{% csrf_token %}

{% load i18n %}
{% if activity.type.displayType != 'Open Ended' and activity.type.displayType != 'Empathy' %}
<div class="comment-response">
    {{ comment_form.message.errors }}
    <textarea id="message_area" name="message" class="comment_message" cols="80" rows="6"></textarea>
    {% if errors.message %}
    <div class="comment-response-counter counter">{{ errors.message }}</div>
    {% endif %}
    <div class="comment-response-counter counter">(<span class="count">1000</span> characters left)</div>
</div>
{% endif %}

{# ATTACHMENT A PICTURE OR VIDEO #}
<div class="comment-response-attachments attachments">
    <a class="attachments-instructions">{% trans "Add a photo or video to your response." %}</a>
    <div class="attachments-container">
        <div class="add-comment-video form">
            <div class="input"><input name="video-url" type="text" maxlength="255" placeholder="Paste a Youtube or Vimeo URL here." /></div>
            {# <div class="controls"> #}
            {#     <button class="btn-blue add">add</button> #}
            {#     <button type="reset" class="btn-blue reset">remove</button> #}
            {# </div> #}
        </div> 
        <div class="add-comment-picture form">
            <div class="input"><input name="picture" type="file"></div>
            {# <div class="controls"> #}
            {#     <button class="btn-blue add">add</button> #}
            {#     <button type="reset" class="btn-blue reset">remove</button> #}
            {# </div> #}
        </div>
    </div>
</div>
