{% load avatar %}
<div id="sidebar-nav">
    <ul>
        {% if not city_header %}
        <li class="sidebar-nav-profile"><a href="{% url missions:mission request.current_game.missions.active.0.slug %}" id="sidebar-nav-missioncontrol">Mission Control</a></li>
        {% endif %}
        
        <li class="sidebar-nav-profile">
            <a id="sidebar-nav-profile" href="{% url accounts:player_profile request.user.id %}">
                
                    <div id="sidebar-nav-profile-avatar">{% avatar request.user %}</div>
                <div id="sidebar-nav-profile-notifications-container">
                    {# TODO #}{% if notifications %}
                        <div id="sidebar-nav-profile-notifications" {# class="active" #}>2</div>
                    {% else %}
                        <div id="sidebar-nav-profile-notifications" {# class="active" #}>2</div>
                    {% endif %}
                    
                </div>
                <div id="sidebar-nav-profile-badges-container">
                    <div id="sidebar-nav-profile-badges">{# TODO #}0</div>
                </div>
                <div id="sidebar-nav-profile-points">{# TODO #}5775</div>
                <div id="sidebar-nav-profile-screenname">{{ request.user.get_profile.screen_name }}</div>
            </a>
        </li>
        
            <li><a href="{% url attachments:index %}{% if city_header %}{{ request.session.current_game_slug }}{% endif %}" id="sidebar-nav-expert">Become an Expert</a></li>
        
        <li><a href="{% url crowds:index %}" id="sidebar-nav-crowds">Get Together!</a></li>
        
        {% if not city_header %}
            <li><a href="{% url instances:stream %}" id="sidebar-nav-news">What's Happening</a></li>
        {% endif %}
        
        <li><a href="{% url accounts:all %}" id="sidebar-nav-players">Find Players</a></li>
        
        {% if not city_header %}
            <li><a href="{% url instances:leaderboard %}" id="sidebar-nav-standings">Check the Standings</a></li>
        {% endif %}
    </ul>
</div>
