{% load game_extras attachment_tags i18n %}
<!-- Games per City -->
<div id="games" class="games">
    <ul class="games-filter">
        <li><a data-target='gameslist-current'>Games</a></li>
        {% if instances_past %}<li><a data-target='gameslist-past'>Past Games</a></li>{% endif %}
    </ul>
    
    <hr class="thick" />
    {% block games_extras %}{% endblock %}
    <div class="gameslist-container">
        <!-- Current Games -->
        <div id="gameslist-current" class="gameslist">
            <ul class="gameslist-nav">
                {% for instance in instances_current %}
                <li>
                    <a>
                        <h3>{{ instance.title }}</h3>
                        <p>
                            {# Current Game #}
                            {{ instance.for_city.name }} &bull; 
                            {% if instance.is_active %}
                                {# Active games happening right now #}
                                Happening right now!
                            {% else %}
                                {# Future games #}
                                Starts on {{ instance.start_date|date:"M j" }}
                            {% endif %}
                            {# If you're signed up for this current game #}
                            {% if instance in my_games %}
                                <div class="gameslist-signedup">
                                    You're signed up!
                                </div>
                            {% endif %}
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="gameslist-details slides_container">
                {% for instance in instances_current %}
                <div>
                    <div class="gameslist-slide-container">
                        <div class="gameslist-countdown-container">
                            {% if not instance.is_active %}
                                <div class="gameslist-countdown">
                                    {% if instance.time_until_start.days > 1 %}
                                        <div class="gameslist-countdown-timer">{{ instance.time_until_start.days }} days</div>
                                    {% else %}
                                        <div class="gameslist-countdown-timer">{{ instance.time_until_start.seconds }} seconds</div>
                                    {% endif %}
                                    <div class="gameslist-countdown-untilstart">Till Game Launch</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="gameslist-details-container">
                            <div class="gameslist-detail-attachment">
                                {% with instance.get_slideshow_attachment as attachment %}
                                {% if attachment.get_att_type_display == 'Video' %}
                                    {% embed_video attachment.url %}
                                {% else %}
                                <img class="gameslist-detail-img" src="{{ MEDIA_URL }}{{ attachment.file }}">
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="gameslist-detail-description">{# instance.description|truncatewords:20 #}{{ instance.description }}</div>
                            <div id="gameslist-detail-signup" class="btn-arrow">
                                {% if user.is_authenticated %}
                                    {# Sign up for Instance #}
                                    {% if instance in my_games %}
                                        {# TODO: Go to this game if started! #}
                                        {% if current_city %}
                                            {# CITY PAGE #}
                                            <a href="{% url missions:mission instance.missions.all.0.slug %}">Go to Missions!</a>
                                        {% else %}
                                            {# INDEX page #}
                                            <a href="http://{{ instance.for_city.domain }}">Get Ready for the Game</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url accounts:register %}">Sign up for this game!</a>
                                    {% endif %}
                                {% else %}
                                    {# Authenticate, and then sign up for this instance #}
                                    <a href="{% url accounts:register %}">Sign up for this game!</a>                        
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div>
                    <div class="gameslist-slide-container">
                    <div class="gameslist-countdown-container"></div>
                    <div class="gameslist-details-container">
                        There are no current games going on in Detroit at the moment. Check out past games. You can explore all the missions and even leave comments, you just can't earn any more points. Sorry. But if you're still itching to play Community PlanIt, let us know if you have any ideas for a <a href="{% url bringcpi %}">new game</a>.
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        
        <!-- Past Games -->
        <div id="gameslist-past" class="gameslist">
            <ul class="gameslist-nav">
                {% for instance in instances_past %}
                <li>
                    <a>
                        <h3>{{ instance.title }}</h3>
                        <p>{{ instance.for_city.name }} &bull; {% trans "Ran from" %} {{ instance.start_date|date:"n/j/y" }} - {{ instance.end_date|date:"n/j/y" }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="gameslist-details slides_container">
                        {% for instance in instances_past %}
                <div>
                    <div class="gameslist-slide-container">
                        <div class="gameslist-countdown-container"></div>
                        <div class="gameslist-details-container">
                            <div class="gameslist-detail-attachment">
                                {% with instance.get_slideshow_attachment as attachment %}
                                {% if attachment.get_att_type_display == 'Video' %}
                                    {% embed_video attachment.url %}
                                {% else %}
                                <img class="gameslist-detail-img" src="{{ MEDIA_URL }}{{ attachment.file }}">
                                {% endif %}
                                {% endwith %}
                            </div>
                            <p class="gameslist-detail-description">{# instance.description|truncatewords:20 #}{{ instance.description }}</p>
                        </div>
                    </div>
                </div>
                        {% endfor %}
            </div>
        </div>
    </div>
</div>
