<!-- Games per City -->
<div id="games" class="games">
    <ul class="games-filter">
        <li><a data-target='games-list-current'>Games</a></li>
        {% if instances_past %}<li><a data-target='games-list-past'>Past Games</a></li>{% endif %}
    </ul>
    
    <hr class="thick" />
    {% block games_extras %}{% endblock %}
    <div class="games-filter-container">
        <!-- Current Games -->
        <div id="games-list-current" class="games-list">
            <ul class="games-list-nav">
                {% for instance in instances_current %}
                <li>
                    <a>
                        <h3>{{ instance.title }}</h3>
                        <p>
                            {# Current Game #}
                            {{ instance.for_city.name }} &bull; 
                            {% if instance.is_active %}
                                {# Active games happening right now #}
                                Happening right now!
                            {% else %}
                                {# Future games #}
                                Starts on {{ instance.start_date|date:"M j" }}
                            {% endif %}
                            {# If you're signed up for this current game #}
                            {% if instance in request.user.get_profile.instances.all %}
                                <div class="games-list-signedup">
                                    You're signed up!
                                </div>
                            {% endif %}
                        </p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="games-list-details slides_container">
                {% for instance in instances_current %}
                <div>
                    {# {% if not instance.is_started %} #}
                    {# <div class="games-list-detail-countdown"> #}
                    {#     <div>{{ instance.time_until_start}}</div> #}
                    {#     <div>Til Game Launch!</div> #}
                    {# </div> #}
                    {# {% endif %} #}
                    <img class="games-list-detail-img" src="{{ MEDIA_URL }}{{ instance.get_slideshow_attachment.file }}" />
                    <p class="games-list-detail-description">{# instance.description|truncatewords:20 #}{{ instance.description }}</p>
                    <div id="games-list-detail-signup" class="btn-arrow">
                        {% if user.is_authenticated %}
                            {# Sign up for Instance #}
                            {% if instance in request.user.get_profile.instances.all %}
                                {# TODO: Go to this game if started! #}
                                <a href="{{ instance.mission_set.0.slug }}">Go to game!</a>
                            {% else %}
                                <a href="{% url accounts:register %}">Sign up for this game!</a>
                            {% endif %}
                        {% else %}
                            {# Authenticate, and then sign up for this instance #}
                            <a href="{% url accounts:register %}">Sign up for this game!</a>                        
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        
        <!-- Past Games -->
        <div id="games-list-past" class="games-list">
            <ul class="games-list-nav">
                {% for instance in instances_past %}
                <li>
                    <a>
                        <h3>{{ instance.title }}</h3>
                        <p>{{ instance.for_city.name }} &bull; Ran from {{ instance.start_date|date:"n/j/y" }} - {{ instance.end_date|date:"n/j/y" }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="games-list-details slides_container">
                {% for instance in instances_past %}
                <div>
                    <img class="games-list-detail-img" src="{{ MEDIA_URL }}{{ instance.get_slideshow_attachment.file }}">
                    <p class="games-list-detail-description">{# instance.description|truncatewords:20 #}{{ instance.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
