{% extends 'base.html' %}

{% block title %}{% if current_city %}{{ current_city.name }}{% else %}Welcome{% endif %}{% endblock %}
{% block body_class %}public{% endblock %}

{% block header %}
<div id="header">
    <div id="logo-container">
        <a href="http://{{ top_level_domain }}"><img src="{{ STATIC_URL }}img/logo.png" width="150" height="100" /></a>
    </div>
    <div id="header-extras-container">
        <div id="header-extras-cityname">{{ current_city.name }}</div>
        <div id="header-extras-citydescription">{{ current_city.description }}</div>
        {% if current_city.image %}<div id="header-extras-cityimage"><img src="{{ MEDIA_URL }}{{ current_city.image }}" width="230" height="124" /></div>{% endif %}
    </div>
</div>
{% endblock %}


{% block walkthrough %}{% endblock %}

{% block cities_nav %}{% endblock %}

{% block games_extras %}
    {% if not user.is_authenticated %}
    <div id="login-container">
        <a href="{% url accounts:login %}">Log In</a> or <a href="{% url accounts:register %}">Sign Up</a>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
