<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Community PlanIt</title>
    
    {% block css %}
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">    
    {% endblock %}
    
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/slides.jquery.js"></script>
    {% endblock %}
    
    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% block body %}
    
    <div id="body-container">
        <div id="header">
            <div id="logo-container">
                <a href="{% url home %}"><img src="{{ STATIC_URL }}img/logo.png" width="150" height="100" /></a>
            </div>
            <div id="login-container">
                <a href="{% url accounts:login %}">Log In</a> or <a href="{% url accounts:register %}">Sign Up</a>
            </div>
        </div>
        {% block content %}
    
    
        {% endblock %}
        <div id="footer">
            <div>
                <h1>Created by:</h1>
                <img src="{{ STATIC_URL }}img/logo-egl.png">
            </div>
            <div>
                <h1>Supported by:</h1>
                <img src="{{ STATIC_URL }}img/logo-knightfoundation.png">
            </div>
            <div>
                <h1>Share alike:</h1>
                <img src="{{ STATIC_URL }}img/logo-copyleft.png">
            </div>
            <div>
                <ul>
                    <li><a href="{% url about %}">About</a></li>
                    <li><a href="{% url contact %}">Contact</a></li>
                    <li><a href="{% url privacy %}">Privacy Policy</a></li>
                    <li><a href="{% url terms %}">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
