{% extends 'base.html' %}

{% block content %}
    
    <div>
        <h1>Mission Control</h1>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>status bar</div>
    </div>
    <div>
        asdf
    </div>
    <div id="sidebar-nav">
        <ul>
            <li><a href="" id="sidebar-nav-expert">Become an Expert</a></li>
            <li><a href="" id="sidebar-nav-crowds">Get Together!</a></li>
            <li><a href="" id="sidebar-nav-news">What's Happening</a></li>
            <li><a href="" id="sidebar-nav-players">Find Players</a></li>
            <li><a href="" id="sidebar-nav-standings">Check the Standings</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
{% endblock %}