{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | Community PlanIt</title>
    
    {% block css %}
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/ui-lightness/jquery-ui-1.8.9.custom.css">
        <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'>
    {% endblock %}
    
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/slides.jquery.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>

        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-31043728-1']);
        _gaq.push(['_setDomainName', 'communityplanit.org']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>


    {% endblock %}
    
    {% block extra_head %}
    {% endblock %}
</head>

{% block body %}
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    
    {% block top_nav %}
    <div id="top-nav">
        <ul>
            {# <li><a href="{% url howtoplay %}">How to Play</a></li> #}
            {% if user.is_authenticated %}
                <li><a href="{% url accounts:logout %}">Sign Out</a></li>
            {% else %}
                <li><a href="{% url accounts:login %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
    {% endblock %}
    
    {% block page %}
        {% block header %}
            <!-- HEADER -->
            <div id="header">
                <div id="logo-container">
                    <a href="{% url home %}"><img src="{{ STATIC_URL }}img/logo.png" width="150" height="100" /></a>
                </div>
                <div id="header-extras-container">
                    <div id="header-extras-intro">{% trans "Play the game. Plan the future." %}</div>
                    <div id="header-extras-login">
                    {% if not user.is_authenticated %}
                    <div id="login-container" class="btn-arrow">
                        <a href="{% url accounts:login %}">{% trans "Sign In" %}</a>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endblock header %}
    
        <div id="page-container">
            <!-- CONTENT -->
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <br class="clearfix" />
        </div>
    {% endblock %}
    
    
    {% block footer %}
        <!-- FOOTER -->
        <div id="footer">
            <div class="column">
                <h1>Created by:</h1>
                <a href=""><img src="{{ STATIC_URL }}img/logo-egl.png"></a>
            </div>
            <div class="column">
                <h1>Supported by:</h1>
                <a href=""><img src="{{ STATIC_URL }}img/logo-knightfoundation.png"></a>
            </div>
            <div class="column">
                <h1>Share alike:</h1>
                <img src="{{ STATIC_URL }}img/logo-copyleft.png">
            </div>
            <div class="column">
                <ul>
                    <li><a href="{% url about %}">About</a></li>
                    <li><a href="{% url contact %}">Contact</a></li>
                    <li><a href="{% url privacy %}">Privacy Policy</a></li>
                    <li><a href="{% url terms %}">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
</body>
{% endblock %}
</html>
