{% extends 'base.html' %}

{% block title %}{% if request.current_city %}{{ request.current_city.name }}{% else %}Welcome{% endif %}{% endblock %}

{% block body_class %}{% if base_city %}public{% endif %}{% if base_game %}private{% endif %}{% endblock %}

{% block header %}

    {% comment %} CITY PAGE HEADER {% endcomment %}
    {% if base_city %}
    <div id="header">
        <div id="logo-container">
            <a href="http://{{ top_level_domain }}"><img src="{{ STATIC_URL }}img/logo.png" width="150" height="100" /></a>
        </div>
        <div id="header-extras-container">
            <div id="header-extras-cityname">{{ request.current_city.name }}</div>
            <div id="header-extras-citydescription">{{ request.current_city.description }}</div>
            {% if request.current_city.image %}<div id="header-extras-cityimage"><img src="{{ MEDIA_URL }}{{ request.current_city.image }}" width="230" height="124" /></div>{% endif %}
        </div>
    </div>
    {% endif %}
    
    {% comment %} GAME PAGE HEADER (WITH MISSION NAVIGATION) {% endcomment %}
    {% if base_game %}
    <div id="header">
        <div id="logo-container">
            <a href="{% url home %}"><img src="{{ STATIC_URL }}img/logo.png" width="80" height="51"/></a>
        </div>
        <div>
            <h1>Mission Control</h1>
            <ul id="nav-missions">
                {% for mission in request.current_game.missions.all %}
                <li>
                    <a href="{% url missions:mission mission.slug %}" title="{{mission.title}}">
                        <div class="nav-missions-number">{{ forloop.counter }}</div>
                    </a>
                    {% if forloop.last %}<div class="nav-missions-end-arrow"></div>{% endif %}
                </li>
                {# <li> #}
                {#     <a href=""> #}
                {#         <div class="nav-missions-number">3</div> #}
                {#         <div class="nav-missions-endsin"> #}
                {#             <p class="nav-missions-endsin-label">Ends in<p> #}
                {#             <p class="nav-missions-endsin-time">4 days</p> #}
                {#         </div> #}
                {#     </a> #}
                {# </li> #}
                {% endfor %}
            </ul>
            <div id="mission-progress-container">
                <div id="mission-progress-total">
                    <div id="mission-progress-marker"></div>
                    <div id="mission-progress-individual">250</div>
                </div>
            </div>
        </div>
        <div id="mission-map"></div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="header-instance">
        <h1><a href="{# should link back to current mission #}">{{ request.current_game }}</a></h1>
    </div>

    <div class="column-full">
        <div id="column-body">
            {% block game_content %}
        
            {% endblock %}
        </div>
    
        {% include '_game_nav.html' %}
    </div>
{% endblock %}
