{% extends 'base_city.html' %}

{% block extra_head %}
<script>
    $(function(){
        $("#walkthrough").slides({
            next: 'walkthrough-next',
            generatePagination: false
        });
        
        $("#games-list-current").slides({
            effect: 'fade',
            generatePagination: false,
            paginationClass: 'games-list-nav'
        });
        
        $("#games-list-past").slides({
            effect: 'fade',
            generatePagination: false,
            paginationClass: 'games-list-nav'
        });
        
        $('.games-list').hide();
        
        $(".games-filter a").click(function(){
            $this = $(this);
            $(".games-filter a").removeClass('active');
            $this.addClass('active');
            $('.games-list').hide();
            $('#'+$this.attr('data-target')).show();
        })
        
        $(".games-filter a").first().click();
        
    });
</script>
{% endblock %}

{% block body_id %}{% if user.is_authenticated %}private-city{% else %}public-city{% endif %}{% endblock %}


{% block home_logo_url %}http://{{ top_level_domain }}{% endblock %}
{% block content %}
    <hr class="rainbow" />            
    <br />
    {# TODO: TEMPORARY FOR THE QUINCY LAUNCH, REMOVE!! #}
    {% if request.session.current_game_slug = 'north-quincy-wollaston-neighborhoods-on-the-move' %}
        {% include 'static/quincy_post_signup.html' %}
    {% else %}

        {% include '_games_per_city.html' %}
            
        {% if user.is_authenticated %}
            {% include '_game_nav.html' %}
        {% else %}
            <div id="login-container" class="btn-arrow">
                <a href="{% url accounts:login %}">Sign In</a>
            </div>
        {% endif %}
    
    {% endif %}
    
{% endblock %}