{% extends 'base_city.html' %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/citypages.css"> 
{% endblock %}

{% block extra_head %}
<script>
    $(function(){
        $("#walkthrough").slides({
            next: 'walkthrough-next',
            generatePagination: false
        });
        
        $("#games-list-current").slides({
            effect: 'fade',
            generatePagination: false,
            paginationClass: 'games-list-nav'
        });
        
        $("#games-list-past").slides({
            effect: 'fade',
            generatePagination: false,
            paginationClass: 'games-list-nav'
        });
        
        $('.games-list').hide();
        
        $(".games-filter a").click(function(){
            $this = $(this);
            $(".games-filter a").removeClass('active');
            $this.addClass('active');
            $('.games-list').hide();
            $('#'+$this.attr('data-target')).show();
        })
        
        $(".games-filter a").first().click();
        
    });
</script>
{% endblock %}

{% block body_id %}{% if user.is_authenticated %}private-city{% else %}public-city{% endif %}{% endblock %}

{% block content %}
    
    <hr class="rainbow" />
    
    <br />
    {% include '_games_per_city.html' %}
    
    
    {% if user.is_authenticated %}
        {% include '_game_nav.html' %}
    {% else %}
    
        <div id="login-container">
            <a href="{% url accounts:login %}">Sign In</a>
        </div>
    
    {% endif %}
    
{% endblock %}