{%extends "base.html"%}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/citypages.css"> 
{% endblock %}

{% block extra_head %}
<script>
    $(function(){
        $("#walkthrough").slides({
            next: 'walkthrough-next',
            generatePagination: false
        });
        
        $("#games-list-current").slides({
            effect: 'fade',
            generatePagination: false,
            paginationClass: 'games-list-nav'
        });
        
        $("#games-list-past").slides({
            effect: 'fade',
            generatePagination: false,
            paginationClass: 'games-list-nav'
        });
        
        $('.games-list').hide();
        
        $(".games-filter a").click(function(){
            $this = $(this);
            $(".games-filter a").removeClass('active');
            $this.addClass('active');
            $('.games-list').hide();
            $('#'+$this.attr('data-target')).show();
        })
        
        $(".games-filter a").first().click();
        
    });
</script>
{% endblock %}

{% block body_id %}public-index{% endblock %}

{% block content %}
<div class="column-full">
    <hr class="rainbow" />
    {% block walkthrough %}
    <div id="walkthrough" class="ribbon">
        <div id="walkthrough-container" class="slides_container">
            <div>
                
                <iframe class="walkthrough-media" src="http://player.vimeo.com/video/40255999?title=0&amp;byline=0&amp;portrait=0" width="450" height="259" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                {# <p><a href="http://vimeo.com/40255999">ROUGH CPI Homepage Video</a> from <a href="http://vimeo.com/user11255512">Community PlanIt</a> on <a href="http://vimeo.com">Vimeo</a>.</p> #}
                <div class="walkthrough-content-container">
                    <h1>Community PlanIt is an online engagement game that gives everyone the power to help shape their community's future</h1>
                </div>
                <a class="walkthrough-next" href=""></a>
                <div class="clearfix"></div>
            </div>
            <div>
                <img class="walkthrough-media" src="{{ STATIC_URL }}img/walkthrough-map.png" />
                <div class="walkthrough-content-container">
                    <h1>Map the Future</h1>
                    <p>Complete challenges and accomplish missions to influence the overall priorities of the planning process in your community</p>
                </div>
                <a class="walkthrough-next"></a>
            </div>
            <div>
                <img class="walkthrough-media" src="{{ STATIC_URL }}img/walkthrough-explore.png" />
                <div class="walkthrough-content-container">
                    <h1>Explore Your Issues</h1>
                    <p>Learn about your community and the planning going on by exploring resources and using your knowledge to provide input and solutions to key planning challenges</p>
                </div>
                <a class="walkthrough-next"></a>
            </div>
            <div>
                <img class="walkthrough-media" src="{{ STATIC_URL }}img/walkthrough-community.png" />
                <div class="walkthrough-content-container">
                    <h1>Connect With Your Community</h1>
                    <p>Connect with community members of all ages and backgrounds to playfully and thoughtfully work together in making your community a better place to live</p>
                </div>
                <a class="walkthrough-next"></a>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block games %}
        {% include '_games_per_city.html' %}
    {% endblock %}
    
    {% block cities_nav%}
    <!-- Cities -->
    <div id="cities-container">
        <h2>Metro Areas</h2>
        <ul>
            {% for city in cities %}
                <li><h3><a href="http://{{ city.domain }}">{{city.name }}</a></h3></li>
            {% endfor %}
        </ul>
        <div id="bringtoyourcommunity-container"><a href="">Bring Community PlanIt to you!</a></div>
    </div>
    {% endblock %}
    <br class="clearfix">
</div>
{% endblock %}