{%extends "base.html"%}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div>
    <div id="walkthrough-container">
        <ul id="walkthrough">
            <li>
                <img class="walkthrough-media"></img>
                <div class="walkthrough-content-container">
                    <h1>Community PlanIt is an engagement game that gives you the power to plan your community's future</h1>
                    
                </div>
                <a class="walkthrough-next" href="">What you do</a>
            </li>
            <li>
                <img class="walkthrough-media"></img>
                <div class="walkthrough-content-container">
                    <h1>1. Join your community</h1>
                    <p>Come together in a tight network of community members of all ages and backgrounds to learn about, discuss, and rally others around the local planning issues facing your community.</p>
                </div>
                <a class="walkthrough-next" href=""></a>
            </li>
            <li>
                <img class="walkthrough-media"></img>
                <div class="walkthrough-content-container">
                    <h1>2. Explore your issues</h1>
                    <p>Provide feedback to planners, debate the issues, and pose your own questions and calls for action over the course of a 3-6 week game. Each game is composed of a series of missions based on the main themes and concerns of the planning going on in your community.</p>
                </div>
                <a class="walkthrough-next" href=""></a>
            </li>
            <li>
                <img class="walkthrough-media"></img>
                <div class="walkthrough-content-container">
                    <h1>3. Map the future</h1>
                    <p>When you accomplish a mission, you earn the ability to unite with others and map the planning priories that you believe are most important for your community's future. All players will then be invited to a face-to-face meeting where they will come together with planners and decision-makers to discuss the results of the game.</p>
                </div>
                <a class="walkthrough-next" href=""></a>
            </li>
        </ul>
        
    </div>

    <!-- Games per City -->
    <div id="games-container">
        <div>
            <h2><a href="#">Games</a></h2>
            <h2><a href="#">Past Games</a></h2>
        </div>
        <div>
            <h2>Games</h2>
            {% for instance in instances %}
                <div>
                    <h3>{{ instance.title }}</h3>
                    <p>
                        {{ instance.for_city.name }} &bull; 
                        {% if instance.is_started %}
                            Right Now!
                        {% else %}
                            {{ instance.start_date|date:"M j" }} - {{ instance.end_date|date:"M j" }}
                        {% endif %}
                    </p>
                    <p><a href="">Sign up for this game</a></p>
                    {{ instance.description }}
                </div>
            {% endfor %}
            
            <br /><br />
            
            <h2>Past Games</h2>
            {% for instance in instances_past %}
                <h3>{{ instance.title }}</h3>
                <p>{{ instance.for_city.name }} &bull; Ended on {{ instance.end_date|date:"M j" }}</p>
                <p>{{ instance.description }}</p>
                <br /><br />
            {% endfor %}
        </div>
        
    </div>
    
    <!-- Cities -->
    <div id="cities-container">
        <h2>Metro Areas</h2>
        <ul>
            {% for city in cities %}
                <li><a href="http://{{ city.domain }}">{{city.name }}</a></li>
            {% endfor %}
        </ul>
        <div id="bringtoyourcommunity-container"><a href="">Bring Community PlanIt to you</a></div>
    </div>
    
    <div class="clearfix">
</div>
{% endblock %}