$black: #000;
$blue: #275491;
$cityblue: #C2D3EF;
$darkblue: #001A39;
$darkgray: #4C4D4F;
$darkgreen: #617C00;
$darkorange: #AD6818;
$faintblue: #E6EDF9;
$gray: #999999;
$green: #B9D32C;
$iconblue: #005793;
$lightblue: #c5d6f2; //E0E8F3;
$lightgray: #f0f0f0;
$lightgreen: #869F00;
$lightgreen_transparent: rgba(134, 159, 0, 0);
$highlight_green: rgb(222, 248, 107);
$lightviolet: #cdd4e1;
$linkblue: #265BA4;
$navblue: #214386;
$navshadow: #3779ba;
$navyblue: #082949;
$orange: #ff7812;
$paleyellow: #FFFFEE;
$teal: #87C1C9;
$tr_even: #f0f0f0;
$tr_odd: #fff;
$translightgray: rgba(219, 219, 219, .6);
$transwhite: rgba(255, 255, 255, .5);
$vibrantblue: #00AEEF;
$white: #FFFFFF;
