{% extends 'crowds/all.html' %}
{% load game_extras i18n %}

{% block crowds_add %}
<div class="tabbutton">
    <a href="{% url crowds:index %}" class="button">{% trans "- Create a Get Together!" %}</a>
</div>

<div>
    <div id="crowds-addform">
        <form class="column-container" action="" method="POST"> 
            {% csrf_token %}
            <input type="hidden" class="defaults" value='{"zoom": 14, "coordinates": {{location}} }'>

            <p>
                {{form.name.label_tag}}
                {{form.name}}
                {{form.name.errors}}
            </p>

            <p>
                {{form.description.label_tag}}
                <div class="help">
                    {{form.description.help_text}}
                </div>
                {{form.description}}
                <div class="fine counter">(<span class="count">1000</span> {% trans "characters left" %})</div>
                {{form.description.errors}}
            </p>

            <p>
                {{form.map.label_tag}}
                {{form.map}}
                {{form.map.errors}}
            </p>

            <p>
                {{form.start_date.label_tag}}
                {{form.start_date}}
                {{form.start_date.errors}}
            </p>

            <p>
                {{form.end_date.label_tag}}
                {{form.end_date}}
                {{form.end_date.errors}}
            </p>
        
            <p>
                {{ form.confirmation_code.label_tag }}
                {{ form.confirmation_code }}
                {{ form.confirmation_code.errors }}
            </p>

            <div class="controls">
                <input type="submit" class="button submit" value="{% trans "Rally a Crowd" %}">
            </div>
        </form>
    </div>
</div>
{% endblock %}