{% extends 'crowds/base.html' %}
{% load game_extras i18n %}

{% block game_content %}
<div class="column-full">
    <div class="column-container">
    <h1>Get Together!</h1>
    <p class="instructions">Create or attend a Get Together. It allows you to interact face to face with the people who are also helping to build your community's future.</p>
    
    {% block crowds_add %}
        <div class="tabbutton">
            <a href="{% url crowds:rally %}" class="button">{% trans "+ Create a Get Together!" %}</a>
        </div>
    {% endblock %}
    
    <hr class="thick" />
    
    <div>
        <h2>May 30, 2012</h2>
        <div class="crowds-event">
            <div class="crowds-event-time">12:28am</div>
            <div class="crowds-event-name">Lorem ipsum dolor sit amet.</div>
        </div>
        
        <div class="crowds-event">
            <div class="crowds-event-time">12:28am</div>
            <div class="crowds-event-name">Lorem ipsum dolor sit amet.</div>
        </div>
    </div>
    
    <hr class="thick" />
    
    <div>
        <h2>May 30, 2012</h2>
        <div class="crowds-event">
            <div class="crowds-event-time">12:28am</div>
            <div class="crowds-event-name">Lorem ipsum dolor sit amet.</div>
        </div>
        
        <div class="crowds-event">
            <div class="crowds-event-time">12:28am</div>
            <div class="crowds-event-name">Lorem ipsum dolor sit amet.</div>
        </div>
    </div>
    
    
    
    <br /><br /><br /><br />
    
    <ul class="challenge_list">
        {% for crowd in upcoming %}
        <li class="challenge">
            <!--a href="{# url crowds:crowd crowd.pk #}"-->
                {{ crowd.name}}<span>&nbsp;&nbsp;&nbsp;&nbsp;{{ crowd.participants.all.count }} {% trans "Participants" %}</span>
                <br/>
                <span> created by {{ crowd.creator.get_profile.screen_name }}</span>
                {% if crowd.start_date %} <br/> 
                    <span class="dates">{{ crowd.start_date|date:"m/d/Y"}}</span> <br/>
                {% endif %}
            <!--/a-->
                {% if not request.user in crowd.participants.all %}
                    <a href="{% url crowds:join crowd.pk %}" class="button">{% trans "Join this Crowd!" %}</a>
                {% else %}
                    <a href="{% url crowds:leave crowd.pk %}" class="button">{% trans "Leave this Crowd!" %}</a>
                {% endif %}
        </li>
        {% empty %}
        <li>
        {% trans "There are no active crowds" %}.
        </li>
        {% endfor %}


        {% for crowd in past %}
        <li class="challenge">
            <!--a href="{# url crowds:crowd crowd.pk #}"-->
                {{ crowd.name}}<span>{{ crowd.participants.all.count }} {% trans "Participants" %}</span>
                {% if crowd.start_date %} <br/> <span class="dates">{{ crowd.start_date|date:"m/d/Y"}}</span> {% endif %}
            <!--/a-->
        </li>
        {% empty %}
        <li>
        {% trans "There are no past crowds" %}.
        </li>
        {% endfor %}

    </ul>
    </div>
</div>
{% endblock %}