{% extends 'crowds/base.html' %}
{% load game_extras gmap attachment_tags cpi_tags i18n %}

{% block game_content %}
<div class="column-full">
    <div class="column-container">
        <div><a href="{% url crowds:index %}" class="btn-back">Back to Get Togethers!</a></div>

        <h1>{{ crowd.name }}</h1>        
        <h4>{{ crowd.start_date }} - {{ crowd.end_date }}</h4>
    </div>
</div>
<div class="column-threequarter">
    <div class="column-container">
        <div >
            {{ crowd.map|show }}
        </div>
        <div>
            {{ crowd.description }}
        </div>
        
        <div>
            <h3>{{ crowd.participants.count }} {% trans "total participants" %}</h3>
        </div>
    </div>
</div>
<div class="column-onequarter">
    <div class="column-container">
        {% if not request.user in crowd.participants.all %}
            <a href="{% url crowds:join crowd.pk %}" class="button">{% trans "Join" %}</a>
        {% else %}
            You're going
            <p>{% trans "Can't make it?" %}</p>
            <a href="{% url crowds:leave crowd.pk %}" class="btn-blue">{% trans "Unjoin" %}</a>
        {% endif %}
        
        <div>
            <ul>
                {% for participant in crowd.participants.all %}
                <li>{{ participant.get_profile.screen_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>    
        

{% gmap_includes %}

{% endblock %}