/* Accounts App-specific Styles */

#registration-container {
    background: #00E5B8;
    overflow: hidden;
}

    #registration-container > div {
        margin: 30px 0px;
    }
    

/* Registration Form */
.accounts-form {
}
    
    .accounts-form p {
        margin: 10px 0px;
    }
    
        .accounts-form span.private {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
            left: -20px;
            width: 13px;
            height: 17px;
            margin: 0px -13px 0px 0px;
            background: url('../../../../static/img/icon-private.png') no-repeat;
        }
    .accounts-form label {
        display: block;
        width: 220px;
        margin: 3px 0px;
        font-size: 0.75em;
    }

    .accounts-form input[type='text'], 
    .accounts-form input[type='password'] {
        display: inline-block;
        vertical-align: middle;
        width: 220px;
        padding: 8px 5px;
        border: 0px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .accounts-form textarea {
        width: 220px;
        height: 100px;
        padding: 8px 5px;
        border: 0px;
        resize: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .accounts-form select {
        width: 220px;
    }
    
    #accounts-form-step2-instructions {
        margin: 20px 0px;
    }
    
    #accounts-form-avatar-disclaimer {
        font-size: 0.8em;
        color: #666;
    }   

    #accounts-form-step2-submit {
        float: right;
        margin-right: 38px;
    }
    
/* Account Profile Specific Styles */
#profile-edit-btn {
    font-size: 0.4em;
}

#profile-player {}
    
    .profile-detail {
        margin: 10px 0px;
        min-height: 75px;
    }

/* Account Edit Profile Specific Styles */
#profile-editform-container {
  margin-right: 20px;
  padding: 20px 0px 30px 0px;
  background: #00e5b8;
}


/* Account ProfileSSSSS Specific Styles */

/*  
    profile-filters are about the same as #stream-filters on the static/isntances/css/styles.css... 
    but let's keep them separate since they're mainly width/margin-specific 
*/
#profile-filters {
    margin: 20px 0px;
}
    
    #profile-filters form {
        display: inline-block;
    }

    #profile-filters label {
        display: inline-block;
        width: 75px;
    }
    
    #id_stakes {
        width: 125px;
        margin-left: 5px;
    }
    
    #id_affiliation {
        width: 175px;
    }
    
    #profile-filters-apply {
        margin-left: 10px;
    }
    
    #id_q {
        border: 1px solid #ddd;
        padding: 8px 5px;
        margin-left: 75px;
        width: 150px;
    }
    
    #profile-search-apply {
        margin-left: 10px;
    }
    
.profile-container {
    width: 164px;
    float: left;
    margin: 20px 20px;
    background: #e5f0ea url('../../../../static/img/bg-pagefold.png') no-repeat right bottom;
    overflow: hidden;
}

    .profile-container:nth-child(4n+1) {
        clear: left;
    }
    
    .profile-container img{
        display: block;
        width: 164px;
        height: 164px;
        margin: 0px;
    }
    
    .profile-container .profile-screenname {
        padding: 8px 10px;
        background: #f3f7ed;
        font-weight: bold;
        color: #323843;
    }
    
    .profile-container .profile-tagline {
        margin: 10px 10px;
        font-style: italic;
        color: black;
    }


/* Leaderboards Specific Styles */

#leaderboard {}
    
    