/* Accounts App-specific Styles */

#registration-container {
    background: #00E5B8;
    overflow: hidden;
}

    #registration-container > div {
        margin: 20px inherit;
    }
    

/* Registration Form */
.accounts-form {
    
}
    
    .accounts-form p {
        margin: 10px 0px;
    }
    
    .accounts-form label {
        display: block;
        margin: 3px 0px;
        font-size: 0.75em;
    }

    .accounts-form input[type='text'], 
    .accounts-form input[type='password'] {
        width: 250px;
        padding: 10px 8px;
        border: 0px;
        border-radius: 3px;
    }
    
/* Account Profile Specific Styles */
#profile-edit-btn {
    font-size: 0.4em;
}

#profile-player {}
    
    .profile-detail {
        margin: 10px 0px;
        min-height: 75px;
    }

/* Account Edit Profile Specific Styles */
#profile-editform-container {
  margin-right: 20px;
  padding: 20px 0px 30px 0px;
  background: #00e5b8;
}


/* Account ProfileSSSSS Specific Styles */

/*  
    profile-filters are about the same as #stream-filters on the static/isntances/css/styles.css... 
    but let's keep them separate since they're mainly width/margin-specific 
*/
#profile-filters {
    margin: 20px 0px;
}

    #profile-filters label {
        display: inline-block;
        width: 100px;
    }
    
    #profile-filters-stake {
        width: 150px;
    }
    
    #profile-filters-affiliation {
        width: 150px;
        margin-left: 25px;
    }
    
    #profile-filters-apply {
        margin-left: 25px;
    }
    
.profile-container {
    width: 164px;
    float: left;
    margin: 20px 20px;
    background: #e5f0ea url('../../../../static/img/bg-pagefold.png') no-repeat right bottom;
    overflow: hidden;
}

    .profile-container img{
        display: block;
        width: 164px;
        height: 164px;
        margin: 0px;
    }
    
    .profile-container .profile-screenname {
        padding: 8px 10px;
        background: #f3f7ed;
        font-weight: bold;
        color: #323843;
    }
    
    .profile-container .profile-tagline {
        margin: 10px 10px;
        font-style: italic;
        color: black;
    }


/* Leaderboards Specific Styles */

#leaderboard {}
    
    