{% extends "layouts/base.html" %}

{% block section %}lists{% endblock %}
{% block title %}{{page}} player list{% endblock %}
{% block page_title %}<h2 id="page_title">{{page}} player list</h2>{% endblock %}

{% block main %}
    <div class="wrapper">
        {% if players.object_list|length %}
        <table style="width:100%">
            <th>
                <td>Name</td>
                <td>Points</td>
                <td>Coins</td>
            </th>
            {% for player in players.object_list %}
            <tr>
                <td>
                    {% if player.avatar %}
                        <img class="avatar" style="float:left" src="{{MEDIA_URL}}{{player.avatar}}">
                    {% else %}               
                        <img class="avatar" style="float:left" src="{{MEDIA_URL}}img/avatar-blank.jpg">
                    {% endif %} 

                </td>
                <td>
                    <a href="{% url accounts_profile player.id %}">{{player.screen_name}}</a>
                </td>
                <td>
                    {{player.points}}
                </td>
                <td>
                    {{player.coins}}
                </td>
            </tr>
            {% endfor %}
        </table>
        <hr class="space">
        <div class="pagination">
            <span class="step-links">
                {% if players.has_previous %}
                    <a href="?page={{ players.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ players.number }} of {{ players.paginator.num_pages }}.
                </span>

                {% if players.has_next %}
                    <a href="?page={{ players.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        {% else %}
            No players found.   
        {% endif %}
    </div>
{% endblock %}
