/* Player Activities Specific Stylesheet */

#player-activities {
}
    
    
    #player-activities .points {
        display: inline-block;
        position: relative;
        top: -8px;
        width: 30px;
        height: 30px;
        margin: 0px 10px;
        font-size: 0.4em;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        background: url('../img/bg-activities-points.png') no-repeat center center;
        color: #fff;
    }
    
    #player-activities .activity-question {
        position: relative;
        padding: 20px;
        margin-top: 20px;
        background: #e3f1ea;
        -webkit-border-radius: 10px;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius: 10px;
        -moz-border-radius-topleft: 0;
        border-radius: 10px;
        border-top-left-radius: 0;
    }
    
        #player-activities .activity-question:before {
            content: ' ';
            position: absolute;
            width: 0px;
            height: 0px;
            top: -24px;
            left: 0px;
            border: 12px solid transparent;
            border-bottom-color: #e3f1ea;
            border-left-color: #e3f1ea;
        }
        
        /* Single and Multi-response has bo bottom-radius */
        #player-activities .single-response .activity-question,
        #player-activities .multi-response .activity-question {
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
        }
        
        /* Empathy questions point to the left for an image */
        #player-activities .empathy .activity-question {
            margin-top: 0px;
        }
            
            #player-activities .empathy .activity-question:before {
                content: ' ';
                position: absolute;
                width: 0px;
                height: 0px;
                top: 0px;
                left: -24px;
                border: 12px solid transparent;
                border-top-color: #e3f1ea;
                border-right-color: #e3f1ea;
            }
        
        #player-activities .empathy .bio {
            font-style: italic;
            color: #666;
        }
        
        #player-activities .empathy .question {
            margin: 10px 0px;
        }
    
        /* Map styles */
        #player-activities .map .map-controls {
            text-align: right;
        }
        
            #player-activities .map .map-controls input[type='text'] {
                width: 250px;
                border: 1px solid #ddd;
                padding: 8px 5px;
            }
            
            #player-activities .map #map {
                height: 300px !important;
                border: 1px solid #ddd;
            }
    
    /* at the end of options is a capper to close off the bubble */
    #player-activities .activity-question-options:after { 
        content: ' ';
        display: block;
        width: 100%;
        height: 25px;
        background: #e3f1ea;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

        #player-activities .activity-question-options label {
            display: block;
            margin: 2px 0px;
            padding: 15px 20px;
            background: #e3f1ea;
            cursor: pointer;
        }
    
            #player-activities .activity-question-options label:hover {
                background: #eff2f2;
            }
        
            #player-activities .activity-question-options label input[type='radio'],
            #player-activities .activity-question-options label input[type='checkbox'] {
                margin-right: 20px;
            }
    
    /* Comments and Open-responses are styled the same way */
    #player-activities .activity-response,
    #player-activities .comment-response {
        position: relative;
        margin: 20px 0px;
        padding: 20px;
        background: #eff2f2;
        -webkit-border-radius: 10px;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius: 10px;
        -moz-border-radius-bottomright: 0;
        border-radius: 10px;
        border-bottom-right-radius: 0;
    }
    
    
        #player-activities .comment-response-counter {
            color: #999;
            font-size: 0.8em;
        }
    
        #player-activities .activity-response:after,
        #player-activities .comment-response:after {
            content: ' ';
            position: absolute;
            width: 0px;
            height: 0px;
            bottom: -24px;
            right: 0px;
            border: 12px solid transparent;
            border-top-color: #eff2f2;
            border-right-color: #eff2f2;
        }
        
        #player-activities .activity-response textarea,
        #player-activities .comment-response textarea {
            width: 100%;
            border: 1px solid #ddd;
            background: #eff2f2;
            resize: none;
        }
    
        #player-activities .activity-response-submit {
            float: right;
            margin-right: -82px; /* adjust */
        }

            #player-activities .activity-response-submit img {
                display: inline-block;
                vertical-align: middle;
            }
        
            #player-activities .activity-response-submit input {
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
            }
            
    /* Restricting Attachments for questions */
    #player-activities .attachments {
        float: left;
        margin: 0px 20px 10px 0px;
    }
        
        #player-activities .attachments.attachments-type_Video {
            float: none;
            display: block;
            width: 480px;
            height: 320px;
            margin: 20px auto
        }
        
        #player-activities .attachments.attachments-type_Image img {
            max-width: 200px;
        }
    
        /* Empathy should also be one own line */
        #player-activities .empathy .attachments {
            float: none;
            text-align: center;
        }
    
            #player-activities .empathy .attachments.attachments-type_Image img {
                max-width: 300px;
            }
            
            #player-activities .attachments.attachments-type_Video {
                float: none;
                display: block;
                width: 320px;
                height: 240px;
                margin: 20px auto
            }
    
