$cityblue: #C2D3EF;
$black: #000;

$white: #FFFFFF;
$transwhite: rgba(255, 255, 255, .5);
$faintblue: #E6EDF9;
$blue: #275491;
$navyblue: #004789;
$darkblue: #04223E;
$vibrantblue: #4fb4f2; //00ADEF;
$iconblue: #005793;
$linkblue: #265BA4;
$lightviolet: #cdd4e1;
$lightblue: #c5d6f2; //E0E8F3;
$translightgray: rgba(219, 219, 219, .6);
$green: #B9D32C;
$lightgreen: #E0FF35;
$darkgreen: #92A818;
$gray: #999999;
$lightgray: #dbdbdb;
$darkgray: #4C4D4F;
$navblue: #214386;
$navshadow: #3779ba;
$orange: #FE4D01; 
$darkorange: #AD6818;
$paleyellow: #FFFFEE;
