@import "fonts";
@import "colors";
@import "graphs";

//Mixins
html, body {
    border: 0;
    margin: 0;
    padding: 20px;
    font-family: UbuntuRegular, Verdana, Helvetica, Arial, sans-serif;
    font-size: 90%;
    background-color: #333;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $orange;
}

a:hover {
    text-decoration: underline;
}
hr{
    background-color: #777;
    border-top: 1px solid #999;
    height: 0px;
    border-bottom: 1px solid #fff;
    width: 100%;
}
hr.space {
    visibility: hidden;
    clear: both;
}

.clear {
    float: none;
    clear: both;
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

.highlight, .highlight a {
    color: $white;
    background-color: $vibrantblue;
    padding: 5px 10px 5px 10px;
}
.fine.highlight {
    padding: 1px 5px;
    margin-top: 0;
    float:none;
}
.green.highlight {
    background-color: #109300;
    color: white !important;
}
.highlighted {
    line-height: 1.5;
}
// Base styles
body.about nav .about,
body.accounts nav .home,
body.base nav .home,
body.contact nav .contact,
body.missions nav .missions,
body.communities nav .communities,
body.challenges nav .challenges,
body.values nav .values {
    background-image: url('../img/navsel.png');
}
p.separate {
    padding-bottom: 20px;
    background-image: url(../img/sepshadow.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    max-width: 1200px;
    min-width: 960px;
    .welcome {
        a {
            color: $orange;
            text-decoration: underline;
        }
    }

    .instructionText {
        font-size: 1.25em;
    }

    .thumbnail {
        img {
            width: 64px;
            height: auto;
            border: 1px solid $lightgray;;
        }
    }

    .orange {
      color: #D2A801;
    }
    .green, h4.green {
      color: #109300;
    }
    .red, h4.red {
      color: #900;
    }
    .black, h3.black {
      color: #000 !important;
    }
    .fine {
        font-size: .75em;
    }
    h2 .fine {
        font-size: .6em;
        display: block;
        float: right;
        clear: right;
        text-align: right;
        padding: .6em .25em 0 .5em;
    }
    .normal {
      font-size: 12px;
    }
    .right {
        float: right;

    }
    .left {
      float: left;
    }
    .alignleft {
        text-align:left;;

    }
    .alignright {
        text-align:right;
    }
    .listless {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .timestamp {
        color: $gray;
        font-style: italic;
    }
    .icon {
        padding: 2px 0;
    }
    a img {
        border: none;
    }
    .last {
        clear:right;
        margin-right: 0;
        float: right;
    }
    .half, .third, .twothird {
        float: left;
        text-align: left;
    }
    .half {
      width: 45%;
      margin-right: 5%;
    }
    .third {
      width: 30%;
      margin-right: 3%;
    }
    .twothird {
      width: 61%;
      margin-right: 3%;
    }
    .last.half {
      width: 49%;
      margin-right: 0;
    }
    .last.third {
      width: 36%;
      margin-right: 0;
    }
    input[type=text],input[type=password],input[type=email],input[type=number],select,textarea {
        border: 2px solid $lightviolet;
        padding: 5px;
        display: inline-block;
        margin-bottom: 10px;
        width: 195px;
    }
    label {
        display: block;
        font-weight: bold;
        font-size: 14px;
        color: $darkgray;
        vertical-align: top;
        line-height: 2;
    }
    
    .button, input[type=submit] {
        cursor: pointer;
        text-decoration: none;
        font-size: .75em;
        font-weight: normal;
        text-transform: uppercase;
        color: $white !important;
        display: inline-block;
        padding: 4px 8px;
        margin: 4px 0;

        background-color: $darkgreen;
        
        border: 0;
    }

   .button.green {
      background-image: -moz-linear-gradient(top, #01d232, #007b25);
      background-image: -o-linear-gradient(#01d232, #007b25);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a8d201), color-stop(1, #007b25));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#01d232', EndColorStr='#007b25');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#01d232', EndColorStr='#007b25')";
    }
    .button.red {
      background-image: -moz-linear-gradient(top, #D20132, #7B0025);
      background-image: -o-linear-gradient(#D20132, #7B0025);
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D2A801),color-stop(1, #7B0025));
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#D20132', EndColorStr='#7B0025');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D20132', EndColorStr='#7B0025')";
    }
    .button.orange {
      background-image: -moz-linear-gradient(top, #D2A801, #7B6200);
      background-image: -o-linear-gradient(#D2A801, #7B6200);
      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #D2A801),color-stop(1, #7B6200));
      filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#D2A801', EndColorStr='#7B6200');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D2A801', EndColorStr='#7B6200')";
    }
    .button.small {
        font-weight: normal;
        font-size: 10px;
        padding: 4px 8px 4px 8px;
    }

    .spend{
    }

    .reply-modal {
        display: none;
    }

    #header { 
        display: block;
        position: relative;
        background-color: $white;
        color: $navblue;
        -moz-box-shadow: 0px 3px 3px $darkgray;
        -webkit-box-shadow: 0px 3px 3px $darkgray;
        -o-box-shadow: 0px 3px 3px $darkgray;
        box-shadow: 0px 3px 3px $darkgray;
        margin-bottom: -3px;
        z-index: 9999;
        width: 100%;

        .logo {
            width: 20%;
            min-height: 140px;
            float: left;
            color: $black;
            text-decoration: none;
            background-color: $teal;
            padding: 0;
            text-align: center;

            a {
                padding: 0;
                margin: 0;
            }
        }

        nav {
            position: relative;
            float: left;
            width: 80%;
            font-size: 1.25em;
            
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                float: left;
                width: 100%;
                display: block;
            }

            li {
                line-height: 130px;
                display: block;
                float: left;
                background-position: 100% 100%;
                background-repeat: no-repeat;
                background-image: url('../img/navbg.png');
                padding: 0 2px 0 1px;
                margin: 0;
                text-align: center;
                position: relative;

                div {
                    background-position: 50% 100%;
                    background-repeat: no-repeat;
                    padding: 0;
                    margin: 0;
                }

                .values a {
                    width: 230px;
                    background-position: 50% 20%;
                    background-image: url(../img/tokendepot.png);
                }

                @media screen and (max-width: 768px) {
                    .values a {
                        width: auto;
                        background-image: none;
                    }
                }

                a {
                    position: relative;
                    color: black;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    font-family: UbuntuLight;
                    padding: 0 20px 10px 20px;
                    margin: 0;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;

                    span {
                        line-height: 1.5;
                        vertical-align: bottom;
                    }
                }
            }

            li.final {
                background-image: none;
            }

        }
    }

    .feed {
        border-top: 3px solid $orange;

        h3 {
            padding-left: .75em;
            margin: .25em 0 0 0;
        }

        td {
            padding: .5em 1em;
        }

    }

    .issue {
        .timestamp {
            background: url("../img/icons/16/piggybank-small.png") 42px 3px no-repeat;
            padding: 2px 0 0 63px;
            height: 20px;
        }
    }
    .rightsidebar {
        width: 30%;
        position: relative;
        float: left;
        clear: right;

        h2, h3, h4 {
            font-family: YanoneKaffeesatzRegular, Tahoma, Helvetica, Arial, sans-serif;
            margin: 0;
            color: $orange;
        }

        div.section {
            margin: 10px 0;
            padding: 5%;
            background: $lightgray;
            position: relative;
        }

        div.sectionbutton {
            background: $darkgreen;
            text-align: center;
        }

        .video {
            position: relative;
            margin: 0 auto;
            overflow: hidden;
        }

        div.challenges {
            background: $white;
            padding: 4px;

            td {
                padding: 6px;
                color: $orange;
            }

            a {
                color: $orange;
            }
        }

    }
    .listitem {
        position:relative;
        color: $darkgray;
        padding: 10px;
        min-height:25px;
        margin: 0 0px 0px 0;

        .state {
            position: absolute;
            top: 10px;
            right: -10px;
            background-repeat:no-repeat;
            height: 50px;
            width: 50px;
            background-image: url('../img/icons/new.png');
        }

        a {
            font-weight: bold;
        }
        
        p {
            display: inline-block;
            width:65%;
            float: left;
            margin: 0px;
        }
        .right {
            margin-right: 0px;
        }
        .date {
            float: left;
            background-color:  $white;
            padding: 10px;
            top: -9px;
            position: relative;
        }
        
    }

    .dashboardmodule {
        background-color: $lightgray;
        padding: 10px;
        padding-left: 10px;
        h4 {
            margin-top:5px;
        }
    }

    .dashboardmodule.white {
        background-color: $white;
    }

    h3.orange {
        background-color: $darkorange;
    }

    .dashboardmodule.orange {
        background-color: $orange;
        .dashboardmoduleinner form div {
            font-weight: bold;
            color: $white;
        }
    }
    
    .dashboardmoduleinner {
        padding: 1px 10px 10px 25px;
    }
    
    // For profile page
    .module {
        width: 100%;
        min-height: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
        float: left;
        
        h4 {
            background: $gray;
            color: $white;
            padding: 10px;
        }
    }
    .moduleinner {
        padding: 20px;
        border: 1px solid $gray;
        background-color: $white;
    }

    h2, h3, h3, h4, h5, h6 {
        position: relative;
        overflow: auto;
        font-family: UbuntuBold;
        font-weight: normal;
    }
    h2, h3 {
        font-size: 2em;
    }
    h3 {
        border-bottom: none;
        padding: 4px 5px 5px 0;
        font-size: 1.25em;
        margin: 5px 0 10px 0;
    }
    h4 {
        font-size: 1em;
        margin: 20px 0 10px 0;
    }
    h4.line{
        font-weight: normal;
        font-size: 2.5em;
        border-bottom: 1px solid $gray;
    }

    p .avatar-large{
       margin: 0 10px 10px 0;
    }
    .avatar {
        height: auto;
        width: 30px;
        margin-right: 10px;
        float: left;
    }
    .avatar-large {
        height: auto;
        width: 55px;
    }
    .avatar-edit {
        width: 210px;
        height: auto;

        margin-right: 10px;

        float: left;
    }
    
    #main {
        position: relative;
        @include clearfix;

        .column2 {
            position: relative;
            overflow: hidden;
            float: left;
            width: 100%;
            background-color: $white;
        }

        .column1 {
            position: relative;
            float: left;
            width: 100%;
            right: 80%;
            background-color: $lightgreen;
        }

        .leaderboard-wrapper, .issues-wrapper {
            position: relative;
            top: 30px;

            .leaderboard, .issues {
                width: 100%;

                th {
                    background-color: $green;
                    color: $white;
                    font-weight: bold;
                    padding: 9px;
                }

                td {
                    background-color: $lightgray;
                    color: $darkgray;
                    padding: 5px;
                }
            }
        }

        aside {
            position: relative;
            float: left;
            width: 20%;
            left: 80%;
            color: $white;

            a {
                color: $white;
                text-decoration: none;
            }

            div {
                padding: 5px 10px 0 10px;
            }

            h2 {
                font-family: YanoneKaffeesatzThin, Tahoma, Helvetica, Arial, sans-serif;
                font-size: 1.5em;
                margin: 0;
                padding: 0;
                margin-bottom: 10px;
                background: none;
                color: $white;
            }

            h3 {
                font-family: YanoneKaffeesatzRegular, Tahoma, Helvetica, Arial, sans-serif;
                font-size: 1.5em;
                margin: .5em 0 .25em 0;
                padding: 0;
            }

            h4 {
                margin: .5em 0 0 0;
                 
                a {
                    padding-right: 20px;
                    background-image: url(../img/go.png);
                    background-position: 100% 50%;
                    background-repeat: no-repeat;
                }
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0 .5em 1em .5em;
            }

            .dates {
                font-size: .8em;
            }

            .leaderboard {
                padding-bottom: 20px;
                background-repeat: no-repeat;
                background-position: 50% 0%;
                background-image: url(../img/leaderboardbg.png);
                background-image: -moz-linear-gradient(270deg, $lightgreen_transparent 0%, $lightgreen 90%),
                                  -moz-linear-gradient(0% 0% 0deg, $lightgreen 50%, $darkgreen 50%, $lightgreen 90%);
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%, $lightgreen_transparent), color-stop(100%, $lightgreen)),
                                  -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(50%, $lightgreen), color-stop(50%, $darkgreen), color-stop(90%, $lightgreen));

                background-image: -o-linear-gradient(270deg, $lightgreen_transparent 0%, $lightgreen 90%),
                                  -o-linear-gradient(left, $lightgreen 50%, $darkgreen 50%, $lightgreen 90%);

                margin-top: 1px;

                th {
                    font-size: 2em;
                    font-family: YanoneKaffeesatzThin, Tahoma, Helvetica, Arial, sans-serif;
                    font-weight: normal;
                    text-transform: uppercase;
                    text-align: left;
                }

                th:first-child {
                    color: $highlight_green;
                    text-align: right;
                }

                table {
                    margin: 0 auto;
                }

                td {
                    width: 50%;
                    padding: 0 10px;
                }
                td:first-child {
                    text-align: right;
                }
            }

            .profile {
                -moz-box-shadow: inset 0px 0px 4px $darkgray;
                -webkit-box-shadow: inset 0px 0px 4px $darkgray;
                -o-box-shadow: inset 0px 0px 4px $darkgray;
                box-shadow: inset 0px 0px 4px $darkgray;
                border-bottom: 1px solid $darkgreen;

                .pic {
                    float: left;
                    margin-right: 2px;
                    font-size: .75em;

                    img {
                        max-width: 100%;
                    }

                    a {
                        display: block;
                        float: none;
                        clear: both;
                        margin: 0 2px 2px 0;
                        color: $black;
                        text-transform: uppercase;
                        font-size: .9em;
                    }
                }
                .score {
                    border: $lightgray;
                    height: 30px;
                    font-size: .75em;
                    background-color: $white;
                    color: $darkgray;
                    text-shadow: 0 0 10px #fff;
                    padding: 1px;
                    position: relative;
                    border: 6px solid $green;
                    overflow: hidden;
                    .fill {
                        display:block;
                        height: 100%;
                        background-color: $lightgreen;
                    }
                    span {
                        position: absolute;
                        top: 35%;
                        left: 5px;
                    }
                }
                .tokens {
                    display: block;
                    background: url('../img/tokencount.png') 100% 80% no-repeat;
                    padding-bottom: 4px;
                    color: $white;
                    position: relative;

                    span {
                        display: block;
                        margin-top: 15px;
                        float: left;
                    }

                    span.value {
                        float: right;
                        min-width: 60px;
                        margin: 10px 30px 0 10px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 2.25em;
                    }

                    span.visit {
                        float: none;
                        clear: both;
                        padding: 4px;
                        margin-bottom: 10px;
                        text-align: center;
                        color: $darkgray;
                        background: $lightgreen;
                        background-image: -moz-radial-gradient(50% 50%, circle, $green, $lightgreen);
                        background-image: -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 100, from($green), to($lightgreen));
                    }
                }
            }

            .notifications {
                background-color: #052441;
                font-weight: normal;
                padding: 4px 0;
                text-align: center;

                a {
                    display: block;
                }

                a:hover {
                    text-decoration: none;
                }

                .count {
                    display: inline-block;
                    font-family: UbuntuBold;
                    margin: 4px;
                    padding: 0 8px;
                    background-color: $orange;
                    -moz-border-radius: 100px;
                    -webkit-border-radius: 100px;
                    border-radius: 100px;
                }
            }

            .details {
                font-family: YanoneKaffeesatzThin, Tahoma, Helvetica, Arial, sans-serif;
                h2 {
                    margin-bottom: 0px;
                    text-shadow: none;
                }
            }
            
            .rest {
                clear: both;
            }
        }
        
        #balancer {
            position: relative;
            min-height: 295px;
        }

        .narrow {
            margin: 0 auto;
            width: 500px;
        }
        .content {
            position: relative;
            float: left;
            width: 80%;
            left: 80%;
            background-color: $white;

            .maincontent {
                padding: 0 1em 1em 1em;
                position: relative;
            }

            .pad {
                margin-top: 30px;
            }
            
            .content-title {
                background:  $blue url('../img/icons/location-white.png') 10px center no-repeat;
                text-shadow: 1px 1px 1px $darkgray;
                color: $white;
                margin: 0 auto 10px auto;
                padding: 10px 10px 10px 50px;
                display: inline-block;

                a {
                    color: $white;
                }

            }

            p.bio {
                line-height: 2;
            }
            form {
                margin: 0px auto;
                text-align: left;
            }
            
            .icon {
                padding-right: 20px !important;
            }
            
            p {
                .highlight {
                    padding: 1px 2px;
                    margin-top: 0;
                    float:none;
                }
            }

            h3, h2 {
                a.sub-header {
                    position: relative;
                    float: right;
                    top: -4px;
                    left: -3px;
                    padding: 7px;
                    text-align: right;
                    color: $darkgray;
                    font-size: 10px;
                    font-weight: normal;
                    
                    text-transform: lowercase;
                }
            }

            #comments {
                position: relative;

                h2 {
                    margin: 1em 0 0 0;

                    .controls {
                        line-height: 2.25;
                        font-size: .5em;
                        text-transform: uppercase;
                    }
                }

                .hidden {
                    position: absolute;
                    opacity: 0;
                }
            
                .limited {
                    color: #f00;
                }

                .nested {
                    padding: 0;
                }

                .comments {
                    position: relative;
                    padding: 0;
                    list-style: none;

                    .comment {
                        position: relative;
                        float: none;
                        clear: both;
                        margin: 1em 0 2em 0;
                        min-width: 30em;
                        overflow: auto;
                        background: #f9fafa;
                        border-top: 1px solid $lightgray;

                        .likes {
                            float: left;
                            width: 10%;
                            background-color: $vibrantblue;
                            color: $white;
                            font-weight: bold;
                            text-align: center;
                            padding: 1em 0;

                            .count {
                                font-size: 3em;
                                line-height: 1;
                            }
                            .button {
                                margin-top: 1em;
                            }
                        }

                        .main {
                            float: right;
                            width: 89%;

                            .meta {
                                padding-left: 1em;
                                overflow: auto;
                                font-family: UbuntuMedium;
                                white-space: nowrap;

                                a {
                                    color: $vibrantblue;
                                }
                            }

                            .button {
                                padding: 2px 4px 2px 4px;
                            }

                            .actions {
                                background: $darkgray;
                                color: $white;
                                padding: 2px 4px;

                                img {
                                    vertical-align: middle;
                                    margin-right: 1em;
                                }

                                .open {
                                    display: none;
                                }

                                span {
                                    margin-right: 1em;
                                }
                            }

                            .controls {
                                float: right;
                                clear: both;
                                text-align: right;
                                margin: 0 0 1em 0;

                                .reply-modal {
                                    position: relative;
                                    width: 90%;
                                }

                                .reply-modal button {
                                    float: right;
                                    margin: 2px;
                                }

                            }

                            .message {
                                padding: 1em;
                                word-wrap: break-word;
                            }

                            .attachments div {
                                margin-top: 1em;
                                padding: 0 1em;
                            }

                            .replies {
                                display: none;
                                float: none;
                                clear: both;
                                margin: 1em 0 0 1em;
                            }
                        }
                    }
                }

                .error {
                    background: none;
                    border-width: 0px;

                    position: absolute;
                    top: 8px;
                    left: 21px;
                }

                .expand, .collapse {
                    color: $gray;
                    font-size: 12px;
                    cursor: pointer;
                }

                .nested {
                    li.comment {
                        display: list-item;
                    }
                }

                h4 {
                    color: $darkblue;
                    font-size: 120%;
                }

                h3 {
                    margin: 0;
                    margin-bottom: 20px;
                }
                
                textarea {
                    width: 98%;
                    border-width: 1px;
                    color: $darkblue;
                    margin-bottom: 0;
                }

                #comments .counter {
                    float: left;
                    clear: left;
                }
            }


            .columns {
                margin: 0px auto;
                display: inline-block;
                text-align: center;

                .column {
                    float: left;
                    position: relative;
                    width: 320px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: left;

                    .inner-content {
                        padding-right: 40px;
                        padding-left: 40px;
                    }
                }

                .column.right {
                    text-align: right;

                    h3 {
                        text-align: right;
                    }
                }

                .footer {
                    clear: both;
                }
            }
            
            .nav {
                clear: both;
                display: block;
                margin: 0;
                list-style: none;
                padding: 0;
            }

        }

        .footer {
            clear: both;
        }
    }

    .community {
        .google-map, .map {
            width: 386px !important;
            height: 347px;
        }
        .listitem {
            margin-right: 10px;
        }
    }
    .google-map, .map {
        width: 500px;
        height: 400px;
        margin: 10px 0;
    }
    
    .footer {
        color: $gray;

        .left {
            top: 45px;
            left: 15px;
            position: relative;
        }
        .right {
            position: relative;
            right: 15px;
            top: 45px;
        }
    }
    #footer {
        position: relative;
        background-color: $darkblue;
        color: $vibrantblue;
        font-family: UbuntuLight;
        font-size: .9em;

        a {
            color: $white;
        }

        .logo {
            position: relative;
            float: left;
            width: 20%;
            text-align: center;

            img {
                height: 75px;
                padding: 4px;
            }
        }

        .content {
            position: relative;
            float: left;
            width: 80%;
            text-align: right;
            background-color: $navyblue;

            div {
                padding: 4px 2px;
            }

            ul {
                list-style: none;

                li {
                    display: inline;
                    padding: 0 1em;
                    border-right: 1px solid #fafafa;
                }

                li.final {
                    border-right: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

.instances {
    #main {
        .content {
            .news {
                height: 665px;
                overflow-y: scroll;
            }
            /*
              http://almaer.com/scrollbar/debug.html 
              http://maxvoltar.com/
            */
            .news::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }

            .news::-webkit-scrollbar-button:start:decrement, .news::-webkit-scrollbar-button:end:increment {
                display: block;
                height: 10px;
            }

            .news::-webkit-scrollbar-button:vertical:increment {
                background-color: #fff;
            }

            .news::-webkit-scrollbar-track-piece {
                background-color: #eee;
            }

            .news::-webkit-scrollbar-thumb:vertical {
                height: 30px;
                background-color: #ccc;
            }

            .news::-webkit-scrollbar-thumb:horizontal {
                width: 30px;
                background-color: #ccc;
            }
        }
    }
}

// Accounts pages
.accounts {
    h3 {
        margin-top: 0;
    }
    .error { color: darkred; }

    .title {
    }
    .blue {
        background-color: $darkblue;
    }
    .profile-wrapper p.fine {
        font-size: 12px;
        font-style: italic;
    }
    .profile {
        position: relative;
        clear: both;
        .profile-content {
            position: relative;
            top: 0;
        }
        strong {
            font-weight: bold;
            display: inline-block;
            color: $blue;
        }
        p {
            font-weight: bold;
            color: $darkgray;
        }
    }
    #main {
        .content {
            .avatar {
                height: 30px;
                width: auto;
                margin-right: 10px;
                float: left;
            }
        }
    }
}

.challenges {
    #main {
        h3 {
            margin-top: 10px;
            line-height: 1.5;
        }
        .content {
            .subheader {
                font-style: italic;
            }
            p {
                margin-bottom: 10px;
            }
            .markers {
                margin-bottom: 25px;
            }
            .othershoes-avatar {
                float: left;
                margin-right: 25px;
            }
        }
    }
}

// Issues
.issues {
    .listview {
        text-align: left;
    }
}

// Challenges
.challenges {
    .listitem {
        margin-right: 10px;
    }
    
    .content form {
        p {
            font-size: 10px;
            font-style: italic;
            label {
                font-style: normal;
            }
        }
    }
}

table {
    width: 100%;
    border-collapse:collapse;
}

.page #main .issues, .page #main .leaderboard {
    td {
        padding-left: 10px !important;
    }
    
    overflow: hidden;
    padding: 5px;
}

// Error/success/notice
.errorlist li, .error, .notice, .success {
    padding: 9px;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    display: inline-block;
}
.errorlist li, .error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.errorlist li li {border: 0px;}
.alert, .notice {background:#E5EDF9;color: #003;border-color: #92A3BF; padding: 3px;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.errorlist a, .error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.hidden {
    position: absolute;
    opacity: 0;
}

#ui-datepicker-div {
    font-size: 75%;
    display: none;
}

table.activities {
    background: $white;
    width: 100%;
    margin: 0 auto;

    th {
        text-align: left;
        text-transform: uppercase;
        font-family: YanoneKaffeesatzThin, Tahoma, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 1.25em;
        padding: 2px 10px 2px 4px;
    }

    td {
        padding: 2px 10px 2px 4px;

        img {
            vertical-align: middle;
        }
    }
    td.empathy_activity {
        background: url('../img/icons/community.png') 0% 50% no-repeat;
        padding-left: 20px;
    }
    td.map_activity {
        background: url('../img/icons/mapmarker.png') 0% 50% no-repeat;
        padding-left: 20px;
    }
    td.multi_response_activity {
        background: url('../img/icons/lightbulb.png') 0% 50% no-repeat;
        padding-left: 20px;
    }
    td.open_ended_activity {
        background: url('../img/icons/lightbulb.png') 0% 50% no-repeat;
        padding-left: 20px;
    }
    td.single_response_activity {
        background: url('../img/icons/lightbulb.png') 0% 50% no-repeat;
        padding-left: 20px;
    }
    td.thinkfast_activity {
        background: url('../img/icons/lightbulb.png') 0% 50% no-repeat;
        padding-left: 20px;
    }
    td.challenge_activity {
        background: url('../img/icons/puzzle.png') 0% 50% no-repeat;
        padding-left: 20px;
    }

    th.final, td.final {
        padding-right: 4px;
    }
}

table.notifications {
    width: auto;

    td {
        padding-right: 1em;
    }
}

ul#messages {
    margin: 2em 1em 1em 1em;
}

.page_navigator {
    margin: 4px 0;
    padding: 2px;
    text-align: center;
    list-style: none;
    background-color: $darkgray;
    color: $white;
    font-family: YanoneKaffeesatzThin, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.2em;

    .current {
        color: $orange;
    }

    li {
        display: inline;
        padding: 0px 3px 0 5px;

        a {
            display: inline-block;
            color: $white;
        }

        img {
            vertical-align: bottom;
        }
    }
    li.page {
        border-right: 1px solid $lightgray;
    }

    li.final {
        border-right: none;
    }
}

.even {
    background: $tr_even;
}

.odd {
    background: $tr_odd;
}

.challenge_list {
    position: relative;
    list-style: none;
    margin: 1em 0;
    padding: .5em;
    width: 90%;

    li.challenge {
        display: block;
        text-align: center;
        font-size: 1.25em;
        background-color: $darkgreen;
        color: $white;
        padding: 0;
        margin: 4px 0;

        a {
            display: block;
            color: $white;
            padding: .5em 1em;
            text-decoration: none;

            span {
                padding-left: 3em;
            }
        }
    }
}

body.nosidebar #main {
    .content {
        width: 100%;
    }
}

body.rightsidebar .maincontent {
    width: 65%;
    float: left;
}

.buttons {
    @include clearfix;
    text-align: right;
}

.dates {
    font-size: .7em;
    padding-left: 2em;
}

p {
    margin: 1em 0;
}

.description {
    margin: 0 10px;
}

#page_title {
    padding-left: 10px;
    font-family: UbuntuBold;
    color: $black;
    font-weight: normal;
    font-size: 2em;

    span {
        font-family: UbuntuBold;
        color: $orange;
    }
}

.video {
    border: 1px solid #f0f0f0;
}

.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .75);
}

.response {
    background: #f9fafa;
    border-top: 1px solid $lightgray;
    padding: 4px 0;
    overflow: auto;

    .meta {
        overflow: auto;
        float: none;
        clear: both;
    }

    .main {
        padding-left: 40px;
    }

    textarea {
        width: 98%;
        border-width: 1px;
        color: $darkblue;
        margin-bottom: 0;
    }

}

.attachments {
    overflow: auto;

    .form {
        display: none;
        padding: 8px;
        margin: 8px;
        background: #f0f0f0;

        label {
            font-size: .9em;
            padding: 0;
        }

        .controls {
            text-align: right;
        }
    }

    .notification {
        float: right;
        clear: right;
        font-style: italic;
    }

    iframe {
        width: 320px;
        height: 185px;
    }
}

body.communities {
    ul.communities {
        list-style: none;
    }
}
