{%extends "layouts/base.html"%}

{%block section%}values{%endblock%}
{%block title%}All values{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <div class="full">
        <h2>Community Coins</h2>
        <p style="font-size: 1.25em;">Once you've earned some coins in the system, you can spend them below
           on community values. Watch the graphs shift as the community spends
           its coins and voices its priorities for a sustainable future in Lowell.
           Be sure to use the links below to discuss each community value.<br><br>
           You have <span style="font-weight: bold">{{user.get_profile.coins}}</span> 
           coin{%if user.get_profile.coins == 0 or user.get_profile.coins > 1%}s{%endif%} to spend.
       </p>
        <!--
        {%if value_wrapper|length%}
            <ul class="chartlist">
            {%for wrapper in value_wrapper%}
                  <li>
                    <a>{{wrapper.value.message}}</a> 
                    <span class="count">{{wrapper.coins}}</span>
                    <span class="index" style="width: {{wrapper.percent}}%">({{wrapper.percent}}%)</span>

                  </li>
            {%endfor%}
            </ul>
        {%endif%}
        -->
        <hr class="space">
        <div style="clear:both;"></div>
        
        <!-- placeholder for chart -->
        <div>
            <div style="float: left">
                <h3>Your coin spending</h3>
                <div id="userPie" class="graph" style="width:350px;height:300px; margin-right:auto; 
                    margin-top: 25px; margin-bottom: 25px; "></div>
            </div>
            <div style="float: right">
                <h3> Community's coin spending</h3>
                <div id="pie" class="graph" style="width:350px;height:300px; margin-left:auto; 
                    margin-top: 25px; margin-bottom: 25px;"></div>
            </div>
        </div>
        
        <div style="clear:both;"></div>
        
        <div class="values-wrapper">
            {%if values|length%}
            <table class="values"> 
                <th>Community Values</th>
                <th>Community Spending</th>
                <th>Your Spending</th>
                <th>&nbsp;</th>
                {%for wrapper in value_wrapper%}
                    <tr>
                        <td class="alignleft">
                            <a href="/value/{{wrapper.value.id}}" class="value-message">{{wrapper.value.message}}</a>
                            <span class="fine">({{wrapper.value.comments.all|length}} comments)</span>
                        </td>
                        <td>
                            {{wrapper.value.coins}}
                        </td>
                        <td>
                            <span class="coin-count">{{wrapper.player_coins}}</span>
                        </td>
                        <td>
                            {%if not instance.is_expired%}
                            <a href="/value/spend/{{wrapper.value.id}}" class="button">Spend</a>
                            <a href="/value/take/{{wrapper.value.id}}" class="right fine">[-]</a>
                            {%endif%}
                        </td>
                    </tr>
                {%endfor%}
            </table>
            {%else%}
                <span>No values created yet for this instance</span>
            {%endif%}
        </div>
    </div>
    <div style="clear:both;"></div>
	
<!-- this is the chart -->
<script type="text/javascript">
    $(function () {
        var globalData = [];
        var i = 0;
        {%if total_coins == 0 %}
            {%for wrapper in value_wrapper%}
                globalData[i] = { label: "{{ wrapper.value.message }}", data: 1 }
                i++;
            {%endfor%}
        {%else%}
            {%for wrapper in value_wrapper%}
                globalData[i] = { label: "{{ wrapper.value.message }}", data: {{ wrapper.value.coins }} }
                i++;
            {%endfor%}
        {%endif%}
        
        var userData = [];
        i = 0;
        {%if total_playerCoins == 0 %}
            {%for wrapper in value_wrapper%}
                userData[i] = { label: "{{ wrapper.value.message }}", data: 1 }
                i++;
            {%endfor%}
        {%else%}
            {%for wrapper in value_wrapper%}
                userData[i] = { label: "{{ wrapper.value.message }}", data: {{ wrapper.player_coins }} }
                i++;
            {%endfor%}
        {%endif%}
        
        //uncoment the grid and function pieHover to enable the hover feature. 
        $.plot($("#pie"), globalData, {
            series: { 
                pie: { 
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 2/3,
                        formatter: function(label, series) {
                            //return '<div style="font-size:small;text-align:left;padding:2px;color:black;">'+label+'</div>';
                            return '<div style="font-size:small;text-align:center;padding:2px;color:black;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                        },
                        threshold: 0.1
                    }
                }
            },
            legend: { 
                show: false
            }
        });
        
        $.plot($("#userPie"), userData, {
            series: { 
                pie: { 
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 2/3,
                        formatter: function(label, series) {
                            //return '<div style="font-size:small;text-align:left;padding:2px;color:black;">'+label+'</div>';
                            return '<div style="font-size:small;text-align:center;padding:2px;color:black;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                        },
                        threshold: 0.1
                    }
                }
            },
            legend: { 
                show: false
            }
        });
    });
    
</script>

{%endblock%}
