{%extends "layouts/base.html"%}
{%block page_title%}{%endblock%}
{%block section%}values{%endblock%}
{%block title%} {{value.message}} {%endblock%}

{%block aside%}
{%endblock%}
{%block content-title%}{{instance}}{%endblock%}
{%block main%}
    <h2> {{value.message}} </h2>
    <p><span class="highlight">{{value.coins}}</span> out of a total <span class="highlight">{{total_coins}}</span> coins have been spent on {{value.message}}</p>

    <div id="comments">
        <h4>Comments:</h4>
        {% with value.comments as comments %}
        {%include "comments/post.html"%}
        {% endwith %}
    </div>
    
{%endblock%}
