{%extends "affiliations/base.html"%}

{% load i18n cpi_tags %}

{% block title %}{% trans "Affiliations" %}{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <div>
            <a href="{% url affiliations:affiliations %}" class="btn-back">{% trans "Back to Affiliations" %}</a>
        </div>
        
        <h1 id="affiliation-name">{{ affiliation.name }}</h1>
        
        <div><span id="affiliation-points">{{ total_points}}</span> total points</div>
    
        <br /><br />
        
        <h2>{% trans "Members" %}</h2>
            {% for player in players %}
            <div class="affiliations-affiliation"><a href="{% url accounts:player_profile player.user_profile.user.pk %}">{{ player.user_profile.screen_name }}</a></div>
            {% endfor %}
        
    </div>
    
</div>
{% endblock %}
