/* Comments App Specific Styles */

.comment {
/*    float: left;*/
    width: 250px;
    margin: 20px;
    padding: 20px;
    
    background: #f7f8f8;
    -webkit-border-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-bottomright: 0;
    border-radius: 5px;
    border-bottom-right-radius: 0;
}

    .comment-header {
    }
    
        
        .comment-avatar {
            display: inline-block;
            vertical-align: middle;
        }
        
        .comment-header-text {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 10px;
        }

            .comment-author {
                margin: 3px 0px;
                font-style: italic;
            }
            
            .comment-postdate {
                margin: 3px 0px;
                font-style: italic;
            }
        
    .comment-message {
    }