{%extends "instances/base.html"%}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/citypages.css"> 
{% endblock %}

{% block body_id %}public-index{% endblock %}

{% block content %}
<div class="wrapper">
    <div>
        {% if not user.is_authenticated %}
        <div id="login-container" class="btn-arrow">
            <a class="btn" href="{% url accounts:registration_register %}">{% trans "Register To Play Now!" %}</a>
            {% comment %}
            {# login form only exists on the game page #}
            {% trans "Already registered?" %}<a href="{% url accounts:login %}">{% trans "Sign In" %}</a>
            {% endcomment %}
        </div>
        {% endif %}
    </div>

    <div>
        <h1>All Games, Past Present and Future</h1>
        <ul>
            {% for instance in instance_list %}
                <li>
                    <a href="{{ instance.get_absolute_url }}">{{ instance }}</a> ({{ instance.for_city.name }})
                    ({{ instance.start_date|date:"F j, Y" }} - {{ instance.end_date|date:"F j, Y" }})
                    <span class="badge badge-info">
                        {% if instance.is_future %}
                            future (pre-game)
                        {% elif instance.is_present %}
                            present (during-game)
                        {% elif instance.is_past %}
                            past (post-game)
                        {% endif %}
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}
