{% extends "layouts/base.html" %}
{% load gmap i18n %}

{% block section %}communities{% endblock %}

{% block title %}{% trans "Communities" %}{% endblock %}
{% block page_title %}
<h2 id="page_title">{% trans "Participating Communities" %}</h2>
{% endblock %}

{% block main %}
{% if active.count %}
<h3>{% trans "Active" %}</h3>
    <ul class="communities">
        {% for instance in active %}
        <li>
            <h3>
                <a href="{% url instances:instance instance.slug %}">{{instance}}</a>
                <span class="dates">{% if not instance.end_date %}{% trans "Started"%} {% endif %}{{instance.start_date|date:"m/d/Y"}} {% if instance.end_date %}&#8211; {{instance.end_date|date:"m/d/Y"}}{% endif %}</span>
            </h3>
            {% if instance.player_count %}
            <p>{{instance.player_count}} {% trans "player" %}{{instance.player_count|pluralize}} {{instance.player_count|pluralize:"has,have" }} {% trans "signed up"%}.</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if future.count %}
<h3>{% trans "Future" %}</h3>
    <ul class="communities">
        {% for instance in future %}
        <li>
            <h3>
                <a href="{% url instances:instance instance.slug %}">{{instance}}</a>
                <span class="dates">{% if not instance.end_date %}{% trans "Starts" %} {% endif %}{{instance.start_date|date:"m/d/Y"}} {% if instance.end_date %}&#8211; {{instance.end_date|date:"m/d/Y"}}{% endif %}</span>
            </h3>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if past.count %}
<h3>{% trans "Past" %}</h3>
    <ul class="communities">
        {% for instance in past %}
        <li>
            <h3>
                <a href="{% url instances:instance instance.slug %}">{{instance}}</a>
                <span class="dates">{{instance.start_date|date:"m/d/Y"}} &#8211; {{instance.end_date|date:"m/d/Y"}}</span>
            </h3>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
