{%extends "layouts/base.html"%}
{%load gmap%}

{% block section %}communities{% endblock %}

{%block title%}Communities{%endblock%}
{%block page_title%}
<h2 id="page_title">Participating Communities</h2>
{%endblock%}

{%block main%}
    <ul class="communities">
        {%for instance in instances%}
        <li>
            <h3>
                <a href="{% url instances_instance instance.slug %}">{{instance}}</a>
                <span class="dates">{{instance.start_date|date:"m/d/Y"}} &#8211; {{instance.end_date|date:"m/d/Y"}}</span>
                {% if instance.is_active %}<span class="highlight fine">Active</span>{% endif %}
            </h3>
            {% if not instance.is_expired %}
            <p>{{instance.player_count|default:"No"}} player{{instance.player_count|pluralize}} {{instance.player_count|pluralize:"has,have"}} signed up.</p>
            {% endif %}
            </li>
        {% empty %}
            <li>No active communities</li>
        {%endfor%}
    </ul>
    <div style="clear:both;"></div>

{%endblock%}
