{%extends "layouts/base.html"%}
{%load gmap%}

{%block section%}communities rightsidebar{%endblock%}
{%block title%}Community overview{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
{%if not current_instance.is_expired%}
{{current_instance.header}}
{%else%}
    <h2>{{current_instance}} has ended.</h2>
{%endif%}
<h3>Updates and Leaderboard</h3>
<p>{{current_instance.content|escape|safe}}</p>
{# {current_instance.location|show} #}

<div class="leaderboard-wrapper" style="clear:both;">
{%if leaderboard|length%}
    <table class="leaderboard">
        <th>Rank</th>
        <th>Name</th>
        <th>Points</th>

        {%for user in leaderboard%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url accounts_profile %} user.id %}">{{user.get_profile.screen_name}}</a></td>
                <td>{{user.get_profile.points}}</td>
            </tr>
        {%endfor%}
    </table>
    <hr class="space">
    <a href="{% url lists_instance current_instance.slug %}" class="right">View all players &rarr;</a>
{%else%}
    No players in this community.
{%endif%}
</div>
{% endblock main %}

{% block rightsidebar %}
<h4>Community News</h4>
{%if log|length%}
<ul class="listless listview feed news">
    {%for activity in log%}
    <li class="listitem {{activity.type}}">
        {%if activity.user.get_profile.avatar%}
            <img class="avatar" src="{{MEDIA_URL}}/{{activity.user.get_profile.avatar}}">
        {%else%}               
            <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
        {%endif%} 
        <a href="{% url accounts_profile activity.user.id %}">{{activity.user.get_profile.screen_name}}</a>
        {{activity.data}} 
        {%if activity.url%}
            <a href="{{activity.url}}">{{activity.action}}</a>
        {%else%}
            {{activity.action}}
        {%endif%}
        <div class="timestamp fine">{{activity.date|date:"F j, Y, g:i a"}}</div>
    </li>
    {%endfor%}
</ul>
{%else%}
    No activities created.   
{%endif%}
{%endblock%}

{%block body%}
    {%gmap_includes%}
{%endblock%}
