{% extends "layouts/base.html" %}
{% load gmap %}

{% block section %}communities rightsidebar{% endblock %}
{% block title %}Community overview{% endblock %}
{% block page_title %}
<h2 id="page_title">
{% if community.is_active %}
    {{community}}
{% else %}
    {% if community.is_expired %}
    {{community}} has ended.
    {% else %}
    {{community}} has not started up yet.
    {% endif %}
{% endif %}
</h2>
{% endblock %}

{% block main %}
{% if community.is_active %}
    <h3>Updates and Leaderboard</h3>
    <p>{{community.content|escape|safe}}</p>

    <div class="leaderboard-wrapper" style="clear:both;">
    {% if leaderboard|length %}
        <table class="leaderboard">
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>

            {% for user in leaderboard %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url accounts_profile user.id %}">{{user.get_profile.screen_name}}</a></td>
                    <td>{{user.get_profile.points}}</td>
                </tr>
            {% endfor %}
        </table>
        <hr class="space">
        <a href="{% url lists_instance community.slug %}" class="right">View all players &rarr;</a>
    {% else %}
        No players in this community.
    {% endif %}
    </div>
{% else %}
{% if not community.is_started %}
<p>If you'd like to be notified via email when this community gets going, just leave us your email address. This is all we'll use it for, and we won't share it with anyone.</p>
<form action="{% url instances_instance community.slug %}" method="POST">
    {% csrf_token %}
    {{notification_form}}
    <div class="controls">
        <input type="submit" value="Let me know"/>
    </div>
</form>
{% endif %}
{% endif %}
{% endblock main %}

{% block rightsidebar %}
{% if community.is_active %}
    <h4>Community News</h4>
    {% if log|length %}
    <ul class="listless listview feed news">
        {% for activity in log %}
        <li class="listitem {{activity.type}}">
            {% if activity.user.get_profile.avatar %}
                <img class="avatar" src="{{MEDIA_URL}}/{{activity.user.get_profile.avatar}}">
            {% else %}               
                <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
            {% endif %} 
            <a href="{% url accounts_profile activity.user.id %}">{{activity.user.get_profile.screen_name}}</a>
            {{activity.data}} 
            {% if activity.url %}
                <a href="{{activity.url}}">{{activity.action}}</a>
            {% else %}
                {{activity.action}}
            {% endif %}
            <div class="timestamp fine">{{activity.date|date:"F j, Y, g:i a"}}</div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        No activities created.   
    {% endif %}
{% endif %}
{% endblock rightsidebar %}
