{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <h1>{{ instance }}</h1>
    <h6>A game in the {{ instance.for_city.name }} area.</h6>
    
    <p>
        Game State: 
        <span class="badge badge-info">
            {% if instance.is_future %}
                future (pre-game)
            {% elif instance.is_present %}
                present (during-game)
            {% elif instance.is_past %}
                past (post-game)
            {% endif %}
        </span>
    </p>
        
    <br><br>
    
    <div class="row">
        <div class="span6">
            <h2>About This Game</h2>
            <p>{{ instance.description }}</p>
            
        </div>
        <div class="span6">
            <h2>Causes</h2>        
        </div>
    </div>

{% endblock %}