{% extends 'instances/base.html' %}
{% load i18n %}

{% block game_login %}
    <a href="{% url instances:login object.slug %}" class="btn btn-large btn-primary">{% trans "Sign In" %}</a>
{% endblock %}

{% block content %}
{{ block.super }}
<div class="wrapper">

    <br><br>
    
    {% if debug %}
    past template
    {% include "instances/debug.html" %}
    {% endif %}
    
    <div class="well">
        <p>This game has finished! <a class="btn btn-large disabled">Join Game</a> <a href="{% url instances:missions:mission instance.slug first_mission.pk %}" class="btn btn-large btn-danger">See Results</a></p>
    </div>
    
    <br><br>
    
    <h2>Post-game Breakdown</h2>
</div>
{% endblock %}
