{% extends 'instances/base.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block game_login %}
    <a href="{% url instances:login instance.slug %}" class="btn btn-large btn-primary">{% trans "Sign In" %}</a>
{% endblock %}


{% block content %}
{{ block.super }}
<div class="wrapper">

    <br><br>
    <div class="well">

        {% if debug %}
            present template
            {% include "instances/debug.html" %}
        {% endif %}

        <p>This game is live! 
            {% if not game_profile_exists %}

            <a class="btn btn-large btn-primary" 
                href="{% url instances:register instance.slug %}">Join Game</a>

            {% endif %}
        </p>
        {% if game_profile_exists %}
        <p>You're signed up for this game <a class="btn btn-large btn-primary" href="{% url missions:mission-with-demographic-form current_mission.pk %}">Continue Game</a></p>
            {# href="{{ current_mission.get_absolute_url }} #}
        {% endif %}
    </div>
</div>
{% endblock %}
