{%extends "layouts/base.html"%}

{%block section%}issues{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h2>Edit or Create a New Activity Set For a Mission</h2>
    <form action="" method="post">
        {%csrf_token%}
        <div class="fieldWrapper">
            {{ form.instances.errors }}
            <label for="id_instances">Select Instance to add activities</label>
            {{ form.instances }}
        </div>

        <div>
            <input type="submit" name="submit_btn" value="Submit" />
            <input type="submit" name="submit_btn" value="Cancel" />
        </div>
    </form>
{%endblock%}
