{% extends 'base.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} in-game{% endblock %}

{% block js %}
{{ block.super }}
<script>
    $(function(){
        $('#toggle-nav-site').click(function(e){
            e.preventDefault();
            $('#nav-site-container').animate({
                'margin-top': '0px',
            }, 400);
        });
    });
</script>
    
{% endblock %}

{% block nav_game_links %}
<ul class="nav nav-pills">
    <li><a href="#" id="toggle-nav-site">{% trans "Leave" %}</a></li>
    <li><a href="{{ mission.get_absolute_url }}">{% trans "Dashboard" %} ({{ mission }})</a></li>
    <li><a href="">{% trans "Ask Around" %}</a></li>
    <li><a href="">Bank</a></li>
</ul>
{% endblock %}
