{% extends 'base.html' %}
{% load i18n game_nav_tags avatar %}

{% block body_class %}{{ block.super }} in-game{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(function(){
            $('#nav-site-container').css('margin-top', '-90px');
            $('#nav-site-toggle').click(function(e){
                e.preventDefault();
                var $nav_site = $('#nav-site-container');
                var $nav_game_logo = $('#nav-game-logo');

                if($nav_site.hasClass('open')){
                    $nav_site.animate({
                        'margin-top': '-90px',
                    }, 400).toggleClass('open');

                    $nav_game_logo.animate({
                        'margin-top': '0px'
                    }, 400).toggleClass('open');
                } else {
                    $nav_site.animate({
                        'margin-top': '0px',
                    }, 400).toggleClass('open');

                    $nav_game_logo.animate({
                        'margin-top': '-44px'
                    }, 400).toggleClass('open');

                }
            });
        });
    </script>
{% endblock %}

{% block nav_site_account %}{# Hide the nav-site's account menu #}{% endblock %}
{% block nav_site_toggle %}<a href="#" id="nav-site-toggle"><i class="icon-share-alt"></i></a>{% endblock %}
{% block nav_game %}
<div id="nav-game">
    <div class="wrapper wrapper-nav-game">
        <a href="{{ mission.get_absolute_url }}" class="btn btn-primary btn-large"><i class="glyphicon-dashboard glyphicon-white"></i> {% trans "Mission" %}</a>
        <a href="" class="btn btn-primary btn-large"><i class="icon-comment icon-white"></i> {% trans "Ask Around" %}</a>
        <a href="{% url causes:bank %}" class="btn btn-primary btn-large"><i class="glyphicon-credit glyphicon-white"></i> {% trans "Bank" %}</a>
        <a href="" class="btn btn-primary"><i class="icon-question-sign icon-white"></i></a>

        <div class="nav-game-account">{% game_nav %}</div>
    </div>
</div>
{% endblock %}

{% block nav_game_logo %}
<div id="nav-game-logo">
    <a><img src="{{ STATIC_URL }}img/logo_beta.png" width="75" height="50" alt="Community PlanIt logo" /></a>
</div>
{% endblock %}