{%extends "layouts/base.html"%}

{%block section%}base nosidebar rightsidebar{%endblock%}

{%block title%}Welcome{%endblock%}
{%block page_title%}
<h2 id="page_title">Community PlanIT</h2>
{%endblock%}
{%block asideholder%}{%endblock%}

{%block content-title%}A game about your <b>community</b>!{%endblock%}

{%block main%}
<p>A game about your community.</p>
<iframe class="bordered" src="http://player.vimeo.com/video/15813894?title=0&amp;byline=0&amp;portrait=0" width="320" height="180" frameborder="0"></iframe>
<p>Voice opinions, earn coins, and spend them on your top community values!</p>
<p>See which <a href="{% url instances %}">communities</a> are playing now, or learn more <a href="{% url about %}">about us</a>.</p>
{% endblock main %}

{% block rightsidebar %}
<h3>New Player? <a href="{% url accounts_register %}" class="button">Sign Up</a></h3>
<h3>Have an account?</h3>
<div class="inner-content">
    <form method="POST" action="{% url accounts_login %}">
        {%csrf_token%}
        <input type="hidden" name="next" value="{% url accounts_dashboard %}" />
        <label for="username">email address</label>
        <input type="email" name="username">
        <label for="password">password</label>
        <input type="password" name="password">
        <br>
        <button class="button">Login</button> <a class="right" href="{% url accounts_forgot %}">Forgot password</a>
    </form>
</div>
{%endblock%}
