{%extends "layouts/base.html"%}
{% load i18n %}

{%block section%}base rightsidebar{%endblock%}

{%block title%}{% trans "Welcome" %}{%endblock%}
{%block page_title%}
<h2 id="page_title">{% trans "Community PlanIT" %}</h2>
{%endblock%}

{% block aside %}
<div>
{% if instance_mgr.all.count %}
<p>{% trans "Interested in playing? Click on a community below to find out more." %}</p>
{% endif %}
{% if instance_mgr.future.count %}
<h3>{% trans "Upcoming Communities" %}</h3>
    <ul class="communities">
        {% for instance in instance_mgr.future %}
        <li>
            <h4>
                <a href="{% url instances:instance instance.slug %}">{{instance}}</a>
                {% comment %}
                # TODO deal with instance end dates
                <div class="dates">{% if not instance.end_date %}Starts {% endif %}{{instance.start_date|date:"m/d/Y"}} {% if instance.end_date %}&#8211; {{instance.end_date|date:"m/d/Y"}}{% endif %}</div>
                {% endcomment %}
            </h4>
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if instance_mgr.active.count %}
<h3>{% trans "Active Communities" %}</h3>
    <ul class="communities">
        {% for instance in instance_mgr.active %}
        <li>
            <h4>
                <a href="{% url instances:instance instance.slug %}">{{instance}}</a>
                {% comment %}
                # TODO deal with instance end dates
                <div class="dates">{% if not instance.end_date %}Started {% endif %}{{instance.start_date|date:"m/d/Y"}} {% if instance.end_date %}&#8211; {{instance.end_date|date:"m/d/Y"}}{% endif %}</div>
                {% endcomment %}
            </h4>
            {% if instance.player_count %}
            <p>{{instance.player_count}} {% trans "player" %}{{instance.player_count|pluralize}} {{instance.player_count|pluralize:"has,have"}} {% trans "signed up." %}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% if instance_mgr.past.count %}
<h3>{% trans "Past Communities" %}</h3>
    <ul class="communities">
        {% for instance in instance_mgr.past %}
        <li>
            <h4>
                <a href="{% url instances:instance instance.slug %}">{{instance}}</a>
                <div class="dates">{{instance.start_date|date:"m/d/Y"}} &#8211; {{instance.end_date|date:"m/d/Y"}}</div>
            </h4>
        </li>
        {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock aside %}

{%block main%}
<p>{% trans "A game about your community." %}</p>
<iframe class="bordered" src="http://player.vimeo.com/video/15813894?title=0&amp;byline=0&amp;portrait=0" width="320" height="180" frameborder="0"></iframe>
<p>{% trans "Voice opinions, earn coins, and spend them on your top community values!" %}</p>
<p>{% trans "See which" %} <a href="{% url instances:instances %}">communities</a> {% trans "are playing now, or learn more" %} <a href="{% url about %}">{% trans "about us" %}</a>.</p>
{% endblock main %}

{% block rightsidebar %}
{% if instance_mgr.active.count %}
<h3>{% trans "New Player?" %} <a href="{% url accounts:register %}" class="button">{% trans "Sign Up" %}</a></h3>
{% endif %}
<h3>{% trans "Have an account?" %}</h3>
<div class="inner-content">
    <form method="POST" action="{% url accounts:login %}"> {%csrf_token%}
        <input type="hidden" name="next" value="{% url accounts:dashboard %}" />
        <input type="hidden" name="locale" value="es" />

        <label for="username">{% trans "email address"%}</label>
            {{form.username}}

            <label for="password">{% trans "password" %}</label>
            {{form.password}}

            {% if form.instance %}
            <label for="instance">{% trans "community:" %}</label>
            {{form.instance}}
            {% endif %}
        <br>
        <button class="button">{% trans "Login" %}</button> 
        <a class="right" href="{% url accounts:forgot %}">{% trans "Forgot password" %}</a>
    </form>
</div>
{%endblock%}
