{% load i18n %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <title>{{ instance.title }} {% trans "Notifications" %}</title>
		<style type="text/css">
            font-family: UbuntuRegular, Verdana, Helvetica, Arial, sans-serif;
            h1 {font-size: 1.5em;}
            h2 {font-size: 1.25em;}
            p {max-width: 40em;}
            .signature {text-align: right; margin: 2em 1em;}
            .footer {font-size: .75em; color: #755;}
        </style>
    </head>
    <body>
        <h1>{% blocktrans with instance_title=instance.title %}News from {{ instance_title }}{% endblocktrans %}</h1>

        <table class="notifications">
            <tbody>
            {% for notification in user_prof_per_instance.user_profile.user.notifications.unread %}
                <tr class="{% cycle "odd" "even" %}">
                    <td>{{ notification.timestamp }}</td>
                    <td><a href="{{ instance.get_absolute_url }}{{ notification.content_object.get_absolute_url }}">{{ notification.message }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>{% trans "See all your notifications here:" %}</p>

        <p><a href="{{ instance.get_absolute_url }}{% url accounts:notifications %}">My notifications</a></p>

        <p class="signature"> The Community PlanIt Team </p>

        <div class="footer">
            <p>
{% blocktrans %} We sent this message because your Community PlanIt account is set to receive updates. If you want to stop receiving news from Community PlanIt, just edit your profile: {% endblocktrans %}
            </p>
            <p>
            {% url accounts:profile_edit as profile_edit_url %}
            <a href="{{  instance.get_absolute_url }}{{ profile_edit_url }}">Edit my accounts settings</a>
            </p>
        </div>
    </body>
</html>
