Hello {{firstName}},

Thanks for registering for Lowell Community PlanIt! We're glad you've decided to join us in helping Lowell become a more livable and sustainable community.

From Wednesday, June 15 through Saturday, June 25, we are using http://communityplanit.org as a way of allowing residents to lend their voice as we think toward the future. We hope you complete all the activities and spend your in-game coins on the issues that matter most.

We hope to hear from you soon!

Community PlanIt Team