Hello!

Thanks for joining Community PlanIt! There is a lot going on in your community and your involvement is important. Your opinions, hopes, and dreams are at the core of a good planning process.

The structure of Community PlanIt is simple: With each new mission, there will be a set of activities for you to do—from answer questions, plotting points on maps, uploading images and video, or challenging other players to do things in your neighborhood. Everything you do will earn you points. For every 100 points you earn, you get a coin that you can spend on the values most important to you. Watch how people in your community spend their coins: You'll be able to see your neighborhood in a whole new light!

To get you started, we've given you the temporary password below, but don't forget to create a new password on your profile page.

Temporary password: {{password}}
Accss your new account here: <a href="http://planit.bocoup.com/dashboard/">http://planit.bocoup.com/dashboard/</a>

Community PlanIt is part of an effort to strengthen community planning activities. Participants may receive gift cards for participating in this research.

If you have any questions, check out <a href="http://communityplanit.org/help">http://communityplanit.org/help</a> for more information.

Have fun!  

The Community PlanIt Team
