{% comment %}
{{instance.start_date|date:"F j, Y"}} through {{instance.end_date|date:"F j, Y"}}
{% endcomment %}

Chè Administratè, Pwofesè, Paran, Elèv, ak Patnè -

Ou deja jwe yon wòl ki gen yon pakèt enpòtans nan ede elèv Lekòl Piblik nan Boston reyisi, diplome epi gen konesans ki nesesè pou yo gen siksè nan inivèsite.  Pou kontinye ede nou reyalize objektif enpòtan sa yo, Distrik la ap kreye yon plan nouvo pou mezire kalite ak pèfòmans lekòl yo--epi nou bezwen èd ou!

Nou voye envitasyon pèsonèl sa a ba w pou w ka  jwenn nou sou entènèt la nan yon sistèm ki.  rele Community Planlt.  Se yon nouvo jan ki amizan pou ede planifye avni lekòl Piblik nan Boston.   Apati 15 septanm, chak dezoutwa jou, w ap resevwa yon "misyon" sou videyo.  Se elèv yo k ap prezante msyon an epi k ap mande w pou w pataje panse w yo ak lide w yo.  Plis ou patisipe nan Community Planlt la, plis "jeton" w ap genyen pou w depanse nan domèn pèfòmans nan lekòl ou pi enterese ladan yo.  Sijesyon ou yo ap ede nou fè konnen kouman distrik la evalye lekòl yo apati pwochen ane lekòl la.

N ap atann pou nou travay avèk ou, epi nou espere w ap ankouraje lòt moun patisipe tou.  Ou kapab fè yon diferans, si w annik pase kèlke minit sèlman nan Community Planlt la chak jou.

Ou kapab enskri pou nou fè w sonje Community Planlt la nan http://communityplanit.org--annik klike sou "Boston Public Schools" anba "Upcoming Communities."

Na wè talè!

Ekip Community Planlt la
