{% comment %}
{{instance.start_date|date:"F j, Y"}} through {{instance.end_date|date:"F j, Y"}}
{% endcomment %}

Estimados Administradores, Maestros, Padres, Alumnos y Socios:
Usted ya desempeña un papel muy valioso ayudando a los estudiantes del Distrito de las Escuelas Públicas de Boston a tener éxito, graduarse y adquirir las habilidades necesarias para tener éxito en la universidad. Para ayudarnos a seguir cumpliendo con estos objetivos importantes, el Distrito está elaborando nuevos planes para evaluar la calidad y el rendimiento escolar, ¡y necesitamos su ayuda!
Esta es su invitación personal para unirse a un nuevo sistema en línea llamado Comunidad Planlt, una manera divertida y nueva de ayudar a planificar para el futuro de las escuelas de Boston. Cada dos días aproximadamente, a partir del 15 de septiembre, usted recibirá una "misión" en video, presentada por los alumnos y se le pedirá que comparta sus pensamientos e ideas. Cuanto más se involucre con la Comunidad Planlt, más "tokens"  (fichas) ganará y podrá gastar en las áreas de rendimiento escolar que son importantes para usted. Su aporte ayudará a informar de qué manera el distrito evalúa a las escuelas a partir del próximo año escolar.
Esperamos poder trabajar junto con usted y esperamos que anime a otros a participar. Pasando sólo unos minutos en la Comunidad Planlt cada día, ¡usted puede marcar la diferencia!
Puede inscribirse para recibir un recordatorio sobre la Comunidad PlanIt en http://communityplanit.org—<http://communityplanit.org%D1> simplemente haga clic en "Boston Public Schools" (Escuelas Públicas de Boston) debajo de "Upcoming Communities" (próximas comunidades).
¡Hasta pronto!
El Equipo de la Comunidad PlanIt

