{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/admin-media/css/forms.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css" type="text/css" media="all" rel="stylesheet" /> 
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block aside %}

    <div class="module neighborhood">
        <h1>Neighborhoods</h1>
        <hr class="space">
        {%if request.user.is_superuser%}
            {%if not request.session.instances|length%}
                <select class="instances_select">
                {%for instance in request.session.instances%}
                    <option value="{{instance.id}}">{{instance.name}}</option>
                {%endfor%}
                </select>
            {%else%}
                No instances
            {%endif%}
        {%else%}
            {{request.session.instance}}
        {%endif%}
        <a href="/admin/instances/instance/{{request.session.instance.id}}" class="changelink">Edit</a>
        <hr class="space">
        <a href="/admin/instances/pointsassignment/" class="changelink">Points Assignment</a>
        <hr class="space">
        <br>
        <a href="/admin/instances/instance/add/" class="addlink">Add a new Neighborhood</a>
    </div>

    <hr class="space">
    
    <div class="module activity">
        <h2>Recent admin activity</h2>
        <hr class="space">
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <ul class="actionlist listless fine">
        {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            {% if entry.is_deletion %}
                {{ entry.object_repr }}
            {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
            {% endif %}
            <br/>
            {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
            {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
    
{% endblock %}

{% block content %}
<hr class="clear">
<div id="content-main">
    <!-- Show neighborhoods -->

    {% if app_list %}
    {% else %}
    <p class="error">{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}

    <div class="manage-pane">
        <h1>Admin</h1>
    </div>
    <hr class="clear">

</div>

<script>
    this.MEDIA_URL = {{MEDIA_URL}};
</script>
<script src="{{MEDIA_URL}}/3pty/js/jquery-1.5.1.min.js"></script>
<script src="{{MEDIA_URL}}/3pty/js/mustache.min.js"></script>
<script src="{{MEDIA_URL}}/js/admin.js"></script>
<script src="{{MEDIA_URL}}/3pty/js/jquery-ui.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script> 
<script type="text/javascript" src="/admin-media/js/core.js"></script> 
<script type="text/javascript" src="/admin-media/js/admin/RelatedObjectLookups.js"></script> 
<script type="text/javascript" src="/admin-media/js/jquery.init.js"></script> 
<script type="text/javascript" src="/admin-media/js/actions.min.js"></script> 
<script type="text/javascript" src="/admin-media/js/calendar.js"></script> 
<script type="text/javascript" src="/admin-media/js/admin/DateTimeShortcuts.js"></script> 
<script type="text/javascript" src="/admin-media/js/actions.min.js"></script>
<script type="text/javascript" src="/admin-media/js/calendar.js"></script>
<script type="text/javascript" src="/admin-media/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/admin-media/js/inlines.min.js"></script>
<script>
    django.jQuery(function(){
        var adjustHeight = function(){
            var sidebarHeight = django.jQuery('#sidebar').height(),
                balancer = django.jQuery('#balancer'),
                balancerHeight = balancer.height();
                
            balancer.height('')

            // Make sure the content area is never shorter than the sidebar
            if(  balancerHeight < sidebarHeight ) {
                balancer.height( sidebarHeight )
            }
        }
        
        adjustHeight();

        django.jQuery('a').click(adjustHeight);
        
    });
</script>
{% endblock %}
