[buildout]
extends = base.cfg

parts += 
        django
        django-gmapsfield
        django-nani
        django-mailer-2

eggs +=
    django-localeurl
    python-magic
    django_compressor
    gunicorn
    python-memcached
    django-rosetta

#supervisor
#django-supervisor

extra-paths += 
              src
              src/${buildout:proj}/web
              ${django-gmapsfield:location}
              ${django-nani:location}
              parts/django-dilla
              ${django-mailer-2:location}
#${django-rosetta:location}

extensions = 
    mr.developer

#eggs = 

[versions]
ipython=0.10
#djangorecipe=0.23.1
django=1.3.1
sorl-thumbnail=3.2.5
python-dateutil=1.5

develop =
#offline = true
unzip = true
newest = true
versions = versions
proj = Community-PlanIt

[django]
recipe = djangorecipe
project = ${buildout:proj}
projectegg = ${buildout:proj}
settings = web.settings
test = ${buildout:proj}
eggs = ${buildout:eggs}
extra-paths  =  ${buildout:extra-paths}
download-cache = ${buildout:download-cache}
control-script = django
wsgi = true

[django-gmapsfield]
recipe = zerokspot.recipe.git
repository = http://github.com/bocoup/django_gmapsfield.git
newest = True
as_egg = true

[django-nani]
recipe = zerokspot.recipe.git
repository = http://github.com/psychotechnik/django-nani.git
newest = True
as_egg = true

[django-rosetta]
recipe = zerokspot.recipe.git
repository = http://github.com/mbi/django-rosetta.git
newest = True
#as_egg = true
=======
[sources]
django = svn http://code.djangoproject.com/svn/django/tags/releases/1.3 

[django]
recipe = djangorecipe
project = Community-PlanIt 
#${buildout:proj}
projectegg = ${django:project}
settings = web.settings
test = ${django:project}
eggs = ${buildout:eggs}
extra-paths  =  
            src
            src/${django:project}
            src/${django:project}/web
            ${django-mailer-2:location}
            ${gmapsfield:location}
download-cache = ${buildout:download-cache}
control-script = dj
wsgi = true

[django-mailer-2]
recipe = zerokspot.recipe.git
repository = git://github.com/SmileyChris/django-mailer-2.git

[gmapsfield]
recipe = zerokspot.recipe.git
repository = git://github.com/fairview/django_gmapsfield.git
