[buildout]

parts = python
        django
        uwsgi
        django-gmapsfield
        django-mailer-2
        django-nani
        django-ajax-selects
#django-endless-pagination


newest = true
offline = false
unzip = true
versions = versions
proj = Community-PlanIt

eggs = sorl-thumbnail
       werkzeug
       psycopg2
       django-templatetag-sugar
       python-dateutil
       south
       django-localeurl
       python-magic
       django-rosetta
       xlwt
       django-admin-tools
       django-celery
       python-memcached
       django-stream
       Sijax
       Pillow
       django-endless-pagination
#django-cache-utils

#PIL
extra-paths = ${django:project}
              ${django:project}/web
              ${django-gmapsfield:location}
              parts/django-dilla
              ${django-mailer-2:location}
              ${django-nani:location}
              ${django-ajax-selects:location}
              ${buildout:directory}/django-cache-utils
#${django-endless-pagination:location}

[python]
recipe = zc.recipe.egg
interpreter = py
eggs = ${buildout:eggs}

[versions]
#ipython=0.10
django=1.4
python-dateutil=1.5.0

[django-nani]
recipe = zerokspot.recipe.git
repository = https://github.com/KristianOellegaard/django-hvad.git
#http://github.com/psychotechnik/django-nani.git
newest = ${buildout:newest}
as_egg = true

[django]
recipe = djangorecipe
project = ${buildout:project_name}
projectegg = ${django:project}
settings = web.settings
test = ${django:project}
eggs = ${buildout:eggs}
extra-paths  =  ${buildout:extra-paths}
wsgi = true

[django-mailer-2]
recipe = zerokspot.recipe.git
repository = git://github.com/SmileyChris/django-mailer-2.git

[django-gmapsfield]
recipe = zerokspot.recipe.git
repository = git://github.com/bocoup/django_gmapsfield.git
newest = ${buildout:newest}
as_egg = true

[django-ajax-selects]
recipe = zerokspot.recipe.git
repository = git://github.com/buriy/django-ajax-selects.git
newest = ${buildout:newest}

#[django-endless-pagination]
#recipe = mercurialrecipe
#repository = http://django-endless-pagination.googlecode.com/hg/ django-endless-pagination

