{% extends 'instances/base.html' %}
{% load i18n %}
{% load i18n cpi_tags %}

{% block title %}{% trans "Check the Standings" %}{% endblock %}

{% block body_id %}leaderboard{% endblock %}

{% block body_class %}{{ block.super }} section-leaderboard{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <a href="{% url missions:mission mission.slug %}" class="btn-back">{% trans "Back to Mission" %}</a>
        
        <h1>Check the Standings</a></h1>
    </div>

    <div class="column-half">
        <div class="column-container">
             <div class="leaderboard-standings"> 
                 <div class="leaderboard-standings-rank">{{ my_rank }}</div> 
                 <div class="leaderboard-standings-name"><a href="">{{ request.user.get_profile.screen_name }}</a></div> 
                 <div class="leaderboard-standings-points">{{ my_total_points }}</div> 
             </div> 
        </div>
    </div>

    <br /><br />

    <div class="column-half clearfix">
        <div class="column-container">
            <h2>Individuals</h2>
            <div id="leaderboard-players" class="leaderboard-container">
                {% for lb_entry in players_leaderboard %}
                <div class="leaderboard-standings">
                    <div class="leaderboard-standings-rank">{{ forloop.counter }}</div>
                    <div class="leaderboard-standings-name"><a href="{{ lb_entry.absolute_url }}">{{ lb_entry.screen_name }}</a></div>
                    <div class="leaderboard-standings-points">{{ lb_entry.points }}</div>
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
    <div class="column-half">
        <div class="column-container">
            <h2>Affiliations</h2>
            
            <div id="leaderboard-affiliations" class="leaderboard-container">
                {% for lb_entry in affiliations_leaderboard %}
                {% if lb_entry.points > 100 %}
                <div class="leaderboard-standings">
                    <div class="leaderboard-standings-rank">{{ forloop.counter }}</div>
                    <div class="leaderboard-standings-name"><a href="{{ lb_entry.absolute_url }}">{{ lb_entry.name }}</a></div>
                    <div class="leaderboard-standings-points">{{ lb_entry.points}}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
