{% extends 'instances/base.html' %}
{% load i18n cpi_tags avatar stream_tags %}

{% block title %}{% trans "Whats Happening" %}{% endblock %}

{% block body_id %}stream{% endblock %}

{% block body_class %}{{ block.super }} section-stream{% endblock %}

{% block game_content %}
<div class="column-container">
    <a href="{{ mission.get_absolute_url }}" class="btn-back">{% trans "Back to Mission" %}</a>
    
    <h1>{% trans "What's Happening" %}</h1>
    
    <p class="instructions">Listed are the 100 most recent player activities out of a total of {{ stream_for_game|length }} since the launch of {{ request.current_game }}</p>
    
    {% comment %}
    Filtering events by stake and affiliation is stupid... not implementing this for Detroit launch 
    <div id="stream-filters">
        <label>Filter by:</label>
        <select id="stream-filters-stake">
            {# TODO: for stakes in stakes_for_this_instance #}
            <option>Stake</option>
        </select>
        <select id="stream-filters-affiliation">
            {# TODO: for affilitation in affiliations_for_this_instance #}
            <option>Affiliation</option>
        </select>
        <input id="stream-filters-apply" class="btn-blue" type="submit" value="Apply" />
    </div>
    {% endcomment %}

    {% regroup stream_for_game by datetime|date:"F j, Y" as stream_by_day_list %}
        {% for day in stream_by_day_list %}
        <h2>{{ day.grouper }}</h2>
        {% for action in day.list %}
            <div class="stream-container">
                <div class="stream-event">
                    <div class="stream-event-time">{{ action.datetime|date:"h:i A" }}</div>
                    <div class="stream-event-avatar">{% avatar action.actor %}</div>
                    {% with action.actor.get_profile as user_profile %}
                        {% render_action action %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
