/* Specific stylesheet for elements in the public Home page and City pages */ 

/* Header Extras */
#header-extras-container {
}
    
    #header-extras-cityname {
        width: 220px;
        line-height: 1em; /* should be the same as #header-extras-container */
        display: inline-block;
        margin: 20px 10px;
        font-weight: bold;
        font-size: 2.25em;
        text-align: center;
        vertical-align: middle;
        color: #80beff;
/*        border: 1px solid black;*/
    }
    
    #header-extras-citydescription {
        display: inline-block;
        width: 220px;
        margin: 20px 10px;
        vertical-align: middle;
        text-align: left;
/*        border: 1px solid black;*/
    }
    
    #header-extras-cityimage {
        width: 230px;
        height: 124px;
        margin: 20px 20px 20px 10px;
        display: inline-block;
        text-align: right;
        vertical-align: middle;
        border: 1px solid #ddd;
/*        border: 1px solid black;*/
    }

/* Walkthrough */
hr.rainbow {
    height: 25px;
    margin: 0px;
    border: 0px;
    background: #f2f7ed; /* Old browsers */
    background: -moz-linear-gradient(left,  #f2f7ed 0%, #f7ff5d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f7ed), color-stop(100%,#f7ff5d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f2f7ed 0%,#f7ff5d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f2f7ed 0%,#f7ff5d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f2f7ed 0%,#f7ff5d 100%); /* IE10+ */
    background: linear-gradient(left,  #f2f7ed 0%,#f7ff5d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f7ed', endColorstr='#f7ff5d',GradientType=1 ); /* IE6-9 */
}

#walkthrough {}

    #walkthrough .slides_container {
        width: 1000px;
        height: 259px;
        padding: 10px 0px;
    }

        #walkthrough .slides_container > div {
            width: 1000px;
            height: 259px;
            display: block;
        }
        
        #walkthrough h1 {
            margin: 10px 0px;
            font-family: 'Enriqueta', serif;
            font-size: 2em;
            font-weight: bold;
            
        }
        
        #walkthrough p {
            margin: 10px 20px 10px 0px;
            line-height: 1.3em;
        }
        .walkthrough-media {
            display: inline-block;
            vertical-align: middle;
            width: 450px;
            height: 259px;
            margin: 0px 20px;
            /* border: 1px solid #ddd; */
        }

        .walkthrough-content-container {
            display: inline-block;
            vertical-align: middle;
            width: 400px;
            margin: 0px 20px;
        }

        .walkthrough-next {
            display: inline-block;
            position: absolute;
            right: -25px;
            top: 110px;
            width: 25px;
            height: 25px;
            background: url('../img/btn-next.png');
            cursor: pointer;
        }
        
            .walkthrough-next:hover {
                background-position: 25px;
            }
        
/* 
   Games 
*/


#public-index #games {
    width: 640px;
}

    #public-index #games > .slides_container {
        width: 640px;
        height: 600px;
    }

.games {
    float: left;
    margin: 0px 20px;
    background: white;
/*    border: 1px solid black;*/
}
    
    .games-filter {
        display: inline-block;
        width: 500px;
    }
    
        .games-filter li {
            display: inline-block;
            vertical-align: bottom;
        }
        
        .games-filter a {
            width: 100px;
            display: inline-block;
            padding: 20px;
            text-align: center;
/*            border: 1px dotted #ddd;*/
/*            background: #2D3542;*/
            cursor: pointer;
        }
        
        .games-filter a.active,
        .games-filter a:hover {
            background: #2D3542;
            color: #fff;
        }
        
        .games-filter a.active{
            font-size: 1.2em;
        }
        
    .games hr.thick {
        margin-bottom: 10px;
    }
    
    #games-countdown {
        display: inline-block;
        vertical-align: bottom;
        width: 150px;
        height: 50px;
        font-size: 0.9em;
        text-align: center;
        background: #e0f0e9;
        color: #ff5036;
    }
    
        #games-countdown-time {
            margin: 5px;
            font-size: 1.5em;
        }
        
    .games-filter-container {
    }

    .games-list {
        top: 0px;
        left: 0px;
        clear: both;
    }
    
        .games-list-signedup {
            position: relative;
            left: -15px;
            display: inline-block;
            padding: 5px 20px;
            font-size: 0.8em;
            background: #ff5036;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,.1);
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
        }
        
         .games-list-signedup:before{
             content: '';
             position: absolute;
             border-style: solid;
             border-color: transparent;
             bottom: -5px;
         }

        .games-list-signedup:before
        {
            border-width: 0 5px 5px 0;
            border-right-color: #e26521;
            left: 0;
        }
        
        /* Games list Navigation (left) */
        .games-list-nav {
            float: left;
            width: 200px;
        }
        
            .games-list-nav li+li {
                border-top: 2px dotted #e4f2ed;
            }
                
            .games-list-nav > li > a {
                display: block;
                padding: 15px 10px;
                text-decoration: none;
                cursor: pointer;
                color: inherit;
            }
            
            .games-list-nav > li > a:hover,
            .games-list-nav > li.current > a {
                background-color: #e4f2ed;
            }
            
            .games-list-nav h3 {
                font-size: 1.4em;
                font-weight: bold;
            }
            
            .games-list-nav p {
                margin: 10px 0px;
                font-size: 0.75em;
            }
        
        /* Public games list details */
        #public-index .games-list-details {
            position: relative;
            float: left;
            width: 440px;
            background: #e0f0e9;
        }
            .games-list-detail-countdown {
                position: absolute;
                right: 0px;
                top: -75px;
                width: 200px;
                height: 75px;
                text-align: center;
                background: #e0f0e9;
                border-left: 10px solid white;
            }
            
            #public-index .games-list-details > div {
                display: block;
                width: 440px;
                margin: 20px;
            }
            
                #public-index .games-list-details > div > div {
                    width: 400px;
                    text-align: center;
                }
                
                #public-index .games-list-details .games-list-detail-img {
                    width: 400px;
                    height: 300px;
                }

                #public-index .games-list-details .games-list-detail-description {
                    margin: 20px 0px;
                    width: 400px;
                    text-align: left;
                }
                
/* Public - city pages have slightly different setup... */

/*#public-city #games {
    width: 920px;
}

    #public-city #games > .slides_container {
        width: 920px;
        height: 600px;
    }
                    
        #public-city .games-list-details {
            float: left;
            width: 720px;
            background: #e4f2ed;
        }

            #public-city .games-list-details > div {
                display: block;
                width: 720px;
                margin: 20px;
            }

                #public-city .games-list-details > div > div {
                    width: 680px;
                }
                


                #public-city .games-list-details .games-list-detail-img {
                    width: 680px;
                    height: 300px;
                }*/

/* Private - city (logged-in) pages again have a slightly different setup... sigh... */

#public-city #games,
#private-city #games {
    width: 780px;
}

    #public-city #games > .slides_container,
    #private-city #games > .slides_container {
        width: 780px;
        height: 600px;
    }
    
        #public-city .games-list-details,
        #private-city .games-list-details {
            position: relative;
            float: left;
            width: 580px;
            background: #e4f2ed;
        }
        
            #public-city .games-list-details > div,
            #private-city .games-list-details > div {
                display: block;
                width: 580px;
                margin: 20px;
            }
            
                #private-city .games-list-details > div > div,
                #private-city .games-list-details > div > div {
                    width: 540px;
                    text-align: center;
                }
                
                #public-city .games-list-details .games-list-detail-img,
                #private-city .games-list-details .games-list-detail-img {
                    width: 540px;
                    height: 300px;
                }

                #public-city .games-list-details .games-list-detail-description,
                #private-city .games-list-details .games-list-detail-description {
                    margin: 20px 0px;
                    width: 540px;
                    text-align: left;
                }
                
/* Cities Navigation */
#cities-container {
    float: left;
    width: 240px;
    margin: 0px 20px;
    background: white;
}
    #cities-container h2 {
        font-size: 2.5em;
    }
    
    #cities-container h3 {
        margin: 15px 0px;
        font-size: 1.5em;
    }

    #bringtoyourcommunity-container {
        position: relative;
        left: 12px;
    }

        #bringtoyourcommunity-container a {
            display: block;
            width: 150px;
            height: 36px;
            margin: 20px 0px;
            padding: 15px 20px 10px 40px;
            background: #f7ff59;
            text-decoration: none;
            text-transform: uppercase;
            color: #4d4d4d;
        }
        
        #bringtoyourcommunity-container a:before{
            position: absolute;
            left: -12px;
            top: 0px;
            content: "";
            width: 0px;
            height: 0px;
            border: 12px solid transparent;
            border-top-color: #f7ff59;
            border-top-width: 30px;
            border-bottom-color: #f7ff59;
            border-bottom-width: 30px;
        }
        
        #bringtoyourcommunity-container a:after{
            position: absolute;
            right: -12px;
            top: 0px;
            content: "";
            width: 0px;
            height: 0px;
            border: 30px solid transparent;
            border-left-color: #f7ff59;
            border-left-width: 12px;
        }