/* Styles for Comments! */

.comments {
    margin-left: -20px;
    width: 960px;
}

    #corner-stamp {
        float: right;
        width: 300px;
        height: 325px;
        margin: 0px 10px;
    }
    
        #corner-stamp > div {
            float: left;
            margin: 0px 10px;
            text-align: right;
        }
        
        #corner-stamp #comments-legend {
            width: 35px;
            height: 300px;
            background: #f7ff5a; /* Old browsers */
            background: -moz-linear-gradient(top,  #f7ff5a 0%, #f6f6f6 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7ff5a), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #f7ff5a 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #f7ff5a 0%,#f6f6f6 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #f7ff5a 0%,#f6f6f6 100%); /* IE10+ */
            background: linear-gradient(top,  #f7ff5a 0%,#f6f6f6 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ff5a', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
        }
    
.thread {
    float: left;
    width: 300px;
    margin: 0px 10px;
/*    border: 1px solid black;*/
}

.comment {
    position: relative;
    width: 270px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 0;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

    .comment:after {
        content: ' ';
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: -24px;
        right: 0px;
        border: 12px solid transparent;
        border-top-color: #f6f6f6;
        border-right-color: #f6f6f6;
        z-index: 2;
    }
    
    .comment:before {
        content: ' ';
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: -30px;
        right: 0px;
        border: 15px solid transparent;
        border-top-color: #fff; /* sadly, this has to be whatever the bg color is */
        border-right-color: #fff; /* sadly, this has to be whatever the bg color is */
        z-index: 1;
    }
    
    
    .comment .flag-comment {
        float: right;
        display: inline-block;
        width: 10px;
        height: 13px;
        margin-top: 10px;
        background: url('../img/icon-flag-comment.png');
        cursor: pointer;
    }
    
        .comment .flag-comment:hover {
            background-position: 10px 0px;
        }
    
    .comment .comment-header {}
    
        .comment .comment-header .comment-header-avatar{
            float: left;
            width: 48px;
        }
        
        .comment .comment-header .comment-header-meta{
            float: left;
            margin: 10px 10px;
            font-size: 0.9em;
            font-style: italic;
        }
        
    /* Comment Message */
    /* their answers to the questions */
    .comment .extra {
        margin: 10px 0px;
        color: #999;
    }
        
        .comment .extra li {
            list-style-type: disc;
            margin-left: 20px;
        }
    
    .comment .comment-message {
        margin: 20px 0px;
    }
 
    .comment textarea{
        width: 100%;
        border: none;
        resize: vertical;
        background: inherit;
    }

    .comment .actions {
        clear: both;
        overflow: hidden;
        padding: 5px 0px;
    }
    
    
        /* LIKES! */
        .comment .actions .likes {
            float: left;
        }

            .comment .actions .likes .btn-like {
                display: inline-block;
                width: 20px;
                height: 16px;
                background: url('../img/icon-comments-like.png');
            }
        
            .comment .actions .likes .likes-count {
                display: inline-block;
                color: #00a3ff;
                margin: 0px 5px;
                
            }
    
        /* REPLIES! */
        .comment .actions .replies {
            float: right;
        }

            .comment .actions .replies .btn-replies {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                bottom: -2px;
                width: 20px;
                height: 20px;
                background: url('../img/icon-comments-reply.png');
            }
            
            .comment .actions .replies .replies-count {
                display: inline-block;
                vertical-align: middle;
                color: #00a3ff;
                margin: 0px 5px;
            }
            
        /* REPLIES! (NESTED) */
        .comment .actions .reply-comment-counter {
            float: left;
            color: #999;
            font-size: 0.8em;
            line-height: 2.5em;
        }
        
        .comment .actions .reply {
            float: right;
        }
            
            .comment .actions .reply .btn-reply,
            .comment .actions .reply .btn-cancel {
                margin: 0px;
            }
    
/* Nested Comments */
.comment.nested  {
    width: 250px; /* this and margin-left should add up to .comment */
    margin-left: 20px;
    margin-top: -25px;
}


/* Attachments for duplicate.html */
.attachments-instructions {
    color: #999;
}

#player-activities .comment-response-attachments {
    float: left;
    padding-bottom: 20px;
}

    .attachments-instructions {
        margin-bottom: 10px;
        font-style: italic;
    }
    
    .attachments-container {
        border-left: 1px solid #efefef;
        margin-left: 20px;
        padding-left: 20px;
    }

    #player-activities .comment-response-attachments .input,
    #player-activities .comment-response-attachments .controls {
        display: inline-block;
    }
    
        #player-activities .comment-response-attachments .controls .btn-blue {
            margin: 0px 0px 0px 10px;
        }
    
    #player-activities .comment-response-attachments input[type='text'] {
        width: 225px;
        padding: 8px 5px;
        border: 0px;
        background: #EFF2F2;
    }
    
    #player-activities .comment-response-attachments input[type='file'] {
        width: 225px;
        padding: 8px 5px;
        border: 0px;
    }


