/* Flatpages specific styles... in templates, these are called "static" */

#content {
}
    
    #content h1 {
        font-size: 2em;
        padding: 10px 0px;
    }
    
    #content h2 {
        font-size: 1.2em;
        margin: 20px 0px;
    }
    
    #content p {
        margin: 20px 0px;
    }
    
    #content ul {
        padding-left: 20px;
    }
    
        #content li {
            list-style: disc;
            margin: 5px 0px 5px 20px;
        }