@import "../less-boilerplate/utils.less";

/* Challenge List View */
@blue: rgb(0, 136, 204);
@light-gray: #ddd;
@light-light-gray: #f3f3f3;

@k-dark-gray: #555;
@k-blue: #0f85a5;
@k-yellow: #fbc44c;
@k-green: #81AC6E;


.challenge-basics {
	color: #fff;
	background: @k-blue;

}

#page-challenge-list {
	#challenges {
		.challenge {
			color: white;
			&.completed {
				background: @k-blue;
			}

			&.not-completed {
				background: @k-dark-gray;
			}

		}
	}


}

.minimap {
	position: relative;
	font-size: 0; /* Collapse spaces between inline-block */
	background: url('../img/bg-minimap-hills.png') bottom center no-repeat;

	&:before {
		content: '';
		position: absolute;
		width: 100%; height: 21px;
		bottom: -20px;
		background: @k-green;
	}

	.challenge {
		width: 48px; height: 72px;
		border: none;
		background: url('../img/bg-minimap-challenges.png') 0px -72px;
		&.challenge-building-1 { background-position: -48*1px -72px; }
		&.challenge-building-2 { background-position: -48*2px -72px; }
		&.challenge-building-3 { background-position: -48*3px -72px; }
		&.challenge-building-4 { background-position: -48*4px -72px; }

		&.completed {
			background-position: 0px -216px;
			&.challenge-building-1 { background-position: -48*1px -216px; }
			&.challenge-building-2 { background-position: -48*2px -216px; }
			&.challenge-building-3 { background-position: -48*3px -216px; }
			&.challenge-building-4 { background-position: -48*4px -216px; }
		}

		&.challenge-locked {
			background-position: 0px 0px;
			&.challenge-building-1 { background-position: -48*1px 0px; }
			&.challenge-building-2 { background-position: -48*2px 0px; }
			&.challenge-building-3 { background-position: -48*3px 0px; }
			&.challenge-building-4 { background-position: -48*4px 0px; }
		}

		// &.challenge-barrier {
		// 	background: url('../img/bg-minimap-gnomes.png') -48px 0px !important;
		// 	&.completed { background-position: -96px 0px !important; }
		// }

		// &.challenge-final-barrier {
		// 	background: url('../img/bg-minimap-gnomes.png') 0px 0px;

		// }

		&.challenge-barrier {
			width: 72px;
			background: url('../img/bg-minimap-gnomes_72x72.png') -72px 0px !important;
			&:hover { background-position: -72px -72px !important; }
			&.completed { background-position: -144px 0px !important; }
			&.complete:hover { background-position: -144px -72px !important; }
		}

		&.challenge-final-barrier {
			width: 72px;
			background: url('../img/bg-minimap-gnomes_72x72.png') -288px 0px !important;
			&:hover { background-position: -288px -72px !important; }
		}
	}
}

.window {
	margin-top: -100px;
	height: 100px;
	width: 100px;
	background: @k-yellow !important;
	border: 0;
	.border-radius(50px);
}


#challenges {
	background: url('../img/bg-challenges-tile.png');
}

#footer-fat {
	margin: 0;
	background: @k-green;
}

#footer {
	background: @k-green;
}