@import "../less-boilerplate/utils.less";

/* Challenge List View */
@blue: rgb(0, 136, 204);
@light-gray: #ddd;
@light-light-gray: #f3f3f3;

@k-dark-gray: #555;
@k-blue: #0f85a5;
@k-yellow: #fbc44c;



.challenge-basics {
	color: #fff;
	background: @k-blue;

}

// .minimap {
// 	.window {
// 		margin-top: -50px;
// 		height: 150px;
// 		width: 150px;
// 		background: @k-yellow !important;
// 		border: 0;
// 		.border-radius(100px);
// 	}
// }