@import "../less-boilerplate/utils.less";

/* Challenge List View */
@blue: rgb(0, 136, 204);
@light-gray: #ddd;
@light-light-gray: #f3f3f3;

@k-dark-gray: #555;
@k-blue: #0f85a5;
@k-yellow: #fbc44c;
@k-green: #81AC6E;
@k-light-light-yellow: #f7f7f0; /* speech bubbles */

.nav-account {

	.nav-account-stats {
		position: relative;
		display: inline-block;
		padding: 10px 10px 10px 55px;
		border-left: 1px solid @light-gray;
		&:first-child { border-left: none; }
		&:before {
			content: '';
			position: absolute;
			left: 12px; top: 50%;
			margin-top: -18px;
			width: 36px; height: 36px;
			background: url('../img/icons-gamenav.png') no-repeat;
		}
	}
	#nav-account-coins { &:before { background-position: 0 0; }}
	#nav-account-rank { &:before { background-position: -36px 0; }}
	#nav-account-awards { &:before { background-position: -72px 0; }}
}



.challenge-basics {
	color: #fff;
	background: @k-blue;

}

#page-challenge-list {
	#challenges {
		.challenge {
			color: white;
			&.completed {
				background: @k-blue;
			}

			&.not-completed {
				background: @k-dark-gray;
			}

		}
	}


}

.minimap {
	position: relative;
	font-size: 0; /* Collapse spaces between inline-block */
	background: url('../img/bg-minimap-hills.png') bottom center no-repeat;

	&:before {
		content: '';
		position: absolute;
		width: 100%; height: 21px;
		bottom: -20px;
		background: @k-green;
	}

	.challenge {
		width: 48px; height: 72px;
		border: none;
		background: url('../img/bg-minimap-challenges.png') 0px -72px;
		&.challenge-building-1 { background-position: -48*1px -72px; }
		&.challenge-building-2 { background-position: -48*2px -72px; }
		&.challenge-building-3 { background-position: -48*3px -72px; }
		&.challenge-building-4 { background-position: -48*4px -72px; }

		&.completed {
			background-position: 0px -216px;
			&.challenge-building-1 { background-position: -48*1px -216px; }
			&.challenge-building-2 { background-position: -48*2px -216px; }
			&.challenge-building-3 { background-position: -48*3px -216px; }
			&.challenge-building-4 { background-position: -48*4px -216px; }
		}

		&.challenge-locked {
			background-position: 0px 0px;
			&.challenge-building-1 { background-position: -48*1px 0px; }
			&.challenge-building-2 { background-position: -48*2px 0px; }
			&.challenge-building-3 { background-position: -48*3px 0px; }
			&.challenge-building-4 { background-position: -48*4px 0px; }
		}

		// &.challenge-barrier {
		// 	background: url('../img/bg-minimap-gnomes.png') -48px 0px !important;
		// 	&.completed { background-position: -96px 0px !important; }
		// }

		// &.challenge-final-barrier {
		// 	background: url('../img/bg-minimap-gnomes.png') 0px 0px;

		// }

		&.challenge-barrier {
			width: 72px;
			background: url('../img/bg-minimap-gnomes_72x72.png') -72px 0px !important;
			&:hover { background-position: -72px -72px !important; }
			&.completed { background-position: -144px 0px !important; }
			&.complete:hover { background-position: -144px -72px !important; }
		}

		&.challenge-final-barrier {
			width: 72px;
			background: url('../img/bg-minimap-gnomes_72x72.png') -288px 0px !important;
			&:hover { background-position: -288px -72px !important; }
		}
	}
}

.window {
	margin-top: -100px;
	height: 100px;
	width: 100px;
	background: @k-yellow !important;
	border: 0;
	.border-radius(50px);
}


#challenges {
	background: url('../img/bg-tile.png');
	.challenge-barrier {
		min-height: 100px !important;
		color: @k-dark-gray !important;
		background: @k-light-light-yellow !important;
		&:before {
			content: '';
			position: absolute;
			top: 0; left: 0;
			width: 300px; height: 300px;
			background: url('../img/bg-challenges-gnomes.png') -300px 0px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: -30px; left: 25px;
			width: 0; height: 0;
			border: 15px solid transparent;
			border-top: 15px solid @k-light-light-yellow;
		}

	}
}

#footer-fat {
	margin: 0;
	background: @k-green;
}

#footer {
	background: @k-green;
}

#bank-nav {
	text-align: center;
	font-size: 0em;
	background: url('../img/bg-bank-bannisters.png') no-repeat center bottom;
	a {
		display: inline-block;
		vertical-align: bottom;
		width: 180px; height: 120px;
		margin: 0 30px;
		background: url('../img/icons-bank.png');
		&#bank-nav-causes {
			background-position: 0 0;
			&:hover { background-position: 0 -120px; }
		}
		&#bank-nav-coins {
			background-position: -180px 0;
			&:hover { background-position: -180px -120px; }
		}
		&#bank-nav-sponsors {
			background-position: -360px 0;
			&:hover { background-position: -360px -120px; }
		}
	}
}

#bank-coins-table {
	width: 100%;
	td {
		padding: 10px 0;
		border-bottom: 1px solid @light-gray;
		&:last-child {
			text-align: right;
		}
	}

	.row-spend td {
		border-bottom: 3px solid @k-dark-gray;
	}

	.row-spent td, .row-earned td {
		padding-top: 50px;
	}
}

.section-intro {
	background: url('../img/bg-tile.png');
	.inner-shadow(0px, 1px, 8px);

	&.section-bank-intro {
		.wrapper {
			position: relative;
			min-height: 230px;
			box-sizing: border-box;
			padding: 30px 350px 30px 0px;
			&:after {
				content: '';
				position: absolute;
				bottom: 0; right: 0px;
				width: 300px; height: 230px;
				background: url('../img/bg-bank-section.png');
			}
		}
	}

	&#bank-causes-intro {
		.wrapper:after { background-position: 0px; }
	}

	&#bank-coins-intro {
		.wrapper:after { background-position: -300px; }
	}

	&#bank-sponsors-intro {
		.wrapper:after { background-position: -600px; }
	}
}

.aside {
	padding: 50px 20px;
	box-sizing: border-box;
	background: @light-light-gray;
	h3 {
		text-transform: uppercase;
	}
}

.icon-coin {
	width: 36px;
	height: 36px;
	background: url('../img/icon-coin_large.png');
	vertical-align: baseline;

}