html, body {
    background: url('../img/bg.png') repeat #fff;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

#header,
#body, 
#footer {
}

#header > div,
#body > div, 
#footer > div {
    width: 940px;
    padding: 20px;
    margin: 0px auto;
}

#body {
    background: #fff;
}