/* Base Stylesheet for Spring2012 Redesign */

html, body {
    background: #3d4fff;
    font: 16px "Trebuchet MS";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

#body-container {
    width: 960px;
    margin: 20px auto;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header {
    position: relative;
    height: 150px;
}
    #logo-container {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    
    #login-container {
        display: inline-block;
        position: absolute;
        right: 20px;
        bottom: 0px;
        background: #00e5b8;
        padding: 5px 15px;
        color: white;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

/* The Walkthrough */
#walkthrough-container,
#registration-container {
    position: relative;
    left: -20px;
    width: 1000px;
    background: #efefef;
    overflow: hidden;
}

#walkthrough {
    width: 1000px;
    height: 259px;
    padding: 10px 0px;
}

    #walkthrough > div {
        width: 1000px;
        height: 259px;
        display: block;
    }

        .walkthrough-media {
            display: inline-block;
            vertical-align: middle;
            width: 460px;
            height: 259px;
            margin: 0px 20px;
            border: 1px solid #ddd;
        }
    
        .walkthrough-content-container {
            display: inline-block;
            vertical-align: middle;
            width: 400px;
        }
    
        .walkthrough-next {
            position: absolute;
            right: 20px;
            bottom: 20px;
        }
        
/* Games */
#games-container {
    float: left;
    width: 600px;
    margin: 0px 20px;
    background: white;
}

#cities-container {
    float: left;
    width: 280px;
    margin: 0px 20px;
    background: white;
}

    #bringtoyourcommunity-container {
    }

        #bringtoyourcommunity-container a {
            display: block;
            margin: 20px 0px;
            padding: 10px;
            background: #2da57c;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
        }

/* Footer */
#footer {}
    
    #footer > div {
        float: left;
        width: 240px;
        text-align: center;
        color: #fff;
    }
    
    #footer h1 {
        font-size: 1em;
        font-weight: normal;
    }

/* Utility Classes */
.clearfix {
    clear: both;
}