@import "../less-boilerplate/utils.less";
@import "../less-boilerplate/glyphicons.less";

@blue: rgb(0, 136, 204);
@light-gray: #ddd;
/* Structure */
html, body {
    background: #fff;
    color: #343434;
}

#body {
    position: relative;
    clear: both;
    background: #fff;
}

.wrapper {
    width: 940px;
    padding: 0px 20px;
    margin: 0px auto;
}

/* Faux Modal */

.faux-modal {
    position: relative;
    padding: 20px 20px;
    .drop-shadow(0px, 0px, 6px, 0px, #ccc);
    .border-radius(2px);


    .close-faux-modal {
        position: absolute;
        top: -12px;
        right: -12px;
        display: inline-block;
        border: 3px solid white;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 15px;
        color: white;
        background: black;
        z-index: 1;
        .drop-shadow;
        .border-radius(20px);
        .opacity(1);
        & > a {
            text-decoration: none;
            text-shadow: none;
            color: white;
            &:hover {
                color: white;
            }
        }
    }

}

/* Headers and Navigation */

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    .clearfix;

    .nav-site-wrapper {
        position: relative;
        padding: 20px 0px;
        #logo-container {
            float: left;
            width: 100px;
            text-align: center;
        }
        #nav-site {
            float: left;
            width: 840px;
            &>ul {
                float: left;
                margin: 8px 0 8px 30px;
                li {
                    margin-left: 10px;
                }
            }
            .nav-site-account {
                float: right;
                margin-top: 5px;
            }
        }
        .clearfix;
    }
    
    #nav-game {
        clear: both;
        padding: 30px 0;
        .nav-game-account {
            float: right;
        }
    }

    .nav-account {
        li {
            display: inline;
        }
        .game {
            & > a {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &.game-active a {
                color: #fff;
                font-weight: bold;
                background-color: @blue;
                .inner-shadow(0, 0, 4px);
            }
        }    
    }    
}

.in-game #header {
    #nav-site-container {
        background: #f9f9f9;
        .inner-shadow(0, -1px, 1px, 0, rgba(0, 0, 0, 0.2));
        .clearfix;
        #nav-site-toggle {
            position: absolute;
            bottom: -85px;
            left: -80px;
            border: 1px solid #ddd;
            width: 35px;
            height: 85px;
            border: 2px solid white;
            border-top: none;
            background: #f3f3f3; /* url('../img/icon-navsitetoggle.png');*/
            text-align: center;
            line-height: 105px;
            .gradient(#f9f9f9, #f3f3f3);
            .drop-shadow(0px, 1px, 2px, 0, rgba(0, 0, 0, 0.2));
            i {
                .opacity(0.5);
                .transform(scaleX(-1));
            }
            &:hover i {
                .opacity(0.75);
            }
        }
    }
}

/* Footer */

#footer-fat {
    margin: 25px 0;
    padding: 50px 0;
    border-top: 1px solid #eee;
    .social {
        text-align: right;
        .social-facebook,
        .social-twitter {
            display: inline-block;
            width: 72px;
            height: 72px;
            margin-left: 10px;
            background: url('../img/icons-social.png') 0px 0px;
            &:hover {
                background-position: 0 -72px;
            }
        }
        .social-twitter {
            background-position: 0 -144px;
            &:hover {
                background-position: 0 -216px;
            }
        }
    }
}

#footer {
    padding: 10px 0px;
    border-top: 1px solid #eee;
    #copyright-icon {
        color: #eee;
        float: left;
        width: 40px;
        font-size: 3em;
        font-weight: bold;
        line-height: 32px;
        &+div {
            float: left;
            color: #ddd;
            width: 900px;
        }
    }
    .nav-inline {
        margin: 0px;
        li {
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }
    #nav-footer-right {
        float: right;
    }
}

/* Specific Styles */

.instance {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    box-sizing: border-box;
    .box-shadow;
    .lifted;
}

/* Index Page */
#page-index-public {
    
    #header-featured {
        h1 {
            margin: 50px 0px;
            font-size: 4em;
            font-family: "futura-pt", sans-serif;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
    }

    #featured {
        background: url('../img/bg-crosshatch.png') repeat #e9e9e9;
        .inner-shadow(0, 0, 6px, 0, rgba(0, 0, 0, 0.3));
    }

    .featured-container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.ux {
    color: #999;
}


/* Missions */
#page-mission-details {
    #mission-details-prev {
        float: left;
        width: 36px;
        height: 36px;
        margin-top: 170px;
        background: @light-gray;
        .border-radius(36px);
    }

    #mission-details-next {
        float: right;
        width: 36px;
        height: 36px;
        margin-top: 170px;
        background: @light-gray;
        .border-radius(36px);
    }
}


/* Challenges */

#page-challenge-list {
    .minimap {
        position: relative;
        background: #eee;
        margin: 20px 0px;
        padding: 5px 0px;
        text-align: center;
        line-height: 0px;
        background: url('../img/bg-crosshatch.png') repeat #e9e9e9;
        z-index: 0;
        .inner-shadow(0, 0, 4px);
        .clearfix;


        .window {
                position: absolute;
                left: center; top: 50%;
                margin-top: -21px;
                margin-left: -2px;
                width: 124px; height: 40px;
                border: 1px solid #aaa;
                z-index: -1;
            }

        .challenge {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin: 0px;
            border: 1px solid #ccc;
            background: #fff;
            cursor: pointer;
            /* Challenge States */
            &.challenge-locked {
                background: #f1f1f1;
            }

            &.challenge-barrier {
            }

            &.challenge-final {
                background: #e9e9e9;
            }

            &:hover {
                background: #e1e1e1;
            }
        }
    }

    #challenges {
        width: 100%;
        padding: 50px 0px;
        background: url('../img/bg-crosshatch.png') repeat #e9e9e9;
        overflow: hidden;
        .inner-shadow(0, 0, 4px);

        .challenges-container {
            .clearfix;
            .challenge {
                position: relative;
                padding: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                min-height: 300px;
                box-sizing: border-box;
                .box-shadow;
                .lifted;

                /* Challenge States */
                &.challenge-locked {
                    background: url('../img/icon-challenge-locked_large.png') no-repeat center center #f1f1f1;
                }

                &.challenge-barrier {
                    margin-top: -15px;
                    min-height: 350px;

                }

                &.challenge-final {
                    margin-top: -15px;
                    min-height: 350px;
                    background-color: #e9e9e9;
                }

                .action {
                    position: absolute;
                    bottom: 50px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
                .meta {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    text-align: right;
                }
            }
        }
    }

    .carousel {
        width: 100%;
        position: relative;
        
        .carousel-controls {
            position: absolute;
            width: 64px;
            height: 64px;
            margin-top: -32px;
            top: 50%;
            background: #ddd;
            border: 3px solid white;
            cursor: pointer;
            z-index: 2;
            .border-radius(100px);
            &:hover {
                background: #ccc;
            }
            &.carousel-controls-previous {
                left: 10px;
            }
            &.carousel-controls-next {
                right: 10px;
            }
        }

        .carousel-clip {
            border: 1px dashed #ccc;
            .carousel-slide{
                width: 10000%;
                margin-left: -20px;
            }
        }
    }    
}


.avatar {
    border: 1px solid @light-gray;
}

.avatar-blank {

}

.avatar-gamepiece {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -38px;
    display: inline-block;
    .border-radius(100px);
    .drop-shadow;
}