/* Base Stylesheet for Spring2012 Redesign */

html, body {
    background: #3d4fff;
    font: 16px "Trebuchet MS";
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

#body-container {
    width: 960px;
    margin: 20px auto;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header {
    position: relative;
    height: 150px;
}
    #logo-container {
        position: absolute;
        left: 20px;
        top: 20px;
    }
    
    #login-container {
        display: inline-block;
        position: absolute;
        right: 20px;
        bottom: 0px;
        background: #00e5b8;
        padding: 5px 15px;
        color: white;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

/* Ribbon */

.ribbon {
    position: relative;
    margin: 0 -20px 20px -20px;
    padding: 0px 0;
    background: #efefef;
    text-shadow: 0 1px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

    .ribbon:before, .ribbon:after
       {
           content: '';
           position: absolute;
           border-style: solid;
           border-color: transparent;
           bottom: -20px;
       }

   .ribbon:before
   {
       border-width: 0 20px 20px 0;
       border-right-color: #666;
       left: 0;
   }

   .ribbon:after
   {
       border-width: 0 0 20px 20px;
       border-left-color: #666;
       right: 0;
   }

/* Walkthrough */

#walkthrough {}

    #walkthrough .slides_container {
        width: 1000px;
        height: 259px;
        padding: 10px 0px;
    }

        #walkthrough .slides_container > div {
            width: 1000px;
            height: 259px;
            display: block;
        }

        .walkthrough-media {
            display: inline-block;
            vertical-align: middle;
            width: 450px;
            height: 259px;
            margin: 0px 20px;
            /* border: 1px solid #ddd; */
        }

        .walkthrough-content-container {
            display: inline-block;
            vertical-align: middle;
            width: 460px;
            margin: 0px 20px;
        }

        .walkthrough-next {
            display: inline-block;
            position: absolute;
            right: 50px;
            bottom: 20px;
            width: 25px;
            height: 25px;
            background: url('../img/btn-next.png');
            cursor: pointer;
        }
        
        
/* Games */
#games-container {
    float: left;
    width: 640px;
    margin: 0px 20px;
    background: white;
}

    #games-filter {
    }
    
        #games-filter a {
            display: inline-block;
            padding: 20px;
            border: 1px dotted #ddd;
        }

    .games-list {
        clear: both;
    }
    
        .games-list-nav {
            float: left;
            width: 200px;
        }
        
            .games-list-nav li+li {
                border-top: 2px dotted #e4f2ed;
            }
                
            .games-list-nav > li > a {
                display: block;
                padding: 15px 10px;
                cursor: pointer;
            }

            .games-list-nav > li > a:hover,
            .games-list-nav > li.current > a {
                background-color: #e4f2ed;
            }
        
        .games-list-detail {
            float: left;
            width: 440px;
            background: #e4f2ed;
        }
    
            .games-list-detail > div {
                display: block;
                margin: 20px;
            }
            
                .games-list-details > div > div {
                    width: 440px;
                }
                .games-list-detail .games-list-detail-img {
                    width: 400px;
                    height: 300px;
                }

#cities-container {
    float: left;
    width: 240px;
    margin: 0px 20px;
    background: white;
}

    #bringtoyourcommunity-container {
    }

        #bringtoyourcommunity-container a {
            display: block;
            margin: 20px 0px;
            padding: 10px;
            background: #2da57c;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
        }

/* Footer */
#footer {
}
    
    #footer > div {
        float: left;
        width: 240px;
        text-align: center;
        color: #fff;
    }
    
    #footer h1 {
        font-size: 0.75em;
        margin: 25px 0px;
        font-weight: normal;
    }
    
    #footer ul {
        font-size: 0.75em;
        margin: 25px 0px;
        font-weight: normal;
    }
        #footer ul li{
            margin: 5px 0px;
        }
            
    #footer a {
        text-decoration: none;
        color: #fff;
    }
    
    #footer a:hover {
        color: #eee;
    }

/* Utility Classes */
.clearfix {
    clear: both;
}