/* Base Stylesheet for Spring2012 Redesign */

html, body {
    background: url('../img/bg.jpg') repeat #f6f6f6;
    font: 14px "Trebuchet MS";
}

a {
    text-decoration: none;
    color: #007dff;
}

#top-nav {
    width: 960px;
    margin: 10px auto;
    text-align: right;
}

    #top-nav li {
        display: inline-block;
    }


#page-container {
    width: 960px;
    margin: 0px auto;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header {
    position: relative;
    height: 150px;
}

    #logo-container {
        position: absolute;
        top: 25px;
        left: 50px;
    }
    
    #header-intro {
        position: absolute;
        top: 40px;
        left: 200px;
        width: 400px;
        font-weight: bold;
        margin: 0px 50px;
        font-size: 1.5em;
        color: #00e5b8;
    }
    
    #login-container {
        position: absolute;
        top: 65px;
        right: 50px;
        background: #00e5b8;
        padding: 5px 15px;
        color: white;
        border-radius: 5px;
    }

#content {
    padding-bottom: 40px;
}

/* Columns */
.column-full {
    width: 960px;
}

.column-half {
    float: left;
    width: 480px;
}

    .column-container {
        margin: 0px 30px;
    }
    
/* Ribbon */

.ribbon {
    position: relative;
    margin: 0 -20px 20px -20px;
    padding: 0px 0;
    background: #e0f0e9;
    text-shadow: 0 1px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

    .ribbon:before, .ribbon:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -20px;
    }

   .ribbon:before
   {
       border-width: 0 20px 20px 0;
       border-right-color: #00e5b8;
       left: 0;
   }

   .ribbon:after
   {
       border-width: 0 0 20px 20px;
       border-left-color: #00e5b8;
       right: 0;
   }

/* Siebar-Nav */
#sidebar-nav {
    position: relative;
    float: right;
    margin: 0 -20px 20px 0px;
    width: 150px;
    background: #ddd;
}

    #sidebar-nav:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -20px;
        border-width: 0 0 20px 20px;
        border-left-color: #00e5b8;
        right: 0;
    }
    
    #sidebar-nav li {
        padding-top: 50px;
        text-align: center;
        border-bottom: 1px solid white;
    }
    
/* Walkthrough */

#walkthrough {}

    #walkthrough .slides_container {
        width: 1000px;
        height: 259px;
        padding: 10px 0px;
    }

        #walkthrough .slides_container > div {
            width: 1000px;
            height: 259px;
            display: block;
        }

        .walkthrough-media {
            display: inline-block;
            vertical-align: middle;
            width: 450px;
            height: 259px;
            margin: 0px 20px;
            /* border: 1px solid #ddd; */
        }

        .walkthrough-content-container {
            display: inline-block;
            vertical-align: middle;
            width: 460px;
            margin: 0px 20px;
        }

        .walkthrough-next {
            display: inline-block;
            position: absolute;
            right: 50px;
            bottom: 20px;
            width: 25px;
            height: 25px;
            background: url('../img/btn-next.png');
            cursor: pointer;
        }
        
        
/* Games */
#games {
    float: left;
    width: 640px;
    margin: 0px 20px;
    background: white;
}

    #games > .slides_container {
        width: 640px;
        height: 600px;
    }
    
    .games-filter {
    }
        .games-filter li {
            display: inline-block;
            vertical-align: middle;
        }
        .games-filter a {
            width: 100px;
            display: inline-block;
            padding: 20px;
            text-align: center;
            border: 1px dotted #ddd;
            cursor: pointer;
        }

        
        .games-filter a.active {
            font-size: 1.2em;
        }
        
    .games-filter-container {
    }

    .games-list {
        top: 0px;
        left: 0px;
        clear: both;
    }
    
        .games-list-nav {
            float: left;
            width: 200px;
        }
        
            .games-list-nav li+li {
                border-top: 2px dotted #e4f2ed;
            }
                
            .games-list-nav > li > a {
                display: block;
                padding: 15px 10px;
                text-decoration: none;
                cursor: pointer;
                color: inherit;
            }
            
            .games-list-nav > li > a:hover,
            .games-list-nav > li.current > a {
                background-color: #e4f2ed;
            }
            
            .games-list-nav h3 {
                font-size: 1.2em;
            }
            
            .games-list-nav p {
                font-size: 0.75em;
            }
            
        .games-list-details {
            float: left;
            width: 440px;
            background: #e4f2ed;
        }
    
            .games-list-details > div {
                display: block;
                width: 440px;
                margin: 20px;
            }
            
                .games-list-details > div > div {
                    width: 400px;
                }
                .games-list-details .games-list-detail-img {
                    width: 400px;
                    height: 300px;
                }

#cities-container {
    float: left;
    width: 240px;
    margin: 0px 20px;
    background: white;
}

    #bringtoyourcommunity-container {
    }

        #bringtoyourcommunity-container a {
            display: block;
            margin: 20px 0px;
            padding: 10px;
            background: #2da57c;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
        }

/* Footer */
#footer {
    width: 960px;
    margin: 20px auto;
}
    
    #footer > div.column {
        float: left;
        width: 240px;
        text-align: center;
        color: #333;
    }
    
    #footer h1 {
        font-size: 0.75em;
        margin: 25px 0px;
        font-weight: normal;
    }
    
    #footer ul {
        font-size: 0.75em;
        margin: 25px 0px;
        font-weight: normal;
    }
        #footer ul li{
            margin: 5px 0px;
        }
            
    #footer a {
        text-decoration: none;
    }
    
    #footer a:hover {
    }

/* Utility Classes */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.clearfix {
    clear: both;
}