{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-causes-bank{% endblock %}

{% block content %}
<div class="wrapper faux-modal">
    <div class="close close-faux-modal"><a href="{% url instances:missions:challenges:challenges active_game.slug mission.pk %}">×</a></div>
    <div class="row">
    	<div class="span9">
    		<div>
    			<h1 class="">The Bank</h1>
    			<div>
	    			<a class="btn btn-primary">Sort By</a>
	    		</div>

                <br><br>

                {% for cause in causes %}
	    		<div class="cause row-fluid">
                    <div class="span3">
                        {% thumbnail cause.image '164x100' crop="center" format="PNG" as img %}
                            <img src="{{ img.url }}" alt="" width="img.width" height="img.height">
                        {% endthumbnail %}
                        <div>Coins: </div>
                        <div>Rank: {{ forloop.counter }}</div>
                    </div>
                    <div class="span6">
                        <h3><a href="{{ cause.get_game_url }}">{{ cause.name }}</a></h3>
                        <div>
                            <i class="glyphicon-facebook"></i>
                            <i class="glyphicon-twitter-t"></i>
                            Started By <a href="">{{ cause.creator.get_profile.screen_name }}</a>
                        </div>
                        <p>{{ cause.description }}</p>
                    </div>
                    <div class="span3 well">
                        <h3>Give</h3>
                        <input type="text" class="span12" placeholder="Enter Amount" />
                        <a class="btn btn-primary btn-small">Give</a>
                    </div>
	    		</div>
                {% endfor %}

                <div>
                    An organization you want to donate to not listed? <a class="" href="{% url instances:causes:cause_add active_game.slug %}">Request to add them</a>!
                </div>
            </div>
        </div>
    	<div class="span3">
    		<div>
    			<h2>Your Stuff</h2>
                <div class="well">
        			<h3>Mission Earnings</h3>
        			
        			Mission 1: 450<br>
        			Mission 2: 0<br>

        			Earned: 450<br>
        			Spent: 0<br>

        			Remaining: <br>

        			<h3>Causes Supported</h3>
                    <ol>
                        <li>Yuan</li>
                    </ol>
                </div>
    		</div>
    	</div>
    </div>
</div>

{% endblock %}
