{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-cause-list{% endblock %}

{% block content %}
{% with 'active' as tab_cause_list %}{{ block.super }}{% endwith %}
<div id="bank-causes-intro" class="section-intro section-intro-bank">
    <div class="wrapper">
        <h1>Causes in need of your support</h1>
        <p>When you have completed a mission, you can use the coins you earned to suport any of the causes below, or even enter your own cause into the mix. The causes with most support get a <a href="">cash prize</a> at the end of the game.</p>
    </div>
</div>

<div class="section-filter-search">
    <form class="wrapper form-inline">
        <label>Order By</label>
        <select>
        </select>

        <fieldset class="pull-right">
            <label>Search</label>
            <input type="text" placeholder="Search for cause">
        </fieldset>
    </form>
</div>

<div class="wrapper section-body">
    {% for cause in causes %}
    	<div class="cause row">
            <div class="span4">
                {% thumbnail cause.image '300x150' crop="center" format="PNG" as img %}
                    <img src="{{ img.url }}" alt="" width="img.width" height="img.height">
                {% empty %}
                    <img src="http://placehold.it/300x150" width="300" height="150" alt="">
                {% endthumbnail %}
                <div class="row-fluid">
                    <div class="span6"><i class="icon icon-coin"></i> 0 {# coins #} pledged</div>
                    <div class="span6 align-right">Rank: {{ forloop.counter }}</div>
                </div>
            </div>
            <div class="span8">
                <a href="" class="anchor-comments">4</a>
                <h3><a href="{{ cause.get_game_url }}">{{ cause.name }}</a></h3>
                {% comment %}
                <div>
                    <i class="glyphicon-facebook"></i>
                    <i class="glyphicon-twitter-t"></i>
                    Started By <a href="">{{ cause.creator.get_profile.screen_name }}</a>
                </div>
                {% endcomment %}
                <p>{{ cause.description }}</p>

                <i class="icon icon-coin"></i>
                <input type="text" placeholder="0" />
                <a class="btn btn-primary btn-small">Pledge</a>
            </div>
    	</div>
    {% endfor %}

    <div>
        An organization you want to donate to not listed? <a class="" href="{% url instances:causes:cause_add active_game.slug %}">Request to add them</a>!
    </div>
</div>

{% endblock %}
