{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-causes-bank{% endblock %}

{% block content %}
{{ block.super }}

<div class="hero-tile">
	<div class="wrapper">
			<h1>Your Coins</h1>
			<p>The details of your coins earned and how you spent them are listed below. When you have completed a mission, you can use the coins you earned to support any of the <a href="{% url instances:causes:cause_list active_game.slug %}">causes in need of support</a>.</p>
	</div>
</div>
<div class="wrapper">
	<div class="row">
		<div class="span9">

			<table>
				<tr>
					<td><h3>Coins to spend</h3></td>
					<td>620</td>
				</tr>

				<tr>
					<td><h3>Coins spent</h3></td>
					<td>2100</td>
				</tr>

				{% for transaction in player_cause_transaction %} 
				<tr>
					<td>More lights in the Park{# transaction.cause.title #}</td>
					<td>500{# transaction.coins #}</td>
				</tr>
				{% endfor %}

				<tr>
					<td><h3>Coins earned</h3></td>
					<td>620</td>
				</tr>

				{% for mission in active_game.missions %}
				<tr>
					<td>
						<h4>Mission 1<h4>
						<p>{{ mission.name }}</p>
					</td>
					<td>{{ mission.mission_state.coins }}</td>
				</tr>
				{% endfor %}

			</table>

		</div>

		<div class="span3">
			<h3>Earning Coins</h3>
			<p>You earn your coins through doing mission challenges. You can gain more coins in the missions by winning awards for your debate skills.</p>
			<a href="">How to get awards</a>

			<h3>Spending Coins</h3>
			<p>You can use your coins to show support to causes you care about. The causes that end up in the Top 3 at the end of the game will receive a real cash prize.</p>
			<a href="{% url instances:causes:cause_list active_game.slug %}">Find a cause to support</a>
		</div>
	</div>
</div>


{% endblock %}
