{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-causes-coins{% endblock %}

{% block content %}
{{ block.super }}

<div id="bank-coins-intro" class="section-intro section-bank-intro">
	<div class="wrapper">
			<h1>Your Coins</h1>
			<p>The details of your coins earned and how you spent them are listed below. When you have completed a mission, you can use the coins you earned to support any of the <a href="{% url instances:causes:cause_list active_game.slug %}">causes in need of support</a>.</p>
	</div>
</div>
<div class="wrapper">
	<div class="row">
		<div class="span8">
			<table id="bank-coins-table">
				<tr class="row-spend">
					<td><h3>Coins to spend</h3></td>
					<td class="coins-count"><h3><i class="icon icon-coin"></i> 620</h3></td>
				</tr>

				<tr class="row-spent">
					<td><h3>Coins spent</h3></td>
					<td class="coins-count"><h3><i class="icon icon-coin"></i> 2100</h3></td>
				</tr>

				<tr>
					<td>
						<h4>More lights in the Park</h4>{# transaction.cause.title #}
						<p class="subtext">Cause in 3rd place</p>
					</td>
					<td class="coins-count">500{# transaction.coins #}</td>
				</tr>

				<tr class="row-earned">
					<td><h3>Coins earned</h3></td>
					<td class="coins-count"><h3><i class="icon icon-coin"></i> 2720</h3></td>
				</tr>

				<tr>
					<td>
						<h4>Mission 1</h4>
						<p class="subtext">Share your Detroit</p>
					</td>
					<td class="coins-count">2720</td>
				</tr>
				<tr>
					<td>
						<h4>Mission 1</h4>
						<p class="subtext">Share your Detroit</p>
					</td>
					<td class="coins-count">1300</td>
				</tr>
				<tr>
					<td>
						<h4>Mission 3</h4>
						<p class="subtext">Share your Detroit</p>
					</td>
					<td class="coins-count">0</td>
				</tr>

			</table>

		</div>

		<div class="aside span4">
			<h3>Earning Coins</h3>
			<p>You earn your coins through doing mission challenges. You can gain more coins in the missions by winning awards for your debate skills.</p>
			<a href="">How to get awards</a>

			<h3>Spending Coins</h3>
			<p>You can use your coins to show support to causes you care about. The causes that end up in the Top 3 at the end of the game will receive a real cash prize.</p>
			<a href="{% url instances:causes:cause_list active_game.slug %}">Find a cause to support</a>
		</div>
	</div>
</div>


{% endblock %}
