{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-sponsor-list{% endblock %}

{% block content %}
{% with 'active' as tab_sponsor_list %}{{ block.super }}{% endwith %}
<div id="bank-sponsors-intro" class="section-intro section-intro-bank">
	<div class="wrapper">
		<h1>Prizes and Sponsors</h1>
		<p>At the end of the game, the top 3 causes will get a cash prize. This is made possible by our sponsors listed below. Help affect the outcome by supporting your favorite cause with your game coins</p>
	</div>
</div>
<div class="wrapper section-body">
	<h2>A ${{ active_game.prize }} cash prize to each of the top 3 causes!</h2>

	<h3>The Sponsors</h3>

	{# {% for sponsor in sponsors %} #}
	<div class="row">
        <a class="sponsor span4" href=""><img src="http://placehold.it/300x150" width="300" height="150" alt=""></a>
        <a class="sponsor span4" href=""><img src="http://placehold.it/300x150" width="300" height="150" alt=""></a>
        <a class="sponsor span4" href=""><img src="http://placehold.it/300x150" width="300" height="150" alt=""></a>
    </div>
    <br>
    <div class="row">
        <a class="sponsor span4" href=""><img class="challenge-image" src="http://placehold.it/300x150" width="300" height="150" alt=""></a>
    </div>
	{# {% endfor %} #}
	<br>
</div>
{% endblock %}
