{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-causes-bank{% endblock %}

{% block content %}
{{ block.super }}
<div id="bank-sponsors-intro" class="section-intro section-bank-intro">
	<div class="wrapper">
		<h1>Prizes and Sponsors</h1>
		<p>At the end of the game, the top 3 causes will get a cash prize. This is made possible by our sponsors listed below. Help affect the outcome by supporting your favorite cause with your game coins</p>
	</div>
</div>
<div class="wrapper">
	<h2>A ${{ active_game.prize }} cash prize to each of the top 3 causes!</h2>

	<h3>The Sponsors</h3>
</div>
{% endblock %}
