{% extends 'causes/base.html' %}
{% load i18n thumbnail %}

{% block body_id %}page-causes-bank{% endblock %}

{% block content %}
{{ block.super }}
<div class="hero-tile">
	<div class="wrapper">
		<h1>Prizes and Sponsors</h1>
		<p>At the end of the game, the top 3 causes will get a cash prize. This is made possible by our sponsors listed below. Help affect the outcome by supporting your favorite cause with your game coins</p>
	</div>
</div>
<div class="wrapper">
	<div class="row">
		<div class="span9">
			<h2>A ${{ active_game.prize }} cash prize to each of the top 3 causes!</h2>

			<h3>The Sponsors</h3>
		</div>
		<div class="span3">
			<h3>Current Top 3 Causes</h3>
			<ol>
				<li></li>
				<li></li>
				<li></li>
			</ol>
			<a href="{% url instances:causes:cause_list active_game.slug %}">See all causes</a>
		</div>
	</div>
</div>
{% endblock %}
