{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{% load game_extras %}

{%block game%}
    <div class="narrow game-wrapper">
        {%if player_game%}
            <p class="notice">Your original response is marked below. You may change your answer at any time during this mission.</p>
        {%endif%}
        <h2 class="thinkfast game">
            {{game.title}}
            {%if not player_game%}
                <span class="fine highlight right green">{% get_points for completed thinkfast %} points</span>
            {%endif%}
        </h2>
        <form action="" method="POST"> 
            {%csrf_token%}
            <div class="game-wrapper">
                <span class="bigq highlight">Q:</span><h2> {{thinkfast.prompt.message}}</h2>
                {%if thinkfast.prompt.attachments%}
                    {%for file, x, y in fileList%}
                        {%if x > 400 %}
                            <img style="width: 400px" src="{{MEDIA_URL}}/{{file}}">
                        {%else%}
                            <img src="{{MEDIA_URL}}/{{file}}">
                        {%endif%}
                    {%endfor%}
                    <hr class="space">
                {%endif%}
                <form action="" method="POST">
                    {#for choice in thinkfast.response.choices.all#}
                    <!--<p><input type="radio" name="choice" value="{{choice.text}}"> {{choice.text}}</p>-->
                    {#endfor#}
                    
                    <label class="instructionText">
                        Select one of the choices below and click "Submit response." 
                        If you select "other," please tell us your answer on the next page.
                    </label>
                    {{choices_form.as_p}}
                    <br>
                    <button class="button">Submit response</button>
                </form>
                
                <div style="clear: both;"></div>
            </div>
        </form>
    </div>
{%endblock%}
    
{%block body%}
{%endblock%}
