{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{%block game%}
    <div class="game-wrapper narrow">
        {% if first_time %}
            {%if unplayed%}
                <div class="notice">
                    <h3>Great work, you just earned points!</h3>
                    <p>
                    {% if request.user.get_profile.coins %}
                        You have {{request.user.get_profile.coins}} coin{%if request.user.get_profile.coins > 1 %}s{%endif%}. 
                        You can <a href="/issue" class="button">spend {%if request.user.get_profile.coins < 2 %}it{% else %}them{%endif%}</a>
                         or <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="button">Do the next activity</a>.
                    </p>
                    {% else %}
                        <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="button">Do the next activity</a></p>
                    {% endif %}
                </div>
            {%endif%}
        {%endif%}

        <h3>ThinkFast! Summary <a href="/mission/{{mission.slug}}/game/{{game.game_type|slugify}}/{{game.id}}" class="button right">Change Answer</a></h3>
        <h1>{{thinkfast.prompt.message}}</h1>
        <div id="pie" class="graph" style="width:600px;height:300px; margin-left:auto; margin-right:auto; 
            margin-top: 25px; margin-bottom: 25px"></div>
        <!-- uncomment for hover -->
        <!-- <div id="hover" style="width:600px; height:100px; margin-left:auto; margin-right:auto;"></div> -->

        {%if choices|length%}
            <ul class="listview highlighted">
                {% for label, players in choices.items %}
                    <li class="listitem">
                        <span class="highlight fine">{{players|length}}</span> players selected the answer {{label}}
                        <hr class="space">
                        {% for player in players %}
                            {%if player.get_profile.avatar %}
                                <a href="/player/{{player.id}}">
                                    <img alt="player.get_profile.first_name player.get_profile.last_name" class="avatar" src="{{MEDIA_URL}}{{player.get_profile.avatar}}">
                                </a>
                            {%else%}               
                                <a href="/player/{{player.id}}">
                                    <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
                                </a>
                            {%endif%} 
                        {%endfor%}
                        <hr class="space">
                    </li>
                {%endfor%}
            </ul>
        {%else%}
            No submissions yet.
        {%endif%}
        <div style="clear: both;"></div>
    </div>
   
<!-- this is the chart -->


<script type="text/javascript">
    $(function () {
        var data = [];
        var i = 0;
        {%if total_responses == 0 %}
            {%for wrapper in responses_wrapper%}
                data[i] = { label: "{{ wrapper.choice }}", data: 1 }
                i++;
            {%endfor%}
        {%else%}
            {%for wrapper in responses_wrapper%}
                data[i] = { label: "{{ wrapper.choice }}", data: {{ wrapper.players }} }
                i++;
            {%endfor%}
        {%endif%}
        //uncoment the grid and function pieHover to enable the hover feature. 
        $.plot($("#pie"), data, {
            series: { 
                pie: { 
                    show: true,
                    radius: 1
                }
            },
            legend: { 
                labelFormatter: function(label, series) {
                    //return '<div style="font-size:small;text-align:left;padding:2px;color:black;">'+label+'</div>';
                    return '<div style="font-size:small;text-align:left;padding:2px;color:black;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                }
            }/*,
            grid: {
                hoverable: true
            }*/
        });
        //$("#pie").bind("plothover", pieHover);
    });
    /*
    function pieHover(event, pos, obj) 
    {
        if (!obj)
            return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        $("#hover").html('<span style="font-size: 1.25em; color: black">'+obj.series.label+' ('+percent+'%)</span>');
    }
   */
</script>

{%endblock%}
