{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{%block game%}
    <div class="game-wrapper narrow">
        {% if first_time and unplayed %}
            <label style="font-size: 1.25em">
                Thanks for completing this activity. Check out the community's
                response below, then do the 
                <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="red" style="font-weight:bold">next activity</a>!
            </label>
        {% endif %}

        <h3>ThinkFast! Summary <a href="/mission/{{mission.slug}}/game/{{game.game_type|slugify}}/{{game.id}}" class="button right">Change Answer</a></h3>
        <h1>{{thinkfast.prompt.message}}</h1>
        {%if thinkfast.prompt.attachments%}
            {%for file, x, y in fileList%}
                <iframe style="margin-left:auto; margin-right:auto;" src="{{MEDIA_URL}}/{{file}}" width="{{x}}" height="{{y}}" frameborder="0"></iframe>
            {%endfor%}
            <hr class="space">
        {%endif%}
        <div style="margin-left:auto; margin-right:auto;">
            <label style="font-size: 1.5em; font-weight: bold">How the Community Responded</label>
        </div>
        <div id="pie" class="graph" style="height:300px; margin-left:auto; margin-right:auto; 
            margin-top: 25px; margin-bottom: 25px"></div>
        <!-- uncomment for hover -->
        <!-- <div id="hover" style="width:600px; height:100px; margin-left:auto; margin-right:auto;"></div> -->

        {%if choices|length%}
            <ul class="listview highlighted">
                {% for label, players in choices.items %}
                    <li class="listitem">
                    <span class="highlight fine">{{players|length}}</span> player{{players|pluralize}} selected the answer <span class="highlight">{{label}}</span>
                        <hr class="space">
                        {% for player in players %}
                            {%if player.get_profile.avatar %}
                                <a href="/player/{{player.id}}">
                                    <img alt="{{player.get_profile.screen_name}}" class="avatar" src="{{MEDIA_URL}}{{player.get_profile.avatar}}">
                                </a>
                            {%else%}               
                                <a href="/player/{{player.id}}">
                                    <img class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg">
                                </a>
                            {%endif%} 
                        {%endfor%}
                        <hr class="space">
                    </li>
                {%endfor%}
            </ul>
        {%else%}
            No submissions yet.
        {%endif%}
        <div style="clear: both; padding: 1em 0;"></div>
        <div id="comments">
            <div class="sleeper"></div>
            <h4>Comments:</h4>
            <ul class="listless comments">
                {% with game as comments %}
                {%include "comments/post.html"%}
                {% endwith %}
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
   
<!-- this is the chart -->


<script type="text/javascript">
    $(function () {
        var data = [];
        var i = 0;
        {%if total_responses == 0 %}
            {%for wrapper in responses_wrapper%}
                data[i] = { label: "{{ wrapper.choice }}", data: 1 }
                i++;
            {%endfor%}
        {%else%}
            {%for wrapper in responses_wrapper%}
                data[i] = { label: "{{ wrapper.choice }}", data: {{ wrapper.players }} }
                i++;
            {%endfor%}
        {%endif%}
        //uncoment the grid and function pieHover to enable the hover feature. 
        $.plot($("#pie"), data, {
            series: { 
                pie: { 
                    show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 2/3,
                        formatter: function(label, series) {
                            //return '<div style="font-size:small;text-align:left;padding:2px;color:black;">'+label+'</div>';
                            return '<div style="font-size:small;text-align:center;padding:2px;color:black;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                        },
                        threshold: 0.1
                    }
                }
            },
            legend: { 
                show: false
            }
        });
    });
</script>

{%endblock%}
