{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{%block game%}
    <div class="game-wrapper">
        <h2 class="game thinkfast">ThinkFast! Response</h2>

        <div class="fifth">
            <img class="avatar" src="{{MEDIA_URL}}{{thinkfast.prompt.avatar}}">
        </div>
        <h3>{{thinkfast.prompt.message}}</h3>
        <p>{{player_game.user.get_profile.screen_name}} selected <span class="highlight">{{response}}</span>.</p>
        <p><a href="{% url games_thinkfast_overview mission.slug,thinkfast.pk %}">Back to the activity overview &rarr;</a></p>
    </div>
{%endblock%}
    
{%block body%}
{%endblock%}
