{% extends 'public_square/base.html' %}
{% load i18n %}

{% block body_id %}page-public-square-buzz{% endblock %}

{% block content %}
{% with 'active' as tab_leaderboard %}{{ block.super }}{% endwith %}

<div id="publicsquare-buzz-intro" class="section-intro">
	<div class="wrapper">
		<h1>Leaderboard</h1>
		<p>See the top 100 players and affiliations based on the coins they've earned. Did you make it to the list?</p>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="span8 section-body">

		</div>
		<div class="aside span4">
			<h3>Valuable Debate Skills</h3>
			<p>Posing questions that trigger a lot of comments might earn you awards. Creating hot conversations is awarded throughout the game - in the Soapbox, the Cause Bank, and the Mission challenges.</p>
		</div>
	</div>
</div>
{% endblock %}
