{% extends 'public_square/base.html' %}
{% load i18n %}

{% block body_id %}page-public-square-buzz{% endblock %}

{% block content %}
{% with 'active' as tab_leaderboard %}{{ block.super }}{% endwith %}

<div id="publicsquare-leaderboard-intro" class="section-intro section-intro-publicsquare">
	<div class="wrapper">
		<h1>Leaderboard</h1>
		<p>See the top 100 players and affiliations based on the coins they've earned. Did you make it to the list?</p>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="span8 section-body">

		</div>
		<div class="aside span4">
			<h3>Top 100 Players</h3>
			<p>We only display the top 100 players. If you're not on the list, complete more challenges, and try to earn some awards! You can also filter by affiliation or stake to see how players are doing a certain group.</p>
			<a href="">How to earn awards</a>
		</div>
	</div>
</div>
{% endblock %}
