{% extends 'public_square/base.html' %}
{% load i18n %}

{% block body_id %}page-public-square-buzz{% endblock %}

{% block content %}
{% with 'active' as tab_soapbox %}{{ block.super }}{% endwith %}

<div id="publicsquare-soapbox-intro" class="section-intro section-intro-publicsquare">
	<div class="wrapper">
		<h1>Soapbox</h1>
		<p>Pose questions, ideas,a nd discuss with your fellow players. Hot topics might get promoted the the buzz area. Soapbox activitiy can also earn you awards and get you ahead of the game.</p>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="span8 section-body">
		</div>
		<div class="aside span4">
			<h3>Valuable Debate Skills</h3>
			<p>Posing questions that trigger a lot of comments might earn you awards. Creating hot conversations is awarded throughout the game - in the Soapbox, the Cause Bank, and the Mission challenges.</p>
		</div>
	</div>
</div>
{% endblock %}
