{%extends "layouts/base.html"%}

{%block title%}FAQ{%endblock%}
{%block page_title%}{%endblock%}
{% block section %}faq{% endblock %}

{%block main%}

<div class="twothird">
<h2>FAQ</h2>



<p><strong>Q: What is this thing anyway?</strong></p>
<p>A: Community PlanIt is a platform that the Boston Public Schools have adopted to solicit feedback on their School Support and Accountability Framework.  The Framework with help the district determine  which schools are high performing, which schools offer the most opportunities for students to learn, and which schools need more support or investment. </p>

<p><strong>Q: How do I play?</strong></p>
<p>A: Once you register, the first thing you should do is look at the current mission.  There are seven missions, and each lasts for five days.  Don’t worry, if you miss a mission, you don’t have to play it.  You can jump in at any point! Within each mission there are several activities – each is worth 25 points.  Once you complete an activity, you’ll be able to see how everyone else in the community has already responded.  </p>

<p><strong>Q: What else can I do?</strong></p>
<p>A: Once you've completed an activity, the fun isn't over.  Check back often and see the new responses.  If you like something you see, hit the "like" button to the left of the comment.  The most popular comments will get the most attention.  And if you have additional thoughts, reply to comments.  Let people know what you think.  </p>

<p><strong>Q: How do I look at comments?</strong></p>
<p>A: Within each activity, you can view comments by "timestamp," or when they were created, or "popularity," which is how many likes and responses a comment received.  These tabs are located at the top of all comment lists.</p>

<p><strong>Q: What is the Token Depot?</strong></p>
<p>A: Every time you earn 100 points, you receive a token.  The Token Depot is where you “spend” them. The way you spend these tokens will help frame the district's approach to weighing the elements in its Accountability Framework.  All the values are pieces of what the district believes makes up high performing and high quality schools – through your token spending the district will see how the community views their relative importance. So, don’t forgot to spend your tokens in the depot!</p>

<p><strong>Q: What is a challenge? </strong></p>
<p>A: A challenge can be a creative way for you to generate conversation about issues that are important to you and other users. If there's a relevant topic not addressed within missions, or you've found an exciting way to reframe existing conversations, you can create a challenge! Creating a challenge gets you points 25 points; and, as with all the activities, completing a challenge will earn you 25 points.</p>

<p><strong>Q: What's up with the map in challenges?</strong></p>
<p> A: If your challenge pertains to a specific space, you also have the opportunity to pinpoint that location on the provided map. For an actual street view of your location, just drag the little yellow man above the + sign to your location.</p>

<p><strong> Q: What is an affiliation and how do I enter mine?</strong></p>
<p>A: Your affiliation is the school(s) or organization(s) you may want to represent in your Community PlanIt interactions. Affiliations allows you to see in a broader sense who from the local community is participating. To enter your affiliations (you can, of course, have more than one), simply go to your profile, click the edit button, and fill in the affiliations box. Every point you earn will then also go towards your affiliations' points.  Get others from your school or organization to take part and see if you can take the lead!</p>
 <p><strong> Q: Can I send a message to another user?   </strong></p>
 <p>A: Yes! Simply click on that user's name, and scroll to the bottom of his or her profile. There will be a box prompting you to “share your thoughts” with the user.  Type your message and click “add comment.” </p>

<p><strong> Q: What are notifications?</strong></p>
 <p> A: Any time another user “likes” or replies to anything you've posted, you will receive a notification. Click on your notifications box to see who's replied to you and what they've said.

<p><strong> Q: What happens next?</strong></p>
<p> A: Community PlanIt will be live until October 20th.  On that evening, Thursday, October 20th, there will be a town hall meeting at English High School in Jamaica Plain.  Decision makers from the district, along with Community PlanIt players, will gather to review what happened and plan for next steps.  At the meeting, we will feature the best content (video, pics or comments) added to Community PlanIt.  There will also be prizes given to the top individual point earners and to the top affiliations.  We’re looking forward to seeing you at English High.  </p>



</div>

<div class="third last">
    <h4>A project by</h4>
    <a href="http://engagementgamelab.org">
        <img src="/assets/img/engagement-game-lab.png">
    </a>

    <h4>With support from</h4>
    <a href="http://knightfdn.org/">
        <img width="180px" src="/assets/img/knight-foundation.png">
    </a>
</div>

{%endblock%}
