{%extends "layouts/base.html"%}
{% load game_extras %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <input type="hidden" id="activity_id" name="activity_id" value="0">
        <input type="hidden" id="mission_id" name="mission_id" value="{{mission.id}}">
        
        {{editForm.errors}}
        <div class="fieldWrapper">
            {{ editForm.name.errors }}
            <label for="id_name">Name:</label>
            {{ editForm.name }}
        </div>
        
        <div class="fieldWrapper">
            {{ editForm.question.errors }}
            <label for="id_question">Question:</label>
            {{ editForm.question }}
        </div>
        
        <div class="fieldWrapper">
            <label for="id_types">Type</label>
            <!-- {{ editForm.types }} -->
            <select name="types" id="id_types" onchange="changetype(this.value)">
                {% for type in types %}
                    <option value="{{type.id}}">{{type.displayType}}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="fieldWrapper">
            {{ editForm.instructions.errors }}
            <label for="id_instructions">Instructions:</label>
            {{ editForm.instructions }}
        </div>
        
        <div class="fieldWrapper">
            {{ editForm.addInstructions.errors }}
            <label for="id_addInstructions">addInstructions:</label>
            {{ editForm.addInstructions }}
        </div>
        
        <div class="fieldWrapper">
            {{ editForm.points.errors }}
            <label for="id_points">Points:</label>
            {{ editForm.points }}
        </div>
        
        <div class="fieldWrapper">
            {{ editForm.attachment.errors }}
            <label id="attachment_label" for="id_attachment">Attachment:</label>
            {{ editForm.attachment }}
            <button type="button" onclick="clearAttachment()">Clear</button>
            <input type="hidden" id="clear_attachment" name="clear_attachment" value="">
        </div>

        <div id="responses_edit" style="display:none">
            <label>Responses:</label>
            <div id="responses"></div>
            <input type="button" name="add" value="Add another response" onclick="addInput()"/> 
            <br>
            <br>
        </div>
        
        <div id="map_edit" style="display:none">
            <div class="fieldWrapper">
                {{ editForm.maxNumMarkers.errors }}
                <label for="id_maxNumMarkers">Maximum number of markers per person:</label>
                {{ editForm.maxNumMarkers }}
            </div>
        </div>
        
        <div id="empathy_edit" style="display:none">
            <div class="fieldWrapper">
                {{ editForm.avatar.errors }}
                <label id="avatar_label" for="id_avatar">Avatar:</label>
                {{ editForm.avatar }}
                <button type="button" onclick="clearAvatar()">Clear</button>
                <input type="hidden" id="clear_avatar" name="clear_avatar" value="">
            </div>
            <div class="fieldWrapper">
                {{ editForm.bio.errors }}
                <label for="id_bio">Biography:</label>
                {{ editForm.bio }}
            </div>
        </div>
        

        <div id="returns" name="return_values" values=""></div>
        <input type="submit" name="submit_btn" value="Submit" onclick="return_values()"/>
        <input type="submit" name="submit_btn" value="Cancel" />        
    </form>

{%endblock%}

{%block body%}
    <script>
        var typeList = new Array(0);
        var responseList = null;
        var deleteResponseList = new Array(0);
        var currentActivity = null;
        
        function return_values() {
            returns = document.getElementById("returns");
            returns.innerHTML = "";
            type = document.getElementById("id_types").value;
            if (typeList[type].type == "single_response" || typeList[type].type == "multi_response")
            {
                for (x in responseList)
                {
                    response = responseList[x]
                    str = '<input type="hidden" name="index_' + response.location + '_id_' + response.id + '" ';
                    str += 'id="index_' + response.location + '_id_' + response.id + '" ';
                    str += 'value="' + response.value + '"/>';
                    returns.innerHTML += str;
                }
                
                for (x in deleteResponseList)
                {
                    response = deleteResponseList[x]
                    str = '<input type="hidden" name="delete_id_' + response.id + '" ';
                    str += 'id="delete_id_' + response.id + '" ';
                    str += 'value="' + response.name + '"/>';
                    returns.innerHTML += str;
                }
            }
            return true;
        }
        
        function Activity(id, name, question, type, instructions, addInstructions, points, attachment) {
            this.id = id;
            this.name = name;
            this.question = question;
            this.type = type;
            if (instructions == "None")
                this.instructions = null;
            else 
                this.instructions = instructions;
            
            if (addInstructions == "None")
                this.addInstructions = null;
            else
                this.addInstructions = addInstructions;
            
            this.points = points;
            
            if (attachment == "None")
                this.attachment = null;
            else
                this.attachment = attachment
            
            //PlayerMapActivity
            this.maxNumMarkers = null; //an int that should be initialized if the type is map
            
            //PlayerEmpathyActivity
            this.avatar = null; //an immage field for the empathy activity
            this.bio = null; //string for the bio
            
            //MultiChoiceActivity
            this.responses = new Array(0); //This should be an array initized if the type of the activity is multi_choice or single choice
        }
        
        function Type(id, type, display) {
            this.id = id;
            this.type = type;
            this.display = display;
        }
        
        function Response(id, value, loc) {
            this.id = id;
            this.value = value;
            this.location = loc;
        }
        
        function clearAttachment() {
            try {
            
            attachmentElem = document.getElementById("attachment_label")
            retVal = document.getElementById("clear_attachment")
            attachment_textbox = document.getElementById("id_attachment")
            if (currentActivity.attachment != null)
            {
                attachmentElem.style.display = "";
                attachmentElem.innerHTML = "Attachment (currently: " + currentActivity.attachment + "):";
            }
            else 
            {
                attachmentElem.innerHTML = "Attachment:";
            }
            retVal.value = "true"
            attachment_textbox.value = ""
            
            } catch(err) {
                alert(err);
            }
        }
        
        function clearAvatar() {
            try {
            
            avatarElem = document.getElementById("avatar_label");
            avatarElem.innerHTML = "Avatar:"
            retVal = document.getElementById("clear_avatar")
            retVal.value = "true"
            avatar_textbox = document.getElementById("id_avatar")
            avatar_textbox.value = ""
            
            } catch(err) {
                alert(err);
            }
        }
        
        function editActivity() {
            try {
            activity = currentActivity;

            document.getElementById("activity_id").value = activity.id;
            
            nameElem = document.getElementById("id_name");
            questionElem = document.getElementById("id_question");
            missionElem = document.getElementById("id_missions");
            typeElem = document.getElementById("id_types");
            instructionsElem = document.getElementById("id_instructions");
            addInstructionsElem = document.getElementById("id_addInstructions");
            pointsElem = document.getElementById("id_points");
            attachmentElem = document.getElementById("attachment_label"); 
            avatarElem = document.getElementById("avatar_label");

            nameElem.value = activity.name;
            questionElem.value = activity.question;
            typeElem.value = activity.type;
            instructionsElem.value = activity.instructions;
            addInstructionsElem.value = activity.addInstructions;
            pointsElem.value = activity.points;
            
            if (activity.attachment != null)
            {
                attachmentElem.style.display = "";
                attachmentElem.innerHTML = "Attachment (currently: " + activity.attachment + "):";
            }
            else 
            {
                attachmentElem.innerHTML = "Attachment:";
            }
            
            document.getElementById("responses_edit").style.display = "None";
            document.getElementById("map_edit").style.display = "None";
            document.getElementById("empathy_edit").style.display = "None";
            
            if (typeList[activity.type].type == "map"){
                document.getElementById("map_edit").style.display = "";
                document.getElementById("id_maxNumMarkers").value = activity.maxNumMarkers;
            }
            if (typeList[activity.type].type == "empathy") {
                document.getElementById("empathy_edit").style.display = "";
                if (activity.avatar != null)
                {
                    avatarElem.style.display = "";
                    avatarElem.innerHTML = "Avatar (currently: " + activity.avatar + "):";
                }
                else 
                {
                    avatarElem.innerHTML = "Avatar:";
                }
                document.getElementById("id_bio").value = activity.bio
            }
            if (typeList[activity.type].type == "single_response" || typeList[activity.type].type == "multi_response") {
                responses = activity.responses;
                responses[responses.length] = new Response(0, "", responses.length);
                responseList = responses;
                displayResponseList();
            }
            } catch(err)
            {
                alert(err)
            }
            return false;
        }
        
        function displayResponseList() {
            document.getElementById("responses_edit").style.display = "";
            response_div = document.getElementById("responses");
            response_div.innerHTML = "";
            for (x in responseList) {
                response = activity.responses[x];
                str = '<input style="width:50%" type="text" id="act_response_id_' + response.location + '" ';
                str += 'name="act_response_id_' + response.location + '" ';
                str += 'value="' + response.value + '" '
                str += 'onchange="storeValue(' + response.location + ', this.value)"> '
                //- button
                str += '<input type="button" name="up' + response.location + '" value="-" onclick="moveUp(' + response.location + ')"/> ';
                //+ button
                str += '<input type="button" name="down' + response.location + '" value="+" onclick="moveDown(' + response.location + ')"/> ';
                str += '<input type="button" name="remove' + response.location + '" value="Remove" onclick="deleteInput(' + response.location + ')"/> ';

                str += '<br>'
                response_div.innerHTML += str;
            }
        }
        
        function addInput() {
            responseList[responseList.length] = new Response(0, "", responseList.length);
            displayResponseList();
        }
        
        function storeValue(location, value) {
            responseList[location].value = value;
            displayResponseList();
        }
        
        function moveUp(location) {
            if (location == 0)
                return;

            temp = responseList[location-1];
            responseList[location-1] = responseList[location];
            responseList[location-1].location = responseList[location-1].location - 1; //it moved up
            responseList[location] = temp;
            responseList[location].location = responseList[location].location + 1; //it moved down
            displayResponseList();
        }
        
        function moveDown(location) {
            if (location == responseList.length-1)
                return;

            temp = responseList[location+1];
            responseList[location+1] = responseList[location];
            responseList[location+1].location = responseList[location+1].location + 1; //it moved down
            responseList[location] = temp;
            responseList[location].location = responseList[location].location - 1; //it moved up
            displayResponseList();
        }
        
        function deleteInput(location) {
            response = responseList[location];
            deleteResponseList[deleteResponseList.length] = new Response(response.id, response.value, response.location);
            responseList.splice(location, 1);
            for (x = location; x < responseList.length; x++)
            {
                responseList[x].location = responseList[x].location - 1;
            }
            displayResponseList();
        }
        
        function changetype(newValue){
            try {
            document.getElementById("responses_edit").style.display = "None";
            document.getElementById("map_edit").style.display = "None";
            document.getElementById("empathy_edit").style.display = "None";
            
            if (typeList[newValue].type == "map") {
                document.getElementById("map_edit").style.display = "";
            }
            
            if (typeList[newValue].type == "empathy") {
                document.getElementById("empathy_edit").style.display = "";
            }
            
            if (typeList[newValue].type == "single_response" || typeList[newValue].type == "multi_response") {
                document.getElementById("responses_edit").style.display = "";
                activity_id = parseInt(document.getElementById("activity_id").value);
                responses = currentActivity.responses;
                responses[responses.length] = new Response(0, "", responses.length);
                responseList = responses;
                displayResponseList();
            }
            } catch(err) {
                alert(err);
            }    
            return false;
        }
        
        $(document).ready(function() {
            try {
            
            //This basically dumps all of the django data onto the web page and then organizses it.
            //The arrays are for state and displayed using html, return values are <input hidden> objects.  
            
            {% for type in types %}
                typeList[{{type.id}}] = new Type("{{type.id}}", "{{type.type}}", "{{type.displayType}}");
            {% endfor %}
            
            {% if activity.id %}
                currentActivity = new Activity({{activity.id}}, "{{activity.name}}", "{{activity.question}}", {{activity.type.id}}, "{{activity.instructions}}", "{{activity.addInstructions}}", {{activity.getPoints}}, "{{attachment}}");
            {% else %}
                currentActivity = new Activity(0, "", "", 1, "", "", "", "");
            {% endif %}
            
            {% if activity.type.type == "map" %}
                currentActivity.maxNumMarkers = {{activity.maxNumMarkers}};
            {% endif %}
            {% if activity.type.type == "empathy" %}
                {% if activity.bio != "" %}
                    currentActivity.bio = "{{activity.bio}}";
                {% endif %}
                {% if activity.avatar != "" %}
                    currentActivity.avatar = "{{activity.avatar}}";
                {% endif %}
            {% endif %}
            
            x = 0
            {% for response in responses %}
                currentActivity.responses[x] = new Response({{response.id}}, "{{response.value}}", x);
                x = x + 1;
            {% endfor %}
            //TODO: This causes issues when there are no responses
            //responses[x] = new Response(0, "", x);

            editActivity();

            } catch(err) {
                alert(err);
            }
        });
    </script>
{% endblock %}
        