{%extends "layouts/base.html"%}
{% load game_extras %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h2>Missions for Instance: {{instance.name}}</h2>

    <div id="baseDisplay"> 
        <input type="hidden" name="instance_id" id="instance_id" value="{{instance.id}}"/>
        
        <div class="fieldWrapper">
            <label for="id_types">Select Mission:</label>
            <select name="missions" id="id_missions">
                {% for mission in list_missions %}
                    <option value="{{mission.id}}">{{mission.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label id="getAct_label">Get all activities for the selected mission: </label>
            <button id="getAct_button" type="button" onclick="getActivities()">Activities</button>
        </div>
        <div>
            <label id="newAct_label">Create a new activity for the selected mission: </label>
            <button id="newAct_button" type="button" onclick="newActivity()">New Activity</button>
        </div>
        <div id="actDiv"></div>

    </div>
    <div id="editDisplay" style="display:none">
        <form action="{% url activity-save %}" method="post">
            {%csrf_token%}
            <input type="hidden" id="activity_id" name="activity_id" value="">

            {{form.errors}}
            {{editForm.errors}}
            <div class="fieldWrapper">
                {{ editForm.name.errors }}
                <label for="id_name">Name:</label>
                {{ editForm.name }}
            </div>
            
            <div class="fieldWrapper">
                {{ editForm.question.errors }}
                <label for="id_question">Question:</label>
                {{ editForm.question }}
            </div>
            
            <div class="fieldWrapper">
                <label for="id_types">Missions:</label>
                <select name="missions" id="id_missions">
                    {% for mission in list_missions %}
                        <option value="{{mission.id}}">{{mission.name}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="fieldWrapper">
                <label for="id_types">Type</label>
                <!-- {{ editForm.types }} -->
                <select name="types" id="id_types" onchange="changetype(this.value)">
                    {% for type in types %}
                        <option value="{{type.id}}">{{type.displayType}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="fieldWrapper">
                {{ editForm.instructions.errors }}
                <label for="id_instructions">Instructions:</label>
                {{ editForm.instructions }}
            </div>
            
            <div class="fieldWrapper">
                {{ editForm.addInstructions.errors }}
                <label for="id_addInstructions">addInstructions:</label>
                {{ editForm.addInstructions }}
            </div>
            
            <div class="fieldWrapper">
                {{ editForm.points.errors }}
                <label for="id_points">Points:</label>
                {{ editForm.points }}
            </div>
            
            <div class="fieldWrapper">
                {{ editForm.attachment.errors }}
                <label for="id_attachment">attachment:</label>
                {{ editForm.attachment }}
            </div>
    
            <div id="responses_edit" style="display:none">
                <div id="responses"></div>
                <input type="button" name="add" value="Add another mission" onclick="addInput()"/> <br>
            </div>
            
            <div id="map_edit" style="display:none">
                <div class="fieldWrapper">
                    {{ editForm.maxNumMarkers.errors }}
                    <label for="id_maxNumMarkers">Maximum number of markers per person:</label>
                    {{ editForm.maxNumMarkers }}
                </div>
            </div>
            
            <div id="empathy_edit" style="display:none">
                <div class="fieldWrapper">
                    {{ editForm.avatar.errors }}
                    <label for="id_avatar">Avatar:</label>
                    {{ editForm.avatar }}
                </div>
                <div class="fieldWrapper">
                    {{ editForm.bio.errors }}
                    <label for="id_bio">Biography:</label>
                    {{ editForm.bio }}
                </div>
            </div>
            
    
            
            <input type="submit" name="submit_btn" value="Submit" onclick="return_values()"/>
            <input type="submit" name="submit_btn" value="Cancel" />        
        </form>
    </div>
    <div id="newDisplay" style="display:none">
        
    </div>
{%endblock%}

{%block body%}
    <script>
        var missionList = new Array(0);
        var typeList = new Array(0);
        
        function Mission(id, name) {
            this.id = id;
            this.name = name;
            this.activities = new Array(0);
        }
        
        function Activity(id, name, question, mission, type, instructions, addInstructions, points) {
            this.id = id;
            this.name = name;
            this.question = question;
            this.mission = mission;
            this.type = type;
            if (instructions == "None")
                this.instructions = null;
            else 
                this.instructions = instructions;
            
            if (addInstructions == "None")
                this.addInstructions = null;
            else
                this.addInstructions = addInstructions;
            
            this.points = points;
            
            //PlayerMapActivity
            this.maxNumMarkers = null; //an int that should be initialized if the type is map
            
            //PlayerEmpathyActivity
            this.avatar = null; //an immage field for the empathy activity
            this.bio = null; //string for the bio
            
            //MultiChoiceActivity
            this.responses = new Array(0); //This should be an array initized if the type of the activity is multi_choice or single choice
        }
        
        function Type(id, type, display) {
            this.id = id;
            this.type = type;
            this.display = display;
        }
        
        function Response(id, value) {
            this.id = id;
            this.value = value;
        }
        
        function getActivities() {
            acts = document.getElementById("actDiv");
            mission_select = document.getElementById("id_missions");
            mission_id = parseInt(mission_select.options[mission_select.selectedIndex].value);
            acts.innerHTML = "<h2>Activities</h2>";
            for (x in missionList[mission_id].activities)
            {
                activity = missionList[mission_id].activities[x];
                str = '<label>' + activity.name + ' (' + typeList[activity.type].display + ')</label>';
                str += '<button value="edit" type="button" id="activity_' + activity.id + '" ';
                str +='name="activity_' + activity.id + '" ';
                str += 'onclick="editActivity(' + mission_id + ', ' + activity.id + ')">'
                str += 'Edit</button><br>'
                acts.innerHTML += str;
            }
            return false;
        }
        
        function newActivity() {
            mission = missionList[document.getElementById("id_missions").value];
            mission.activities[mission.activities.length] = new Activity(0, "", "", 0, 1, "", "", null);
            editActivity(document.getElementById("id_missions").value, mission.activities.length-1)
            return false;
        }
        
        function editActivity(mission, id) {
            try {
            activity = missionList[mission].activities[id];
            
            document.getElementById("baseDisplay").style.display = "none";
            document.getElementById("editDisplay").style.display = "";
            document.getElementById("activity_id").value = activity.id;
            
            nameElem = document.getElementById("id_name");
            questionElem = document.getElementById("id_question");
            missionElem = document.getElementById("id_missions");
            typeElem = document.getElementById("id_types");
            instructionsElem = document.getElementById("id_instructions");
            addInstructionsElem = document.getElementById("id_addInstructions");
            pointsElem = document.getElementById("id_points");
            //TODO: deal with attachments later
            nameElem.value = activity.name;
            questionElem.value = activity.question;
            missionElem.value = mission;
            typeElem.value = activity.type;
            instructionsElem.value = activity.instructions;
            addInstructionsElem.value = activity.addInstructions;
            pointsElem.value = activity.points;
            
            document.getElementById("responses_edit").style.display = "None";
            document.getElementById("map_edit").style.display = "None";
            document.getElementById("empathy_edit").style.display = "None";
            
            if (typeList[activity.type].type == "map"){
                document.getElementById("map_edit").style.display = "";
                document.getElementById("id_maxNumMarkers").value = activity.maxNumMarkers;
            }
            if (typeList[activity.type].type == "empathy") {
                document.getElementById("empathy_edit").style.display = "";
                document.getElementById("id_avatar").value = activity.avatar;
                document.getElementById("id_bio").value = activity.bio
            }
            
            if (typeList[activity.type].type == "single_response" || typeList[activity.type].type == "multi_response") {
                document.getElementById("responses_edit").style.display = "";
                response_div = document.getElementById("responses");
                response_div.innerHTML = "<label>Responses:</label>";
                for (x in activity.responses) {
                    response = activity.responses[x];
                    str = '<input style="width:40em" type="text" id="act_response_id_' + response.id + '" ';
                    str += 'name="act_response_id_' + response.id + '" ';
                    str += 'value="' + response.value + '">';
                    str += '<br>'
                    response_div.innerHTML += str;
                }
            }
            

            } catch(err)
            {
                alert(err)
            }
            return false;
        }
        
        function changetype(newValue){
            document.getElementById("responses_edit").style.display = "None";
            document.getElementById("map_edit").style.display = "None";
            document.getElementById("empathy_edit").style.display = "None";
            
            if (typeList[newValue].type == "map") {
                document.getElementById("map_edit").style.display = "";
            }
            
            if (typeList[newValue].type == "empathy") {
                document.getElementById("empathy_edit").style.display = "";
            }
            
            if (typeList[newValue].type == "single_response" || typeList[newValue].type == "multi_response") {
                document.getElementById("responses_edit").style.display = "";
            }
            return false;
        }
        
        $(document).ready(function() {
            try {
            
            {% for type in types %}
                typeList[{{type.id}}] = new Type("{{type.id}}", "{{type.type}}", "{{type.displayType}}");
            {% endfor %}
            
            {% for value, activities in values %}
                missionList[{{value.id}}] = new Mission({{value.id}}, "{{value.name}}");
                {% for activity in activities %}
                    missionList[{{value.id}}].activities[{{activity.id}}] = new Activity({{activity.id}}, "{{activity.name}}", "{{activity.question}}", {{value.id}}, {{activity.type.id}}, "{{activity.instructions}}", "{{activity.addInstructions}}", {{activity.getPoints}});
                    {% if activity.type.type == "map" %}
                        missionList[{{value.id}}].activities[{{activity.id}}].maxNumMarkers = {{activity.maxNumMarkers}};
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for id, mission_id, act_id, value in responses %}
                responses = missionList[{{mission_id}}].activities[{{act_id}}].responses;
                responses[responses.length] = new Response({{id}}, "{{value}}");
            {% endfor %}
            
            } catch(err) {
                alert(err)
            }
        });
    </script>
{%endblock%}