{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/admin-media/css/forms.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/admin-media/css/ie.css" /><![endif]-->
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="manage-pane"> </div>
<div id="content-main">
    <!-- Show neighborhoods -->
    <div class="module neighborhood">
        <h1>Neighborhoods</h1>
        <hr class="space">
        {%if request.user.is_superuser%}
            {%if not request.session.instances|length%}
                <select class="instances_select">
                {%for instance in request.session.instances%}
                    <option value="{{instance.id}}">{{instance.region}}</option>
                {%endfor%}
                </select>
            {%else%}
                No instances
            {%endif%}
        {%else%}
            {{request.session.instance}}
        {%endif%}
        <a href="/admin/instances/instance/{{request.session.instance.id}}" class="changelink">Edit</a>
        <hr class="space">
        <a href="/admin/instances/pointsassignment/" class="changelink">Points Assignment</a>
        <hr class="space">
        <br>
        <a href="/admin/instances/instance/add/" class="addlink">Add a new Neighborhood</a>
    </div>

    <div class="module activity">
        <h1>recent admin activity</h1>
        <hr class="space">
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        <ul class="actionlist">
        {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            {% if entry.is_deletion %}
                {{ entry.object_repr }}
            {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
            {% endif %}
            <br/>
            {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
            {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="inner-modules">
        {% if app_list %}
            <div class="inner-module">
                <h2>game mechanics</h2>
                <hr class="spacer">
                <br>

                <h1><a href="/admin/issues/issue/" class="issues">Manage issues</a></h1>
                <h1><a href="/admin/missions/mission/" class="missions">Manage missions</a></h1>
                <h1><a href="/admin/challenges/challenge/" class="challenges">Manage challenges</a></h1>

                
                <br>
                <h2>content management</h2>
                <hr class="spacer">
                <br>

                <h1><a href="#flagged" class="flagged">Manage recently flagged</a></h1>
                <h1><a href="/admin/attachments/attachment/" class="attachments">Manage attachments</a></h1>
                <h1><a href="/admin/reports/activity/" class="activityfeed">Manage activity feed</a></h1>

                <br>
                <h2>user management</h2>
                <hr class="spacer">
                <br>

                <h1><a href="/admin/challenges/challenge/" class="users">Manage users</a></h1>
            </div>
        {% else %}
            <h1>{% trans "You don't have permission to edit anything." %}</h1>
        {% endif %}
        <div style="clear:both;"></div>
    </div>
    <div style="clear:both;"></div>
</div>

<script>
    this.MEDIA_URL = {{MEDIA_URL}};
</script>
<script src="{{MEDIA_URL}}/3pty/js/jquery-1.5.1.min.js"></script>
<script src="{{MEDIA_URL}}/3pty/js/mustache.min.js"></script>
<script src="{{MEDIA_URL}}/js/admin.js"></script>
<script src="{{MEDIA_URL}}/3pty/js/jquery-ui.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script> 
<script type="text/javascript" src="/admin-media/js/core.js"></script> 
<script type="text/javascript" src="/admin-media/js/admin/RelatedObjectLookups.js"></script> 
<script type="text/javascript" src="/admin-media/js/jquery.min.js"></script> 
<script type="text/javascript" src="/admin-media/js/jquery.init.js"></script> 
<script type="text/javascript" src="/admin-media/js/actions.min.js"></script> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> 
<script type="text/javascript" src="/admin/gmapsfield/admin/admin.js"></script> 
<script type="text/javascript" src="/admin-media/js/calendar.js"></script> 
<script type="text/javascript" src="/admin-media/js/admin/DateTimeShortcuts.js"></script> 
{% endblock %}
