{%extends "layouts/base.html"%}
{%block section%}instances{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <input type="hidden" id="max_points_input" name="max_points_input" value="1">
    <div id="new_screen2">
        <form action="{% url instance-initial-save %}" method="post">
            {%csrf_token%}
            <h2>The Basics</h2>
            <label>
                To begin, we need some basic information about your community and the date your
                Community PlanIt game begins.
            </label>
            <ol>
                <li>
                    What’s the name of your Community PlanIt community? For some, this will be an
                    entire city (Ex. The City of Lowell), while for others, this will describe a particular
                    community within a city (Ex. Boston’s Chinatown).
                    <br>
                    <div class="fieldWrapper">
                        {{ form.name.errors }}
                        <span style="font-size:1.25em;">New Instance Name:</span>
                        {{ form.name }}
                    </div>
                </li>
                <li>
                    In what city and state will this instance of Community PlanIt take place? (Ex. Boston, MA)
                    <div class="fieldWrapper">
                        {{ form.city.error }}
                        {{ form.state.error }}
                        {{ form.city }}, {{ form.state }}
                    </div>
                </li>
                <li>
                    When will the game begin? We recommend beginning on a weekend, when users are more available to register.
                    <div class="fieldWrapper">
                        {{ form.start_date.errors }}
                        <label for="id_start_date">Start Date:</label>
                        {{ form.start_date }}
                    </div>
                </li>
                <li>
                    A game is made up of missions. The first mission starts when the instance starts. How many days will
                    each mission run?
                    <div class="fieldWrapper">
                        {{ form.days_for_mission.errors }}
                        <label for="id_days_for_mission">Days For Each Mission:</label>
                        {{ form.days_for_mission }}
                    </div>
                </li>
                <li>
                    <div class="fieldWrapper">
                        Place a marker on your community or the intended planning area below. 
                        Select an area that users will recognize for navigation purposes. You should zoom 
                        in enough that street names are visible; however, in some cases, the entire planning 
                        area will not fit on this view, and users can drag the map or search to find specific locations.
                        <br>
                        <button class="button add">Add Point</button>
                        <button class="button rm">Clear All Points</button>
                        
                        {{form.map.errors}}
                        <!-- this links up with the map object in the form. -->
                        {% for x, lat, lon in init_coords %}
                            <input type="hidden" id="init_coords{{x}}" 
                                name="init_coords{{x}}" lat="{{lat}}" lon="{{lon}}"/>
                        {% endfor %}
                        <div id="map" class="google-map" data-type="Point"></div>
                    </div>
                </li>
            </ol>
            
            <button type="submit" id="submit_btn" name="submit_btn">Submit</button>
        </form>
    </div> 
{%endblock%}

{%block body%}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
    <script type="text/javascript" src="/admin/gmapsfield/admin/admin.js"></script>
    <script src="{{MEDIA_URL}}js/games/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}3pty/js/date.js" type="text/javascript" charset="utf-8"></script>
    <script>
        jQuery(function($) {
            $(".google-map").mapit({{location|safe|escape}});
            $(".remove-map").remove();
    
            $("#id_end_date").datetimepicker({
                    hourGrid: 6,
                    minuteGrid: 10,
                    ampm: false
                });
            
            $("#id_start_date").datetimepicker({
                hourGrid: 6,
                minuteGrid: 10,
                ampm: false,
                onClose: function() {
                    $("#id_end_date").datetimepicker( 'setDate', Date.parse( $("#id_start_date").val() ).add(1).hours());
                }
            });
        });
    </script>
{%endblock%}
