{%extends "layouts/base.html"%}
{% load game_extras admin_tags %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h1>Manage Answers for {{ activity.type.displayType }} Activity: {{ activity.pk }}</h1>
    {# if is_staff #}
    <div>
        <input type="button" value="New Answer" onClick="window.location='{% url admin:answer-new activity.pk %}' "/>
    </div>
    {# endif #}

    {% for answer, comments in data.items %}

        <div>           
            <h2>Answer {{ answer.pk }}</h2>                                
        </div>
        
        <div>                    
            {% with comments.comments as preferred_comments %}
                 {% include "comments/post.html" %}
            {% endwith %}            
        </div>
        
    {% endfor %} 
{%endblock%}

