{%extends "layouts/base.html"%}
{% load game_extras %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h1>Manage Game</h1>


    {% for game, translations in games.items %}
        <div>
            <p>
                <h2>Instance #{{ game.pk }}</h2>
                <input type="button" value="Edit Instance" onClick="window.location='{% url admin:instance-edit game.pk %}' "/>
            </p>
            <p>Available Languages: <stron>{{ game.languages.all|join:", " }}</strong>
            </p>
                <p>Start Date: {{game.start_date}}</p>
                {% comment %}
                # TODO deal with instance end dates
                {% if game.end_date %} <p>End Date: {{game.end_date}}</p> {% endif %}
                {% endcomment %}
        </div>
        {% for game_trans in translations %}
        <div>
            <h2>
                "{{ game_trans.name }}" ({{ game_trans.language_code }})
            </h2> 
            <input type="button" value="(click to expand/reduce properties)" onClick="showInstanceForm({{game_trans.pk}})" />
            <form id="instanceForm_{{game_trans.id}}" style="display: None"> 
                <p>Language: {{ game_trans.language_code }}</p>
                <p>Name: {{game_trans.name}}</p>
                <p>Location: {{game_trans.city}}, {{game_trans.master.state}}</p>
                <p>Content: {{game_trans.content}}</p>
                <p>Process Name: {{game_trans.process_name}}</p>
                <p>Process Descr: {{game_trans.process_description}}</p>
                <br>
            </form>
            {% comment %}

            <h3>Values</h3> <input type="button" value="Edit Values" onClick="window.location='{% url admin:values-edit game_trans.master.id %}' "/>
            <ul>
                {% for value in game.value_set.all %}
                    {#if value.instance = game_trans.master #}
                        <li>{{value.coins}}</li>
                    {# endif #}
                {% endfor %}
            </ul>
            {% endcomment %}
        </div>
        {% endfor %}



    {% comment %}
    {% for instance in instance_list %}
    <div>
        <h2>
            Instance Options for Instance #: {{ instance.pk }} ({{instance.start_date}} {% if instance.end_date %}to {{instance.end_date}}{% endif %})
        </h2> 
        <input type="button" value="(click to expand/reduce properties)" onClick="showInstanceForm({{instance.pk}})" />

        <form id="instanceForm_{{instance.id}}" style="display: None"> 
            <p>Name: {{instance.name}}</p>
            <p>Location: {{instance.city}}, {{instance.state}}</p>
            <p>Start Date: {{instance.start_date}}</p>
            <ul>Available Languages: 
            {% for lang in instance.get_available_languages %}
                <li> {{ lang }} <li>
            {% endfor %}
            </ul>
            <br>
        </form>

        <h3>Values</h3> <input type="button" value="Edit Values" onClick="window.location='{% url admin:values-edit instance.id %}' "/>
        <ul>
            {% for value in value_list %}
                {%if value.instance = instance %}
                    <li>{{value.message}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <input type="button" value="Edit Instance" onClick="window.location='{% url admin:instance-edit instance.id %}' "/>
    <input type="button" value="Edit Instance Missions" onClick="window.location='{% url mission-order instance.id %}' "/>

    <hr>
    <h2>Missions for {{instance.name}}</h2>
    {% for mission in mission_list %}
        {% if mission.instance = instance %}
            <h3>{{mission.name}} ({{mission.start_date}}-{{mission.end_date}})</h3>

            {% for activity in activity_list %}
                {% if activity.mission = mission %}
                    <ul>
                        <li style="font-style:italic;">{{activity.name}}
                        <input type="button" value="Edit Activity" onClick="window.location='{% url admin:activity-edit mission.id activity.id %}' "/></li>
                    </ul>
                {% endif %}
            {% endfor %}
            <input type="button" value="Add an activity to {{mission.name}}" onClick="window.location='{% url activity-new mission.id %}' "/></li>            
        {% endif %}
    {% endfor %}
    <hr>
        {% endcomment %}
    
    {% endfor %} <!-- instance for -->
{%endblock%}

{%block body%}
    <script>
        //var instanceList = new Array(0);
        //var missionList = new Array(0);
        //var activityList = new Array(0);
        
        function showInstanceForm(instance_id) {
            instanceForm = document.getElementById("instanceForm_" + instance_id);
            if (instanceForm.style.display == "") {
                instanceForm.style.display = "none";
            }
            else {
                instanceForm.style.display = "";
            }
        }
    </script>
{% endblock %}
