{%extends "layouts/base.html"%}
{% load game_extras %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h1>Manage Game</h1>
    {% if is_staff %}
        <input type="button" value="New Instance" onClick="window.location='{% url instance-new %}' "/>
    {% endif %}
    
    {% for instance in instance_list %}
    
    <div>
        {% if instance.end_date %}
            <h2>Instance Options for Instance: {{instance.name}} ({{instance.start_date}} to {{instance.end_date}})</h2> 
            <input type="button" value="(click to expand/reduce properties)" onClick="showInstanceForm({{instance.id}})" />
            {% if is_staff %}
                <input type="button" value="Email Users" onClick="window.location='{% url instance-email %}' "/>
            {% endif %}
            
        {% else %}
            <h2>Instance Options for Instance: {{instance.name}} (Starts {{instance.start_date}})</h2> 
            <input type="button" value="(click to expand/reduce properties)" onClick="showInstanceForm({{instance.id}})" />
            {% if is_staff %}
                <input type="button" value="Email Users" onClick="window.location='{% url instance-email %}' "/>
            {% endif %}
        {% endif %}
        <form id="instanceForm_{{instance.id}}" style="display: None"> 
            <p>Name: {{instance.name}}</p>
            <p>Location: {{instance.city}}, {{instance.state}}</p>
            <p>Start Date: {{instance.start_date}}</p>
            <br>
        </form>
        
        <h3>Values</h3> <input type="button" value="Edit Values" onClick="window.location='{% url values-edit instance.id %}' "/>
        <ul>
            {% for value in value_list %}
                {%if value.instance = instance %}
                    <li>{{value.message}}</li>
                {% endif %}
            {% endfor %}    
        </ul>
    </div>
    
    <input type="button" value="Edit Instance" onClick="window.location='{% url instance-edit instance.id %}' "/>
    <input type="button" value="Edit Instance Missions" onClick="window.location='{% url mission-order instance.id %}' "/>
        
    <hr>
    <h2>Missions for {{instance.name}}</h2>
    {% for mission in mission_list %}
        {% if mission.instance = instance %}
            <h3>{{mission.name}} ({{mission.start_date}}-{{mission.end_date}})</h3>
            
            {% for activity in activity_list %}
                {% if activity.mission = mission %}
                    <ul>
                        <li style="font-style:italic;">{{activity.name}} <input type="button" value="Edit Activity" onClick="window.location='{% url activity-edit mission.id activity.id %}' "/></li>
                    </ul>
                {% endif %}
            {% endfor %}
            <input type="button" value="Add an activity to {{mission.name}}" onClick="window.location='{% url activity-new mission.id %}' "/></li>            
        {% endif %}
    {% endfor %}
    <hr>
    
    {% endfor %} <!-- instance for -->
{%endblock%}

{%block body%}
    <script>
        var instanceList = new Array(0);
        var missionList = new Array(0);
        var activityList = new Array(0);
        
        function showInstanceForm(instance_id) {
            instanceForm = document.getElementById("instanceForm_" + instance_id);
            if (instanceForm.style.display == "") {
                instanceForm.style.display = "none";
            }
            else {
                instanceForm.style.display = "";
            }
        }
    </script>
{% endblock %}
