{%extends "layouts/base.html"%}
{% load game_extras admin_tags %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h1>Manage Activities for Mission: {{ mission.title }}</h1>
    {% if request.user in instance.curators.all or request.user.is_superuser %}
    <div>
        <input type="button" value="New Activity" onClick="window.location='{% url admin:activity-new mission.pk %}' "/>
    </div>
    {% endif %}

    {% for activity, translations in data.items %}

        <div>
            <p>
            <h2>{{ activity}} for mission ( {{ mission }} ) </h2>
            <div>
                <p>Available Languages:
                    <strong> {{ instance.languages.all|languages_formatted }} </strong>
                </p>                   
            </div>
                <input type="button" value="edit"
                onClick="window.location='{% url admin:activity-edit mission.pk activity.pk %}' "/>
                <input type="button" value="delete"
                onClick="window.location='{% url admin:activity-delete mission.pk activity.pk%}' "/>                
                {% if translations.value_translations.all.count %}
                <br/> <br/>
                <input type="button" value="show translations" onClick="show_hide('trans_details_{{ activity.pk }}')"/>
                {% else %}
                <p> no translation exist. edit object to add. </p>
                {% endif %}
            </p>
        </div>
        <div id="trans_details_{{ activity.pk }}" style="display: None">
            {% for t in translations.activity_translations %}
            <p>Points: {{ activity.points }}</p>
            <p>Type: {{ activity.type }}</p>
            <div>
                <h2> {{ t.language_code|lang }}
                    <input type="button" value="show" onClick="show_form('{{ t.pk }}')" />
                </h2> 
                <form id="id_trans-form-{{ t.pk}}" style="display: None"> 
                    <p>Name: {{ t.name }}</p>                    
                    <p>Question: {{ t.question }}</p>                    
                    <p>Instructions: {{ t.instructions }}</p>                    
                    <p>Add Instrunctions: {{ t.addInstructions }}</p>                    
                    <br>
                    <br>
                </form>
            </div>
            {% endfor %}
        </div>

    
    {% endfor %} <!-- instance for -->
{%endblock%}

{%block body%}
    <script>       
        function show_hide(id) {
            elem = document.getElementById(id);
            if (elem.style.display == "") {
                elem.style.display = "none";
            }
            else {
                elem.style.display = "";
            }
        }
        
        function show_form(id) {
            $("#id_trans-form-" + id).toggle();            
        }
    </script>
{% endblock %}
