{%extends "layouts/base.html"%}
{% load game_extras admin_tags %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h1>Manage Missions for Instance: {{ instance.title }}</h1>
    {# if is_staff #}
    <div>
        <input type="button" value="admin home" onClick="window.location='{% url admin:admin-base %}' "/>
        <input type="button" value="new mission" onClick="window.location='{% url admin:mission-new instance.pk %}' "/>
    </div>
    {# endif #}

    {% for mission, translations in data.items %}

        <div>
            <p>
            <h2>{{ mission }} ({{ mission.start_date|date:"D d M, Y"}} - {{ mission.end_date|date:"D d M, Y"}})</h2>
                <input type="button" value="edit" onClick="window.location='{% url admin:mission-edit instance.pk mission.pk %}' "/>
                <input type="button" value="delete" onClick="window.location='{% url admin:mission-delete mission.pk %}' "/>                   <input type="button" value="show/hide details" onClick="show_hide('mission_{{ mission.pk }}')"/>
                <input type="button" value="activities" onClick="window.location='{% url admin:manage-activities mission.pk %}' "/>
        </div>
        <div id="mission_{{ mission.pk }}" style="display: None">
            <div>
                <p>Available Languages: 
                    <strong> {{ instance.languages.all|languages_formatted }} </strong>
                </p>
            </div>
            {% for trans in translations.mission_translations %}
            <div>
                <h2> {{ trans.language_code|lang }} <input type="button" value="show/hide translations" onClick="show_form('{{ trans.pk}}')" /> </h2>
                <form id="id_trans-form-{{trans.pk}}" style="display: None"> 
                    <p>Name: {{ trans.name }}</p>                    
                    <p>Description: {{ trans.description }}</p>                    
                    <br>
                </form>
               
            </div>
            {% endfor %}
        </div>

    
    {% endfor %} <!-- instance for -->
{%endblock%}

{%block body%}
    <script>       
        function show_hide(id) {
            elem = document.getElementById(id);
            if (elem.style.display == "") {
                elem.style.display = "none";
            }
            else {
                elem.style.display = "";
            }
        }
        function show_form(id) {
            $("#id_trans-form-" + id).toggle();            
        }
    </script>
{% endblock %}
