{%extends "layouts/base.html"%}
{% load game_extras %}

{%block section%}misisons{%endblock%}
{%block title%}Administration{%endblock%}
{%block page_title%}{%endblock%}

{%block main%}
    <h1>Manage Instances</h1>
    {# if is_staff #}
    <div>
        <input type="button" value="New Instance" onClick="window.location='{% url admin:instance-new %}' "/>
    </div>
    {# endif #}

    {% for instance, translations in instances_data.items %}

        <div>
            <p>
            <h2>{{ instance.title }} ({{ instance.pk }})</h2>
                <input type="button" value="edit" onClick="window.location='{% url admin:instance-edit instance.pk %}' "/>
                <input type="button" value="delete" onClick="window.location='{% url admin:instance-delete instance.pk %}' "/>
                <!--button type="submit" name="email_btn" id="email_btn" style="display:none">Send Email to all in Instance</button-->
                <input type="button" value="manage missions" onClick="window.location='{% url admin:manage-missions instance.pk %}' "/>
                <input type="button" value="manage values" onClick="window.location='{% url admin:manage-values instance.pk %}' "/>
                <input type="button" value="manage activities" onClick="window.location='{% url admin:manage-activities instance.pk %}' "/>
                <br/> <br/>
                <input type="button" value="show/hide details" onClick="show_hide('instance_{{ instance.pk }}')"/>
            </p>
        </div>
        <div id="instance_{{ instance.pk }}" style="display: None">
            <div>
                <p>Available Languages: <strong>{{ instance.languages.all|join:", " }}</strong>
                </p>
                    <p>Start Date: {{instance.start_date}}</p>
                    {% comment %}
                    # TODO deal with instance end dates
                    {% if instance.end_date %} <p>End Date: {{instance.end_date}}</p> {% endif %}
                    {% endcomment %}
            </div>
            {% for instance_translations in translations.instance_translations %}
            <div>
                <h2> {{ instance_translations.language_code }} <input type="button" value="show/hide translations" onClick="showInstanceForm({{ instance_translations.pk}})" /> </h2> <form id="instanceForm_{{instance_translations.id}}" style="display: None"> 
                    <p>Language: {{ istance_trans.language_code }}</p>
                    <p>Name: {{ instance_translations.name}}</p>
                    <p>Description: {{ instance_translations.description}}</p>
                    <br>
                </form>
            </div>
            {% endfor %}
        </div>


    {% comment %}
    
    <input type="button" value="Edit Instance Missions" onClick="window.location='{% url mission-order instance.id %}' "/>

    <hr>
    <h2>Missions for {{instance.name}}</h2>
    {% for mission in mission_list %}
        {% if mission.instance = instance %}
            <h3>{{mission.name}} ({{mission.start_date}}-{{mission.end_date}})</h3>

            {% for activity in activity_list %}
                {% if activity.mission = mission %}
                    <ul>
                        <li style="font-style:italic;">{{activity.name}}
                        <input type="button" value="Edit Activity" onClick="window.location='{% url admin:activity-edit mission.id activity.id %}' "/></li>
                    </ul>
                {% endif %}
            {% endfor %}
            <input type="button" value="Add an activity to {{mission.name}}" onClick="window.location='{% url activity-new mission.id %}' "/></li>            
        {% endif %}
    {% endfor %}
    <hr>
        {% endcomment %}
    
    {% endfor %} <!-- instance for -->
{%endblock%}

{%block body%}
    <script>
        //var instanceList = new Array(0);
        //var missionList = new Array(0);
        //var activityList = new Array(0);

        function show_hide(id) {
            elem = document.getElementById(id);
            if (elem.style.display == "") {
                elem.style.display = "none";
            }
            else {
                elem.style.display = "";
            }
        }
        
        function showInstanceForm(instance_id) {
            instanceForm = document.getElementById("instanceForm_" + instance_id);
            if (instanceForm.style.display == "") {
                instanceForm.style.display = "none";
            }
            else {
                instanceForm.style.display = "";
            }
        }
    </script>
{% endblock %}
