{% extends "base_city.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}player_activities/css/styles.css">    
{% endblock %}

{% block body_id %}player-activities{% endblock %}

{% block js %}
    {{ block.super }}
    {# This is some old javascript leftover from the redesign #}
    
    {# TODO: Move this to activities/static/activities/js/scripts.js #}
    <script>
    jQuery(function($) {
        // $("#id_activity-btn-submit").live("click", function(event){
        //     event.preventDefault();
        //     $.ajax({
        //             type: "POST",
        //             url: "{% if view_action == 'replay' %} {{ activity.get_replay_url }} {% else %} {{ activity.get_activity_url }} {% endif %}",
        //             data: $('#id_activity-form').serialize(),
        //             success: function(data, textStatus) {
        //                 var $data = $(data);
        //                 var has_errors = $(data).find(".errorlist");
        //     
        //                 if (has_errors.length > 0){
        //                     $('#content').html($data.find('#content'));
        //                 }
        //                 else {
        //                     window.location='{{ activity.get_overview_url }}';
        //                 }
        //             },
        //             error: function(data){                                        
        //                 $('#content').html(data.responseText);
        //             }
        //     });
        // });
        
        $.fn.extend({  
            limit: function(limit,element) {
                var interval, f;
                var self = $(this);
                $(this).focus(function(){
                    interval = window.setInterval(substring,100);
                });
                $(this).blur(function(){
                    clearInterval(interval);
                    substring();
                });
                substringFunction = "function substring(){ var val = $(self).val(); if (val) {var length = val.length;if(length > limit){$(self).val($(self).val().substring(0,limit));}}";
                if(typeof element != 'undefined')
                    substringFunction += "if($(element).html() != limit-length){$(element).html((limit-length<=0)?'0':limit-length);}"
                substringFunction += "}";
                eval(substringFunction);
                substring();

            } 
        }); 

        var type_count = function(evt) {
            var comment_form = $(this.form);
            var val = this.value.replace(/\r?\n/g, 'xx');
            var len = Math.max(0, 1000 - val.length);
            comment_form.find('.count').text(len);
            if (len < 1) {
                comment_form.find('.reply-comment-counter').addClass('limited');
                if (!(evt.ctrlKey || evt.which < 48 && evt.which !== 9 && evt.which !== 13)) {
                    return false;
                }
            }
            comment_form.find('.reply-comment-counter').removeClass('limited');
        }
        $('#message_area, #id_response').live('change keyup keydown blur', type_count).attr('maxlength', '1000').change();
        $('#message_area, #id_response').limit('1000','#charsLeft');
    });
    
    
    </script>

    
{% endblock %}