{% extends "base_city.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}player_activities/css/styles.css">    
{% endblock %}

{% block body_id %}player-activities{% endblock %}

{% block body_class %}{{ block.super }} section-activities{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/sijax.js"></script>
    
    {# TODO: Move this to activities/static/activities/js/scripts.js #}
    <script>
    jQuery(function($) {
        
        $.fn.extend({  
            limit: function(limit,element) {
                var interval, f;
                var self = $(this);
                $(this).focus(function(){
                    interval = window.setInterval(substring,100);
                });
                $(this).blur(function(){
                    clearInterval(interval);
                    substring();
                });
                substringFunction = "function substring(){ var val = $(self).val(); if (val) {var length = val.length;if(length > limit){$(self).val($(self).val().substring(0,limit));}}";
                if(typeof element != 'undefined')
                    substringFunction += "if($(element).html() != limit-length){$(element).html((limit-length<=0)?'0':limit-length);}"
                substringFunction += "}";
                eval(substringFunction);
                substring();

            } 
        }); 


        {% include "js/ajax_csrf.html" %}


        $('.btn-like:not(.active)').live('click', function(e){
            $this = $(this);
            $.get($this.attr('data-url'), function(data) {
                $this.addClass('active');
                $('#id_likes-count-'+$this.attr('data-commentid')).html(data);
            });
        });

        $(".btn-reply").click(function(e){
            e.preventDefault();
            {{ create_comment_sijax_js|safe }}
            var form_data = Sijax.getFormValues('#id_comment-form-'+$(this).attr('id'));
            Sijax.request('create_comment', [form_data]);
        });
        
        
        /* Masonry is a piece of javascript used to layout comments ('bricks') into columns floating left and upwards */
        
        /* Modify Masonry to support "Corner Stamp" for the heat-map legend */
        $.Mason.prototype.resize = function() {
            this._getColumns();
            this._reLayout();
        };
        $.Mason.prototype._reLayout = function( callback ) {
            var freeCols = this.cols;
            if ( this.options.cornerStampSelector ) {
            var $cornerStamp = this.element.find( this.options.cornerStampSelector ),
                cornerStampX = $cornerStamp.offset().left - 
                  ( this.element.offset().left + this.offset.x + parseInt($cornerStamp.css('marginLeft')) );
            freeCols = Math.floor( cornerStampX / this.columnWidth );
            }
            // reset columns
            var i = this.cols;
                this.colYs = [];
            while (i--) {
                this.colYs.push( this.offset.y );
            }
            for ( i = freeCols; i < this.cols; i++ ) {
                this.colYs[i] = this.offset.y + $cornerStamp.outerHeight(true);
            }
            // apply layout logic to all bricks
            this.layout( this.$bricks, callback );
        };
                
        init_masonry = function(){
            $('.comments').masonry({
                // options
                itemSelector : '.thread',
                columnWidth : 320,
                cornerStampSelector: '#corner-stamp'
            });
        }

        $('.thread-tail').hide();
        
        $('.btn-replies').click(function(){
            console.log($(this).parents('.comment').nextAll('.nested'));
            $(this).parents('.comment').next('.thread-tail').toggle(200, init_masonry);
        });
        
        
        
        /* Character Limit Counter */
        var type_count = function(evt) {
            var comment_form = $(this.form);
            var val = this.value.replace(/\r?\n/g, 'xx');
            var len = Math.max(0, 1000 - val.length);
            comment_form.find('.count').text(len);
            if (len < 1) {
                comment_form.find('.reply-comment-counter').addClass('limited');
                if (!(evt.ctrlKey || evt.which < 48 && evt.which !== 9 && evt.which !== 13)) {
                    return false;
                }
            }
            comment_form.find('.reply-comment-counter').removeClass('limited');
        }
        $('#message_area, #id_response').live('change keyup keydown blur', type_count).attr('maxlength', '1000').change();
        $('#message_area, #id_response').limit('1000','#charsLeft');
        
        
        /* Summary Graph */
        /* calculate total */
        var activity_response_total = 0;
        $('.activity-response-summary-choice-percentage').each(function(index){
            activity_response_total += parseInt($(this).attr('data-summary-count'));
        });
        
        /* calculate percentages and animate */
        $('.activity-response-summary-choice-percentage').each(function(index){
            var activity_response_percentage = Math.round((parseInt($(this).attr('data-summary-count'))/activity_response_total)*100);
            $(this).animate({
                width: activity_response_percentage+'%'
            }, 2000);
        });
        
        /* Init */
        init_masonry();
        
    });
    
    
    </script>

    
{% endblock %}
