{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{ activity.name }} | Empathy Response Overview{% endblock %}

{% block game_content %}

<div class="empathy column-container">
    
    {% if my_answers %}
        <div>
            <a class="btn-back" href="{{activity.mission.get_absolute_url}}">{% trans "Return to mission" %}</a>
        </div>
    {% endif %}

    {% include "player_activities/official_responses.html" %}

    <div class="column-threequarter">
        <h1>{{activity.name}}<span class="points">{{ activity.getPoints }}</span></h1>
        <div class="column-third">
            {% if activity.avatar %}<img class="left avatar" src="{{ MEDIA_URL }}/{{activity.avatar}}" width="128" height="128">{% endif %}
        </div>
        
        <div class="column-twothird">
            <div class="activity-question">
                <p class="bio">{{ activity.bio }}</p>
                <p class="question">{{activity.question|safe}}</p>
            </div>
        </div>
        
        <br class="clearfix" />
        {% include "player_activities/attachments.html" %}

        {% if not activity.mission.is_expired and myComment %}
        <div class="activity-response">
            {{ myComment.message }}
        </div>
        {% endif %}
        
        {# Replay #}
        <div class="activity-response-submit">
            <a class="btn-blue" href="{% url activities:empathy-replay activity.id %}">{% trans 'Replay' %}</a>
        </div>
    </div>
        
    <br class="clearfix" />

    {% if is_completed or activity.is_past %}
    {% if answers %}
    <div class="comments embedded clear">
        <h2>
            {% trans "Responses" %}
            <div class="controls right">
                Sort by: <a class="button comment_sort_time" href="#">timestamp</a> <a class="button comment_sort_activity" href="#">popularity</a>
            </div>
        </h2>
        <ul class="comment_list">
        {% for answer in answers %}
        {% with instance=activity.mission.instance %}
            {% for comment in answer.comments.select_related.all reversed %}
                {% with extra_message=answer.selected.value %}
                {% include "comments/comment.html" %}
                {% endwith %}
            {% endfor %}
        {% endwith %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% else %}
        <h2>{% trans "Complete the activity to see everyone's responses" %}</h2>
    {% endif %}
</div>

    
{% endblock %}
