{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{ activity.name }} | Map Response Overview{% endblock %}

{% block game_content %}

<div class="map column-container">
    
    <a class="btn-back" href="{{ activity.mission.get_absolute_url }}">{% trans "Return to mission" %}</a>
    <a class="btn-forward" href="{# TODO #}">Next Challenge</a>
    
    {% include "player_activities/official_responses.html" %}
    <h1>{{ activity.name }}<span class="points">{{ activity.get_points }}</span></h1>
    
    <div class="column-threequarter">
        
        <div class="activity-question">
            {% include "player_activities/attachments.html" %}
            <div>{{ activity.question|safe }}</div>
            <br class="clearfix" />
        </div>
        
        <input type="hidden" id="dragable" name="dragable" value="false">
        {% for x, lat, lon, message, player in init_coords %}
        <input type="hidden" id="init_coords{{x}}" name="init_coords{{x}}" lat="{{lat}}" lon="{{lon}}" message="{{message}}" player="{{player}}"/>
        {% endfor %}
        <br />
        
        <div id="map" class="google-map" data-type="Point" data-state="overview"></div>
        
        {%if not activity.mission.is_expired %}
            <div class="activity-response-submit">
                <a class="btn-blue" href="{% url activities:map-replay activity.id %}">{% trans 'Replay' %}</a>
            </div>
        {% endif %}
    
    </div>
    
    <br class="clearfix">

    {% if is_completed or activity.is_past %}        
        <h2>{% trans "Responses" %}</h2>
        <div class="comments embedded">
        {% include 'player_activities/_corner_stamp.html' %}
        {% for answer in answers %}   
            {% with instance=activity.mission.instance comment_heading=answer.answerUser.get_profile.screen_name comments=answer.comments %}
                {% for comment in comments.all %}
                    {% with extra_message=answer.selected.value %}
                        {% include "comments/comment.html" %}
                    {% endwith %}
                {% empty %}
                    <div class="comment">{% trans "There are no comments for this activity yet." %}</div>
                {% endfor %}
            {% endwith %}
        {% endfor %}
        </div>
    {% else %}    
        <p>{% trans "Complete the activity to see everyone's responses" %}</hp>
    {% endif %}
</div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            $(".google-map").mapit({{map|safe|escape}});
            $(".remove-map").remove();
        });
    </script>
{% endblock %}
