{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}} | Multi Response Overview{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">

        {% if my_answers %}
            <div>
                <a class="btn-back" href="{{activity.mission.get_absolute_url}}">{% trans "Return to mission" %}</a>
            </div>
        {% endif %}
        
        <h1>{{ activity.name|safe }}<span class="points">{{ activity.get_points }}</span></h1>
        {% include "player_activities/official_responses.html" %}
        <div class="column-threequarter">
        
            <div class="activity-question">
                {% include "player_activities/attachments.html" %}
                <div>{{ activity.question|safe }}</div>
                <br class="clearfix" />
            </div>
        
        
            {% if is_completed or activity.is_past %}
                {# RESPONSE SUMMARY #}
                <div id="activity-response-summary">
                    {% for choice in choices %}
                        <div class="activity-response-summary-choice {% if choice.value in my_answers %}my-choice{% endif %}">
                            {{ choice }}
                            <div class="activity-response-summary-choice-percentage" data-summary-count='{{ choice.multichoice_answers.count }}'>
                        </div>

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if my_answers %}
                {# Replay #}
                <div class="activity-response-submit">
                    <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
                </div>
            {% endif %}

            
        </div>
        <br class="clearfix"/>
        
        {% if is_completed  or activity.is_past %}
            {% if all_answers %}                
                <h2>{% trans "Responses" %}</h2>
                <div class="comments embedded">
                {% include 'player_activities/_corner_stamp.html' %}
                {% with instance=activity.mission.instance %}
                    {% for user, answers, comments in all_answers %}
                        {% if comments %}
                            {% with extra_message=answers %}
                                {% for comment in comments %}
                                    {% include "comments/comment.html" %}
                                {% empty %}
                                    <div class="comment">There are no comments for this activity yet.</div>
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                </div>
            {% else %}
                <hp>{% trans "no responses have been submitted" %}</p>
            {% endif %}
        {% else %}
            <h2>{% trans "Complete the activity to see everyones responses" %}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}

