{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}} | Multi Response Overview{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">

        {% if my_answers %}
            <div>
                <a class="btn-back" href="{{activity.mission.get_absolute_url}}">{% trans "Return to mission" %}</a>
            </div>
        {% endif %}
        
        <h1>{{ activity.name|safe }}<span class="points">{{ activity.points }}</span></h1>
        {% include "player_activities/official_responses.html" %}
        <div class="column-threequarter">
        
            <div class="activity-question">{{ activity.question|safe }}</div>
        
            {% if my_answers %}
            <div class="comment-response">
                {{ my_answers }}
            </div>
            
            {# Replay #}
            <div class="activity-response-submit">
                <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
            </div>
        
            {% endif %}

            {% include "player_activities/attachments.html" %}
        </div>
        <br class="clearfix"/>
        {% if is_completed  or activity.is_past %}
            <h2>{% trans "Response Summary" %}</h2>
            {# <div id="choicePie" class="graph" style="width:350px;height:300px; margin-right:auto; margin-top: 25px; margin-bottom: 25px; "></div> #}
            {% if all_answers %}
                <div class="comments embedded">
                    <h2>{% trans "Responses" %}</h2>
                        {# <div class="controls right"> #}
                        {#     Sort by: <a class="button comment_sort_time" href="#">timestamp</a> <a class="button comment_sort_activity" href="#">popularity</a> #}
                        {# </div> #}
                    <ul class="comment_list">
                    {% with instance=activity.mission.instance %}
                    {% for user, answers, comments in all_answers %}
                        {% if comments %}
                            {% with extra_message=answers %}
                            {% for comment in comments %}
                                {% include "comments/comment.html" %}
                            {% endfor %}
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                    </ul>
                </div>
            {% else %}
                <h2>{% trans "no responses have been submitted" %}</h2>
            {% endif %}
        {% else %}
            <h2>{% trans "Complete the activity to see everyones responses" %}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}

{# {% block body %}    #}
{# <script type="text/javascript"> #}
{#     $(function () { #}
{#         try { #}
{#          #}
{#         var answerData = new Array(0); #}
{#         {% for choice in choices %} #}
{#             answerData.push({label: "{{choice.value}}", data: {{choice.multichoice_answers.count}} }); #}
{#         {% empty %} #}
{#             answerData.push({label: "No answers yet.", data: 1}); #}
{#         {% endfor %} #}
{#          #}
{#         $.plot($("#choicePie"), answerData, { #}
{#             series: {  #}
{#                 pie: {  #}
{#                     show: true, #}
{#                     radius: 1, #}
{#                     stroke: { #}
{#                         color: '#FFECD8', #}
{#                         width: 2 #}
{#                     }, #}
{#                     label: { #}
{#                         show: true, #}
{#                         radius: .55, #}
{#                         formatter: function(label, series) { #}
{#                             var output = '<div class="pielabel">' + label; #}
{#                             if (series.percent < 100) { #}
{#                                 output += '<br/><strong>'+Math.round(series.percent)+'%</strong></div>'; #}
{#                             } #}
{#                             return output; #}
{#                         }, #}
{#                         threshold: 0.1 #}
{#                     } #}
{#                 } #}
{#             }, #}
{#             legend: {  #}
{#                 show: false #}
{#             } #}
{#         }); #}
{#          #}
{#         } catch (err) { #}
{#             alert(err); #}
{#         } #}
{#     }); #}
{#      #}
{# </script>     #}
{# {% endblock body %}    #}

