{% extends "player_activities/base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} | Multi Response{% endblock %}

{% block game_content %}
<div class="multi-response column-container">
    <a class="btn-forward" href="{# TODO #}">Next Challenge</a>
    
    <h1>{{ activity.name|safe }}<span class="points">{{ activity.get_points }}</span></h1>
    
    
    
    <form id="id_activity-form" action="" method="post">
        {% csrf_token %}
        <div class="column-threequarter">
        
            <div class="activity-question">
                {% include "player_activities/attachments.html" %}
                <div>{{ activity.question|safe }}</div>
                <br class="clearfix" />
            </div>
            <input type="hidden" name="form" value="multi_response">
        
            <div>
                <ul class="activity-question-options">
                    {% for choice in form.response.field.choices %}
                        <li><label for="response_{{ choice.0 }}"><input id="response_{{ choice.0 }}" type="checkbox" name="response_{{ choice.0 }}" value="{{ choice.0 }}"> {{ choice.1 }}</label></li>
                    {% endfor %}
                </ul>
            </div>
        
            {{ form.response.errors }}
            {% block comment %}{% endblock %}
        
            <div class="activity-response-submit">
                <img src="{% if request.user.get_profile.avatar %}{{ MEDIA_URL }}{% else %}{{ STATIC_URL }}{% endif %}/{% firstof request.user.get_profile.avatar 'img/avatar-blank.png' %}" width="36" height="36" />
                <input type="submit" id="id_activity-btn-submit" class="btn-yellow submit" value="Submit" />
            </div>
        </div>
    </form>
    <p class="clearfix">Once you are done, you will be able to view everyone's responses.</p>
</div>
{%endblock%}
