{% extends "player_activities/new_activity_base.html" %}
{% load i18n %}
{% block forms %}

<div id="challenge-newform-container">
    

    {% comment %}
    {% if form.errors or form.non_field_errors or wizard_error %}
    <div id="form_errors" class="error">
        {% trans "Please correct the errors below." %}
        {{form.non_field_errors.as_ul}}
        {{wizard_error}}
    </div>
    {% endif %}
    {% endcomment %}
        
    <form id="challenge-newform" class="column-container" action="." method="post">{% csrf_token %}
        <p>Input possible answers to your multi response question<p/>
        
        {{ wizard.management_form }}

        {% if wizard.form.forms %}

            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}

        {% else %}

            {{ wizard.form.as_p }}
            <input type="submit" class="btn-blue">

        {% endif %}
    </form>
</div>

{% endblock forms %}
