{% extends "player_activities/new_activity_base.html" %}
{% load attachment_tags gmap i18n game_extras cpi_tags %}
{% load i18n %}


{% block forms %}
<div id="challenge-newform-container">
    <form id="challenge-newform" class="column-container" action="." method="post">{% csrf_token %}
        {{ wizard.management_form }}

        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_p }}
            {% endfor %}
        {% else %}
            {{ wizard.form.as_p }}
        {% endif %}
        <input type="submit" class="btn-blue" />

        {% comment %}
        {{ form.errors }}
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="id_name">Name:</label> {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.question.errors }}
            <label for="id_question">Question:</label> {{ form.question }}
        </div>
        <div class="fieldWrapper">
            <label for="id_types">Type</label> {{ form.type }}
        </div>
        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        <input type="submit">
        {% endcomment %}
    </form>
</div>

{% endblock forms %}
