{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}}: Response Overview{% endblock %}

{% block game_content %}
<div>
    <div class="column-container">
        <hr class="thick" />

        {% if myAnswer %}
            <div class="suggestion">
                <a class="back button" href="{{activity.mission.get_absolute_url}}"><img src="{{MEDIA_URL}}img/icons/arrow-back.png"> Return to mission</a>
                {% blocktrans with mission_url=activity.mission.get_absolute_url %}
                Thanks for completing this activity. When you're ready for more, visit the <a href="{{mission_url}}">mission page</a>.
                {% endblocktrans %}
            </div>
        {% endif %}
    
        {% include "player_activities/official_responses.html" %}
        <h1>{{activity.name}} ({{ activity.points }})</h1>
        <p>{{activity.question|safe}}</p>

        {% include "player_activities/attachments.html" %}

        {% if not activity.mission.is_expired and myComment %}
            <div>
                <h3>{% trans "You answered:" %}</h3>
                <blockquote class="highlight">{{ myComment.message }}</span></blockquote>
                <input class="button" type="button" value="{% trans "Replay" %}" onClick="window.location='{% url activities:replay activity.id %}' ">
            </div>
        {% endif %}
        {% if is_completed  or activity.is_past %}
            {% if answers.count %}
                <div class="comments embedded">
                    <h2>
                        {% trans "Responses" %}
                        <div class="controls right">
                            Sort by: <a class="button comment_sort_time" href="#">timestamp</a> <a class="button comment_sort_activity" href="#">popularity</a>
                        </div>
                    </h2>
                    {% for answer in answers %}
                    {% with instance=activity.mission.instance comments=answer.comments %}
                    <ul class="comment_list">
                        {% for comment in comments.all %}
                            {% with extra_message=answer.selected.value %}
                            {% include "comments/comment.html" %}
                            {% endwith %}
                        {% empty %}
                        <li class="comment">No comments found.</li>
                        {% endfor %}
                    </ul>
                    {% endwith %}
                    {% endfor %}
                </div>
            {% else %}
            <h2>{% trans "No responses submitted" %}</h2>
            {% endif %}        
        {% else %}
             <h2>{% trans "Complete the activity to see everyone's responses" %}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
