{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}} | Open-Ended Response Overview{% endblock %}

{% block game_content %}
<div class="column-container">

    {# HEADERS #}
    {% if myComment %}
        <div>
            <a class="btn-back" href="{{activity.mission.get_absolute_url}}">{% trans "Return to mission" %}</a>
        </div>
    {% endif %}

    {% include "player_activities/official_responses.html" %}
    <h1>{{activity.name}}<span class="points">{{ activity.getPoints }}</span></h1>
    
    {# QUESTION AND YOUR RESPONSE #}
    <div class="column-threequarter">
        <div class="activity-question">{{activity.question|safe}}</div>

        {% include "player_activities/attachments.html" %}

        {% if not activity.mission.is_expired and myComment %}
            <div class="activity-response">
                {{ myComment.message }}
            </div>
            {# Replay #}
            <div class="activity-response-submit">
                <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
            </div>
        {% endif %}
        
    </div>
    
    <br class="clearfix" />
    {# RESPONSES #}
    {% if is_completed  or activity.is_past %}
        {% if answers.count %}
            <div class="comments embedded">
                <h2>
                    {% trans "Responses" %}
                    <div class="controls right">
                        Sort by: <a class="button comment_sort_time" href="#">timestamp</a> <a class="button comment_sort_activity" href="#">popularity</a>
                    </div>
                </h2>
                {% for answer in answers %}
                {% with instance=activity.mission.instance comments=answer.comments %}
                <ul class="comment_list">
                    {% for comment in comments.all %}
                        {% with extra_message=answer.selected.value %}
                        {% include "comments/comment.html" %}
                        {% endwith %}
                    {% empty %}
                    <li class="comment">No comments found.</li>
                    {% endfor %}
                </ul>
                {% endwith %}
                {% endfor %}
            </div>
        {% else %}
        <h2>{% trans "No responses submitted" %}</h2>
        {% endif %}        
    {% else %}
         <h2>{% trans "Complete the activity to see everyone's responses" %}</h2>
    {% endif %}
</div>

{% endblock %}
