{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}} | Single Response Overview{% endblock %}

{% block game_content %}
<div class="column-container">
    
    {# HEADERS #} 
    {% if myAnswer %}
        <div>
            <a class="btn-back" href="{{activity.mission.get_absolute_url}}">{% trans "Return to mission" %}</a>
        </div>
    {% endif %}

    {# include "player_activities/official_responses.html" #}
    <h1>{{ activity.name|safe }}<span class="points">{{ activity.points }}</span></h1>
        
    {# QUESTION AND YOUR RESPONSE #}
    <div class="column-threequarter">            
        <div class="activity-question">
            {% include "player_activities/attachments.html" %}
            <div>{{ activity.question|safe }}</div>
            <br class="clearfix" />
        </div>

        
        
        {% if not activity.mission.is_expired %}
            {% if myAnswer %}
                <div class="comment-response">{{ myAnswer.selected.value }}</div>

                {# Replay #}
                <div class="activity-response-submit">
                    <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    
    <br class="clearfix" />

    {# RESPONSE SUMMARY #}
    {% if is_completed or activity.is_past %}
        <h2>{% trans "Response Summary" %}</h2>
        {# TODO #}
        {% comment %}
        I need:
            totals and percentages for the community responses, for each answer
            user's response
        {% endcomment %}
        {% if answers.count %}
            {# COMMENTS #}
            <h2>{% trans "Responses" %}</h2>
            <div class="comments embedded">
                {% include 'player_activities/_corner_stamp.html' %}
                {% for answer in answers %}
                    {% with comments=answer.comments %}
                        {% for comment in comments.all reversed %}
                            {% with extra_message=answer.selected.value %}
                                {% include "comments/comment.html" %}
                            {% endwith %}                        
                        {% empty %}
                            <div class="comment">No comments found.</div>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% else %}
            <h2>{% trans "No responses submitted" %}</h2>
        {% endif %}
    {% else %}
        <h2>{% trans "Complete the activity to see everyone's responses" %}</h2>
    {% endif %}
</div>
{% endblock %}

