{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n avatar %}
{% block title %}{{activity.name}} | Single Response Overview{% endblock %}

{% block game_content %}
<div class="column-container">
    
    {# HEADERS #} 
    <a class="btn-back" href="{{ activity.mission.get_absolute_url }}">{% trans "Return to mission" %}</a>
    {% comment %}<a class="btn-forward" href="{# TODO #}">Next Challenge</a>{% endcomment %}

    {# include "player_activities/official_responses.html" #}
    <h1>{{ activity.name|safe }}<span class="points">{{ activity.get_points }}</span></h1>
    {% if activity.is_player_submitted %}<div id="created-by"><a href="{% url accounts:player_profile activity.creationUser.id %}">{% avatar activity.creationUser %}</a> created by <a href="{% url accounts:player_profile activity.creationUser.id %}">{{ activity.creationUser.get_profile.screen_name }}</a></div>{% endif %}
                        
    {# QUESTION AND YOUR RESPONSE #}
    <div class="column-threequarter">            
        <div class="activity-question">
            {% include "player_activities/attachments.html" %}
            <div>
                {{ activity.question|safe }}
            </div>
            {% if activity.is_trivia %}
                <div class="activity-question-trivia-result">
                    {% ifequal myAnswer.selected activity.get_trivia_answer %}
                        <span class="activity-question-trivia-correct">{{ activity.get_trivia_answer }}</span> is correct! You just earned {{ activity.get_pointed }} points!
                    {% else %}
                        Sorry! <span class="activity-question-trivia-incorrect">{{ myAnswer.selected }}</span> is incorrect. The correct answer is <span class="activity-question-trivia-correct">{{ activity.get_trivia_answer }}</span>
                    {% endifequal %}
                </div>
            {% endif %}
            <br class="clearfix" />
        </div>
        
        
        {% if is_completed or activity.is_past %}
            {# RESPONSE SUMMARY #}
            {% if myAnswer %}
                <div id="activity-response-summary" class="{% if activity.is_trivia %}activity-type-trivia{% endif %}">
                {% if answers %}
                    {% for choice in choices %}
                        <div class="activity-response-summary-choice {% ifequal choice myAnswer.selected %}my-choice{% endifequal %} {% ifequal choice activity.get_trivia_answer %}correct-answer{% else %}incorrect-answer{% endifequal %}">
                            {{ choice }} 
                            <div class="activity-response-summary-choice-percentage" data-summary-count='{{ choice.singleresponse_answers.count }}'>
                        </div>

                        </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endif %}
        {% endif %}
        
        {% if not activity.mission.is_expired and not activity.is_trivia%}
            {% if myAnswer %}
                {# Replay #}
                <div class="activity-response-submit">
                    <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    
    <br class="clearfix" />

    
    {% if is_completed or activity.is_past %}
        
        {% if answers.count %}
            {# COMMENTS #}
            <h2>{% trans "Responses" %}</h2>
            <div class="comments embedded">
                {% include 'player_activities/_corner_stamp.html' %}
                {% for answer in answers %}
                    {% with comments=answer.comments %}
                        {% for comment in comments.all reversed %}
                            {% with extra_message=answer.selected.value %}
                                {% include "comments/comment.html" %}
                            {% endwith %}                        
                        {% empty %}
                            <div id="no-comments-yet">There are no comments yet.</div>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% else %}
            <h2>{% trans "No responses submitted" %}</h2>
        {% endif %}
    {% else %}
        <h2>{% trans "Complete the activity to see everyone's responses" %}</h2>
    {% endif %}
</div>
{% endblock %}

