{% extends "player_activities/base.html" %}
{% load gmap attachment_tags i18n %}
{% block title %}{{activity.name}} | Single Response Overview{% endblock %}

{% block game_content %}
<div class="column-container">
    
    {# HEADERS #} 
    {% if myAnswer %}
        <div>
            <a class="btn-back" href="{{activity.mission.get_absolute_url}}">{% trans "Return to mission" %}</a>
        </div>
    {% endif %}

    {# include "player_activities/official_responses.html" #}
    <h1>{{ activity.name|safe }}<span class="points">{{ activity.points }}</span></h1>
        
    {# QUESTION AND YOUR RESPONSE #}
    <div class="column-threequarter">            
        <div class="activity-question">
            {% include "player_activities/attachments.html" %}
            <div>{{ activity.question|safe }}</div>
            <br class="clearfix" />
        </div>

        
        
        {% if not activity.mission.is_expired %}
            {% if myAnswer %}
                <div class="comment-response">{{ myAnswer.selected.value }}</div>

                {# Replay #}
                <div class="activity-response-submit">
                    <a class="btn-blue" href="{% url activities:replay activity.id %}">{% trans 'Replay' %}</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    
    <br class="clearfix" />

    {# RESPONSE SUMMARY #}
    {% if is_completed or activity.is_past %}
        <h2>{% trans "Response Summary" %}</h2>
        {# TODO #}
        {% comment %}
        I need:
            totals and percentages for the community responses, for each answer
            user's response
        {% endcomment %}
        {% if answers.count %}
        
        {# COMMENTS #}
        <div class="comments embedded">
            <h2>{% trans "Responses" %}</h2>
            
            {% for answer in answers %}
                {% with comments=answer.comments %}
                    {% for comment in comments.all reversed %}
                        {% with extra_message=answer.selected.value %}
                            {% include "comments/comment.html" %}
                        {% endwith %}                        
                    {% empty %}
                        <div class="comment">No comments found.</div>
                    {% endfor %}
                {% endwith %}
            {% endfor %}
        </div>
        {% else %}
        <h2>{% trans "No responses submitted" %}</h2>
        {% endif %}
    {% else %}
        <h2>{% trans "Complete the activity to see everyone's responses" %}</h2>
    {% endif %}
</div>
{% endblock %}

{# {% block body %}    #}
{# <script type="text/javascript"> #}
{#     $(function () { #}
{#         try { #}
{#          #}
{#         var answerData = new Array(0); #}
{#         {% if answers %} #}
{#             {% for choice in choices %} #}
{#                 answerData.push({label: "{{choice.value}}", data: {{choice.singleresponse_answers.count}} }); #}
{#             {% endfor %} #}
{#         {% else %} #}
{#             answerData.push({label: "No answers yet.", data: 1}); #}
{#         {% endif %} #}
{#          #}
{#         $.plot($("#choicePie"), answerData, { #}
{#             series: {  #}
{#                 pie: {  #}
{#                     show: true, #}
{#                     radius: 1, #}
{#                     stroke: { #}
{#                         color: '#FFECD8', #}
{#                         width: 2 #}
{#                     }, #}
{#                     label: { #}
{#                         show: true, #}
{#                         radius: 1/2, #}
{#                         formatter: function(label, series) { #}
{#                             var output = '<div class="pielabel">' + label; #}
{#                             if (series.percent < 100) { #}
{#                                 output += '<br/><strong>'+Math.round(series.percent)+'%</strong></div>'; #}
{#                             } #}
{#                             return output; #}
{#                         }, #}
{#                         threshold: 0.1 #}
{#                     } #}
{#                 } #}
{#             }, #}
{#             legend: {  #}
{#                 show: false #}
{#             } #}
{#         }); #}
{#          #}
{#         } catch (err) { #}
{#             alert(err); #}
{#         } #}
{#     }); #}
{#      #}
{# </script>     #}
{# {% endblock body %}    #}

