{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{%block game%}
    <div class="game-wrapper narrow">
        {% if unplayed and mission.instance.is_active%}
            <label style="font-size: 1.25em">
                Thanks for completing this activity. Check out the community's
                response below, then do the 
                <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="red" style="font-weight:bold">next activity</a>!
            </label>
        {% endif %}
        
        <h1>
            <span style="width: 75%; float: left;">
                {{mapit.prompt.message}}
            </span>
            {% if mission.instance.is_active %}
                <span style="width: 25%; float: right;">
                    <a href="/mission/{{mission.slug}}/game/{{game.game_type|slugify}}/{{game.id}}" class="button right">Change Answer</a>
                </span>
            {% endif %}
        </h1>
        
        <hr class="space">
        <div class="google-map" data-type="{{mapit.response.mapresponse.type}}" data-state="overview"></div>
        <hr class="space">
        
        {%if respondents%}
          <h4>Respondents</h4>
          {%for respondent in respondents%}
              {%if respondent.player.user.get_profile.avatar%}
                  <a href="/player/{{respondent.player.id}}"><img alt="{{respondent.player.screen_name}}" class="avatar" src="{{MEDIA_URL}}/{{respondent.player.user.get_profile.avatar}}"></a>
              {%else%}               
                  <a href="/player/{{respondent.player.id}}"><img alt="{{respondent.player.screen_name}}" class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg"></a>
              {%endif%} 
          {%endfor%}
        {%endif%}
        
        <div style="clear: both; padding: 1em 0;"></div>
        <div id="comments">
            <div class="sleeper"></div>
            <h4>Comments:</h4>
            <ul class="listless comments">
                {% with game as comments %}
                {%include "comments/post.html"%}
                {% endwith %}
            </ul>
            <div style="clear: both;"></div>
        </div>
    </div>
    <hr class="space">
{%endblock%}
    
{%block body%}
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}js/games/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            var all = {{response.map|safe|escape}};
            all.markers = {{markers|safe|escape}};
            var gmap = $(".google-map").mapit(all);
            $(".remove-map").remove();
        });
    </script>
{%endblock%}
