{%extends "games/index.html"%}
{%block page_title%}{%endblock%}
{%block game%}
    <div class="game-wrapper narrow">
        {% if first_time and unplayed %}
            <label style="font-size: 1.25em">
                Thanks for completing this activity. Check out the community's
                response below, then do the 
                <a href="/mission/{{mission.slug}}/game/{{unplayed.game_type}}/{{unplayed.id}}/" class="red" style="font-weight:bold">next activity</a>!
            </label>
        {% endif %}

        <h3>MapIT Summary <a href="/mission/{{mission.slug}}/game/{{game.game_type|slugify}}/{{game.id}}" class="button right">Change Answer</a></h3>
        <h1>{{mapit.prompt.message}}</h1>

        <hr class="space">
        <div class="google-map" data-type="{{mapit.response.mapresponse.type}}" data-state="overview"></div>
        <hr class="space">
        
        {%if respondents%}
          <h4>Respondents</h4>
          {%for respondant in respondents%}
              {%if respondant.player.user.get_profile.avatar%}
                  <a href="/player/{{respondant.player.id}}"><img alt="{{respondant.player.first_name}} {{respondents.player.last_name}}" class="avatar" src="{{MEDIA_URL}}/{{respondant.player.user.get_profile.avatar}}"></a>
              {%else%}               
                  <a href="/player/{{respondant.player.id}}"><img alt="{{respondant.player.first_name}} {{respondents.player.last_name}}" class="avatar" src="{{MEDIA_URL}}/img/avatar-blank.jpg"></a>
              {%endif%} 
          {%endfor%}
        {%endif%}
    </div>
    <hr class="space">
{%endblock%}
    
{%block body%}
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}js/games/mapit.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        jQuery(function($) {
            var all = {{response.map|safe|escape}};
            all.markers = {{markers|safe|escape}};
            var gmap = $(".google-map").mapit(all);
            $(".remove-map").remove();
        });
    </script>
{%endblock%}
