{% extends 'badges/base.html' %}
{% load game_extras i18n %}
{% block title %}Badge Gallery{% endblock %}

{% block game_content %}
<div class="column-full">
    <div class="column-container">
        
        <a href="{% url missions:mission mission.slug %}" class="btn-back">{% trans "Back to Mission" %}</a>
        
        <h1>{% trans "Badge Gallery" %}</h1>
        
        <div>
            <div class="badge-container">
                <div class="badge moverandshaker"></div>
                <div class="badge-title">Mover &amp; Shaker</div>
                <div class="badge-description">You can earn the Mover and Shaker badge by being one of the top 25 point-earners at the half point mark. If you maintain your standing through to the end, you’ll be a level 2 Mover and Shaker.</div>
            </div>
        
        
            <div class="badge-container">
                <div class="badge visionary"></div>
                <div class="badge-title">Visionary</div>
                <div class="badge-description">You can earn the Visionary badge by completing every challenge available in a mission. While it’s important to increase your presence on the map, it’s just as important to contribute all you can to the game. The more you share and engage, the more your community benefits. Level up your Visionary status each time you complete every challenge in a mission.</div>
            </div>
        
        
            <div class="badge-container">
                <div class="badge localsage"></div>
                <div class="badge-title">Local Sage</div>
                <div class="badge-description">By answering ten trivia challenges correctly, you can earn the Local Sage badge. It’s a real demonstration of local knowledge. If you answer another ten correctly, you can earn level two Sage status!</div>
            </div>
        
            <div class="badge-container">
                <div class="badge crowdsourcer"></div>
                <div class="badge-title">Crowdsourcer</div>
                <div class="badge-description">Bringing people together is the name of the game, and the crowdsourcer badge goes to anyone who creates a get together with more than ten attendees. You can earn another level of Crowdsourcer by using your organizing skills to bring together two more crowds with ten or more players.</div>
            </div>
        
            <div class="badge-container">
                <div class="badge hometownhero"></div>
                <div class="badge-title">Hometown Hero</div>
                <div class="badge-description">Can’t get any better than this. You can earn the Hometown Hero badge by finishing the game as the player with the most points. Only one person per game can win this badge. It comes with lots of bragging rights.</div>
            </div>
        
        </div>

    </div>
</div>
{% endblock %}