{%extends "static/base.html"%}
{% load i18n %}

{% block title %}{% trans "Terms" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        #content h2 {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block body_id %}howtoplay{% endblock %}
{% block content %}
<div class="column-onequarter">
    &nbsp;
</div>
<div class="column-threequarter">
    <div class="column-container">
        <h1 class="btn-tab"><a href="{% url howtoplay %}">How to Play</a></h1>
        <h1 class="btn-tab">Features</h1>
        <h1 class="btn-tab"><a href="{% url faq %}">FAQs</a></h1>
        <hr />
    </div>
</div>

<div class="column-onequarter">
    <div class="column-container">
        <ul id="page-links">
            <li><a href="#become-an-expert">Become an Expert</a></li>
            <li><a href="#see-whats-happening">See What's Happening</a></li>
            <li><a href="#check-the-standings">Check the Standings</a></li>
            <li><a href="#find-players">Find Players</a></li>
            <li><a href="#get-together">Get Together</a></li>
        </ul>
    </div>
</div>
<div class="column-threequarter">
    <a name="top"></a>
    <div class="column-container">
        
        <p>In addition to giving you an engaging way to connect with the planning in your community, Community PlanIt also aims to give players all the information, latest news, and tools necessary for being as well-informed and up-to-date as possible. So during a game, make sure you take a bit of time and...</p>
        
        <a name="become-an-expert"></a>
        <h2 class="question">Become an Expert</h2><br />
        <div class="column-twothird">
            <div class="answer">
                <p>Become an Expert by exploring all the resources, information, and media about the planning in your community.</p>
            </div>
        </div>
        <a href="#top" class="backtotop clearfix">Back to Top</a>
        <hr />
        
        <!-- See What's Happening -->
        <a name="see-whats-happening"></a>
        <h2 class="question">See What’s Happening</h2><br />
        <div class="column-twothird">
            <div class="answer">
                <p>See What’s Happening by browsing the very latest activity occurring on Community PlanIt.</p>
            </div>
        </div>
        
        <a href="#top" class="backtotop clearfix">Back to Top</a>
        <hr />
        
        <!-- Check the Standings -->
        <a name="check-the-standings"></a>
        <h2 class="question">Check the Standings</h2><br />
        <div class="column-twothird">
            <div class="answer">
            <p>Check the Standings and see not only the top players, but also the top point-earning affiliations—and the exact rank you currently hold.</p></div>
        </div>
        
        <a href="#top" class="backtotop clearfix">Back to Top</a>
        <hr />
        
        <!-- Find Players -->
        <a name="find-players"></a>
        <h2 class="question">Find Players</h2><br />
        <div class="column-twothird">
            <div class="answer">
            <p>Find Players by browsing, searching or filtering. And while you’re at it, connect with people by checking out their accomplishments, commenting on their profiles, and joining their affiliations.</p>
            </div>
        </div>
        <a href="#top" class="backtotop clearfix">Back to Top</a>
        <hr />
        
        <!-- Get Together! -->
        <a name="get-together"></a>
        <h2 class="question">Get Together!</h2><br />
        <div class="column-twothird">        
            <div class="answer">
            <p>And Get Together! with other players. Create or join events in the world to bring people together, rally for a cause, or take direct action to improve your community.</p>
            </div>
        </div>
        
        <a href="#top" class="backtotop clearfix">Back to Top</a>
        <hr />
    </div>
</div>
{% endblock %}