{% extends "layouts/base.html" %}
{% load game_extras i18n %}

{% block title %}{% trans "Crowds" %}{% endblock %}
{% block page_title %}
<h2 id="page_title">{% trans "Available Crowds" %}</h2>
{% endblock %}

{% block section %}challenges{% endblock %}
{% block extra_body_class %}rightsidebar{% endblock %}

{% block rightsidebar %}
{% comment %}
{% if not current_instance.is_expired %}
    <div class="sectionbutton">
        <a href="{% url crowds:rally %}" class="button">{% trans "Rally a Crowd" %}</a>
    </div>

    <div class="section">
        <h2>{% trans "Upcoming Crowds" %}</h2>
        <div class="challenges">
            <table>
                <tbody>
                {% for crowd in completed_crowds %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>
                            <a href="{% url crowds:crowd challenge.pk %}">{{crowd.name}}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="odd">
                        <td>{% trans "No completed crowds found" %}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="section">
        <h2>{% trans "Past Crowds" %}</h2>
        <div class="challenges">
            <table>
                <tbody>
                {% for crowd in past_crowds %}
                    <tr class="{% cycle "odd" "even" %}">
                        <td>
                            <a href="{% url crowds:crowd challenge.pk %}">{{crowd.name}}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr class="odd">
                        <td>{% trans "No past crowds found" %}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% endcomment %}
{% endblock %}

{% block main %}
    <ul class="challenge_list">

        {% for crowd in upcoming %}
        <li class="challenge">
            <!--a href="{# url crowds:crowd crowd.pk #}"-->
                {{ crowd.name}}<span>&nbsp;&nbsp;&nbsp;&nbsp;{{ crowd.participants.all.count }} {% trans "Participants" %}</span>
                <br/>
                <span> created by {{ crowd.creator.get_profile.screen_name }}</span>
                {% if crowd.start_date %} <br/> 
                    <span class="dates">{{ crowd.start_date|date:"m/d/Y"}}</span> <br/>
                {% endif %}
            <!--/a-->
                {% if not request.user in crowd.participants.all %}
                    <a href="{% url crowds:join crowd.pk %}" class="button">{% trans "Join this Crowd!" %}</a>
                {% else %}
                    <a href="{% url crowds:leave crowd.pk %}" class="button">{% trans "Leave this Crowd!" %}</a>
                {% endif %}
        </li>
        {% empty %}
        <li>
        {% trans "There are no active crowds" %}. <a href="{% url crowds:rally %}" class="button">{% trans "Rally a Crowd!" %}</a>
        </li>
        {% endfor %}


        {% for crowd in past %}
        <li class="challenge">
            <!--a href="{# url crowds:crowd crowd.pk #}"-->
                {{ crowd.name}}<span>{{ crowd.participants.all.count }} {% trans "Participants" %}</span>
                {% if crowd.start_date %} <br/> <span class="dates">{{ crowd.start_date|date:"m/d/Y"}}</span> {% endif %}
            <!--/a-->
        </li>
        {% empty %}
        <li>
        {% trans "There are no past crowds" %}. <a href="{% url crowds:rally %}" class="button">{% trans "Rally a Crowd!" %}</a>
        </li>
        {% endfor %}

    </ul>

{% endblock %}
