{%extends "layouts/base.html"%}

{%block section%}base{%endblock%}

{%block title%}Page not found{%endblock%}
{%block page_title%}Page not found{%endblock%}

{%block content-title%}A game about your <b>neighborhood</b>!{%endblock%}

{%block asideholder%}{%endblock%}

{%block main%}
<div class="wrapper">
    <h2>Sorry, you've reached a page that doesn't exist.</h1>
</div>
<div class="footer"></div>
{%endblock%}

{%block css%}
<link rel="stylesheet" href="http://planit.bocoup.com/assets/css/base.css">
<link rel="stylesheet" href="http://planit.bocoup.com/assets/3pty/css/ui-lightness/jquery-ui-1.8.9.custom.css">
<link rel="stylesheet" href="http://planit.bocoup.com/assets/3pty/css/community-planit/jquery-ui-.custom.css">
<link rel="stylesheet" href="http://planit.bocoup.com/assets/3pty/css/jquery.ui.notification.css">
<link rel="stylesheet" media="screen and (max-width: 355px)" href="http://planit.bocoup.com/assets/css/mobile.css">
{%endblock%}

{%block scripts%}
{%endblock%}
